@using RDN.Utilities.Paging
@model RDN.Models.OutModel.GenericSingleModel<RDN.Models.Utilities.SimpleModPager<RDN.Portable.Models.Json.SkaterJson>>
@{
    ViewBag.Title = "All Roller Derby Skaters World Wide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="fixTitle">
            @Model.Model.NumberOfRecords.ToString("N0") Roller Derby Skaters and Referees World Wide
        </div>
        <div class="divider"></div>

        <div data-bind="foreach: Members">

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">

                    <a data-bind=" attr: {href: DerbyNameUrl}">

                        <img style="max-height:200px" alt="" data-bind="attr:{ src: ThumbUrl}" />

                    </a>
                    <div class="caption">
                        <h4>
                            <a data-bind=" attr: {href: DerbyNameUrl}">
                                <span data-bind="text: DerbyNumber"></span> - <span data-bind="text: DerbyName "></span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>




            <table class="listTable" id="members">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Derby Name
                        </th>
                        <th>
                            Derby Number
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            League
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Model.Items.Count; i++)
                    {

                        if (Model.Model.Items[i] != null && !String.IsNullOrEmpty(Model.Model.Items[i].DerbyName))
                        {
                            <tr class="@(i % 2 == 0 ? "tr1" : "tr0")">
                                <td>

                                    <img height="40px" alt="profile picture" src="@Model.Model.Items[i].photoUrl" />

                                </td>
                                <td>
                                    <a href="@Model.Model.Items[i].DerbyNameUrl">
                                        @Model.Model.Items[i].DerbyName
                                    </a>
                                </td>
                                <td>
                                    @Model.Model.Items[i].DerbyNumber
                                </td>
                                <td>
                                    @if (Model.Model.Items[i].Gender == "Male")
                                    {
                                        <img class="gender" src="@Url.Content("~/Content/images/boy.png")" />
                                    }
                                    else
                                    {  <img class="gender" src="@Url.Content("~/Content/images/female.png")" />
                                    }
                                </td>
                                <td>

                                    <a href="@Model.Model.Items[i].LeagueUrl">
                                        @Model.Model.Items[i].LeagueName
                                    </a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(MemberViewModel);
        MemberViewModel.LoadMemberList('@System.Configuration.ConfigurationManager.AppSettings["ListLoadingCount"]');
    });
</script>
