@using RDN.Portable.Classes.Account.Classes;
@model MemberDisplay
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DerbyName + " (" + Model.PlayerNumber + ")";
}
<div class="page-header text-center">
    @if (Model.Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault() != null)
    {
        <img style="max-height:400px;" class="img-rounded img-responsive imgCenter" alt="@Model.Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault().Alt" src="@Model.Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault().ImageUrl" />
    }
    else
    {
        <img style="max-height:400px;" class="img-rounded img-responsive imgCenter" src="@Url.Content("~/content/" + RDN.Library.Classes.Config.LibraryConfig.DefaultPictureName)" alt="default picture" />
    }
</div>

<div class="page-header text-center">
    <h2>
        @Model.DerbyName
    </h2>
    <div class="row ">
        <h4> @Model.PlayerNumber</h4>
    </div>
</div>


<ul class="nav nav-tabs" role="tablist" id="myTabs">
    <li role="presentation" class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#membership" role="tab" data-toggle="tab">Memberships</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active well" id="profile">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="panel panel-default ">
                    <div class="panel-heading">Quick Stats</div>
                    <div class="panel-body">
                        @if (Model.Gender == RDN.Portable.Classes.Account.Enums.GenderEnum.Female)
                        {
                            <div class="row">
                                <div class="text-center col-xs-offset-1 col-xs-2">
                                    <i class="fa fa-female fa-2x"></i>
                                </div>
                            </div>
                            <br />
                        }
                        @if (Model.Gender == RDN.Portable.Classes.Account.Enums.GenderEnum.Male)
                        {
                            <div class="row">
                                <div class="text-center col-xs-offset-1 col-xs-2">
                                    <i class="fa fa-male fa-2x"></i>
                                </div>

                            </div>
                            <br />
                        }
                        @if (Model.DOB < DateTime.UtcNow.AddYears(-5) && !Model.Settings.Hide_DOB_From_Public)
                        {
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-2 text-center">
                                    <i class="fa fa-birthday-cake fa-2x"></i>
                                </div>
                                <div class="col-xs-8">
                                    <b>@Model.DOB.ToLongDateString()</b>
                                </div>
                            </div>
                            <br />
                        }
                        @if (Model.HeightFeet > 0)
                        {
                            <div class="row">
                                <div class="text-center col-xs-offset-1 col-xs-2">
                                    <i class="fa fa-long-arrow-up  fa-2x"></i>
                                </div>
                                <div class="col-xs-8">
                                    <b>@Model.HeightFeet' @Model.HeightInches</b>
                                </div>
                            </div>
                            <br />
                        }
                        @if (Model.WeightLbs > 0)
                        {
                            <div class="row">
                                <div class="text-center col-xs-offset-1 col-xs-2">
                                    <i class="fa fa-cubes fa-2x"></i>
                                </div>
                                <div class="col-xs-8">
                                    <b>@Model.WeightLbs lbs.</b>
                                </div>
                            </div><br />
                        }

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">

                <div class="panel panel-default ">
                    <div class="panel-heading">Biography</div>
                    <div class="panel-body">
                        @Html.Raw(Model.Bio)
                    </div>
                </div>

            </div>



        </div>
    </div>

    <div role="tabpanel" class="tab-pane  well " id="membership">
        <div class="">
            @foreach (var league in Model.Leagues)
            {
                if (!String.IsNullOrEmpty(league.Name))
                {

                    <div class="col-sm-4 col-md-3">
                        <div class="thumbnail">
                            @if (league.Logo != null)
                            {
                                <a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(league.Name.Replace(" ", "-")) + "/" + league.LeagueId.ToString().Replace("-", ""))">

                                    <img style="max-height:200px" alt="@league.Name" src="@league.Logo.ImageUrl" />

                                </a>
                            }
                            <div class="caption">
                                <h4>
                                    <a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(league.Name.Replace(" ", "-")) + "/" + league.LeagueId.ToString().Replace("-", ""))">
                                        @league.Name
                                    </a>
                                </h4>


                            </div>

                        </div>

                    </div>

                }
            }
            <div class="clearfix"></div>
           
        </div>

    </div>
</div>
<br /><br />