@model RDN.Library.Classes.League.TaskList.TaskListDA
@{
    ViewBag.Title = "Task List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}

<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
             <div class="backLink">
            < <a  href="@Url.Content("~/tasks/league/list/")">Tasks List</a>
       </div>
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
           Update Task lists for the @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() 
        </div>

        <div class="titleDescription">
         Manage your task list here...
        </div>
        <div class="divider"></div>

        <div>
            @using (Html.BeginForm("UpdateTaskList", "Task", FormMethod.Post, new { @id = "UpdateTaskList" }))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b alRight">List Title:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.ListName)
                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Task Dead Line:
                        </td>
                        <td class="largeInput">
                            @Model.EndDate.Value.ToShortDateString()

                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Assign To:
                        </td>
                        <td class="largeInput">
                           @Model.AssignedTo
                        </td>
                    </tr>
                    
                        -->
                    @Html.HiddenFor(x => x.ListAddByMember)
                    @Html.HiddenFor(x => x.EndDate)
                    @Html.HiddenFor(x => x.AssignedTo)
                    @Html.HiddenFor(x => x.ListId)
                    @Html.HiddenFor(x => x.TaskListForLeague)
                    <tr>
                        <td class="b alRight"></td>
                        <td class="largeInput">
                            <input type="submit" class="primary" value="Update List" name="updateList" />

                        </td>
                    </tr>

                </table>
               
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#UpdateTaskList").validate({
        rules: {
            ListName: "required",
            EndDate: "required"
        }
    });
    $('#EndDate').datepicker();
    
</script>

