@model RDN.Portable.Classes.Voting.VotingClass
@{
    ViewBag.Title = "Create New Poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/poll/" + @Model.LeagueId)">Polls</a></li>
    <li class="active">Create a New Poll</li>
</ol>


<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        @using (Html.BeginForm("CreatePollAdd", "Vote", FormMethod.Post, new { @id = "PollsAdd" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="margin-top:5px !important"><i class="fa fa-bullhorn"></i> Create a New Poll</h3>
            <div class="text-muted"> Create a new Poll for the league.</div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
                <label class="form-label margin-top-10">
                    League Members
                </label>
                <button type="button" class="btn btn-warning btn-sm pull-right" onclick="Polls.ShowNewPollMembersPopup()"><i class="fa fa-check-square-o"></i> Change</button>
                <div class="panel panel-default">
                    <div class="panel-body padding-left-5 padding-right-5 padding-bottom-5 no-padding-top">
                        <div id="NewPollSelectedMembersDiv">
                            <span class="label label-primary pull-left padding-5 margin-top-5 font12">All</span>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="NewPollMembersPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="fa fa-check-square-o"></i> Choose League Members</h4>
                            </div>
                            <div class="modal-body padding-10">
                                <div class="text-right">
                                    <label>
                                        <input type="checkbox" onchange="javascript:toggleCheckedForRecipients(this)" id="checkAll" />
                                        <b>
                                            Select All
                                        </b>
                                    </label>
                                </div>
                                <div id="checkboxes" class="row panel panel-default no-margin" style="max-height:500px; overflow-y:auto">
                                    @foreach (var mem in Model.Voters)
                                    {
                                        <div class="col-xs-12 col-sm-6">
                                            <label>@Html.CheckBox(mem.MemberId.ToString(), new { @derbyname = mem.DerbyName, @onchange = "ChangeDictionaryItem(this, '" + mem.MemberId + "','" + RDN.Utilities.Strings.StringExt.ToJavascriptFriendly(mem.DerbyName) + "')" })&nbsp;&nbsp;<span id="@mem.MemberId.ToString()-name">@mem.DerbyName</span></label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="Polls.NewPollChooseMembersDone()" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Done</button>
                                <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

                    <div class="col-xs-12">
                        <label class="form-label margin-top-10">Title</label>
                        <div>
                            @Html.TextBoxFor(x => x.Title, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="form-label margin-top-10">Description <small class="text-muted"><i>Explain what the vote is on or about.</i></small></label>
                        <div>
                            @Html.TextArea("Description", string.Empty, new
                           {
                               id = "wmd-input",
                               @class = "form-control"
                           })
                        </div>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <div>
                            <label>@Html.CheckBoxFor(x => x.IsOpenToLeague) Open Results </label> <span class="text-muted"><i>Results can be seen by league.</i></span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div>
                            <label>@Html.CheckBoxFor(x => x.IsPollAnonymous) Is Anonymous </label> <span class="text-muted"><i>Votes are hidden. Only results are shown and who hasn't voted.</i></span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div>
                            <label>@Html.CheckBoxFor(x => x.BroadcastPoll) Broadcast Poll </label> <span class="text-muted"><i>Poll will be broadcasted to league.</i></span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">  
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <h3 class="margin-bottom-5 margin-top-5">Questions:</h3>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-sm btn-warning" type="button" onclick="AddPollAnswerCreate()"><i class="fa fa-question-circle"></i> Add Questions</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="addQuestionRow" class="col-xs-12 margin-top-10 text-center">
                        No Questions Added
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default btn-success" name="NewSponsorAdd"><i class="fa fa-save"></i> Create Poll</button>
                    <a class="btn btn-default pull-right" href="@Url.Content("~/poll/" + Model.LeagueId)">Cancel</a>
                </div>
            </div>
            @Html.HiddenFor(x => x.LeagueId)
            @Html.HiddenFor(x => x.ToMemberIds)
        }
    </div>
</div>
<div id="createPollPopup1" class="modal fade">
    <div class="modal-dialog">
        <div id="addAnswerToAnswersList" class="modal-content">
            <div class="panel panel-default no-margin no-border">
                <div class="panel-heading">
                    <h4 class="no-margin"><i class="fa fa-question-circle"></i>  Add a Question</h4>
                </div>
                <div class="panel-body no-padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="form-label margin-top-10">Question</label>
                            <div>
                                <input type="text" class="form-control input-lg" id="questionInput" />
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default margin-top-10 no-margin-bottom">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="no-margin"><i class="fa fa-check"></i> Answers</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-info btn-xs" onclick="AddAnotherAnswerToPoll()"><i class="fa fa-plus-circle"></i> Add Answer</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="col-xs-12">
                                <label class="form-label margin-top-10">Answer <span class="text-muted"><i>I obstain from voting</i></span></label>
                                <div>
                                    <input type="text" class="form-control" id="answer1Input" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="form-label margin-top-10">Answer <span class="text-muted"><i>I would like to NOT use that sponsor</i></span></label>
                                <div>
                                    <input type="text" class="form-control" id="answer2Input" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="form-label margin-top-10">Answer <span class="text-muted"><i>I would like to NOT use that sponsor</i></span></label>
                                <div>
                                    <input type="text" class="form-control" id="answer3Input" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="form-label margin-top-10">Answer <span class="text-muted"><i>I would like to use that sponsor</i></span></label>
                                <div>
                                    <input type="text" class="form-control" id="answer4Input" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="form-label margin-top-10">Answer</label>
                                <div>
                                    <input type="text" class="form-control" id="answer5Input" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="form-label margin-top-10">Answer</label>
                                <div>
                                    <input type="text" class="form-control" id="answer6Input" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="form-label margin-top-10">Answer</label>
                                <div>
                                    <input type="text" class="form-control" id="answer6Input" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="form-label margin-top-10">Multiple Options</label>
                            <div>
                                <label> <input type="checkbox" id="multipleOptionsInput" /> <span class="i">Want users to select multiple options?</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="button" value="Add Question" class="btn btn-success" onclick="Polls.AddQuestionToPoll()" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    simpleIdTwo = 6;
    $("#PollsAdd").validate({
        rules: {
            Question: "required"
        }
    });
    $(document).ready(function () {
        $("#checkAll").attr("checked", "checked");
        toggleCheckedForRecipients($("#checkAll"));

        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "advanced",
            skin: "o2k7",
            skin_variant: "silver",
            plugins: "safari,style,layer,table,advhr,advimage,advlink,inlinepopups,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,formatselect,fontsizeselect",
            theme_advanced_buttons2: "link,unlink,anchor,image,cleanup,code,|,preview,|,forecolor,backcolor,|tablecontrols,|,hr,removeformat,visualaid,|,iespell,media,|,ltr,rtl",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
        });
    });
   
</script>

