@model RDN.Portable.Classes.Voting.PollBase
@{
    ViewBag.Title = "Polls";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
}


<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="fixTitle">
            Polls For @Model.LeagueName
        </div>
        <div class="expandableCenterContainterRight">
            @if (Model.IsPollManager)
            { 
               
                <div class="navIcons">
                    <a href="@Url.Content("~/poll/add/" + Model.LeagueId.ToString().Replace("-", ""))" title="Create Poll">
                        <img src="@Url.Content("~/Content/plus.png")" alt="Create Poll"/>Create</a>
                </div>
            }
        </div>
        <div class="titleDescription">
            Polls are a way of asking questions to the league and getting quick responses of the mood of your league.
        </div>
        <div class="divider"></div>


        <div>
            <table class="listTable tableExtras" id="members">
                <thead>
                    <tr>
                        <th>View</th>

                        <th>Vote</th>
                        <th>Question</th>
                        <th>Votes/Total
                        </th>
                        <th>Public
                        </th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Polls.Count; i++)
                    {
                        if (Model.Polls[i].Version == 2 && (Model.Polls[i].IsCurrentMemberAllowedToVote || Model.IsPollManager))
                        { 
                        <tr>
                            <td>

                                @if (Model.IsPollManager)
                                { 
                                    <a href="@Url.Content("~/poll/edit/" + Model.LeagueId.ToString().Replace("-", "") + "/" + Model.Polls[i].VotingId)">Edit</a>
                                    <span>/</span>
                                    <a href="@Url.Content("~/poll/viewv2/" + Model.LeagueId.ToString().Replace("-", "") + "/" + Model.Polls[i].VotingId)">View</a>
                                }
                                else if (Model.Polls[i].IsOpenToLeague)
                                { 
                                    <a href="@Url.Content("~/poll/viewv2/" + Model.LeagueId.ToString().Replace("-", "") + "/" + Model.Polls[i].VotingId)">View</a>
                                }
                            </td>
                            <td>
                                @if (!Model.Polls[i].IsClosed && Model.Polls[i].IsCurrentMemberAllowedToVote)
                                { 
                                    <a href="@Url.Content("~/poll/votev2/" + Model.LeagueId.ToString().Replace("-", "") + "/" + Model.Polls[i].VotingId)">Vote</a>
                                }
                                else if (Model.Polls[i].IsCurrentMemberAllowedToVote)
                                { 
                                    <span>Closed</span>
                                }
                                else
                                { 
                                    <span>Not Allowed</span>
                                }

                            </td>
                            <td>@Model.Polls[i].Question
                            </td>
                            <td>@Model.Polls[i].Voted / @Model.Polls[i].NonVotes
                            </td>
                            <td>@Model.Polls[i].IsPublic
                            </td>
                             <td>@RDN.Utilities.Dates.DateTimeExt.RelativeDateTime( Model.Polls[i].Created)
                            </td>
                        </tr>    
                        }
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#members').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "aaSorting": []
        });
    });
</script>

