@using RDN.Library.Cache
@model RDN.Portable.Classes.Voting.VotingClass
@{
    ViewBag.Title = "Vote On Poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isSec = MemberCache.IsPollMgrOrBetterOfLeague(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/poll/" + @Model.LeagueId)">Polls</a></li>
    <li class="active">View Poll</li>
</ol>


<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 style="margin-top:5px !important"><i class="fa fa-bullhorn"></i> @Model.Title</h3>
                    </div>

                    <div class="col-xs-6 text-right">
                        @if (isSec)
                        {
                            <a class="btn btn-primary btn-sm margin-top-5" title="View" href="@Url.Content("~/poll/viewv2/" + Model.LeagueId + "/" + Model.VotingId)">
                                <i class="fa fa-eye"></i> View
                            </a>
                            <a class="btn btn-info btn-sm margin-top-5" title="Vote" href="@Url.Content("~/poll/edit/" + Model.LeagueId + "/" + Model.VotingId)">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        }
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("VoteOnPollV2", "Vote", FormMethod.Post, new { @id = "VotePoll" }))
            {

                <div class="panel-body no-padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="form-label margin-top-10">Title</label>
                            <div>
                                <b>@Model.Title</b>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="form-label margin-top-10">Description </label>
                            <div>
                                <b>@Html.Raw(Model.Description)</b>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            @if (Model.IsPollAnonymous)
                            { <label class="form-label margin-top-10">Anonymous Questions & Answers</label> }
                            else
                            {   <label class="form-label margin-top-10">Questions & Answers</label> }

                            <div id="pollQuestions">

                                @foreach (var question in Model.Questions.OrderBy(x => x.SortableOrderId))
                                {
                                    <div id="updateQuestionTd-@question.QuestionId" class="panel panel-default">
                                        <div class="panel-heading no-padding padding-10">
                                            <span style="font-size:16px;">
                                                <i class="fa fa-question-circle"></i> @question.Question
                                            </span>
                                            @if (question.QuestionType == RDN.Portable.Classes.Voting.Enums.QuestionTypeEnum.Multiple)
                                            {<small class='text-muted'> - multiple choice</small> }
                                        </div>
                                        <div class="panel-body">
                                            @if (question.QuestionType == RDN.Portable.Classes.Voting.Enums.QuestionTypeEnum.Single)
                                            {
                                                foreach (var answer in question.Answers)
                                                {
                                                    <div>
                                                        <label>
                                                            <input type="radio" name="answer-@question.QuestionId" id="@answer.AnswerId" value="@answer.AnswerId" />
                                                            <b>@answer.Answer</b>
                                                        </label>
                                                    </div>
                                                }
                                            }
                                            else if (question.QuestionType == RDN.Portable.Classes.Voting.Enums.QuestionTypeEnum.Multiple)
                                            {
                                                foreach (var answer in question.Answers)
                                                {
                                                    <div>
                                                        <label>
                                                            <input type="checkbox" name="answer-@question.QuestionId-@answer.AnswerId" id="@answer.AnswerId" />
                                                            <b>@answer.Answer</b>
                                                        </label>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="panel-footer" style="background-color:#fff">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-2 col-lg-1 padding-top-5 padding-bottom-5">
                                                    Comment:
                                                </div>
                                                <div class="col-xs-12 col-sm-10 col-lg-11">
                                                    @Html.TextBox("comment-" + question.QuestionId, "", new { @class = "form-control input-sm" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default btn-primary"><i class="fa fa-thumbs-o-up"></i> Vote</button>
                </div>
                @Html.HiddenFor(x => x.LeagueId)
                @Html.HiddenFor(x => x.VotingId)
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Polls.InitializeViewPolls();
    });
</script>
