@model RDN.Portable.Classes.Contacts.ContactDisplayBasic
@{
    ViewBag.Title = "Add Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/" + Model.ContactType + "/contacts")">Contacts</a></li>
    <li class="active">Add new contact</li>
</ol>

@using (Html.BeginForm("AddContact", "Contact", FormMethod.Post, new { @id = "createNewContact" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="margin-top:5px !important"><i class="fa fa-user"></i> Add New Contact</h3>
            <div class="text-muted"> Here you can add contacts.  So that you may help manage anyone you have a relationship with.</div>
        </div>
        <div class="panel-body no-padding-top">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <label class="form-label margin-top-10">First Name</label>
                            <div>
                                @Html.TextBoxFor(x => x.FirstName, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <label class="form-label margin-top-10">Last Name <small class="text-muted"><i>Optional</i></small></label>
                            <div>
                                @Html.TextBoxFor(x => x.LastName, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <label class="form-label margin-top-10">Company Name <small class="text-muted"><i>Optional</i></small></label>
                            <div>
                                @Html.TextBoxFor(x => x.CompanyName, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Contact Type</label>
                    <div>
                        <div class="input-group">
                            @Html.DropDownListFor(x => x.ContactTypeForOrg, (SelectList)ViewData["ContactTypeForOrg"], new { @class = "form-control" })
                            <div class="input-group-btn">
                                <a href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail" class="btn btn-default"><i class="fa fa-envelope"></i> Request another</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Email <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.Email, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Phone Number <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Address Line 1 <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.Address1, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Address Line 2 <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.Address2, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">City <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.CityRaw, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">State <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.StateRaw, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Zip Code <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.Zip, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Country <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.DropDownListFor(x => x.CountryId, (SelectList)ViewBag.Countries, "Select Country...", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <label class="form-label margin-top-10">Link <small class="text-muted"><i>Optional</i></small></label>
                    <div>
                        @Html.TextBoxFor(x => x.Link, new { @type = "text", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12">
                    <label class="form-label margin-top-10">Notes <small class="text-muted"><i>Optional</i></small></label>
                    @Html.TextArea("Notes", string.Empty, new{ id = "wmd-input",@class="form-control" })
                </div>
            </div>
            @Html.HiddenFor(x => x.ContactType)
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default btn-success" name="createContact"><i class="fa fa-save"></i> Create Contact</button>
            <button type="submit" class="btn btn-success" name="createAnother"><i class="fa fa-plus-circle"></i> Create & Add Another</button>
            <a class="btn btn-default pull-right" href="@Url.Content("~/" + Model.ContactType + "/contacts")">Cancel</a>
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/wmd-customized.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/showdown.js")" type="text/javascript"></script>
<script type="text/javascript">
    $("#createNewContact").validate({
        rules: {
            FirstName: "required",
            ContactTypeForOrg: "required",
        }
    });
    $(function () {
         tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "advanced",
            skin: "o2k7",
            skin_variant: "silver",
            plugins: "safari,style,layer,table,advhr,advimage,advlink,inlinepopups,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,formatselect,fontsizeselect",
            theme_advanced_buttons2: "link,unlink,anchor,image,cleanup,code,|,preview,|,forecolor,backcolor,|tablecontrols,|,hr,removeformat,visualaid,|,iespell,media,|,ltr,rtl",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
        });
    });
</script>
