@model RDN.Portable.Classes.Account.Classes.MemberDisplay
@{
    ViewBag.Title = "Change Your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Change Password</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-bottom-15 margin-top-5"><i class="fa fa-key"></i> Change Password for @Model.DerbyName</h3>
            </div>
@using (Html.BeginForm("ChangePassword", "Member", FormMethod.Post))
            {
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="form-label">
                            Current Password
                        </label>
                        <div class="margin-bottom-15">
                            @Html.PasswordFor(x => x.OldPassword, new { @class="form-control"})
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="form-label">
                            New Password
                        </label>
                        <div class="margin-bottom-15">
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="form-label">
                            Confirm Password
                        </label>
                        <div class="margin-bottom-15">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                @if (ViewBag.Updated)
                {
                    <span class="addedSuccessfully">Updated Successfully!</span>
                }
                else if (!String.IsNullOrEmpty(ViewBag.Message))
                {
                    <span>@ViewBag.Message</span><br />
                }
                <button type="submit" class="btn btn-success" ><i class="fa fa-save"></i> Change Password</button>
            </div>
                 @Html.HiddenFor(x => x.MemberId)
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x => x.DerbyName)
            }
        </div>
    </div>
</div>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {    
    	toastr.options = {
    		"closeButton": true,
    		"positionClass": "toast-top-right",
    		"onclick": null,
    		"showDuration": "0",
    		"hideDuration": "0",
    		"timeOut": "5000",
    		"showMethod": "fadeIn"
    	};
		@if (!String.IsNullOrEmpty(ViewBag.Message))
		{
            @:toastr.error('','@ViewBag.Message');
        }
    });
</script>