@model RDN.Portable.Classes.Account.Classes.MemberDisplay
@{
    ViewBag.Title = "Change Your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fixedContainer">
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Change Password for @Model.DerbyName</div>
        <div class="divider"></div>
        <div>
            @using (Html.BeginForm("ChangePassword", "Member", FormMethod.Post))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b">
                            Current Password:
                        </td>
                        <td class="largeInput">
                            @Html.PasswordFor(x => x.OldPassword)
                        </td>
                    </tr>
                    <tr>
                        <td class="b">
                            New Password:
                        </td>
                        <td class="largeInput">
                            @Html.PasswordFor(x => x.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td class="b">
                            Confirm Password:
                        </td>
                        <td class="largeInput">
                            @Html.PasswordFor(x => x.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            @if (ViewBag.Updated)
                            { 
                                <span class="addedSuccessfully">Updated Successfully!</span>
                            }
                            else if (!String.IsNullOrEmpty(ViewBag.Message))
                            { 
                                <span>@ViewBag.Message</span><br />                          
                            }
                            <input type="submit" class="primary" value="Change Password" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.MemberId)
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x => x.DerbyName)
            }
        </div>
    </div>
</div>
