@using RDN.Portable.Classes.Account.Enums
@using RDN.Utilities.Enums;
@model RDN.League.Models.User.EditMember
@{
    ViewBag.Title = "Edit You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var ClassTypes = from RDN.Library.Classes.Federation.Enums.MADEClassRankEnum d in Enum.GetValues(typeof(RDN.Library.Classes.Federation.Enums.MADEClassRankEnum))
                     select new { ID = (int)d, Name = d.ToString() };
    var OwnerTypes = from RDN.Library.Classes.Federation.Enums.FederationOwnerEnum d in Enum.GetValues(typeof(RDN.Library.Classes.Federation.Enums.FederationOwnerEnum))
                     select new { ID = (int)d, Name = d.ToString() };
}
<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/member/" + Model.MemberId.ToString().Replace("-", "") + "/" + Model.DerbyNameLink)">@Model.DerbyName</a></li>
    <li class="active">Edit</li>
</ol>


<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <h3 style="margin-top:5px !important"><i class="fa fa-user"></i> Edit Profile</h3>
    </div>
    @using (Html.BeginForm("EditMemberMySelf", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-3  text-center">
                    @if (Model.Photos.Where(x => x.IsPrimaryPhoto == true).FirstOrDefault() != null)
                    {
                        <img class="round-corners" style="width: 100%; max-width:400px" alt="@Model.Photos.Where(x => x.IsPrimaryPhoto == true).FirstOrDefault().Alt" src="@Model.Photos.Where(x => x.IsPrimaryPhoto == true).FirstOrDefault().ImageUrl" />
                    }
                    else
                    {
                        <img class="round-corners" style="width: 100%; max-width: 400px" src="@Url.Content("~/content/" + RDN.Library.Classes.Config.LibraryConfig.DefaultPictureName)" alt="default picture" />
                    }
                    <input class="btn btn-default margin-top-10 margin-bottom-10" type="file" name="file" id="file" style="width: 100%; max-width: 400px; margin-left:auto;margin-right:auto" />
                    <label id="lblFileError" style="color: red;" />
                </div>

                <div class="col-sm-12 col-md-7 col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding">
                            <ul class="nav nav-tabs padding-top-10" id="myTab">
                                <li class="active margin-left-15"><a href="#Personal">Profile</a></li>
                                @if (RDN.Library.Classes.Config.LibraryConfig.SiteType == RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
                                {
                                    <li class="margin-left-15"><a href="#Playing">Playing</a></li>
                                }
                                <li class="margin-left-15"><a href="#League">League</a></li>
                                <li class="margin-left-15"><a href="#Federation">Federation</a></li>
                                <li class="margin-left-15"><a href="#Public">Social</a></li>
                                <li class="margin-left-15"><a href="#Address">Address</a></li>
                            </ul>
                            <div class="tab-content padding-15">
                                <div class="tab-pane active" id="Personal">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Nick Name
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.DerbyName, new { @type = "text", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Number
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.PlayerNumber, new { @type = "text", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                First Name
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.Firstname, new { @type = "text", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Last Name
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.LastName, new { @type = "text", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Gender
                                            </div>
                                            <div>
                                                @Html.DropDownListFor(x => x.Gender, (SelectList)ViewData["genderSelectList"], new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Height
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(x => x.HeightFeet, new { @class = "small form-control" })
                                                    <div class="input-group-addon">'</div>
                                                    @Html.TextBoxFor(x => x.HeightInches, new { @class = "small form-control" })
                                                    <div class="input-group-addon">inches</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Weight (Lbs)
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(x => x.WeightLbs, new { @class = "small form-control" })
                                                    <div class="input-group-addon">lbs.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Date Of Birth
                                            </div>
                                            <div>
                                                @Html.TextBox("DOB", Model.DOB.ToString("MM/dd/yyyy"), new { @class = "jquery_datepicker form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Phone Number
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.PhoneNumber, new { @type = "text", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Email Address
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.Email, new { @type = "text", @class = "form-control" })
                                                <span class="text-muted">updates contact email only, not the email you sign in with.</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Day Job
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.DayJob, new { @type = "text", @class = "form-control" })
                                                <span class="text-muted">For use by the @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() in case they need your expertise.</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6 margin-top-5">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                               Member Type
                                            </div>
                                            <div class="form-inline">
                                                <label for="@MemberType.Player" class="margin-10">
                                                    @Html.CheckBox(MemberType.Player.ToString(), Model.MemberType.HasFlag(MemberType.Player))
                                                    @EnumExt.ToFreindlyName(MemberType.Player)
                                                </label>
                                                <label for="@MemberType.Coach" class="margin-10">
                                                    @Html.CheckBox(MemberType.Coach.ToString(), Model.MemberType.HasFlag(MemberType.Coach))
                                                    @EnumExt.ToFreindlyName(MemberType.Coach)
                                                </label>
                                                
                                                <label for="@MemberType.Referee" class="margin-10">
                                                    @Html.CheckBox(MemberType.Referee.ToString(), Model.MemberType.HasFlag(MemberType.Referee))
                                                    @EnumExt.ToFreindlyName(MemberType.Referee)
                                                </label>
                                                <label for="@MemberType.Volunteer" class="margin-10">
                                                    @Html.CheckBox(MemberType.Volunteer.ToString(), Model.MemberType.HasFlag(MemberType.Volunteer))
                                                    @EnumExt.ToFreindlyName(MemberType.Volunteer)
                                                </label>
                                                <label for="@MemberType.Official" class="margin-10">
                                                    @Html.CheckBox(MemberType.Official.ToString(), Model.MemberType.HasFlag(MemberType.Official))
                                                    @EnumExt.ToFreindlyName(MemberType.Official)
                                                </label>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="Playing">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Date Started Playing
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.StartedSkating, new { @class = "jquery_datepicker form-control", @Value = Model.StartedSkating.GetValueOrDefault().ToString("MM/dd/yyyy") })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Date Stopped Playing
                                            </div>
                                            <div>
                                                @if (Model.StoppedSkating.HasValue)
                                                {
                                                    @Html.TextBoxFor(model => model.StoppedSkating, new { @class = "jquery_datepicker form-control", @Value = Model.StoppedSkating.GetValueOrDefault().ToString("MM/dd/yyyy") })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.StoppedSkating, new { @class = "jquery_datepicker form-control" })
                                                }
                                            </div>
                                        </div>
                                        @foreach (var insuranceNumber in Model.InsuranceNumbers)
                                        {
                                            <div class="col-xs-12">
                                                <br />
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label class="no-bold">@insuranceNumber.Type Insurance</label>
                                                            @Html.TextBox("insuranceNumber_" + insuranceNumber.Type, insuranceNumber.Number, new { @class = "form-control col-xs-6" })
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label class="no-bold">Expires</label>

                                                            @if (insuranceNumber.Expires.HasValue)
                                                            {
                                                                @Html.TextBox("insuranceNumberExpires_" + insuranceNumber.Type, insuranceNumber.Expires.GetValueOrDefault().ToString("MM/dd/yyyy"), new { @class = "jquery_datepicker form-control col-xs-6" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBox("insuranceNumberExpires_" + insuranceNumber.Type, "", new { @class = "jquery_datepicker form-control col-xs-6" })
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <div id="League" class="tab-pane">
                                    <div class="row">
                                        @foreach (var league in Model.Leagues)
                                        {
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading text-center">
                                                        <a target="_blank" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(league.Name) + "/" + league.LeagueId.ToString().Replace("-", ""))">
                                                            @league.Name
                                                        </a>
                                                    </div>
                                                    <div class="panel-body">
                                                        @if (league.HasLeftLeague)
                                                        {
                                                            <div class="form-label margin-bottom-5">
                                                                Set Departure Date
                                                            </div>
                                                            <div>
                                                                @if (league.DepartureDate.HasValue)
                                                                {
                                                                    @Html.TextBox(league.LeagueId + "-LEAGUEDepartureDate", league.DepartureDate.GetValueOrDefault().ToString("MM/dd/yyyy"), new { @id = league.LeagueId + "-LEAGUEDepartureDate", @class = "jquery_datepicker form-control" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox(league.LeagueId + "-LEAGUEDepartureDate", "", new { @id = league.LeagueId + "-LEAGUEDepartureDate", @class = "jquery_datepicker form-control" })
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="text-center">
                                                                <span class="btn btn-danger" onclick="Member.RemoveSelfFromLeague(this, '@Model.MemberId','@league.LeagueId')">Leave The @RDN.Library.Classes.Config.LibraryConfig.TeamName</span>
                                                            </div>
                                                        }
                                                        <script type="text/javascript">
                                                            $('#@league.LeagueId-LEAGUEDepartureDate').datepicker({
                                                                required: false
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div id="Federation" class="tab-pane no-padding-bottom">
                                    <div class="row no-margin-bottom">
                                        @foreach (var fed in Model.FederationsApartOf)
                                        {
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body padding-top-5">
                                                        <h4>@fed.FederationName</h4>
                                                        <div>
                                                            Class: @fed.MADEClassRank
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div id="Public" class="tab-pane">
                                    <div class="row">

                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Website Url
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-link"></i></span>
                                                    @Html.TextBoxFor(x => x.Website, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Twitter Username
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-twitter"></i></span>
                                                    @Html.TextBoxFor(x => x.Twitter, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="form-label margin-top-10 margin-bottom-5">
                                                Facebook Url
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-facebook"></i></span>
                                                    @Html.TextBoxFor(x => x.Facebook, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Instagram Username
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-instagram"></i></span>
                                                    @Html.TextBoxFor(x => x.Instagram, new { @type = "text", @class = "form-control" })
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-label margin-top-20 margin-bottom-5">
                                                <label>@Html.CheckBoxFor(x => x.IsProfileRemovedFromPublicView) Hide Public Profile.</label>
                                                <span class="text-muted">
                                                    Removes profile from the public.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-label margin-bottom-5">
                                                Public Bio
                                            </div>
                                            <div>
                                                @Html.TextAreaFor(x => x.Bio, new { id = "wmd-input" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Address" class="tab-pane">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Address
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Address2
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.Address2, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                City
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                State
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Zip Code
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            <div class=" form-label margin-top-10 margin-bottom-5">
                                                Country
                                            </div>
                                            <div>
                                                @Html.DropDownListFor(x => x.Country, @Model.Countries, "Select Country...", new { @class = "form-control" })
                                                <span style="color: red;">@Html.ValidationMessageFor(m => m.Country)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(x => x.MemberId)
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save Information</button>
            @if (!Model.IsRetired)
            {
                <button class="btn btn-danger" onclick="Member.RetireSelf(this); return false;" value="Retire Your Profile">Retire Profile</button>
            }
            else
            {
                <button class="btn btn-warning" value="UnRetire Your Profile" onclick="Member.UnRetireSelf(this); return false;">UnRetire Profile</button>
            }
        </div>
    }
</div>

<br /><br />
@foreach (var insuranceNumber in Model.InsuranceNumbers)
{
    <script type="text/javascript">

        $('#insuranceNumberExpires_@insuranceNumber.Type').datepicker({
            required: false
        });

    </script>
}
<script type="text/javascript">
    $('#DOB').datepicker({ required: false });
    $('#StartedSkating').datepicker({
        required: false
    });
    $('#StoppedSkating').datepicker({
        required: false
    });

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "modern",
            plugins: "layer,table,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,template,link",
        });
        var file = $("#file");
        file.change(function () {
            var ext = this.value.match(/\.([^\.]+)$/)[1];
            switch (ext) {
                case 'jpg':
                case 'jpeg':
                case 'tiff':
                case 'png':
                    $("#lblFileError").text("");
                    break;
                default:
                    $("#lblFileError").text("Invalid file type");
                    this.value = '';
            }
        });

    });
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
