@model RDN.Portable.Classes.Account.Classes.MemberSettingsClass
@using RDN.Portable.Classes.Account.Enums
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Settings</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-bottom-10 margin-top-5"><i class="fa fa-cog"></i>Profile Settings</h3>
            </div>
            <div class="panel-heading no-padding-bottom">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs" role="tablist" id="myTabs" style="margin-bottom: -1px;">
                            @*<li role="presentation"><a href="#Stats" role="tab" data-toggle="tab">Stats</a></li>
                            *@
                            <li role="presentation" class="active margin-left-5"><a href="#Calendar" role="tab" data-toggle="tab"><i class="fa fa-calendar-o"></i>Calendar</a></li>
                            <li role="presentation" class="margin-left-5"><a href="#Mobile" role="tab" data-toggle="tab"><i class="fa fa-mobile"></i>Mobile</a></li>
                            <li role="presentation" class="margin-left-5"><a href="#Notifications" role="tab" data-toggle="tab"><i class="fa fa-envelope-o"></i>Notifications</a></li>
                            <li role="presentation" class="margin-left-5"><a href="#Privacy" role="tab" data-toggle="tab"><i class="fa fa-shield"></i>Privacy</a></li>
                            <li role="presentation" class="margin-left-5"><a href="#Forum" role="tab" data-toggle="tab"><i class="fa fa-files-o"></i>Forum</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body no-padding-bottom">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Calendar">
                        <h4 style="border-bottom: 1px solid #ddd" class="margin-bottom-10 padding-bottom-10">
                            <i class="fa fa-calendar"></i>Calendar Settings
                        </h4>
                        <div class="form-label margin-bottom-5">
                            Default Calendar View
                        </div>
                        <div class="margin-bottom-10">
                            @Html.DropDownListFor(x => x.CalendarViewDefault, (SelectList)ViewBag.CalendarView, new { @class = "form-control margin-bottom-5 half-width" })
                            <span class="text-muted i">This is the default view you receive when viewing the calendar</span>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Mobile">
                        <h4 style="border-bottom: 1px solid #ddd" class="margin-bottom-10 padding-bottom-10">
                            <i class="fa fa-mobile-phone"></i>Mobile Alerts<br />
                            <span class="text-muted"><small>Your team will be able to send you a quick message about something important.</small></span>
                        </h4>
                        <div class="form-label margin-bottom-5">
                            Enter your country code + area code + phone number using only digits, e.g. "9175551212".
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">@Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control half-width" })</div>
                            <div class="col-xs-12 col-sm-6 text-right">
                                @if (Model.IsCarrierVerified)
                                {
                                    <span><i class="fa fa-check-circle"></i>Verified</span>
                                }
                            </div>
                        </div>
                        <div>
                            <p>
                                <small class="text-muted">We will not share your number; for more information, see our <a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/privacy" target="_blank">Privacy Policy</a>. Fees May Apply</small>
                            </p>
                            <p>
                                <button type="button" class="btn btn-primary" onclick="javascript: VerifySMSCarrier(this)"><i class="fa fa-envelope-o"></i>Send Verification Code</button>

                            </p>
                        </div>
                        <div id="codeHtml" class="display-none">
                            <small>A Verification Code was sent to your mobile phone.  </small>
                            <div class="margin-bottom-5">Enter Verification Code:</div>
                            <input type="text" id="code" placeholder="Verification Code" class="form-control w200" />
                            <button type="button" class="btn btn-primary margin-top-10" onclick="javascript: EnterCarrierCode(this)">Verify</button>

                        </div>
                        <h4 style="border-bottom: 1px solid #ddd" class="margin-bottom-10 padding-bottom-10 margin-top-30">
                            <i class="fa fa-mobile-phone"></i>Mobile Menu Navigation<br />
                            <span class="text-muted"><small>Move the Mobile Navigation Menu from Right to Left and Left to Right used primarially by left handed individuals.</small></span>
                        </h4>
                        <div class="margin-bottom-10">
                            <input type="checkbox" name="navigation-direction" checked data-on-text="Left" data-off-text="Right" data-off-color="primary">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Notifications">
                        <h4 class="margin-bottom-10 padding-bottom-5">
                            <i class="fa fa-envelope-o"></i>Email Notifications - <small><a target="_blank" href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite/Member_Settings#Notification_Settings">Help</a></small><br />
                            <span class="text-muted"><small>Checking this first box will ENABLE an email notification to you outside of the forums section.</small></span>
                        </h4>
                        <table class="table">
                            <tr>
                                <td class="b text-right">League Email Notifications:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.DoesReceiveLeagueNotifications, new { @onchange = "changeEmailNotification(this, 'league', '" + Model.CurrentLeagueId + "')" })
                                        <small class="i">Turns On League Email Notifications</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="b text-center">
                                    <h4>League Forum</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="b  text-right">Broadcasted Posts:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.EmailForumBroadcasts, new { @onchange = "changeEmailNotification(this, 'forumBroadcast', '')" })
                                        <small class="i">Turns On Broadcasted Posts</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="b  text-right">New Post:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.EmailForumNewPost, new { @onchange = "changeEmailNotification(this, 'ForumNewPost', '')" })
                                        <small class="i">Turns On New Forum Posts</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="b  text-right">Weekly Roundup:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.EmailForumWeeklyRoundup, new { @onchange = "changeEmailNotification(this, 'ForumWeeklyRoundup', '')" })
                                        <small class="i">Turns On Weekly Forum Reports</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="b text-center">
                                    <h4>Forum Groups</h4>
                                </td>
                            </tr>
                            @foreach (var group in Model.GroupsApartOf)
                                        {
                                <tr>
                                    <td class="b  text-right">@group.GroupName Broadcasts:</td>
                                    <td>
                                        <label>
                                            @Html.CheckBox("group-broadcast-" + group.Id, @group.DoesReceiveGroupNotificationsCurrentMember, new { @onchange = "changeEmailNotification(this, 'groupbroadcast', '" + group.Id + "')" })
                                            <small class="i">Turns On Broadcasted Posts</small>
                                        </label>
                                    </td>
                                </tr>
                            <tr>
                                <td class="b  text-right">@group.GroupName New Post:</td>
                                <td>
                                    <label>
                                        @Html.CheckBox("group-" + group.Id, @group.DoesReceiveGroupNotificationsCurrentMember, new { @onchange = "changeEmailNotification(this, 'group', '" + group.Id + "')" })
                                            <small class="i">Turns On New Forum Posts</small>
                                    </label>
                                </td>
                            </tr>

                            }


                        </table>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="Privacy">
                        <h4 class="margin-bottom-10 padding-bottom-5">
                            <i class="fa fa-shield"></i>Privacy Settings<br />
                        </h4>
                        <table class="table">
                            <tr>
                                <td class="b  text-right">Do You Play?:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.DoYouDerby, new { @onchange = "Member.SetPrivacySetting(this, '" + MemberPrivacySettingsEnum.Do_You_Derby + "')" })
                                        <small class="i">Opens your profile to the world as we keep getting more features.</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="b  text-right">Hide Phone Number From League:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.Hide_Phone_Number_From_League, new { @onchange = "Member.SetPrivacySetting(this, '" + MemberPrivacySettingsEnum.Hide_Phone_Number_From_League + "')" })
                                        <small class="i">Only shows phone number to managers</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="b  text-right">Hide Email From League:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.Hide_Email_From_League, new { @onchange = "Member.SetPrivacySetting(this, '" + MemberPrivacySettingsEnum.Hide_Email_From_League + "')" })
                                        <small class="i">Only shows email to managers</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                            <td class="b  text-right">Hide Date Of Birth From League:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.Hide_DOB_From_League, new { @onchange = "Member.SetPrivacySetting(this, '" + MemberPrivacySettingsEnum.Hide_DOB_From_League + "')" })
                                        <small class="i">Only shows DOB to managers</small>
                                    </label>
                                </td>
                            </tr>
                             <tr>
                                <td class="b  text-right">Hide Address from League:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.Hide_Address_From_League, new { @onchange = "Member.SetPrivacySetting(this, '" + MemberPrivacySettingsEnum.Hide_Address_From_League + "')" })
                                        <small class="i">Only shows address to managers</small>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="b  text-right">Hide Date Of Birth From Public:</td>
                                <td>
                                    <label>
                                        @Html.CheckBoxFor(x => x.Hide_DOB_From_Public, new { @onchange = "Member.SetPrivacySetting(this, '" + MemberPrivacySettingsEnum.Hide_DOB_From_Public + "')" })
                                    </label>
                                </td>
                            </tr>                        
                        </table>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Forum">
                        <h4 style="border-bottom: 1px solid #ddd" class="margin-bottom-10 padding-bottom-10">
                            <i class="fa fa-files-o"></i>Forum Settings
                        </h4>
                        <div class="form-label margin-bottom-5">
                            <label>Order Messages as Latest First: @Html.CheckBoxFor(x => x.ForumDescending, new { @onchange = "Member.ChangeForumMessageOrderSetting(this)" })</label>
                        </div>
						<div>
							<label>Reorder Forum Groups</label>
						</div>
                        <div id="memberGroups">
                            @foreach (var group in Model.GroupsApartOf)
                            {
                                <div id="updateGroupTd-@group.Id">
                                    <div class="panel panel-default">
                                        <div class="panel-heading no-padding padding-5">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-10 padding-top-5">
                                                    <span class="font16">
                                                        <i class="fa fa-question-circle"></i> @group.GroupName
                                                    </span>
                                                </div>
                                                <div id='editQuestionId' class="col-xs-12 col-sm-2 text-right">
                                                    <span class="btn btn-sm btn-default sortableHandle" title="Sort Question/Drag and Drop"><i class="fa fa-arrows"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>

            @Html.HiddenFor(x => x.MemberId)
        </div>
    </div>
</div>
<script type="text/javascript">
    $("[name='navigation-direction']").bootstrapSwitch();
    $("#tabs").tabs();
    $("#CalendarViewDefault").change(function () {
        changeMemberSettingCalView(this.value);
    });
    $("#PhoneNumber").numeric({ negative: false, decimal: false });
    $("#code").numeric({ negative: false, decimal: false });

    $("#memberGroups").sortable({
        handle: '.sortableHandle',
        update: function (event, ui) {
            var idsInOrder = JSON.stringify($("#memberGroups").sortable("toArray"));
            Member.SaveResortedGroup(idsInOrder);
        }
    }).disableSelection();   
</script>
