@using RDN.Library.Classes.Account.Classes
@model RDN.Portable.Classes.Account.Classes.MemberDisplay
@{
    ViewBag.Title = "Your Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li class="active">Contacts</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8 col-sm-9 col-lg-10">
                <h3 class="margin-top-5"><i class="fa fa-group"></i> @Model.DerbyName's Contacts</h3>
            </div>
            <div class="col-xs-4 col-sm-3 col-lg-2 text-right margin-bottom-5">
                <button id="btnScrollToAddUserForm" onclick="ScrollToAddContactForm()" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
        </div>
        <span class="text-muted">All the contacts for yourself.  Add parents, spouses, and emergency doctor information.  Your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() managers will use this information in case of an emergency or any other reason.</span>
    </div>
    <div class="panel-body">
        <div id="Contacts" class="row">
            @foreach (var contact in Model.MemberContacts)
            {
                <div class="col-xs-12 col-sm-6 col-md-4" id="@contact.ContactId-div">
                    <div class="panel panel-default" style="min-height:260px">
                        <div class="panel-heading text-right">
                            <h4 class="no-margin pull-left"><i class="fa fa-user"></i> @contact.Firstname @contact.Lastname</h4>
                            <button class="btn btn-default btn-xs" onclick="javascript:removeMemberContact('@contact.ContactId')"><i class="fa fa-trash"></i> Remove</button>
                        </div>
                        <div class="panel-body no-padding-bottom">
                            <table>
                                <tr>
                                    <td class="b"><i class="fa fa-suitcase"></i>&nbsp;</td>
                                    <td>
                                        @RDN.Utilities.Enums.EnumExt.ToFreindlyName(contact.ContactType)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b"><i class="fa fa-envelope"></i>&nbsp;</td>
                                    <td>
                                        <a href="mailto:@contact.Email">@contact.Email</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b"><i class="fa fa-phone"></i>&nbsp;</td>
                                    <td>
                                        <a href="tel:@contact.PhoneNumber">
                                            @contact.PhoneNumber
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b" style="vertical-align:top">
                                        @if (contact.Addresses != null && contact.Addresses.FirstOrDefault() != null)
                                        {
                                            <span><i class="fa fa-map-marker"></i>&nbsp;</span>
                                        }
                                    </td>
                                    <td>
                                        @if (contact.Addresses != null && contact.Addresses.FirstOrDefault() != null)
                                        {
                                            @contact.Addresses.FirstOrDefault().Address1<br />
                                            if (!String.IsNullOrEmpty(contact.Addresses.FirstOrDefault().Address2))
                                            {
                                                @contact.Addresses.FirstOrDefault().Address2<br />
                                            }
                                            if (!String.IsNullOrEmpty(contact.Addresses.FirstOrDefault().CityRaw))
                                            {
                                                @contact.Addresses.FirstOrDefault().CityRaw<br />}
                                            if (!String.IsNullOrEmpty(contact.Addresses.FirstOrDefault().StateRaw))
                                            {
                                                @contact.Addresses.FirstOrDefault().StateRaw<br />
                                            }
                                            if (!String.IsNullOrEmpty(contact.Addresses.FirstOrDefault().Zip))
                                            {
                                                @contact.Addresses.FirstOrDefault().Zip<br />
                                            }
                                            if (!String.IsNullOrEmpty(contact.Addresses.FirstOrDefault().Country))
                                            {
                                                @contact.Addresses.FirstOrDefault().Country
                                            }
                                            <br />
                                            <a class="btn btn-default btn-xs margin-top-5" href="http://www.bing.com/maps/default.aspx?q=@contact.Addresses.FirstOrDefault().Address1+@contact.Addresses.FirstOrDefault().Address2,+@contact.Addresses.FirstOrDefault().CityRaw,+@contact.Addresses.FirstOrDefault().StateRaw+@contact.Addresses.FirstOrDefault().Zip+@contact.Addresses.FirstOrDefault().Country" target="_blank"><i class="fa fa-map-marker"></i> View Map</a>
                                        }
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="add-contact-form" class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-top-5">
                    <i class="fa fa-credit-card"></i> Add Contact
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            First Name
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("FirstName", "", new { @class = "form-control", @placeholder = "First Name" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Last Name
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("LastName", "", new { @class = "form-control", @placeholder = "Last Name" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Contact Type
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.DropDownList("ContactType", (SelectList)ViewBag.Contacts, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Email
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("Email", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Phone Number
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("PhoneNumber", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Address Line 1
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("Address1", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Address Line 2
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("Address2", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            City
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("City", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            State
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("State", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Zip Code
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.TextBox("ZipCode", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-label margin-top-10 margin-bottom-5">
                            Country
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.DropDownList("Country", (SelectList)ViewBag.Countries, "Select Country...", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" class="btn btn-primary" onclick="javascript:AddContactToMember()"><i class="fa fa-plus-circle"></i> Add Contact</button>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(x => x.MemberId)

<script type="text/javascript">
    function ScrollToAddContactForm() {
            $('html,body').animate({ 'scrollTop': $('#add-contact-form').position().top - 50 }, 500);
        }
</script>
