@using RDN.Library.Cache
@model RDN.Portable.Classes.Account.Classes.MemberDisplay
@{
    ViewBag.Title = Model.DerbyName + " (" + Model.PlayerNumber + ")";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isAdminOfLeague = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
}

<div class="text-center">
    @if (Model.Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault() != null)
    {
        <img style="max-height:400px;" class="img-rounded img-responsive imgCenter" alt="@Model.Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault().Alt" src="@Model.Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault().ImageUrl" />
    }
    else if (Model.Gender == RDN.Portable.Classes.Account.Enums.GenderEnum.Female)
    {
        <img style="max-height:400px;" class="img-rounded img-responsive imgCenter" src="@Url.Content("~/content/roller-girl.jpg")" alt="roller derby girl" />
    }
    else
    {
        <img style="max-height:400px;" class="img-rounded img-responsive imgCenter" src="@Url.Content("~/content/roller-person.gif")" alt="roller derby boy" />
    }
</div>
<div class="page-header text-center">
    <h2>
        @Model.DerbyName
    </h2>
    <div class="row ">
        @Model.PlayerNumber
    </div>
    <div class="row ">
        @Model.Firstname @Model.LastName
    </div>
    <div class="row text-center">
        @if (isAdminOfLeague || !Model.Settings.Hide_Email_From_League || Model.MemberId == memId)
        {
            <a href="mailto:@Model.Email" class="" target="_blank">@Model.Email</a>
        }
    </div>
    <div class="row text-center">
        @if (isAdminOfLeague || !Model.Settings.Hide_Phone_Number_From_League || Model.MemberId == memId)
        {
            <a href="tel:@Model.PhoneNumber" class="" target="_blank"><i class="fa fa-mobile-phone fa-3x"></i></a>
        }
        @if (isAdminOfLeague || !Model.Settings.Hide_Email_From_League || Model.MemberId == memId)
        {
            <a href="mailto:@Model.Email" class="" target="_blank"><i class="fa fa-at fa-3x"></i></a>
        }

        <a href="@Url.Content("~/messages/new/person/" + Model.MemberId.ToString().Replace("-",""))" class="" target="_blank"><i class="fa fa-envelope fa-3x"></i></a>


    </div>
</div>
<div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <ul class="nav nav-tabs" role="tablist" id="myTabs">
        @*<li role="presentation"><a href="#Stats" role="tab" data-toggle="tab">Stats</a></li>*@
        <li role="presentation" class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
        @if (RDN.Library.Cache.Singletons.SiteSingleton.Instance.SiteType == RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
        {
            <li role="presentation"><a href="#Skating" role="tab" data-toggle="tab">Skating</a></li>
        }
        <li role="presentation"><a href="#Contacts" role="tab" data-toggle="tab">Contacts</a></li>
        <li role="presentation"><a href="#membership" role="tab" data-toggle="tab">Memberships</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active well" id="profile">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default ">
                        <div class="panel-heading">Quick Stats</div>
                        <div class="panel-body">
                            @if (Model.Gender == RDN.Portable.Classes.Account.Enums.GenderEnum.Female)
                            {
                                <div class="row">
                                    <div class="text-center col-xs-offset-1 col-xs-2">
                                        <i class="fa fa-female fa-2x"></i>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.Gender == RDN.Portable.Classes.Account.Enums.GenderEnum.Male)
                            {
                                <div class="row">
                                    <div class="text-center col-xs-offset-1 col-xs-2">
                                        <i class="fa fa-male fa-2x"></i>
                                    </div>

                                </div>
                                <br />
                            }
                            @if (Model.DOB < DateTime.UtcNow.AddYears(-5) && !Model.Settings.Hide_DOB_From_Public)
                            {
                                <div class="row">
                                    <div class="col-xs-offset-1 col-xs-2 text-center">
                                        <i class="fa fa-birthday-cake fa-2x"></i>
                                    </div>
                                    <div class="col-xs-8">
                                        <b>@Model.DOB.ToLongDateString()</b>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.HeightFeet > 0)
                            {
                                <div class="row">
                                    <div class="text-center col-xs-offset-1 col-xs-2">
                                        <i class="fa fa-long-arrow-up  fa-2x"></i>
                                    </div>
                                    <div class="col-xs-8">
                                        <b>@Model.HeightFeet' @Model.HeightInches</b>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.WeightLbs > 0)
                            {
                                <div class="row">
                                    <div class="text-center col-xs-offset-1 col-xs-2">
                                        <i class="fa fa-cubes fa-2x"></i>
                                    </div>
                                    <div class="col-xs-8">
                                        <b>@Model.WeightLbs lbs.</b>
                                    </div>
                                </div><br />
                            }

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">

                    <div class="panel panel-default ">
                        <div class="panel-heading">Biography</div>
                        <div class="panel-body">
                            @Html.Raw(Model.Bio)
                        </div>
                    </div>

                </div>



            </div>
        </div>
        @if (RDN.Library.Cache.Singletons.SiteSingleton.Instance.SiteType == RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
        {

            <div role="tabpanel" class="tab-pane well" id="Skating">
                <h3>
                    Insurance Numbers
                </h3>

                @if (RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId) || memId == Model.MemberId)
                {
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>Number</th>
                            <th>Expires</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text-right">
                            <b>WFTDA</b>
                        </td>
                        <td>
                            @Model.InsuranceNumWftda
                        </td>
                        <td>
                            @if (Model.InsuranceNumWftdaExpires.HasValue)
                                {
                                @Model.InsuranceNumWftdaExpires.GetValueOrDefault().ToString("MM/dd/yyyy")
                                }
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <b>USARS</b>
                        </td>
                        <td>
                            @Model.InsuranceNumUsars
                        </td>
                        <td>
                            @if (Model.InsuranceNumUsarsExpires.HasValue)
                                {
                                @Model.InsuranceNumUsarsExpires.GetValueOrDefault().ToString("MM/dd/yyyy")
                                }
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <b> CRDI</b>
                        </td>
                        <td>
                            @Model.InsuranceNumCRDI
                        </td>
                        <td>
                            @if (Model.InsuranceNumCRDIExpires.HasValue)
                                {
                                @Model.InsuranceNumCRDIExpires.GetValueOrDefault().ToString("MM/dd/yyyy")
                                }
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <b>Other</b>
                        </td>
                        <td>
                            @Model.InsuranceNumOther
                        </td>
                        <td>
                            @if (Model.InsuranceNumOtherExpires.HasValue)
                                {
                                @Model.InsuranceNumOtherExpires.GetValueOrDefault().ToString("MM/dd/yyyy")
                                }
                        </td>
                    </tr>
                </table>
                }
                else
                {
                <h4>Subscribe to view Insurance Numbers of each member in your league! <a href="@Url.Content("~/billing/league/" + RDN.Library.Cache.MemberCache.GetLeagueIdOfMember(RDN.Library.Classes.Account.User.GetMemberId()).ToString().Replace("-", ""))">Subscribe Here</a></h4>
            }
            </div>
        }
        <div role="tabpanel" class="tab-pane well" id="Contacts">

            @if ((MemberCache.IsSecretaryOrBetterOfLeague(memId) && MemberCache.CheckIsLeagueSubscriptionPaid(memId)) || memId == Model.MemberId)
            {
                if (Model.MemberContacts.Count == 0)
                {
                    <div>Member has no personal contacts</div>
                    <br />
                }
                <h4 class="text-center"><a class="btn btn-primary" href="@Url.Content("~/member/contacts/" + Model.MemberId.ToString().Replace("-", ""))">Add Contacts To Member</a></h4>
                <div class="row">


                    @foreach (var contact in Model.MemberContacts)
                    {

                        <div class="col-sm-4 col-xs-12 pull-left well bg-white" id="@contact.ContactId-div">
                            <table class="table table-condensed">
                                <tr>
                                    <td class="b">Name:</td>
                                    <td>
                                        @contact.Firstname @contact.Lastname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b">Type:</td>
                                    <td>
                                        @RDN.Utilities.Enums.EnumExt.ToFreindlyName(contact.ContactType)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b">Email:</td>
                                    <td>
                                        @if (!String.IsNullOrEmpty(contact.Email)) { 
                                        <a href="mailto:@contact.Email" class="" target="_blank">@contact.Email <i class="fa fa-at fa-1x"></i></a>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b">Phone Number:</td>
                                    <td>
@if (!String.IsNullOrEmpty(contact.PhoneNumber)) {
                                        <a href="tel:@contact.PhoneNumber" class="" target="_blank">@contact.PhoneNumber <i class="fa fa-mobile-phone fa-1x"></i></a>
}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b">
                                        Address:<br />
                                        @if (contact.Address != null)
                                        {
                                            <a href="http://www.bing.com/maps/default.aspx?q=@contact.Address.Address1+@contact.Address.Address2,+@contact.Address.CityRaw,+@contact.Address.StateRaw+@contact.Address.Zip+@contact.Address.Country" target="_blank">View Map</a>
                                        }
                                    </td>
                                    <td>
                                        @if (contact.Address != null)
                                        {
                                            @contact.Address.Address1<br />
                                            if (!String.IsNullOrEmpty(contact.Address.Address2))
                                            {
                                                @contact.Address.Address2<br />
                                            }
                                            if (!String.IsNullOrEmpty(contact.Address.CityRaw))
                                            {
                                                @contact.Address.CityRaw<br />}
                                            if (!String.IsNullOrEmpty(contact.Address.StateRaw))
                                            {
                                                @contact.Address.StateRaw<br />
                                            }
                                            if (!String.IsNullOrEmpty(contact.Address.Zip))
                                            {
                                                @contact.Address.Zip<br />
                                            }
                                            if (!String.IsNullOrEmpty(contact.Address.Country))
                                            {
                                                @contact.Address.Country
                                            }
                                        }
                                    </td>
                                </tr>

                            </table>
                        </div>
                    }

                </div>
            }
            else
            {
                <div class="subPleaseSubscribeMessage">Subscribe to RDNation to store/view Contacts for members in your league! <a href="@Url.Content("~/billing/league/" + RDN.Library.Cache.MemberCache.GetLeagueIdOfMember(memId).ToString().Replace("-", ""))">Subscribe Here</a></div>
            }

            <small>Only Managers of the league can see this information.</small>
        </div>


        <div role="tabpanel" class="tab-pane  well " id="membership">
            <div class="">
                @foreach (var league in Model.Leagues)
                {
                    if (!String.IsNullOrEmpty(league.Name))
                    {

                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        @if (league.Logo != null)
                                {
                                <a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(league.Name.Replace(" ", "-")) + "/" + league.LeagueId.ToString().Replace("-", ""))">

                                    <img style="max-height:200px" alt="@league.Name" src="@league.Logo.ImageUrl" />

                                </a>
                                }
                        <div class="caption">
                            <h4>
                                <a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(league.Name.Replace(" ", "-")) + "/" + league.LeagueId.ToString().Replace("-", ""))">
                                    @league.Name
                                </a>

                            </h4>
                            <p>
                                @if (league.HasLeftLeague)
                                        {
                                        <b> retired </b> @league.DepartureDate.GetValueOrDefault().ToShortDateString()
                                        }

                            </p>

                        </div>

                    </div>

                </div>

                    }
                }
                <div class="clearfix"></div>

            </div>

        </div>


    </div>
</div>