@model RDN.Library.Classes.Payment.Classes.Display.DisplayInvoice
@using RDN.Portable.Classes.Payment.Enums;
@using RDN.Library.Classes.Payment.Enums;
@using RDN.Utilities.Enums;
@{
    ViewBag.Title = "Your Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/store/home/" + Model.Merchant.PrivateManagerId.ToString().Replace("-", "") + "/" + Model.Merchant.MerchantId.ToString().Replace("-", ""))">Shop</a></li>
    <li><a href="@Url.Content("~/store/orders/" + Model.Merchant.PrivateManagerId.ToString().Replace("-", "") + "/" + Model.Merchant.MerchantId.ToString().Replace("-", ""))">Orders</a></li>
    <li class="active">Order</li>
</ol>
<div class="col-md-10  col-xs-12">
    <h2>
        View Order <small>
            Here you can view and modify the order for the store.

        </small>
    </h2>
</div>


<div class="col-md-8 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">

            @using (Html.BeginForm("StoreOrder", "Store", FormMethod.Post, new { @id = "storeOrder" }))
            {
                
                <table class="table">
                    <tr>

                        <td class="b text-right">
                        
                            
                                Created:
                        </td>
                        <td class="largeInput">
                            @Model.Created.ToString("yyyy/M/d")
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Invoice Id:
                        </td>
                        <td class="largeInput">
                            @Model.InvoiceId.ToString().Replace("-", "")
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Invoice Status:
                        </td>
                        <td id="invoiceStatus">
                            @EnumExt.ToFreindlyName(Model.InvoiceStatus)

                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Change Status:
                        </td>
                        <td>
                            @if (Model.InvoiceStatus != RDN.Portable.Classes.Payment.Enums.InvoiceStatus.Archived_Item_Completed)
                            {
                                <div>
                                    <span class="primaryLink" onclick="moveInvoiceToNextStatus(this,'@Model.InvoiceId', '@ViewData["invoiceStatus"]')">@ViewData["invoiceStatus"]</span> - <span class="i">Changing the status notifies the buyer about their purchase</span><br />
                                    <br />
                                </div>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td class="b  text-right">
                            Payment Through:
                        </td>
                        <td class="largeInput">
                            @if (Model.PaymentProvider == RDN.Library.Classes.Payment.Enums.PaymentProvider.Paypal)
                            {
                                <span><a href="http://paypal.com/" target="_blank">Paypal</a></span>
                            }
                            else if (Model.PaymentProvider == RDN.Library.Classes.Payment.Enums.PaymentProvider.Stripe)
                            {
                                <span><a href="http://stripe.com/" target="_blank">Stripe</a></span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Total Payment:
                        </td>
                        <td class="smallInput">
                            @Model.TotalIncludingTax @Model.Currency
                        </td>
                    </tr>

                    <tr>
                        <td class="b  text-right">
                            Shipping Costs:
                        </td>
                        <td>
                            @Model.ShippingCost @Model.Currency
                        </td>
                    </tr>
                    @*       <tr>
                            <td class="b  text-right">RDN Fee:
                            </td>
                            <td>
                                @Model.RDNDeductedFee @Model.Currency
                            </td>
                        </tr>
                        <tr>
                            <td class="b  text-right">Total Paid to Seller:
                            </td>
                            <td>
                                @((Model.TotalIncludingTax + Model.ShippingCost - Model.RDNDeductedFee).ToString("N2")) @Model.Currency
                            </td>
                        </tr>*@



                    <tr>
                        <td class="b  text-right">
                            Buyers Email:
                        </td>
                        <td>
                            @Model.InvoiceShipping.Email
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Shipping Address:
                        </td>
                        <td>
                            @Model.InvoiceShipping.FirstName @Model.InvoiceShipping.LastName<br />
                            @Model.InvoiceShipping.Street<br />
                            @if (!String.IsNullOrEmpty(Model.InvoiceShipping.Street2))
                            {
                                <span>@Model.InvoiceShipping.Street2</span><br />
                            }
                            @Model.InvoiceShipping.State @Model.InvoiceShipping.Zip<br />
                            @Model.InvoiceShipping.Country
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Buyer Notes:
                        </td>
                        <td>
                            @Model.Note
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Items Bought:
                        </td>
                        <td>
                            <table id="orders" class="listTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>#</th>
                                        <th>Price</th>
                                        <th>Shipping</th>

                                        <th>Size</th>
                                        <th>Color</th>
                                        <th>Ref #</th>
                                        <th>Ref # 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InvoiceItems)
                                    {
                                        <tr>
                                            <td><a target="_blank" href="@RDN.Library.Classes.Config.LibraryConfig.ShopSite/@RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl-item/@RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name)/@item.StoreItemId">@item.Name</a></td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Price @Model.Currency</td>
                                            <td>@item.TotalShipping @Model.Currency</td>
                                            <td>@item.SizeOfItemName</td>
                                            <td>
                                                @if (item.ColorHex != null && item.ColorHex.Length > 0)
                                                {
                                                    <div class='selectedColorCon center'>
                                                        <div class='selectedColor' style='background-color:@item.ColorHex;'>@item.ColorName</div>
                                                    </div>
                                                }

                                            </td>
                                            <td>@item.ArticleNumber</td>
                                            <td>@item.Article2Number</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="b  text-right">
                            Your Notes:
                        </td>
                        <td>
                            @Html.TextAreaFor(x => x.AdminNote, new {  @class="form-control"})
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>

                            <input type="submit" class="btn btn-primary" value="Update Order" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.Merchant.PrivateManagerId)
                @Html.HiddenFor(x => x.Merchant.MerchantId)
                @Html.HiddenFor(x => x.InvoiceId)
            }
        </div>
        <ul>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Not_Started)</b> - didn't complete the order, order is sitting in users Cart.</li>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Awaiting_Payment)</b> - order was sent to paypal or stripe, awaiting purchase.</li>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Payment_Successful)</b> - Payment was successful, moving into shipment mode soon.</li>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Awaiting_Shipping)</b> - Seller NEEDS to ship product.</li>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Not_Started)</b> - didn't complete the order</li>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Archived_Item_Completed)</b> - Order is complete and archived</li>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Cancelled)</b> - Order is cancelled</li>
            <li><b>@EnumExt.ToFreindlyName(InvoiceStatus.Shipped)</b> - Order is shipped.</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#orders').dataTable({
            "aaSorting": [[0, "desc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });
    });
</script>
