@using RDN.Library.Classes.Store.Display;
@model DisplayStore
@{
    ViewBag.Title = "Your Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Random rnd = new Random();
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Shop</li>
</ol>

@if (Model.MerchantId == new Guid())
{
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <h2>
               <i class=""></i> Store Setup
            </h2>
        </div>

        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            Here you can start selling things on @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName! Think of it as your own personal
            store! You can sell anything you want that hopefully has something to do with Roller
            Derby, but if it doesn't your welcome to sell that too! Go ahead, set up your store,
            add a few pieces of merchandise, make it public and start selling!

            <div>
                @using (Html.BeginForm("CreateStore", "Store"))
                {
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Create Store" />
                    </div>
                    @Html.HiddenFor(x => x.InternalReference);
                    @Html.HiddenFor(x => x.MerchantId);
                    @Html.HiddenFor(x => x.PrivateManagerId);
                }
            </div>
            <br /><br /><br />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12 col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            @if (Model.IsPublished)
                            {
                                <h3 class="margin-bottom-10 margin-top-5">
                                    <i class="fa fa-shopping-cart"></i> <a target="_blank" href="@RDN.Library.Classes.Config.LibraryConfig.ShopSite/roller-derby-shop/@Model.MerchantId.ToString().Replace("-", "")/@RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.ShopName)">@Model.ShopName</a> <i class="fa fa-external-link text-primary"></i>
                                </h3>
                                <span class="text-muted i">Published</span>
                            }
                            else
                            {
                                @Model.ShopName
                            }
                        </div>
                        <div class="col-xs-12 col-sm-6 text-right">
                            @if (RDN.Library.Cache.MemberCache.IsManagerOrBetterOfStore(RDN.Library.Classes.Account.User.GetMemberId(), Model.MerchantId))
                            {
                                <a class="btn btn-primary margin-top-5" href="@Url.Content("~/store/orders/" + @Model.PrivateManagerId.ToString().Replace("-", "") + "/" + @Model.MerchantId.ToString().Replace("-", ""))"><i class="fa fa-shopping-cart"></i> Orders</a>
                                <a class="btn btn-primary margin-top-5" href="@Url.Content("~/store/new/" + @Model.PrivateManagerId.ToString().Replace("-", "") + "/" + @Model.MerchantId.ToString().Replace("-", ""))">
                                    <i class="fa fa-plus-circle"></i> Add Item
                                </a>
                                <a class="btn btn-primary margin-top-5" href="@Url.Content("~/store/settings/" + @Model.PrivateManagerId.ToString().Replace("-", "") + "/" + @Model.MerchantId.ToString().Replace("-", ""))"><i class="fa fa-cog"></i> Settings</a>
                            }
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div id="store_masonry" class="row">
                        @foreach (var item in Model.StoreItems)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4 store_masonry_item ">
                                <div class="panel panel-default">
                                    @if (item.Photos.FirstOrDefault() != null)
                                    {
                                        <div class="panel-heading">
                                            <img class="full-width round-corners" src="@item.Photos.FirstOrDefault().ImageUrl" alt="@item.Photos.FirstOrDefault().Alt" />
                                        </div>
                                    }
                                    <div class="panel-body">
                                        <table>
                                            <tr>
                                                <td>
                                                    <a target="_blank" href="@RDN.Library.Classes.Config.LibraryConfig.ShopSite/roller-derby-item/@RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name)/@item.StoreItemId">@item.Name</a>
                                                    <p><small>@item.ItemType</small></p>
                                                    <h4>
                                                        <b>
                                                            @item.Price.ToString("N2") @Model.Currency
                                                        </b>
                                                    </h4>
                                                    @if (item.QuantityInStock > 0)
                                                    {   
                                                        <p>
                                                            <span class="text-muted">
                                                                <i class="fa fa-cubes"></i> @item.QuantityInStock <span class="storeGray">left</span>
                                                            </span>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p>
                                                            <span class="text-muted"> <i class="fa fa-exclamation-circle"></i> Out of stock</span>
                                                        </p>
                                                    }
                                                    <small>
                                                        @if (!item.IsPublished)
                                                        {
                                                            <span class="b warning">Not Published</span>
                                                        }
                                                    </small>
                                                    <div>@item.Description</div>
                                                    @if (item.ItemType == RDN.Portable.Classes.Store.Enums.StoreItemTypeEnum.Shirt)
                                                    {
                                                        <small>
                                                            <b>Sizes:</b> @RDN.Utilities.Enums.EnumExt.ToFreindlyName(item.ItemSize)
                                                        </small>
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="btn btn-sm btn-warning" href="@Url.Content("~/store/item/edit/" + item.StoreItemId + "/" + Model.PrivateManagerId.ToString().Replace("-", "") + "/" + Model.MerchantId.ToString().Replace("-", ""))">Edit</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/masonry/masonry.min.js")"></script>

<script type="text/javascript">
    $(window).load(function () {
        var container = document.querySelector('#store_masonry');
        var msnry = new Masonry(container, {
            itemSelector: '.store_masonry_item'
        });
    });
</script>