@model RDN.Library.Classes.League.ItemInfoDA
@{
    ViewBag.Title = "Add New Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    
}

<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Add New Item 
        </div>

        <div class="titleDescription">
            Add a new item to the inventory.
        </div>
        <div class="divider"></div>

        <div>
            @using (Html.BeginForm("AddNewItem", "Inventory", FormMethod.Post, new { @id = "NewItemAdd" }))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b alRight">Item Serial No:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.ItemSerialNo)
                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Item Name:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.ItemName)
                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Unite Price:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.UnitePice)

                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Location:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.Location)

                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Quantity:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.Quantity)
                        </td>
                    </tr>

                    <tr>
                        <td class="b alRight alignTop">Notes:
                        </td>
                        <td class="largeInput">@Html.TextArea("Notes", string.Empty, new
                           {
                               id = "wmd-input",
                               style = "width:350px"
                           })</td>
                    </tr>

                    <tr>
                        <td class="b alRight"></td>
                        <td class="largeInput">
                            <input type="submit" class="primary" value="Add Item" name="NewItemAdd" />

                        </td>
                    </tr>

                </table>
                  
            }
        </div>
    </div>
    @if (!subPaid)
    { 
        <div class="fixedAd">
            <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1376896373478670";
    /* RDNation SideAd */
    google_ad_slot = "9959849457";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
            </script>
            <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    }
</div>

<script type="text/javascript">
    $("#NewItemAdd").validate({
        rules: {
            ItemName: "required",
            UnitePice: "required",
            Location: "required"
        }
    });

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "advanced",
            skin: "o2k7",
            skin_variant: "silver",
            plugins: "safari,style,layer,table,advhr,advimage,advlink,inlinepopups,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,formatselect,fontsizeselect",
            theme_advanced_buttons2: "link,unlink,anchor,image,cleanup,code,|,preview,|,forecolor,backcolor,|tablecontrols,|,hr,removeformat,visualaid,|,iespell,media,|,ltr,rtl",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
        });
    });

</script>
