@model RDN.Library.Classes.League.ItemInfoDA
@{
    ViewBag.Title = "View Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/inventory/all")">Inventory</a></li>
    <li class="active">Details of Item</li>
</ol>


<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 style="margin-top:5px !important"><i class="fa fa-cube"></i> @Model.ItemName</h3>
                    </div>
                </div>
                <div class="text-muted"> Details of the Item.</div>
            </div>
            <div class="panel-body no-padding-top">
                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Item Serial No</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"><b> @Model.ItemSerialNo</b></label>
                </div>

                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Item Name</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"><b>  @Model.ItemName</b></label>
                </div>

                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Unit Price</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"> <b>@Model.UnitePice</b></label>
                </div>

                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Quantity</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10">  <b>   @Model.Quantity</b></label>
                </div>
                
                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Location</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"><b>@Model.Location</b></label>
                </div>


                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Notes</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"> <b> @Html.Raw(Model.Notes)</b></label>
                </div>

            </div>
        </div>
    </div>
</div>


