@{
    ViewBag.Title = "Hiring Part Time Marketing";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="fixTitle">
            Hiring Part Time Marketing
        </div>
        <div class="divider"></div>
        <h2>
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Pride</h2>
        <div>
            We pride ourselves in helping @RDN.Library.Classes.Config.LibraryConfig.SportName Leagues push the envelope of the sport
            in their region. We build software for @RDN.Library.Classes.Config.LibraryConfig.SportName that helps each and every league
            manage it self better so that they can skate more!</div>
        <br />
        <h2>
            The Job</h2>
        <div>
            The job is simple, help us market @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to each and every league in the world!
            You will be talking to everyone around the world within the sport of @RDN.Library.Classes.Config.LibraryConfig.SportName.
            We will give you a list of all the leagues in the world and all we expect is for
            you to communicate how amazing @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is and answer any follow up questions they
            might have.
        </div>
        <br />
        <div>
            <h2>
                Requirements</h2>
            <ul>
                <li>Must enjoy talking on the phone while being able to convey a message.</li>
                <li>Must be able to email people about any questions or concerns they might have.</li>
                <li>You have an account in @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and are a member of a league currently using our
                    software.</li>
            </ul>
        </div>
        <br />
        <div>
            <h2>
                Hours</h2>
            We don't expect this to be a full time job and also can't pay you a full time salary
            YET! We are a start up company with tight margins and low pay so we can help improve
            the entire @RDN.Library.Classes.Config.LibraryConfig.SportName World. You will be asked to work 20 hours a week, but we
            understand if life gets in the way.
        </div>
        <br />
        <div>
            <h2>
                What If?</h2>
            What if we succeed and you do an amazing job? Well, have you ever thought about
            working in @RDN.Library.Classes.Config.LibraryConfig.SportName full time? We can offer that in the future, so what are
            you waiting for. Contact us and we can start the conversation.
        </div>
        <br />
        <div>
            <h2>
                Pay</h2>
            We will pay you for your abilities, but we would like you to contact us first before
            we say how much.
        </div>
        <br />
        <div>
            <h2>
                Contact Us!</h2>
            Go ahead and email us at <a href="mailto:info@rdnation.com">info@rdnation.com</a>.
        </div>
    </div>
</div>
