@using RDN.Models.Account
@model LostAccountModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Lost Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="page-header col-md-offset-1  col-md-10  col-xs-12 text-center">
    <h2>Lost Password Confirmation</h2>
</div>


<div class="recoverPassContainer col-md-offset-1  col-md-10  col-xs-12  ">

    @if (Model.CanChangePassword == false || !String.IsNullOrEmpty(Model.ConfirmationMessage))
    {
        <h4>  @Html.DisplayTextFor(m => m.ConfirmationMessage)</h4><br />
    }
    else
    {

        using (Html.BeginForm())
        {

            <div>
                <fieldset>
                    <table class="table">
                        <tr>
                            <td class="text-right">
                                @Html.LabelFor(m => m.NewPassword)
                            </td>
                            <td class="text-left">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                <span style="color: red;">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                @Html.LabelFor(m => m.NewPasswordConfirm)
                            </td>
                            <td class="text-left">
                                @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control" })
                                <span style="color: red;">@Html.ValidationMessageFor(m => m.NewPasswordConfirm)</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="suLTD"></td>
                            <td class="suRTD">
                                <input class="btn btn-primary" type="submit" value="Change Password" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h4>     @Html.DisplayTextFor(m => m.ConfirmationMessage)</h4>
                            </td>
                        </tr>
                    </table>
                    @Html.HiddenFor(x => x.VerificationCode)
                   
                </fieldset>
            </div>
        }
    }
</div>
