@using RDN.Models.Account
@model LostAccountModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Lost Password";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="recoverPassContainer">
    <div class="signUpTitle">
        Lost Password Confirmation</div>
    <hr />
    @if (Model.CanChangePassword == false || !String.IsNullOrEmpty(Model.ConfirmationMessage))
    {
        @Html.DisplayTextFor(m => m.ConfirmationMessage)
    }
    else
    {
        <div class="signUpDesc">
            Change Your Password Now</div>
        using (Html.BeginForm())
        {
      
        <div>
            <fieldset>
                <table class="suTable">
                    <tr>
                        <td class="suLTD">
                            @Html.LabelFor(m => m.NewPassword)
                        </td>
                        <td class="suRTD">
                            @Html.PasswordFor(m => m.NewPassword)
                            <span style="color: red;">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="suLTD">
                            @Html.LabelFor(m => m.NewPasswordConfirm)
                        </td>
                        <td class="suRTD">
                            @Html.PasswordFor(m => m.NewPasswordConfirm)
                            <span style="color: red;">@Html.ValidationMessageFor(m => m.NewPasswordConfirm)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="suLTD">
                        </td>
                        <td class="suRTD">
                            <input class="primary" type="submit" value="Change Password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.DisplayTextFor(m => m.ConfirmationMessage)
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.VerificationCode)
                <p>
                </p>
            </fieldset>
        </div>
        }
    }
</div>
