@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Privacy</h2>
</div>
<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#Terms" aria-controls="home" role="tab" data-toggle="tab">Terms Of Service</a></li>
        <li role="presentation" ><a href="#Privacy" aria-controls="home" role="tab" data-toggle="tab">Privacy Policy</a></li>
        <li role="presentation" ><a href="#security" aria-controls="home" role="tab" data-toggle="tab">Security Policy</a></li>
        <li role="presentation" ><a href="#pricing" aria-controls="home" role="tab" data-toggle="tab">Pricing Policy</a></li>
        <li role="presentation" ><a href="#acceptable" aria-controls="home" role="tab" data-toggle="tab">Acceptable Use</a></li>
        <li role="presentation" ><a href="#Leagues" aria-controls="home" role="tab" data-toggle="tab">Leagues Policy</a></li>
    </ul>

    <div class="tab-content">

        <div id="Terms" role="tabpanel" class="tab-pane active">
            <h2>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service</h2>

            <p>Last Modified: October 15th, 2012</p>

            <p>Thank you for using @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName! These terms of service (the &#147;<b>Terms</b>&#148;) govern your access to and use of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName (&#147;<b>we</b>&#148; or &#147;<b>our</b>&#148;) websites and services (the &#147;<b>Services</b>&#148;), so please carefully read them before using the Services.</p>

            <p>
                <b>By using the Services you agree to be bound by these Terms</b>
                . If you are using the Services on behalf of an organization, you are agreeing to these Terms for that organization and promising that you have the authority to bind that organization to these terms. In that case, &#147;you&#148; and &#147;your&#148; will refer to that organization.
            <p>

            <p>You may use the Services only in compliance with these Terms. You may use the Services only if you have the power to form a contract with @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and are not barred under any applicable laws from doing so. The Services may continue to change over time as we refine and add more features. We may stop, suspend, or modify the Services at any time without prior notice to you. We may also remove any content from our Services at our discretion.</p>

            <h2>Your Stuff & Your Privacy</h2>

            <p>By using our Services you provide us with information, files, and folders that you submit to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName (together, “your stuff”).  You retain full ownership to your stuff.  We don’t claim any ownership to any of it.  These Terms do not grant us any rights to your stuff or intellectual property except for the limited rights that are needed to run the Services, as explained below.</p>

            <p>We may need your permission to do things you ask us to do with your stuff, for example, hosting your files, or sharing them at your direction.  This includes product features visible to you, for example, image thumbnails or document previews.  It also includes design choices we make to technically administer our Services, for example, how we redundantly backup data to keep it safe.  You give us the permissions we need to do those things solely to provide the Services.   This permission also extends to trusted third parties we work with to provide the Services, for example Amazon, which provides our storage space (again, only to provide the Services).</p>

            <p>To be clear, aside from the rare exceptions we identify in our Privacy Policy, no matter how the Services change, we won’t share your content with others, including law enforcement, for any purpose unless you direct us to.  How we collect and use your information generally is also explained in our Privacy Policy.</p>

            <p>You are solely responsible for your conduct, the content of your files and folders, and your communications with others while using the Services.  For example, it’s your responsibility to ensure that you have the rights or permission needed to comply with these Terms.</p>

            <p>We may choose to review public content for compliance with our community guidelines, but you acknowledge that @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName has no obligation to monitor any information on the Services.  We are not responsible for the accuracy, completeness, appropriateness, or legality of files, user posts, or any other information you may be able to access using the Services.</p>

            <h2>Sharing Your Stuff</h2>

            <p>The Services provide features that allow you to share your stuff with others or to make it public. There are many things that users may do with that stuff (for example, copy it, modify it, re-share it). Please consider carefully what you choose to share or make public. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName has no responsibility for that activity.</p>

            <h2>Your Responsibilities</h2>

            <p>Files and other content in the Services may be protected by intellectual property rights of others. Please do not copy, upload, download, or share files unless you have the right to do so. You, not @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, will be fully responsible and liable for what you copy, share, upload, download or otherwise use while using the Services. You must not upload spyware or any other malicious software to the Service. </p>

            <p>You, and not @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, are responsible for maintaining and protecting all of your stuff. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will not be liable for any loss or corruption of your stuff, or for any costs or expenses associated with backing up or restoring any of your stuff.</p>

            <h2>Account Security</h2>

            <p>You are responsible for safeguarding the password that you use to access the Services and you agree not to disclose your password to any third party. You are responsible for any activity using your account, whether or not you authorized that activity. You should immediately notify @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName of any unauthorized use of your account. You acknowledge that if you wish to protect your transmission of data or files to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, it is your responsibility to use a secure encrypted connection to communicate with the Services.</p>

            <h2>Software and Updates</h2>

            <p>
                Some use of our Service requires you to download a client software package (&#147;Software&#148;). @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName hereby grants you a limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access
                the Services. Your license to use the Software is automatically revoked if you violate these Terms in a manner that implicates our intellectual property rights. We hereby reserve all rights not expressly granted in these Terms. You must not reverse engineer or decompile the Software, nor attempt to do so, nor assist anyone else to do so. Our Services may update the Software on your device automatically when a new version is available. Our pause syncing feature pauses syncing of your files, but may not cease all data transfer, so you should exit the desktop client if you’d like to stop data transfer.
            </p>

            <h2>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Property and Feedback</h2>

            <p>These terms do not grant you any right, title, or interest in the Services, Software, or the content in the Services. While we appreciate it when users send us feedback, please be aware that we may use any feedback, comments, or suggestions you send us or post in our forums without any obligation to you. The Software and other technology we use to provide the Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. These Terms do not grant you any rights to use the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName trademarks, logos, domain names, or other brand features.</p>

            <h2>Acceptable Use Policy</h2>

            <p>You will not, and will not attempt to, misuse the Services, and will use the Services only in a manner consistent with the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Acceptable Use Policy.</p>


            <h2>Other Content</h2>

            <p>The Services may contain links to third-party websites or resources. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName does not endorse and is not responsible or liable for their availability, accuracy, the related content, products, or services. You are solely responsible for your use of any such websites or resources. Also, if we provide you with any software under an open source license, there may be provisions in those licenses that expressly conflict with these Terms, in which case the open source provisions will apply.</p>

            <h2>Termination</h2>

            <p>Though we’d much rather you stay, you can stop using our Services any time. We reserve the right to suspend or end the Services at any time, with or without cause, and with or without notice. For example, we may suspend or terminate your use if you are not complying with these Terms, or use the Services in any way that would cause us legal liability or disrupt others’ use of the Services. If we suspend or terminate your use, we will try to let you know in advance and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend immediately.</p>

            <h2>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is Available &#147;AS-IS&#148;</h2>

            <p>Though we want to provide a great service, there are certain things about the service we can’t promise. For example, THE SERVICES AND SOFTWARE ARE PROVIDED &#147;AS IS&#148;, AT YOUR OWN RISK, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. (We are not shouting- it’s just that these disclaimers are really important, so we want to highlight them). @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of the Services or Software. Some states do not allow the types of disclaimers in this paragraph, so they may not apply to you. </p>

            <h2>Limitation of Liability</h2>

            <p>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF $20 OR THE AMOUNTS PAID BY YOU TO @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName FOR THE PAST THREE MONTHS OF THE SERVICES IN QUESTION. Some states do not allow the types of limitations in this paragraph, so they may not apply to you.</p>

            <h2>Modifications</h2>

            <p>We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you (for example via email to the email address associated with your account). Other changes may be posted to our blog or terms page, so please check those pages regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Services.</p>

            <h2>Miscellaneous Legal Terms</h2>

            <p>THESE TERMS AND THE USE OF THE SERVICES AND SOFTWARE WILL BE GOVERNED BY WEST VIRGINIA LAW EXCEPT FOR ITS CONFLICTS OF LAWS PRINCIPLES. ALL CLAIMS ARISING OUT OF OR RELATING TO THESE TERMS OR THE SERVICES OR SOFTWARE MUST BE LITIGATED EXCLUSIVELY IN THE FEDERAL OR STATE COURTS OF SAN FRANCISCO COUNTY, CALIFORNIA, AND BOTH PARTIES CONSENT TO VENUE AND PERSONAL JURISDICTION THERE. These Terms constitute the entire and exclusive agreement between you and @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName with respect to the Services, and supersede and replace any other agreements, terms and conditions applicable to the Services. These Terms create no third party beneficiary rights. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName’s failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable the remaining provisions of the Agreement will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights in these Terms, and any such attempt is void, but @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and you are not legal partners or agents; instead, our relationship is that of independent contractors.</p>

        </div>
        <div id="Leagues" role="tabpanel" class="tab-pane">
            <div id="Leagues-policy">
                <style type="text/css">
                    p.p2 { margin: 0.0px 0.0px 0.0px 0.0px; }
                    li.li3 { margin: 0.0px 0.0px 0.0px 0.0px; }
                    span.s1 { text-decoration: underline; color: #0000ee; }
                    ol.ol1 { list-style-type: decimal; }
                    ol.ol2 { list-style-type: lower-alpha; }
                    ol.ol3 { list-style-type: lower-roman; }
                </style>
                <h2>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName Agreement</h2>
                <p class="p1">Last Modified: October 15, 2012</p>
                <p class="p1">This @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName Agreement (the "<b>Agreement</b>") is between @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, Inc., a West Virginia corporation ("<b>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName</b>") and Customer or End User, as applicable. This Agreement governs access to and use of the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName services and any client software (the "<b>Services</b>" or "<b>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName</b>" or "<b>@RDN.Library.Classes.Config.LibraryConfig.TeamsName</b>").</p>
                <p class="p1"><b>The Customer ordering the Services</b>: If you are ordering the Services, then by clicking "I Agree," signing your contract for the Services or using @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName, you agree to this Agreement as a "<b>Customer</b>." If you are agreeing to this Agreement for use by an organization, you are agreeing to this Agreement on behalf of that organization. You must have the authority to bind that organization to this Agreement, otherwise you must not sign up for the Services.</p>
                <p class="p1"><b>End Users of the @RDN.Library.Classes.Config.LibraryConfig.TeamName</b>: If you are using the Services as an "<b>End User</b>", then by clicking "I Agree" or using @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName you agree to this Agreement (especially note sections 1 and 13) and the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service at <a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/privacy"><span class="s1">@RDN.Library.Classes.Config.LibraryConfig.PublicSite/privacy</span></a>. To the extent this Agreement conflicts with the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service, this Agreement controls. Please take note that in this Agreement, you are agreeing that your @RDN.Library.Classes.Config.LibraryConfig.TeamsName Administrator may be able to control account information and access to your @RDN.Library.Classes.Config.LibraryConfig.TeamsName account.</p>
                <p class="p2">
                    <br>
                </p>
                <ol class="ol1">
                    <li class="li3"><b>End Users.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Accounts.</b> When joining a @RDN.Library.Classes.Config.LibraryConfig.TeamsName account, an End User may join with a new account or convert an existing personal account into a @RDN.Library.Classes.Config.LibraryConfig.TeamsName account. It's important to note that once an End User's personal account becomes a @RDN.Library.Classes.Config.LibraryConfig.TeamsName account, it will be subject to the @RDN.Library.Classes.Config.LibraryConfig.TeamsName Administrator's control. End Users must use the Services in compliance with any employment obligations and the Customer's terms and policies.</li>
                        <li class="li3"><b>Administrator Control.</b> An End User's @RDN.Library.Classes.Config.LibraryConfig.TeamsName Administrator may have the ability to access, disclose, restrict, or remove information in or from an End User's @RDN.Library.Classes.Config.LibraryConfig.TeamsName account. Administrators may also have the ability to monitor, restrict, or terminate access to an End User's @RDN.Library.Classes.Config.LibraryConfig.TeamsName account. An End User may not be able to disassociate his or her @RDN.Library.Classes.Config.LibraryConfig.TeamsName account from the @RDN.Library.Classes.Config.LibraryConfig.TeamName.</li>
                    </ol>
                    <li class="li3"><b>Customer Obligations.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Compliance.</b> Customer will use the Services in compliance with the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service including the Acceptable Use Policy. Customer will obtain and maintain any consents from End Users to allow Administrators to engage in the activities described in this Agreement and to allow @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to provide the Services. Customer represents, and must ensure, that its End Users are governed by this Agreement, the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service, and consent to the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Privacy Policy.</li>
                        <li class="li3"><b>Customer Administration of the Services.</b> Customer may specify End Users as "<b>Administrators</b>" through the administrative console. Customer is responsible for: (i) maintaining the confidentiality of passwords and Administrator accounts; (ii) managing access to Administrator accounts; and (iii) ensuring that Administrator use of the Services complies with this Agreement. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's responsibilities do not extend to the internal management or administration of the Services for Customer.</li>
                        <li class="li3"><b>Unauthorized Use &amp; Access.</b> Customer will prevent unauthorized use of the Services by its End Users and terminate any unauthorized use of the Services. The Services are not intended for use by End Users under the age of 13. Customer will ensure that it does not allow any person under 13 to use the Services. Customer will promptly notify @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName of any unauthorized use of, or access to, the Services.</li>
                        <li class="li3"><b>Restricted Uses.</b> Customer will not (i) sell, resell, or lease the Services or (ii) use the Services for activities where use or failure of the Services could lead to physical damage, death, or personal injury. Customer, not @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, is responsible for any applicable vertical or industry-specific regulation compliance (e.g. HIPAA).</li>
                        <li class="li3"><b>Third Party Requests.</b></li>
                        <ol class="ol3">
                            <li class="li3">"<b>Third Party Request</b>" means a request from a third party for records relating to an End User's use of the Services including information in or from an End User or Customer @RDN.Library.Classes.Config.LibraryConfig.TeamsName account. Third Party Requests may include valid search warrants, court orders, or subpoenas, or any other request for which there is written consent from End Users permitting a disclosure.</li>
                            <li class="li3">Customer is responsible for responding to Third Party Requests via its own access to information. Customer will seek to obtain information required to respond to Third Party Requests and will contact @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName only if it cannot obtain such information despite diligent efforts.</li>
                            <li class="li3">@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will make commercially reasonable efforts, to the extent allowed bylaw and by the terms of the Third Party Request, to: (A) promptly notify Customer of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's receipt of a Third Party Request; (B) comply with Customer's commercially reasonable requests regarding its efforts to oppose a Third Party Request; and (C) provide Customer with information or tools required for Customer to respond to the Third Party Request (if Customer is otherwise unable to obtain the information). If Customer fails to promptly respond to any Third Party Request, then @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may, but will not be obligated to do so.</li>
                        </ol>
                        <li class="li3"><b>Communication Setting Management.</b> Customer is responsible for maintaining all "opt-in/out" settings for communications from or via @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for all of Customer's End Users. Customer will use reasonable efforts to answer any requests from End Users regarding such settings.</li>
                    </ol>
                    <li class="li3"><b>Services.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Provision of Services.</b> Customer may access and use the Services made available by @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName under this Agreement.</li>
                        <li class="li3"><b>Facilities and Data Transfer.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will use commercially reasonable efforts to ensure that all facilities used to store and process Customer Data meet commercially reasonable security standards. By using the Services, Customer consents to transfer, processing, and storage of Customer Data. "<b>Customer Data</b>" means any data and content stored or transmitted via the Services by Customer or End Users.</li>
                        <li class="li3"><b>Modifications to the Services.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may update the Services from time to time. If @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName changes the Services in a manner that materially reduces their functionality, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will inform Customer, unless Customer has opted-out of communications of that type from @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.</li>
                        <li class="li3"><b>Limitations on Use of Services.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may impose reasonable limitations on bandwidth usage for the Services.</li>
                    </ol>
                    <li class="li3"><b>Support.</b> Customer will, at its own expense, respond to questions and complaints from End Users or third parties relating to use of the Services. Customer will use reasonable efforts to resolve support issues before escalating them to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.</li>
                    <li class="li3"><b>Suspension.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Of End User Accounts by @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.</b> If an End User (i) violates this Agreement or the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service; (ii) uses the Services in a manner resulting in excessive support requests; or (iii) uses the Services in a manner that @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName reasonably believes will cause it liability, then @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may request that Customer suspend or terminate the applicable End User account. If Customer fails to promptly suspend or terminate the End User account, then @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may do so.</li>
                        <li class="li3"><b>Security Emergencies.</b> Notwithstanding anything in this Agreement, if there is a Security Emergency then @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may automatically suspend use of the Services. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will make commercially reasonable efforts to narrowly tailor the suspension as needed to prevent or terminate the Security Emergency. "<b>Security Emergency</b>" means: (i) use of the Services that do or could disrupt the Services, other customers' use of the Services, or the infrastructure used to provide the Services and (ii) unauthorized third party access to the Services.</li>
                    </ol>
                    <li class="li3"><b>Intellectual Property Rights.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Reservation of Rights.</b> THIS AGREEMENT DOES NOT GRANT @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName ANY RIGHTS TO CUSTOMER'S OR END USERS' FILES OR THE INTELLECTUAL PROPERTY RIGHTS EMBODIED IN THOSE FILES EXCEPT FOR THE LIMITED RIGHTS EXPRESSLY SET FORTH IN THIS AGREEMENT THAT ARE NEEDED TO RUN THE SERVICES. This Agreement does not grant Customer or End Users (i) any rights to the Intellectual Property Rights in the Services or (ii) any rights to use the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName trademarks, logos, domain names, or other brand features. "<b>Intellectual Property Rights</b>" means current and future worldwide rights under patent, copyright, trade secret, trademark, moral rights, and other similar rights.</li>
                        <li class="li3"><b>Limited Permission.</b>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may need Customer permission to do things that Customer or End User ask @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to do with @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName accounts, for example, hosting files, or sharing them at Customer or End User's direction. This includes product features visible to Customer or End User, for example, image thumbnails or document previews. It also includes design choices made to technically administer the Services, for example, how the Service redundantly backs up data to keep it safe. Customer grants @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName the permissions @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName needs to do those things solely to provide the Services and for @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to meet its obligations and exercise its rights under this Agreement. This permission also extends to third parties @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName works with to provide the Services, for example Amazon, which provides @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's storage space (again, only to provide the Services).</li>
                        <li class="li3"><b>Suggestions.</b> While we appreciate it when users send us feedback, we may, at our discretion and for any purpose, use, modify, and incorporate into our products and services, license and sublicense, any feedback, comments, or suggestions Customer or End Users send @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName or post in @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's forums without any obligation to Customer or End Users.</li>
                        <li class="li3"><b>Customer List.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may include Customer's name in a list of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName customers on the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName website.</li>
                    </ol>
                    <li class="li3"><b>Third Party Services.</b> If Customer uses any third-party service with the Services, (a) the service may access or use Customer's or End User's information; (b) @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will not be responsible for any act or omission of the third party, including the third party's use of Customer's or End User's information; and (c) @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName does not warrant or support any service provided by the third party.</li>
                    <li class="li3"><b>Disclaimers.</b> THE SERVICES ARE PROVIDED "AS IS." TO THE FULLEST EXTENT PERMITTED BY LAW, EXCEPT AS EXPRESSLY STATED IN THIS AGREEMENT, NEITHER @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName NOR CUSTOMER MAKES ANY WARRANTY OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE, OR NONINFRINGEMENT. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName MAKES NO REPRESENTATIONS ABOUT ANY CONTENT OR INFORMATION IN OR FROM AN END USER OR CUSTOMER SERVICES ACCOUNT. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is not responsible for the accuracy, completeness, appropriateness, or legality of files, user posts, or any other information in or from an End User or Customer Services account. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName has no responsibility or liability for the deletion or failure to store any information in or from an End User or Customer Services account.</li>
                    <li class="li3"><b>Fees &amp; Payment.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Fees.</b> Customer will pay, and authorizes @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to charge using Customer's selected payment method, for all applicable fees. Fees are non-refundable except for the first 30 days of the Services or as required by law. Customer is responsible for providing complete and accurate billing and contact information to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may suspend or terminate the Services if fees are 30 days past due.</li>
                        <li class="li3"><b>Auto Renewals and Trials.</b> IF CUSTOMER'S ACCOUNT IS SET TO AUTO RENEWAL, OR IS IN A TRIAL PERIOD, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName MAY AUTOMATICALLY CHARGE AT THE END OF THE TRIAL, OR FOR THE RENEWAL, UNLESS CUSTOMER NOTIFIES @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName THAT CUSTOMER WANTS TO CANCEL OR DISABLE AUTO RENEWAL. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may revise Service rates by providing Customer at least 30 days notice prior to the next charge.</li>
                        <li class="li3"><b>Taxes.</b> Customer is responsible for all taxes. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will charge tax when required to do so. If Customer is required by law to withhold any taxes, Customer must provide @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName with an official tax receipt or other appropriate documentation.</li>
                    </ol>
                    <li class="li3"><b>Term &amp; Termination.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Term.</b> This Agreement will remain in effect until Customer's subscription to the Services expires or terminates, or until the Agreement is terminated.</li>
                        <li class="li3"><b>Termination for Breach.</b> Either @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName or Customer may suspend performance or terminate this Agreement if: (i) the other party is in material breach of the Agreement and fails to cure that breach within 30 days after receipt of written notice or (ii) the other party ceases its business operations or becomes subject to insolvency proceedings and the proceedings are not dismissed within 90 days.</li>
                        <li class="li3"><b>Termination at Will.</b> Customer may terminate this Agreement at any time by disabling Customer's Services account via the Services administrative console.</li>
                        <li class="li3"><b>End User Termination.</b> End Users may stop using the Services at any time. If an End User's @RDN.Library.Classes.Config.LibraryConfig.TeamsName account is converted into a personal account, this Agreement will terminate for that account with respect to the End User except that the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service will continue to apply.</li>
                        <li class="li3"><b>Effects of Termination.</b> If this Agreement terminates: (i) the rights granted by @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to Customer will cease immediately (except as set forth in this section); (ii) the rights granted by @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to End User will cease immediately; (iii) @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may provide Customer access to its account at then-current rates so that Customer may export its information; and (iv) after a commercially reasonable period of time, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may delete any data relating to Customer's account. The following sections will survive expiration or termination of this Agreement: 1(c) (Administrator Control), 2(e) Third Party Requests, 6 (Intellectual Property Rights), 8 (Disclaimers), 9 (Fees &amp; Payment), 10(d) (End User Termination), 10(e) (Effects of Termination), 11 (Indemnification), 12 (Limitation of Liability), and 13 (Miscellaneous).</li>
                    </ol>
                    <li class="li3"><b>Indemnification.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>By Customer.</b> Customer will indemnify, defend, and hold harmless @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName from and against all liabilities, damages, and costs (including settlement costs and reasonable attorneys' fees) arising out of a third party claim regarding: (i) Customer Data; (ii) Customer's use of the Services in violation of this Agreement or Acceptable Use Policy; or (iii) use of the Services by Customer's End Users.</li>
                        <li class="li3"><b>By @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will indemnify, defend, and hold harmless Customer from and against all liabilities, damages, and costs (including settlement costs and reasonable attorneys' fees) arising out of a claim by a third party against Customer to the extent based on an allegation that @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's technology used to provide the Services to the Customer infringes or misappropriates any copyright, trade secret, U.S. patent, or trademark right of the third party. In no event will @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName have any obligations or liability under this section arising from: (i) use of any Services in a modified form or in combination with materials not furnished by @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, and (ii) any content, information, or data provided by Customer, End Users or other third parties.</li>
                        <li class="li3"><b>Possible Infringement.</b> If @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName believes the Services infringe or may be alleged to infringe a third party's Intellectual Property Rights, then @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may: (i) obtain the right for Customer, at @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's expense, to continue using the Services; (ii) provide a non-infringing functionally equivalent replacement; or (iii) modify the Services so that they no longer infringe. If @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName does not believe the options described in this section are commercially reasonable then @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may suspend or terminate Customer's use of the impacted Services (with a pro- rata refund of pre-paid fees for the Services).</li>
                        <li class="li3"><b>General.</b> The party seeking indemnification will promptly notify the other party of the claim and cooperate with the other party in defending the claim. The indemnifying party has full control and authority over the defense, except that: (i) any settlement requiring the party seeking indemnification to admit liability requires prior written consent, not to be unreasonably withheld or delayed and (ii) the other party may join in the defense with its own counsel at its own expense. THE INDEMNITIES ABOVE ARE @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName AND CUSTOMER'S ONLY REMEDY UNDER THIS AGREEMENT FOR VIOLATION BY THE OTHER PARTY OF A THIRD PARTY'S INTELLECTUAL PROPERTY RIGHTS.</li>
                    </ol>
                    <li class="li3"><b>Limitation of Liability.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Limitation on Indirect Liability.</b> EXCEPT FOR @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName OR CUSTOMER'S INDEMNIFICATION OBLIGATIONS, NEITHER @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName NOR CUSTOMER WILL BE LIABLE FOR LOST REVENUES OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES, EVEN IF THE PARTY KNEW OR SHOULD HAVE KNOWN THAT SUCH DAMAGES WERE POSSIBLE AND EVEN IF DIRECT DAMAGES DO NOT SATISFY A REMEDY.</li>
                        <li class="li3"><b>Limitation on Amount of Liability.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName'S AGGREGATE LIABILITY UNDER THIS AGREEMENT WILL NOT EXCEED THE LESSER OF $100,000 OR THE AMOUNT PAID BY CUSTOMER TO @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName HEREUNDER DURING THE TWELVE MONTHS PRIOR TO THE EVENT GIVING RISE TO LIABILITY.</li>
                    </ol>
                    <li class="li3"><b>Miscellaneous.</b></li>
                    <ol class="ol2">
                        <li class="li3"><b>Terms Modification.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may revise this Agreement from time to time and the most current version will always be posted on the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName website. If a revision, in @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's sole discretion, is material, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will notify you (for example to the email address associated with the applicable account). Other revisions may be posted to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's blog or terms page, and you are responsible for checking such postings regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Agreement. If Customer does not agree to the revised Agreement terms, Customer may cancel the Services. If the revision is material and Customer cancels before the effective date of the revision, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will refund a pro-rated amount of any fees Customer paid in advance for the Services for the unused portion of the term. If End User does not agree to the revised Agreement terms, End User must stop using the @RDN.Library.Classes.Config.LibraryConfig.TeamsName account. Customer may grant approvals, permissions, extensions and consents by email.</li>
                        <li class="li3"><b>Entire Agreement.</b> The Agreement, including Customer's invoice, the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service constitute the entire agreement between you and @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName with respect to its subject matter of this Agreement, and supersedes and replaces any prior or contemporaneous understandings and agreements, whether written or oral, with respect to the subject matter of this Agreement. If there is a conflict between the documents that make up this Agreement, the documents will control in the following order: the invoice, the Agreement, the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service,</li>
                        <li class="li3"><b>Governing Law. </b>THE AGREEMENT AND SERVICES WILL BE GOVERNED BY CALIFORNIA LAW EXCEPT FOR ITS CONFLICTS OF LAWS PRINCIPLES. ALL CLAIMS ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE SERVICES MUST BE LITIGATED EXCLUSIVELY IN THE FEDERAL OR STATE COURTS OF SAN FRANCISCO COUNTY, CALIFORNIA, AND THE PARTIES CONSENT TO VENUE AND PERSONAL JURISDICTION THERE.</li>
                        <li class="li3"><b>Severability.</b> Unenforceable provisions will be modified to reflect the parties' intention and only to the extent necessary to make them enforceable, and remaining provisions of the Agreement will remain in full effect.</li>
                        <li class="li3"><b>Notice.</b> Notices must be sent via first class, airmail, or overnight courier and are deemed given when received. Notices to you may also be sent to the applicable account email address, and are deemed given when sent. Notices to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName must be sent to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName, Inc., 185 Berry St, Suite 400, San Francisco, CA 94107, with a copy to the Legal Department.</li>
                        <li class="li3"><b>Waiver.</b> A waiver of any default is not a waiver of any subsequent default.</li>
                        <li class="li3"><b>Assignment.</b> Customer may not assign or transfer any part of this Agreement without the written consent of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may not assign this Agreement without providing notice to Customer, except @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may assign this Agreement to an affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all or substantially all of its assets without providing notice. Any other attempt to transfer or assign is void.</li>
                        <li class="li3"><b>No Agency.</b> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and Customer are not legal partners or agents, but are independent contractors.</li>
                        <li class="li3"><b>Force Majeure.</b> Neither @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName nor Customer will be liable for inadequate performance to the extent caused by a condition that was beyond the party's reasonable control (for example, natural disaster, act of war or terrorism, riot, labor condition, governmental action, and Internet disturbance).</li>
                        <li class="li3"><b>No Third-Party Beneficiaries.</b> There are no third-party beneficiaries to this Agreement. Without limiting this section, a Customer's End Users are not third party beneficiaries to Customer's rights under this Agreement.</li>
                        <li class="li3"><b>Export Restrictions.</b> The export and re-export of data via the Services may be controlled by the United States Export Administration Regulations. The Services may not be used in Cuba; Iran; North Korea; Sudan; or Syria or any country that is subject to an embargo by the United States and Customer must ensure that Administrators and End Users do not use the Services in violation of any export restriction or embargo by the United States. In addition, Customer must ensure that the Services are not provided to persons on the Table of Denial Orders, the Entity List, or the List of Specially Designated Nationals.</li>
                    </ol>
                </ol>
            </div>
        </div>
        <div id="Privacy" role="tabpanel" class="tab-pane">
            <div id="privacy-policy">
                <h2>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Privacy Policy</h2>

                <p>Last Modified: October 15, 2012</p>

                <p>This Privacy Policy provides our policies and procedures for collecting, using, and disclosing your information. Users can access the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName service (the “<b>Service</b>”) through our website @RDN.Library.Classes.Config.LibraryConfig.MainDomain, applications on Devices, through APIs, and through third-parties.  A “<b>Device</b>” is any computer used to access the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Service, including without limitation a desktop, laptop, mobile phone, tablet, or other consumer electronic device.  This Privacy Policy governs your access of the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Service, regardless of how you access it, and by using our Services you consent to the collection, transfer, processing, storage, disclosure and other uses described in this Privacy Policy.  All of the different forms of data, content, and information described below are collectively referred to as “information.”</p>

                <h2>1. The Information We Collect And Store</h2>
                <p>We may collect and store the following information when running the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Service:</p>

                <p><span class='b'>Information You Provide.</span> &nbsp; When you register an account, we collect some personal information, such as your name, phone number, credit card or other billing information, email address and home, business postal addresses, insurance numbers, emergency contacts. When you invite others to join @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName by using our referral page, we send them a one-time email for that referral.  We may also receive Personal Information (for example, your email address) through other users, for example if they have tried to share something with you or tried to refer @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to you.</p>

                <p><span class='b'>Files.</span> &nbsp; We collect and store the files you upload, download, or access with the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Service (“<b>Files</b>”).  If you add a file to your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName that has been previously uploaded by you or another user, we may associate all or a portion of the previous file with your account rather than storing a duplicate.</p>

                <p><span class='b'>Log Data.</span> &nbsp;  When you use the Service, we automatically record information from your Device, its software, and your activity using the Services. This may include the Device’s Internet Protocol (“IP”) address, browser type, the web page visited before you came to our website, information you search for on our website, locale preferences, identification numbers associated with your Devices, your mobile carrier, date and time stamps associated with transactions, system configuration information, metadata concerning your Files, and other interactions with the Service.</p>

                <p><span class='b'>Cookies.</span> &nbsp; We also use “cookies” to collect information and improve our Services. A cookie is a small data file that we transfer to your Device. We may use “persistent cookies” to save your registration ID and login password for future logins to the Service. We may use “session ID cookies” to enable certain features of the Service, to better understand how you interact with the Service and to monitor aggregate usage and web traffic routing on the Service. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all aspects of the Service. </p>

                <h2>2. How We Use Personal Information</h2>
                <p><span class='b'>Personal Information.</span> &nbsp; In the course of using the Service, we may collect personal information that can be used to contact or identify you (“<b>Personal Information</b>”). Personal Information is or may be used: (i) to provide and improve our Service, (ii) to administer your use of the Service, (iii) to better understand your needs and interests, (iv) to personalize and improve your experience, and (v) to provide or offer software updates and product announcements.</p>

                <p><span class='b'>Geo-Location Information.</span> &nbsp; Some Devices allow applications to access real-time location-based information (for example, GPS).  Our mobile apps do not collect such information from your mobile device at any time while you download or use our mobile apps as of the date this policy went into effect, but may do so in the future with your consent to improve our Services.  Some photos and videos you place in @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may contain recorded location information.  We may use this information to optimize your experience.  If you do not wish to share files embedded with your geo-location information with us, please do not upload them.  If you don’t want to store location data in your photos or videos, please consult the documentation for your camera to turn off that feature.  Also, some of the information we collect from a Device, for example IP address, can sometimes be used to approximate a Device’s location.</p>

                <p><span class='b'>Analytics.</span> &nbsp; We also collect some information (ourselves or using third party services) using logging and cookies, such as IP address, which can sometimes be correlated with Personal Information.  We use this information for the above purposes and to monitor and analyze use of the Service, for the Service’s technical administration, to increase our Service’s functionality and user-friendliness, and to verify users have the authorization needed for the Service to process their requests.  As of the date this policy went into effect, we use Google Analytics.   To learn more about the privacy policy of Google Analytics, click <a href='http://www.google.com/intl/en/policies/'>here</a>, and to learn how to opt out of that service click <a href='http://tools.google.com/dlpage/gaoptout?hl=en'>here</a>.</p>

                <h2>3. Information Sharing and Disclosure</h2>
                <p><span class='b'>Your Use.</span> &nbsp; We will display your Personal Information in your profile page and elsewhere on the Service according to the preferences you set in your account. Any information you choose to provide should reflect how much you want others to know about you. Please consider carefully what information you disclose in your profile page and your desired level of anonymity. You can review and revise your profile information at any time.  We do not sell your personal information to third parties.  We may also share or disclose your information with your consent, for example if you use a third party application to access your account (see below).  Through certain features of the Service, you may also have the ability to make some of your information public.  Public information may be broadly and quickly disseminated.</p>

                <p>
                    <span class='b'>Service Providers, Business Partners and Others.</span>
                    &nbsp; We may use certain trusted third party companies and individuals to help us provide, analyze, and improve the Service (including but not limited to data storage, maintenance services, database management, web analytics, payment processing, and improvement of the Service’s features). These third parties may have access to your information only for purposes of performing these tasks on our behalf and under obligations similar to those in this Privacy Policy.  </a>
                    .

                <p><span class='b'>Third-Party Applications.</span> &nbsp; We may share your information with a third party application with your consent, for example when you choose to access our Services through such an application.  We are not responsible for what those parties do with your information, so you should make sure you trust the application and that it has a privacy policy acceptable to you.</p>

                <p><span class='b'>Compliance with Laws and Law Enforcement Requests; Protection of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's Rights.</span> &nbsp; We may disclose to parties outside @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName files stored in your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and information about you that we collect when we have a good faith belief that disclosure is reasonably necessary to (a) comply with a law, regulation or compulsory legal request; (b) protect the safety of any person from death or serious bodily injury; (c) prevent fraud or abuse of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName or its users; or (d) to protect @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName’s property rights. If we provide your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName files to a law enforcement agency as set forth above, we will remove @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName’s encryption from the files before providing them to law enforcement. However, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will not be able to decrypt any files that you encrypted prior to storing them on @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.</p>

                <p><span class='b'>Business Transfers.</span> &nbsp; If we are involved in a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred as part of that transaction, but we will notify you (for example, via email and/or a prominent notice on our website) of any change in control or use of your Personal Information or Files, or if either become subject to a different Privacy Policy.  We will also notify you of choices you may have regarding the information.</p>

                <p><span class='b'>Non-private or Non-Personal Information.</span> &nbsp; We may disclose your non-private, aggregated, or otherwise non-personal information, such as usage statistics of our Service. </p>

                <h2>4. Changing or Deleting Your Information</h2>
                <p>If you are a registered user, you may review, update, correct or delete the Personal Information provided in your registration or account profile by changing your “account settings.” If your personally identifiable information changes, or if you no longer desire our service, you may update or delete it by making the change on your account settings.  In some cases we may retain copies of your information if required by law.  For questions about your Personal Information on our Service, please contact @RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail.  We will respond to your inquiry within 30 days.</p>

                <h2>5. Data Retention</h2>
                <p>We will retain your information for as long as your account is active or as needed to provide you services.  We may retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.  Consistent with these requirements, we will try to delete your information quickly upon request.  Please note, however, that there might be latency in deleting information from our servers and backed-up versions might exist after deletion.</p>


                <h2>6. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName Users</h2>
                <p>
                    If you have a @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName for @RDN.Library.Classes.Config.LibraryConfig.TeamsName account, your Administrator may be able to:
                    <ul>
                        <li>access information in and about your @RDN.Library.Classes.Config.LibraryConfig.TeamsName account;</li>
                        <li>disclose, restrict, or access information that you have provided or that is made available to you when using the @RDN.Library.Classes.Config.LibraryConfig.TeamsName account; and</li>
                        <li>control how your @RDN.Library.Classes.Config.LibraryConfig.TeamsName account may be accessed or deleted.</li>
                    </ul>
                    Please refer to your @RDN.Library.Classes.Config.LibraryConfig.TeamName's policies if you have questions about your Administrator's rights.
                </p>

                <h2>7. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Community</h2>
                <p>Our Service offers publicly accessible community services such as blogs, forums, and wikis. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them.  Your posts may remain even after you cancel your account.  For questions about your Personal Information on our Service, please contact <a href='mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail'>@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a>.</p>

                <p>Our Site includes links to other Web sites whose privacy practices may differ from those of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName. If you submit personal information to any of those sites, your information is governed by their privacy statements.  We encourage you to carefully read the privacy statement of any Web site you visit.</p>

                <h2>8. Security</h2>
                <p>The security of your information is important to us.  When you enter sensitive information (such as a credit card number) on our order forms, we encrypt the transmission of that information using secure socket layer technology (SSL). </p>

                <p>We follow generally accepted standards to protect the information submitted to us, both during transmission and once we receive it.  No method of electronic transmission or storage is 100% secure, however.  Therefore, we cannot guarantee its absolute security. If you have any questions about security on our website, you can view our Security Overview Page or contact us at <a href='mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail'>@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a>.</p>

                <h2>9. Our Policy Toward Children</h2>
                <p>Our Services are not directed to persons under 13. We do not knowingly collect personally identifiable information from children under 13. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, he or she should contact us at <a href='mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail'>@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a>. If we become aware that a child under 13 has provided us with Personal Information, we will take steps to delete such information from our files.</p>

                <h2>10. Contacting Us</h2>
                <p>If you have any questions about this Privacy Policy, please contact us at <a href='mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail'>@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a>.</p>

                <h2>11. Changes to our Privacy Policy</h2>
                <p>This Privacy Policy may change from time to time.  If we make a change to this privacy policy that we believe materially reduces your rights, we will provide you with notice (for example, by email).  And we may provide notice of changes in other circumstances as well.  By continuing to use the Service after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>

            </div>
        </div>
        <div id="pricing" role="tabpanel" class="tab-pane">
            <div id="pricing-terms">
                <h2>Pricing Terms and Conditions</h2>

                <h4>Premium Accounts</h4>
                <p>
                    @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName accepts credit cards and will automatically charge your credit card monthly or yearly, depending upon which Premium Account you select. If any fee is not paid in a timely manner, or @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is unable to process your transaction using the credit card information provided, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName reserves the right to revoke access to your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName account and Files. If you do not bring your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName balance current within five (5) days after @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName provides you with notification that your account is in arrears, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName reserves the right to use our discretion to delete some or all of Your Files.
                </p>

                <h4>Billing</h4>
                <p>
                    The fees for your Premium Account will be billed from the date you elect, or convert to,  a Premium Account and on each monthly or yearly renewal thereafter unless and until you cancel your account. Click on the link on your "Account" page to see the commencement date for your next renewal period. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will automatically bill your credit card each month or year on the calendar day corresponding to the commencement of your Premium Account. In the event your Premium Account began on a day not contained in a given month or year, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will bill your credit card on the last day of such month or year. For example, if your Premium Account began on January 31st, February 28th is the next time your credit card would be billed. You acknowledge that the amount billed each month or year may vary for reasons that include, differing amounts due to promotional offers, differing amounts due to changes in your account, or changes in the amount of applicable sales tax, and you authorize us to charge your credit card for such varying amounts. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may also periodically authorize your credit card in anticipation of account or related charges. All fees and charges are nonrefundable and there are no refunds or credits for partially used periods.
                </p>

                <p>
                    @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may change the fees and charges in effect, or add new fees and charges from time to time, but we will give you advance notice of these changes by email. If you want to use a different credit card or if there is a change in your credit card validity or expiration date, you may edit your information by accessing your "Account" page. If your credit card reaches its expiration date, your continued use of the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName constitutes your authorization for us to continue billing that credit card and you remain responsible for any uncollected amounts. It is your responsibility to keep your contact information and payment information current and updated.
                </p>

                <h4>Cancelling Your Account</h4>
                <p>
                    Your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Premium Account will continue in effect unless and until you cancel your Premium Account or we terminate it. You must cancel your Premium Account before it renews each month or year in order to avoid billing of the next month's or year's fees to your credit card. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will bill the monthly or yearly fees associated with your Premium Account plus any applicable tax to the credit card you provide to us during registration (or to a different credit card if you change your account information).
                </p>
                <p>
                   @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Premium Accounts are prepaid and are non-refundable. @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName DOES NOT PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL MONTHS OR YEARS. You may cancel your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Premium Account at anytime, and cancellation will be effective immediately. If you wish to cancel your Premium Account you may do so via your "Account" page. Should you elect to cancel your Premium Account, please note that you will not be issued a refund for the most recently (or any previously) charged monthly fees.
                </p>

                <p>
                    By signing up for a @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Premium Account and providing @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName with your payment account information, you hereby agree to these payment terms and conditions.
                </p>

                <h4>Free Accounts</h4>
                <p>
                    @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName reserves the right to terminate Free Accounts at any time, with or without notice.  Without limiting the generality of the foregoing, if a Free Account is inactive for ninety (90) days, then @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName may delete any or all of Your Files without providing additional notice.
                </p>
                <p>
                    For further information regarding your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Premium or Free Account, please see the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Terms of Service.
                </p>
            </div>
        </div>
        <div id="security" role="tabpanel" class="tab-pane">
            <div id="security-overview">
                <h2>Security Overview</h2>
                <p>We provide this overview so that you can better understand the security measures we’ve put in place to protect the information that you store using @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.</p>

                <h2>Secure Storage</h2>
                <p>We encrypt the files that you store on @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName using the AES-256 standard, which is the same encryption standard used by banks to secure customer data. Encryption for storage is applied after files are uploaded, and we manage the encryption keys.</p>
                <p>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName also employs significant protection against network security issues such as Distributed Denial of Service (DDoS) attacks, Man in the Middle (MITM) attacks, and packet sniffing.</p>

                <h2>Secure Transfers</h2>
                <p>Your files are sent between @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's desktop clients and our servers over a secure channel using 256-bit SSL (Secure Sockets Layer) encryption, the standard for secure Internet network connections.</p>
                <p>Your files are sent between @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's mobile apps and our servers over a secure channel using 256-bit SSL encryption where supported.  Not all mobile media players support encrypted streaming, so media files streamed from our servers are not always encrypted.</p>

                <h2>Your Data is Backed Up</h2>
                <p>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName keeps redundant backups of all data over multiple locations to prevent the remote possibility of data loss. In the unlikely event that this redundancy were to fail, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName folders linked to a desktop computer client will still contain copies of your files.</p>

                <h2>Privacy</h2>
                <p>A copy of our full privacy policy can be found at: <a href="/privacy">@RDN.Library.Classes.Config.LibraryConfig.PublicSite/privacy</a>.</p>
                <p>We guard your privacy to the best of our ability and work hard to protect your information from unauthorized access.</p>
                <p>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName employees are prohibited from viewing the content of files you store in your @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName account, and are only permitted to view file metadata (e.g., file names and locations). Like most online services, we have a small number of employees who must be able to access user data for the reasons stated in our privacy policy (e.g., when legally required to do so). But that’s the rare exception, not the rule. We have strict policy and technical access controls that prohibit employee access except in these rare circumstances. In addition, we employ a number of physical and electronic security measures to protect user information from unauthorized access.</p>

                <h2>Third-party Apps</h2>
                <p>If you choose to access @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName using third-party applications (“apps”), be aware that those apps utilize their own security protocols and have their own privacy policies.  If you’re not comfortable with the privacy and security features of those apps, you shouldn’t use them to access @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName. For example, third-party apps might not employ encryption when transmitting data, might collect information that @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName does not, and might use information differently than @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName does.</p>

                <h2>Compliance with Laws and Law Enforcement</h2>
                <p>As set forth in our privacy policy, and in compliance with United States law, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName cooperates with United States law enforcement when it receives valid legal process, which may require @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName to provide the contents of your private account. In these cases, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName will remove @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName’s encryption from the files before providing them to law enforcement.</p>

                <h2>How to Add Your Own Layer of Encryption to @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName</h2>
                <p>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName applies encryption to your files after they have been uploaded, and we manage the encryption keys. Users who wish to manage their own encryption keys can apply encryption before placing files in their @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName. Please note that if you encrypt files before uploading them, some features will not be available, such as creating public links.  Doing so will also make it impossible for us to recover your data if you lose your encryption key.</p>

                <h2>I think I've found a security exploit. Where do I report security concerns?</h2>
                <p>We take a number of measures to ensure that the data you store on @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is safe and secure. While we're very confident in our technology, we recognize that no system can guarantee data security with 100% certainty. For that reason, we will continue to innovate to make sure that our security measures are state of the art, and we will investigate any and all reported security issues concerning @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's services or software. For a direct line to our security experts, report security issues to <a href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail">@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a>.</p>
                <p>We'll fully credit anybody whose reports lead to the improvement of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName security.</p>
            </div>
        </div>
        <div id="acceptable" role="tabpanel" class="tab-pane">
            <style type='text/css'>
                ul#the_list > li { padding: 4px; }
            </style>

            <div id="terms-of-service">
                <h2>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Acceptable Use Policy</h2>

                <p>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is used by thousands of people, and we are proud of the trust placed in us.  In exchange, we trust you to use our services responsibly.</p>

                <p>You agree not to misuse the @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName services.  For example, you must not, and must not attempt to, use the services to do the following things.</p>

                <ul class='termsList'>
                    <li>probe, scan, or test the vulnerability of any system or network;</li>
                    <li>breach or otherwise circumvent any security or authentication measures;</li>
                    <li>access, tamper with, or use non-public areas of the Service, shared areas of the Service you have not been invited to, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName (or our service providers’) computer systems;</li>
                    <li>interfere with or disrupt any user, host, or network, for example by sending a virus, overloading, flooding, spamming, or mail-bombing any part of the Services;</li>
                    <li>plant malware or otherwise use the Services to distribute malware;</li>
                    <li>access or search the Services by any means other than our publicly supported interfaces (for example, “scraping”);</li>
                    <li>send unsolicited communications, promotions or advertisements, or spam;</li>
                    <li>send altered, deceptive or false source-identifying information, including “spoofing” or “phishing”;</li>
                    <li>publish anything that is fraudulent, misleading, or infringes another's rights;</li>
                    <li>promote or advertise products or services other than your own without appropriate authorization;</li>
                    <li>impersonate or misrepresent your affiliation with any person or entity;</li>
                    <li>abuse @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName referrals to get more credit for referrals than deserved;</li>
                    <li>publish or share materials that are unlawfully pornographic or indecent, or that advocate bigotry, religious, racial or ethnic hatred;</li>
                    <li>violate the law in any way, or to violate the privacy of others, or to defame others.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
