@using RDN.Models.Account
@model LostAccountModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header col-md-offset-1  col-md-10  col-xs-12 text-center">
    <h2>Recover Your Password</h2>
</div>

<div class="recoverPassContainer col-md-offset-1  col-md-10  col-xs-12  ">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Could Not Find Your Email.")

        <div>
            <fieldset>
                <table class="table">
                    <tr>
                        <td class="text-right">
                            @Html.LabelFor(m => m.Email):
                        </td>
                        <td class="suRTD">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            <span style="color: red;">@Html.ValidationMessageFor(m => m.Email)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="suLTD"></td>
                        <td class="suRTD">
                            <input class="btn btn-primary" type="submit" value="Search" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            
                            
                            <b>
                                @Html.DisplayTextFor(m => m.ConfirmationMessage)
                            </b>
                            
                        </td>
                    </tr>
                </table>
                <p>
                </p>
            </fieldset>
        </div>
    }
</div>
