@using RDN.Models.Account
@model RegisterModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center page-header">
    <h3>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName helps you connect with your fans, manage your teams and view your stats.</h3>
</div>
<div class="text-center col-sm-6 visible-sm visible-lg visible-md">
    <img src="@Url.Content("~/Content/Rollerball_pink_s500.png")" class="thumbnail-lg img-responsive centerIt" />
</div>
<div class="col-sm-5 ">
    <h3 class="signUpTitle">
        Sign Up
    </h3>
    <h4 class="signUpDesc">
        Play As a Team, Track As a Sport, Love @RDN.Library.Classes.Config.LibraryConfig.SportName
    </h4>

    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { @id = "signUp" }))
    {
        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
        if (Model != null && Model.Errors != null && Model.Errors.Count > 0)
        {
            <p>
                @foreach (var error in Model.Errors)
                {
                    <span style="color: red;">@error</span><br />
                }
            </p>
        }
        <div>
            <fieldset>
                <div class="form-group">
                    <label for="IsConnectedToRollerDerby">Do You Play?: </label>

                    @Html.CheckBoxFor(m => m.IsConnectedToRollerDerby, new { onchange = "IsConnectedToDerby();" })
                </div>
                <div class="form-group" id="derbyNameRow">

                    <img class="displayNone floatLeft" id="loadingDerbyName" src="@Url.Content("~/Content/loading_lg.gif")" />
                    @if (RDN.Library.Classes.Config.LibraryConfig.SiteType == RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
                    {
                        <label for="DerbyName">Derby Name: </label>
                    }
                    else
                    {
                        <label for="DerbyName">Nick Name: </label>
                    }
                    @Html.TextBoxFor(m => m.DerbyName, new { onchange = "SearchForDerbyName(this);", @class = "form-control" })
                    <span style="color: red;">@Html.ValidationMessageFor(m => m.DerbyName)</span>
                </div>
                <div class="form-group">
                    <span colspan="2" id="signUpFindDerbyNameHeader" class="b"></span>

                    <span class="suRTD" id="signUpFindDerbyName"></span>
                </div>
                <div class="form-group" id="firstNameRow">
                    @Html.LabelFor(m => m.Firstname)
                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                    <span style="color: red;">@Html.ValidationMessageFor(m => m.Firstname)</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <span style="color: red;">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <span style="color: red;">@Html.ValidationMessageFor(m => m.Password)</span>
                </div>
                <div class="form-group" id="genderRow">

                    @Html.LabelFor(m => m.Gender)
                    @Html.DropDownListFor(x => x.Gender, new SelectList(ViewBag.Genders, "Value", "Text"), new { @class = "form-control" })

                    <span style="color: red;">@Html.ValidationMessageFor(m => m.Gender)</span>
                </div>
                <div class="form-group" id="positionRow">

                    @Html.LabelFor(m => m.PositionType)
                    @Html.DropDownListFor(x => x.PositionType, new SelectList(ViewBag.Positions, "Value", "Text"), new { @class = "form-control" })

                    <span style="color: red;">@Html.ValidationMessageFor(m => m.PositionType)</span>
                </div>
                <div class="form-group">
                    <input class="primary btn btn-primary" type="submit" value="Sign Up" />
                </div>
            </fieldset>
        </div>
    }
</div>
<br />

<script type="text/javascript">
    $(document).ready(function () {
        IsConnectedToDerby();
    });
    $("#signUp").validate({
        rules: {
            DerbyName: "required",
            Firstname: "required",
            Email: "required",
            ConfirmEmail: "required",
            Password: "required",
            PositionType: "required"
        }
    });
</script>
