@model RDN.Library.Classes.EmailServer.SubscriptionFactory
@{
    ViewBag.Title = "New Email Blast";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    
}

<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Email Blast Through The Subscriptions. 
        </div>

        <div class="titleDescription">
            New Email Blast
     
        </div>
        <div class="divider"></div>

        <div>
            @using (Html.BeginForm("EmailBlast", "Subscriptions", FormMethod.Post, new { @id = "NewEmailBlast" }))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b alRight">Email Blast Title:
                        </td>
                        <td class="largeInput">
                          @Html.TextBoxFor(x=>x.BlastTitle)
                        </td>
                    </tr>
                    <tr>
                    <td class="b alignRight">Subscription Type:</td>
                    <td>
                        @Html.DropDownList("SubscriptionId", (SelectList)  ViewBag.subscription, "Select List...")
                    </td>
                </tr>
                     <tr> 
                        <td class="b alRight alignTop">Email:
                        </td>
                        <td class="largeInput">@Html.TextArea("EmailBody", string.Empty, new
                           {
                               id = "wmd-input",
                               style = "width:350px"
                           })</td>
                    </tr>
                    <tr>
                        <td class="b alRight">Test Email?:
                        </td>
                        <td>
                            <label> @Html.CheckBoxFor(x => x.TestEmail)<span class="i">Is it test email.</span></label>
                        </td>
                    </tr>
                     <tr>
                        <td class="b alRight">Test Email Note:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.TestEmailField)
                        </td>
                    </tr>
                   @Html.HiddenFor(x=> x.SubscriptionId)
                    @Html.HiddenFor(x=>x.listId)
                    <tr>
                        <td class="b alRight"></td>
                        <td class="largeInput">
                            <input type="submit" class="primary" value="Blast" name="NewEmailBlast" />

                        </td>
                    </tr>

                </table>
                  
            }
        </div>
    </div>     
</div>

<script type="text/javascript">
    $("#NewEmailBlast").validate({
        rules: {
            ListName: "required"          
        }
    });

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "modern",
             plugins: "layer,table,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,template",
        });
    });


</script>