@using RDN.Library.Classes.Calendar
@using RDN.League.Models.Utilities
@using RDN.Library.Cache
@using RDN.Library.Classes.Controls.Calendar.Models
@model CalendarImport
@{
    ViewBag.Title = "Import Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    @if (MemberCache.GetCalendarDefaultView(memId) == RDN.Portable.Classes.Account.Enums.Settings.CalendarDefaultViewEnum.List_View)
    {
        <li><a href="@Url.Content("~/calendar/" + Model.OwnerEntity + "/" + Model.CalendarId.ToString().Replace("-", ""))">Calendar</a></li>
    }
    else
    {
        <li><a href="@Url.Content("~/calendar/view/" + Model.OwnerEntity + "/" + Model.CalendarId.ToString().Replace("-", ""))">Calendar</a></li>
    }
    <li class="active">Import</li>
</ol>


<div class="col-md-offset-1  col-md-10  col-xs-12">
    <h2 class="text-center">
        Import Calendar
    </h2>

</div>
<div class="col-md-offset-1 col-md-10 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="titleDescription2">
                Import the Google Calendar from your leagues private google calendar. View <a href="http://wiki.rdnation.com/Calendar_and_Attendance_Tracking#Importing_Events_From_Other_Calendars" target="_blank">help if your having trouble</a>.
                
                Once a calendar has been imported, You will need to import the calendar again via this page.
                
                <span class="b">Locations will not be parsed</span> and added at this moment due to the large amount of variations accepted.


            </div>
            
            <div>
                @using (Html.BeginForm("CalendarImport", "Calendar", FormMethod.Post))
                {
                    <table class="table">
                        <tr>
                            <td class="b text-right">
                                Google Calendar ICS Feed:
                            </td>
                            <td class="extraLargeInput">
                                @Html.TextBoxFor(x => x.GoogleCalendarUrl, new {@class="form-control" }) <small class="i">Url to the <span class="b">ICAL/.ICS</span> google calendar file.</small>
                            </td>
                        </tr>

                        <tr>
                            <td class="b text-right">TimeZone of Calendar:</td>
                            <td>@Html.DropDownListFor(x => x.TimeZoneId, new SelectList(Model.TimeZones, "ZoneId", "LocationGMT"), "Select TimeZone...", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @if (String.IsNullOrEmpty(Model.GoogleCalendarUrl))
                                {
                                    <input type="submit" class="btn btn-primary" value="Import Google Calendar" />
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-primary" value="Update Google Calendar" />
                                }
                            </td>
                        </tr>
                    </table>
                    @Html.HiddenFor(x => x.CalendarId)
                    @Html.HiddenFor(x => x.OwnerEntity)
                }
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        $('#GoogleCalendarUrl').change(function () {
            var ext = $('#GoogleCalendarUrl').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['ics']) == -1) {
                alert('*.ICS file only.');
                $('#GoogleCalendarUrl').val("");
            }
        });

    </script>
