@using RDN.Library.Classes.Calendar;
@using RDN.Library.Classes.Calendar.Enums;
@using RDN.Library.Cache;
@model RDN.Portable.Classes.Controls.Calendar.Calendar
@{
    ViewBag.Title = "Calendar for " + Model.EntityName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    var isSec = MemberCache.IsSecretaryOrBetterOfLeague(memId);
    bool isEventsCourd = MemberCache.IsEventsCourdinatorOrBetterOfLeague(memId);
    var isAttendance = MemberCache.IsAttendanceManager(memId);
}
@if (Model.CalendarId == new Guid())
{
    <div class="fixedContainer">
        <div class="fixedCenterContainter">
            <div class="fixTitle">
                Calendar Setup
            </div>
            <div class="divider"></div>

            <div>
                It looks like your calendar has not yet been created. Go ahead and create one so
                you can start scheduling events and tracking attendance! This calendar will be open
                to all your members!
            </div>
            @using (Html.BeginForm("CreateCalendar", "Calendar"))
            {
                <div>
                    <input type="submit" class="primary" value="Create Calendar" />
                </div>
                @Html.HiddenFor(x => x.OwnerEntity);
            }
        </div>
    </div>
}
else
{

    @section SecondNav{
        <nav class="navbar navbar-default navbar-lower" style="margin-bottom:0px;" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondNavBar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse collapse-buttons" id="secondNavBar">
                    <div class="navbar-form navbar-left" role="search">

                        @if (isSec || isAttendance || isEventsCourd)
                        {
                            <a class="btn btn-default btn-sm" title="New Event" href="@Url.Content("~/calendar/new/" + @Model.OwnerEntity + "/" + @Model.CalendarId.ToString().Replace("-", ""))">
                                <i class="fa fa-plus "></i> New
                            </a>
                        }
                        <a class="btn btn-default btn-sm" title="Calendar" href="@Url.Content("~/calendar/" + @Model.OwnerEntity + "/" + @Model.CalendarId.ToString().Replace("-", ""))">
                            <i class="fa fa-calendar "></i> List
                        </a>
                        @if (isSec || isAttendance || isEventsCourd)
                        {

                            <a class="btn btn-default btn-sm" title="Import Calendar" href="@Url.Content("~/calendar/import/" + @Model.OwnerEntity + "/" + @Model.CalendarId.ToString().Replace("-", ""))">
                                <span class="glyphicon glyphicon-import " aria-hidden="true"></span>  Import
                            </a>
                            <a class="btn btn-default btn-sm" title="Calendar Settings" href="@Url.Content("~/calendar/settings/" + @Model.OwnerEntity + "/" + @Model.CalendarId.ToString().Replace("-", ""))">
                                <i class="fa fa-cogs "></i> Settings
                            </a>

                        }
                        <a class="btn btn-default btn-sm" title="Run Report" href="@Url.Content("~/calendar/reports/" + @Model.OwnerEntity + "/" + @Model.CalendarId.ToString().Replace("-", ""))">
                            <span class="glyphicon glyphicon-list-alt " aria-hidden="true"></span> Report
                        </a>



                    </div>
                </div>
            </div>
        </nav>

    }<br />

    <script type='text/javascript'>
        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventBackgroundColor: "#872f95",
                eventBorderColor: "#c5c5c5",
                selectable: true,
                events: function (start, end, callback) {
                    start = start.getTime() / 1000;
                    end = end.getTime() / 1000;
                    $.getJSON("/calendar/LoadCalendarView", { type: '@Model.OwnerEntity', id: '@Model.CalendarId.ToString().Replace("-", "")', startDt: start, endDt: end }, function (result) {
                        var events = [];
                        $.each(result.events, function (i, field) {
                            events.push({
                                title: $(field).attr('title'),
                                start: $(field).attr('start'),
                                id: $(field).attr('id'),
                                end: $(field).attr('end'),
                                url: $(field).attr('url'),
                                allDay: $(field).attr('allDay'),
                                backgroundColor: $(field).attr('backColor')
                            });
                        });
                        callback(events);
                    });
                }
            });
        });

    </script>
    <style type='text/css'>
        #calendar { margin: 0 auto; }
    </style>
    <div class="col-xs-12 ">
        <div id="calendar">
        </div>
        <br /><br />
    </div>
}
