@using RDN.League.Models.Calendar
@using RDN.League.Models.Utilities
@using RDN.Library.Classes.Calendar.Enums
@using RDN.Library.Cache
@using RDN.Portable.Classes.Controls.Calendar.Enums
@model NewCalendarEvent
@{
    ViewBag.Title = "Update Reoccurring Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isSec = MemberCache.IsSecretaryOrBetterOfLeague(memId);
    bool isEventsCourd = MemberCache.IsEventsCourdinatorOrBetterOfLeague(memId);
}
@section SecondNav{
    <nav class="navbar navbar-default navbar-lower" style="margin-bottom:0px;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondNavBar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse collapse-buttons" id="secondNavBar">
                <div class="navbar-form navbar-left" role="search">
                    @if (isSec || isEventsCourd)
                    {

                        <a class="btn btn-default btn-sm" onclick="return confirm('Remove Event? Will Remove Event and All Points Associated')" href="@Url.Content("~/calendar/event/delete/reoccur/" + Model.CalendarType + "/" + Model.CalendarId.ToString().Replace("-", "") + "/" + Model.CalendarItemId.ToString().Replace("-", ""))"><i class="fa fa-remove"></i> Delete Reoccurring Events</a>
                    }
                </div>
            </div>
        </div>
    </nav>
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    @if (MemberCache.GetCalendarDefaultView(memId) == RDN.Portable.Classes.Account.Enums.Settings.CalendarDefaultViewEnum.List_View)
    {
        <li><a href="@Url.Content("~/calendar/" + Model.CalendarType + "/" + Model.CalendarId.ToString().Replace("-", "") ) ">Calendar</a></li>
    }
    else
    {
        <li><a href="@Url.Content("~/calendar/view/" + Model.CalendarType + "/" + Model.CalendarId.ToString().Replace("-", "") )">Calendar</a></li>
    }

    <li class="active">Update</li>
</ol>
<div class="col-md-offset-1  col-md-10  col-xs-12">
    <h2 class="text-center">
        Update Reoccurring Event
    </h2>

</div>
<div class="col-md-offset-1 col-md-10 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="well well-sm">
                Update your Reoccurring events. Any reoccuring event with attendees attached to it, will not be removed.  They are used in history for attendance tracking.  Only those events that reoccur without attendance will be updated.

            </div>
            @using (Html.BeginForm("EditReoccurringEvent", "Calendar", FormMethod.Post, new { @id = "createNewEventForm" }))
            {
                <table class="table">
                    <tr>
                        <td class="b text-right">
                            Name:
                        </td>
                        <td class="subject">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right alignTop">
                            Groups:<br />
                            <a href="http://wiki.rdnation.com/Calendar_and_Attendance_Tracking#Creating_An_Event">Group only events</a>
                        </td>
                        <td>
                            <div name="ToMemberNamesSelected" id="ToMemberNamesSelected" style="float: left;">
                                @if (Model.GroupsForEvent.Count == 0)
                                {
                                    <span class="recipientsNames b">Entire League</span>
                                }
                                else
                                {
                                    foreach (var group in Model.GroupsForEvent)
                                    {
                                        <span class="recipientsNames b">@group.GroupName</span>
                                    }
                                }
                            </div>

                            <button onclick="Calendar.ExpandGroupMemberList()" class="btn btn-default pull-right" type="button">
                                <i class="fa fa-users "></i> Change Group <span class="caret"></span>
                            </button>


                            <div class="clearfix"></div>
                            <div class="displayNone groupMemberLists" id="groupMemberLists">
                                <ul id="groupList" class="list-unstyled"></ul>
                                <div class="clear"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right">
                            Location:
                        </td>
                        <td>


                            <div class="input-group">
                                @Html.DropDownListFor(x => x.SelectedLocationId, Model.Locations, "Choose Location...", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <a class="btn btn-info" href="@Url.Content("~/location/new/" + Model.CalendarType + "/calendar/" + Model.CalendarId.ToString().Replace("-", ""))">Add New Location</a>
                                </span>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right">
                            Event Type:
                        </td>
                        <td>

                            <div class="input-group">
                                @Html.DropDownListFor(x => x.SelectedEventTypeId, Model.EventTypes, "Choose Event Type...", new { @onchange = "EventTypeChanged(this)", @class = "form-control" })
                                <span class="input-group-btn">
                                    <a class="btn btn-info" id="addNewEventTypeLink" href="@Url.Content("~/calendar/event-type/new/" + Model.CalendarType + "/" + Model.CalendarId.ToString().Replace("-", "") + "?returnUrl=" + HttpContext.Current.Request.Url)">Add New Event Type</a>
                                </span>
                            </div>

                            <span id="addNewEventTypeText" class="displayNone">
                                @RDN.Utilities.Enums.EnumExt.ToFreindlyName(CalendarEventPointTypeEnum.Present):
                                <span class="b" id="presentType"></span>,
                                @RDN.Utilities.Enums.EnumExt.ToFreindlyName(CalendarEventPointTypeEnum.Partial):
                                <span class="b" id="partialType"></span>,
                                @RDN.Utilities.Enums.EnumExt.ToFreindlyName(CalendarEventPointTypeEnum.Excused):
                                <span class="b" id="excusedType"></span>,
                                @RDN.Utilities.Enums.EnumExt.ToFreindlyName(CalendarEventPointTypeEnum.Not_Present):
                                <span class="b" id="notPresentType"></span>,
                                @RDN.Utilities.Enums.EnumExt.ToFreindlyName(CalendarEventPointTypeEnum.Tardy):
                                <span class="b" id="tardyType"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="b  text-right">
                            Event Type Color:
                        </td>
                        <td class="largeInput">
                            @Html.DropDownListFor(x => x.ColorTempSelected, Model.ColorList, "Choose Color...", new { @onchange = "ColorSelectorChanged()", @class = "form-control" }) @if (isSec)
                            {<small class="i">Add more colors under <a href="@Url.Content("~/league/edit/" + Model.LeagueId.ToString().Replace("-", ""))">Edit League Internal</a></small>}
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right text-nowrap">
                            Start Date & Time:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.StartDateDisplay, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right">
                            End Date & Time:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.EndDateDisplay, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr id="repeatEventRow">
                        <td class="b text-right">
                            Repeat:
                        </td>
                        <td>
                            <label>
                                @Html.CheckBoxFor(x => x.IsReoccurring, new { @onchange = "IsReoccuringEvent(this)", @class = "alignLeft", @data_toggle = "modal", @data_target = "#myModal" })
                                <span class="b" id="summaryEvent"></span>
                            </label>
                        </td>
                    </tr>
                    <tr id="publicEventRow">
                        <td class="b text-right">
                            Is Public Event:
                        </td>
                        <td>
                            <label>
                                @Html.CheckBoxFor(x => x.IsPublicEvent, new { @class = "alignLeft", @onchange = "PublicEventChangeCalendar(this)" })
                                <small class="i">
                                    Shows event on the public RDNation.com calendar. <span class="b">
                                        For
                                        Bouts, Fundraisers etc...
                                    </span> Can't Repeat
                                </small>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right">
                            Link:
                        </td>
                        <td class="subject">
                            @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right">
                            Allow Self Check In:
                        </td>
                        <td>
                            <label>
                                @Html.CheckBoxFor(x => x.AllowSelfCheckIn, new { @class = "alignLeft" })<small class="i">
                                    People
                                    can check themselves in to events.
                                </small>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            @Html.LabelFor(x => x.Notes)
                        </td>
                        <td>
                            @Html.TextArea("Notes", Model.Notes, new
                           {
                               id = "wmd-input"
                           })


                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="@Url.Content("~/calendar/" + Model.CalendarType + "/" + Model.CalendarId.ToString().Replace("-", ""))" class="btn btn-default">Cancel Edit Event</a>
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Update Event" name="updateEvent" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.CalendarId)
                @Html.HiddenFor(x => x.CalendarType)
                @Html.HiddenFor(x => x.CalendarItemId)
                @Html.HiddenFor(x => x.ToGroupIds)






                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Repeat</h4>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <td colspan="2" class="b">
                                            Repeats:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            @Html.DropDownListFor(x => x.RepeatsFrequencySelectedId, Model.RepeatsFrequencyDropDown, new { @onchange = "RepeatsFrequencyEventChange(this)", @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr id="repeatsOnRow">
                                        <td colspan="2" class="b">
                                            On:
                                        </td>
                                    </tr>
                                    <tr id="repeatsOnRowSel">
                                        <td colspan="2">
                                            <div class="displayNone checkboxError" id="selectDate">Please Select a Day</div>
                                            <label>
                                                @Html.CheckBoxFor(x => x.IsSunday, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })S
                                            </label>
                                            <label>
                                                @Html.CheckBoxFor(x => x.IsMonday, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })M
                                            </label>
                                            <label>
                                                @Html.CheckBoxFor(x => x.IsTuesday, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })T
                                            </label>
                                            <label>@Html.CheckBoxFor(x => x.IsWednesday, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })W</label>
                                            <label>@Html.CheckBoxFor(x => x.IsThursday, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })T</label>
                                            <label>@Html.CheckBoxFor(x => x.IsFriday, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })F</label>
                                            <label>@Html.CheckBoxFor(x => x.IsSaturday, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })S</label>

                                        </td>
                                    </tr>
                                    <tr id="repeatsOnRowSelMonthly" class="displayNone">
                                        <td colspan="2">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="displayNone checkboxError" id="selectWeekOfMonth">Please Select Week</span>
                                                    The
                                                </span>
                                                @Html.DropDownListFor(x => x.MonthlyIntervalId, Model.MonthlyInterval, new { @onchange = "RepeatsFrequencyEventChange(this)", @class = "form-control input-sm" })
                                                <span class="input-group-addon">Week of the Month</span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" class="b">
                                            Ends:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label>
                                                @Html.RadioButtonFor(m => m.EndsWhen, EndsWhenReoccuringEnum.Never.ToString(), new { @checked = "checked", @onchange = "ChangeSummaryOfRepeatedEvent(true)" })
                                                @EndsWhenReoccuringEnum.Never.ToString()
                                            </label>
                                            <br />
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.EndsWhen, EndsWhenReoccuringEnum.After.ToString(), new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })
                                                        @EndsWhenReoccuringEnum.After.ToString()
                                                    </label>
                                                </span>
                                                @Html.TextBoxFor(x => x.EndsOccurences, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)", @class = "form-control" })
                                                <span class="input-group-addon">ocurrences</span>
                                            </div><br />
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.EndsWhen, EndsWhenReoccuringEnum.On.ToString(), new { @onchange = "ChangeSummaryOfRepeatedEvent(true)" })
                                                        @EndsWhenReoccuringEnum.On.ToString()
                                                    </label>
                                                </span>
                                                @Html.TextBox("EndsDate", Model.EndDateReoccurringDisplay, new { @onchange = "ChangeSummaryOfRepeatedEvent(true)", @class = "form-control" })

                                            </div>

                                        </td>
                                    </tr>

                                    <tr></tr>
                                </table><br />
                                <div class="modal-footer">
                                    <div class="alert alert-info text-left b">
                                        <span id="summaryPopUp"></span>
                                    </div>
                                    <input type="button" id="checkInButtonPopUp" value="Done" class="btn btn-primary" data-dismiss="modal" onclick="javascript: CloseReOccuringEventWindow(true)" />
                                    <span class="btn btn-default" onclick="javascript:CloseReOccuringEventWindow(false)" data-dismiss="modal">Cancel</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>

<script type="text/javascript">

    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            IsReoccuringEvent($("#IsReoccurring"));
            LoadDropDownBackgroundColors();
            Calendar.InitializeNewEvent();
            ToggleReoccuringEventPopup($("#IsReoccurring"));
        });
    var d = new Date();
    var curr_date = d.getDate();

    var startDate = new Date('@Model.StartDateDisplay');
    var endDate = new Date('@Model.EndDateDisplay');

    $('#EndsDate').datepicker().css({ "z-index": 1050 });
    $('#StartDateDisplay').datetimepicker({
        ampm: true,
        onSelect: function (dateText, inst) {
            startDate = new Date(dateText);
            if (endDate < startDate) {
                $('#EndDateDisplay').val($('#StartDateDisplay').val());
                endDate = startDate;
            }
        },
        stepMinute: 5,
        timeFormat: 'hh:mm tt'
    });
    $('#EndDateDisplay').datetimepicker({
        ampm: true,
        onSelect: function (dateText, inst) {
            endDate = new Date(dateText);
            if (endDate < startDate) {
                $('#StartDateDisplay').val($('#EndDateDisplay').val());
                startDate = endDate;
            }
        },
        stepMinute: 5,
        timeFormat: 'hh:mm tt'
    });

    $("#createNewEventForm").validate({
        rules: {
            Name: "required",
            StartDateDisplay: "required",
            EndDateDisplay: "required",
            SelectedLocationId: "required",
            SelectedEventTypeId: "required"
        }
    });

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "advanced",
            skin: "o2k7",
            skin_variant: "silver",
            plugins: "safari,style,layer,table,advhr,advimage,advlink,inlinepopups,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,formatselect,fontsizeselect",
            theme_advanced_buttons2: "link,unlink,anchor,image,cleanup,code,|,preview,|,forecolor,backcolor,|tablecontrols,|,hr,removeformat,visualaid,|,iespell,media,|,ltr,rtl",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
        });
    });
</script>
