@model List<RDN.Portable.Classes.Team.TeamLogo>
@{
    ViewBag.Title = "All "+@RDN.Library.Classes.Config.LibraryConfig.SportName+" Logos World Wide";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="fixTitle">
            @Model.Count @RDN.Library.Classes.Config.LibraryConfig.SportName Logos World Wide
        </div>
        <div class="divider"></div>
        @foreach (var logo in Model)
        { 
            <div style="float:left; text-align:center; font-size:.8em; height:180px; width:180px;  padding:2px; margin:3px; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);">
                <img src="@logo.ImageUrl"  style="max-width:170px; width:170px; max-height:150px;" />
                <br />
                @logo.TeamName
                <div class="clear"></div>
            </div>
        }
        <div>
        </div>
        <div class="clear"></div>
        @if (RDN.Library.Classes.Config.LibraryConfig.SiteType == RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
        {
                    <div class="center">
        These Logos were uploaded from <a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/@RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl-scoreboard" target="_blank">@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's  @RDN.Library.Classes.Config.LibraryConfig.SportName Scoreboard.</a></div>
        }
    </div>
</div>
