@using RDN.Models.Helpers
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@using StackExchange.Profiling;
<head runat="server">
    <title>
        @if (ViewBag.Title == null)
        {
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteTitleDefault;
        }
        else
        {    @ViewBag.Title
            @Html.Raw(" - ")
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteTitleDefault
        }
    </title>

    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/properties")
    @System.Web.Optimization.Scripts.Render("~/bundles/viewmodels")
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/logo.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/logo.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/logo.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/logo.png")" />
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/logo.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/logo.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/logo.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/logo.png")" />
</head>
<body>

    @Html.Partial("_PartialUpperLinks")

    <br />
    <div class="container-fluid  body-content">


        <div id="carousel-example-generic" class="carousel slide " data-ride="carousel" data-interval="6000">


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" style="max-height:500px; overflow:hidden;">
                <div class="item">
                    <img src="@Url.Content("~/Content/ImageSlides/images/13.jpg")" alt="Roster Management - Hanson Images" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item active">
                    <img src="@Url.Content("~/Content/ImageSlides/images/12.jpg")" alt="Made For Derby, Built By Derby - PhilosoFear" />
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <img src="@Url.Content("~/Content/ImageSlides/images/14.jpg")" alt="Official Management - Hanson Images" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/ImageSlides/images/15.jpg")" alt="Calendar and Attendance Tracking - Hanson Images" />
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <img src="@Url.Content("~/Content/ImageSlides/images/17.jpg")" alt="Groups, Teams and Committee Management - @RDN.Library.Classes.Config.LibraryConfig.SportName On Film" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/ImageSlides/images/18.jpg")" alt="Live Games Online, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Scoreboard - PhilosoFear" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/ImageSlides/images/11.jpg")" alt="Forums For Communicating - Roller Derby On Film" />
                    <div class="carousel-caption">
                    </div>
                </div>

            </div>
            <div class="text-center col-sm-12 ontopCarousel">
                <h1 id="tagline" class="text-uppercase text-jumbo white ">
                    @RDN.Library.Classes.Config.LibraryConfig.WebsiteName

                    <br />
                    <small class="white text-lowercase">
                        @RDN.Library.Classes.Config.LibraryConfig.WebsiteSlogan
                    </small>
                </h1>
                @if (!User.Identity.IsAuthenticated) { 
                <div class="affix-bottom">
                    <a href="@Url.Content("~/signup")" class="btn btn-success btn-lg">Sign Me Up</a>
                </div>
                }
                else { 

                <div class="affix-bottom">
                    <a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite" class="btn btn-success btn-lg">Take Me To My League</a>
                </div>
                }
            </div>
        </div>

        @Html.Raw(MessageHelper.PrintMessages(((List<RDN.Library.Util.SiteMessage>)TempData["Messages"])))
        @RenderBody()


    </div>
    <div class="container-fluid footer">
        @*@Html.Partial("_PartialFooter")*@
        <br /><br /><br /><br /><br />
    </div>
    <script type="text/JavaScript">
        AddSiteMapNode(location.href, true);


        //ko.applyBindings(currentGamesViewModel, document.getElementById("currentGamesBar"));

        //currentGamesViewModel.initialize();

      //  (function () {
      //      var a = document.createElement('a');
      //      a.setAttribute('id', 'uservoice-feedback-tab');
      //      a.setAttribute('href', 'http://rdnation.uservoice.com?lang=en&referer=' + encodeURIComponent(location.host + location.pathname));
      //      a.setAttribute('target', '_blank');
      //      a.style.cssText = [
      //'position: fixed',
      //'top: 45%',
      //'width: 25px',
      //'height: 90px',
      //'margin: -45px 0 0',
      //'right: 0',
      //'background: #39B4D7 url(https://cdn.uservoice.com/images/widgets/en/feedback_tab_white.png) 0 0 no-repeat',
      //'border: outset 1px #39B4D7',
      //'border-right: none'
      //      ].join(';');
      //      document.body.appendChild(a);
      //  })();

    </script>
    @*<a id="uservoice-feedback-tab" href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail?subject=@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Feedback"
       target="_blank" style="position: fixed; top: 45%; width: 25px; height: 90px;
        margin: -45px 0px 0px; right: 0px; background-image: url(https://cdn.uservoice.com/images/widgets/en/feedback_tab_white.png);
        background-color: #882f96; border-style: outset none outset outset; border-top-width: 1px;
        border-bottom-width: 1px; border-left-width: 1px; border-top-color: #000; border-bottom-color: #000;
        border-left-color: #000; background-position: 0px 0px; background-repeat: no-repeat no-repeat;">
    </a>*@
    <div id="fb-root">
    </div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=159367097423747";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29843570-1']);
        _gaq.push(['_setDomainName', '@RDN.Library.Classes.Config.LibraryConfig.MainDomain']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <div id="feedback_tab" style="">
        <a href="mailto:info@rdnation.com">
            <i class="fa fa-envelope-o"></i> Contact
        </a>
        <a href="http://support.rdnation.com/Projects/ProjectSummary/1" target="_blank">
            <i class="fa fa-question-circle"></i> Support
        </a>
    </div>

</body>
</html>
