@using RDN.Models.Helpers
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@using StackExchange.Profiling;
@using RDN.Library.Cache
@{
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    var leaguethemecolor = MemberCache.GetLeagueThemeColor(MemberCache.GetLeagueIdOfMember(memId));
}
}
<head runat="server">
    <title>
        @if (ViewBag.Title == null)
        {
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteTitleDefault;
        }
        else
        {    @ViewBag.Title
            @Html.Raw(" - ")
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteTitleDefault 
        }
    </title>
@System.Web.Optimization.Styles.Render("~/Content/css")
@System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/bundles/properties")
@System.Web.Optimization.Scripts.Render("~/bundles/viewmodels")
    <script type="text/javascript">

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '@RDN.Library.Classes.Config.LibraryConfig.GoogleAnalyticsTrackingId', 'auto');
    ga('send', 'pageview');


    </script>
    <link rel="apple-touch-icon" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="apple-touch-icon" sizes="72x72" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="apple-touch-icon" sizes="114x114" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="apple-touch-icon" sizes="144x144" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="apple-touch-icon-precomposed" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl250" />
    <link rel="icon" type="image/png" href="@RDN.Library.Classes.Config.LibraryConfig.FaviIcon" />
    <!--[if IE]>
    <link rel="shortcut icon" href="@RDN.Library.Classes.Config.LibraryConfig.FaviIcon" type="image/vnd.microsoft.icon" />
    <![endif]-->

</head>
<body>
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=159367097423747";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>
    <div class="mainContent">
        <div class="header">
        </div>
        <div class="hTitle">
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteName</div>
        <div class="hDescription">
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteSloganDefault</div>
        <div class="hLogo">
            <a href="@Url.Content("~/")">
                <img class="hLogoImg" src="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" /></a></div>
        @*<div>Guaranteed to make your fans and team happier.</div>*@
        <div class="hFBLike">
            <div class="fb-like-box" data-href="@RDN.Library.Classes.Config.LibraryConfig.FacebookUrl" data-width="292"
                 data-colorscheme="dark" data-show-faces="false" data-stream="false" data-header="false">
            </div>
        </div>
        @Html.Partial("_PartialUpperLinks")
        @Html.Partial("_PartialLoginLinks")
        @Html.Partial("_PartialCurrentGames")
        @Html.Raw(MessageHelper.PrintMessages(((List<RDN.Library.Util.SiteMessage>)TempData["Messages"])))
        <div class="storeCont">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        @Html.Partial("_PartialFooter")
    </div>
    <script type="text/JavaScript">
        AddSiteMapNode(location.href, true); ko.applyBindings(currentGamesViewModel,
    document.getElementById("currentGamesBar")); currentGamesViewModel.initialize();
    //    (function () {
    //        var a = document.createElement('a');
    //        a.setAttribute('id', 'uservoice-feedback-tab');
    //        a.setAttribute('href', 'http://rdnation.uservoice.com?lang=en&referer=' + encodeURIComponent(location.host + location.pathname));
    //        a.setAttribute('target', '_blank');
    //        a.style.cssText = [
    //  'position: fixed',
    //  'top: 45%',
    //  'width: 25px',
    //  'height: 90px',
    //  'margin: -45px 0 0',
    //  'right: 0',
    //  'background: #39B4D7 url(https://cdn.uservoice.com/images/widgets/en/feedback_tab_white.png) 0 0 no-repeat',
    //  'border: outset 1px #39B4D7',
    //  'border-right: none'
    //].join(';');
    //        document.body.appendChild(a);
    //    })();

    </script>
    @*<a id="uservoice-feedback-tab" href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail?subject=@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName Feedback"
       target="_blank" style="position: fixed; top: 45%; width: 25px; height: 90px;
        margin: -45px 0px 0px; right: 0px; background-image: url(https://cdn.uservoice.com/images/widgets/en/feedback_tab_white.png);
        background-color: #882f96; border-style: outset none outset outset; border-top-width: 1px;
        border-bottom-width: 1px; border-left-width: 1px; border-top-color: #000; border-bottom-color: #000;
        border-left-color: #000; background-position: 0px 0px; background-repeat: no-repeat no-repeat;">
    </a>*@
    @MiniProfiler.RenderIncludes()

    <div id="feedback_tab" style="" class="@RDN.Library.Classes.Config.LibraryConfig.DefaultThemeColor">
        <a href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail">
            <i class="fa fa-envelope-o"></i> Contact
        </a>
        <a href="@RDN.Library.Classes.Config.LibraryConfig.SupportSite" target="_blank">
            <i class="fa fa-question-circle"></i> Support
        </a>
    </div>
</body>
</html>
