<div class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Content("~/")">
                <img alt="Brand" height="25" src="@Url.Content("~/Content/logo.png")">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">My League</a></li>
                }

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Nation<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-federations")">Federations</a></li>
                        <li><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/@RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl-leagues">Leagues</a></li>
                        <li><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/@RDN.Library.Classes.Config.LibraryConfig.SportNamePlusMembersNameForUrl">@RDN.Library.Classes.Config.LibraryConfig.NameOfMembers</a></li>
                        <li><a href="@Url.Content("~/officiating-requests/view/all")">Officials</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-games")">View</a></li>
                        @if (RDN.Library.Classes.Config.LibraryConfig.SiteType== RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
                        {
                            <li><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/@RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl-scoreboard">Scoreboard</a></li>
                        }
                        <li><a href="@RDN.Library.Classes.Config.LibraryConfig.TournamentsPublicUrl">Tournaments</a></li>
                        <li><a href="@Url.Content("~/bout-challenge/view/all")">Bout Challenges</a></li>
                    </ul>
                </li>
                <li><a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-events")">Events</a></li>
                <li><a href="@Url.Content("~/pricing")">Pricing</a></li>
                <li><a href="@RDN.Library.Classes.Config.LibraryConfig.ShopSite">Gear</a></li>
                <li>
                    <div class="fb-like" data-href="@RDN.Library.Classes.Config.LibraryConfig.FacebookUrl" data-layout="button_count" data-share="false" data-action="like" data-show-faces="false" data-kid-directed-site="true"></div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Logout", "Account")" id="logout">Logout</a>

                    </li>
                }
                @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Content("~/SignUp")">Sign Up</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/login")">
                            Login
                        </a>
                    </li>
                }




            </ul>
        </div>
    </div><!-- /.container-fluid -->
</div>
