@using RDN.Portable.Classes.Insurance
@model RDN.Library.Classes.Roster.Roster
@{
    ViewBag.Title = "ViewRoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/rosters/all")">Rosters</a></li>
    <li class="active">Details of the roster</li>
</ol>


<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="margin-top-5"><i class="fa fa-user"></i> View Roster</h3>
                    </div>
                    @using (Html.BeginForm("ExportRoster", "Roster", FormMethod.Post, new { @id = "RosterReport" }))
                    {
                        @Html.HiddenFor(model => model.RosterId)
                        @Html.HiddenFor(model => model.LeagueId)
                        <div class="col-xs-6">
                            <button class="btn btn-warning pull-right" onclick="document.getElementById('RosterReport').submit();">
                                <i class="fa fa-download"> </i> Export
                            </button>
                        </div>
                    }
                </div>
                <div class="text-muted"> Details of the Roster.</div>
            </div>

            <div class="panel-body no-padding-top">
                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Roster Name</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"><b> @Model.RosterName</b></label>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Game Date</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"><b>  @Model.GameDate.ToShortDateString()</b></label>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Roster Members</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    @foreach (var member in Model.RosterMembers)
                    {
                        <label class="form-label full-width"><b>@member.Name</b></label>
                    }

                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Insurace Type</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"><b>  @(((InsuranceType)Model.InsuranceTypeId).ToString()) </b></label>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <label class="form-label margin-top-10">Ruleset</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label class="form-label margin-top-10"><b>  @(((RDN.Portable.Classes.Federation.Enums.RuleSetsUsedEnum)Model.RuleSetsUsedEnum).ToString()) </b></label>
                </div>
            </div>
        </div>
    </div>
</div>


