@using RDN.Library.Cache
@model List<RDN.Library.Classes.Roster.Roster>
@{
    ViewBag.Title = "ViewRosters";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var memId = RDN.Library.Classes.Account.User.GetMemberId();
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Rosters</li>
</ol>


<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="margin-bottom-5 margin-top-5"><i class="fa fa-users"></i> Rosters</h3>
                    </div>
                    @if (MemberCache.IsRosterManagerOrBetter(memId))
                    {
                        <div class="col-xs-6">
                            <a class="btn btn-success pull-right" href="@Url.Content("~/league/rosters/new/add")">
                                <i class="fa fa-plus-circle"> </i> Add
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Roster Name</th>
                            <th>Game Date</th>
                            <th>Roster Size</th>
                        </tr>
                    </thead>
                    @foreach (var roster in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-warning btn-xs" href="@Url.Content("~/league/rosters/view/" + roster.RosterId + "/" + roster.LeagueId.ToString().Replace("-", ""))"><i class="fa fa-eye"> </i> View </a>
                                
                                @if (MemberCache.IsSecretaryOrBetterOfLeague(memId))
                                {
                                    <a class="btn btn-info btn-xs" href="@Url.Content("~/league/rosters/edit/" + roster.RosterId + "/" + roster.LeagueId.ToString().Replace("-", ""))"><i class="fa fa-pencil"> </i> Edit </a>
                                }

                            </td>
                            <td>
                                @roster.RosterName
                            </td>
                            <td>

                                @roster.GameDate.ToShortDateString()
                            </td>
                            <td>
                                @roster.RosterSize
                            </td>
                           
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


