@model Common.Sponsors.Classes.SponsorItem
@{
    ViewBag.Title = "Add New Sponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);

}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/sponsors")">Sponsors</a></li>
    <li class="active">Add new Sponsor</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        @using (Html.BeginForm("AddSponsor", "Sponsor", FormMethod.Post, new { @id = "NewSponsorAdd" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="margin-top:5px !important"><i class="fa fa-user"></i> Add New Sponsor</h3>
                    <div class="text-muted"> Add a new sponsor for the league.</div>
                </div>
                <div class="panel-body no-padding-top">
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Sponsor Name</label>
                        <div>
                            @Html.TextBoxFor(x => x.Name, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Website Address</label>
                        <div>
                            @Html.TextBoxFor(x => x.Website, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Begin on</label>
                        <div>
                            @Html.TextBoxFor(x => x.BeginDate, new { @type = "text", @class = "form-control jquery_datepicker" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Ends On</label>
                        <div>
                            @Html.TextBoxFor(x => x.EndDate, new { @type = "text", @class = "form-control jquery_datepicker" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Sponsored</label>
                        <div>
                            @Html.TextBoxFor(x => x.Sponsored, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Promo Code</label>
                        <div>
                            @Html.TextBoxFor(x => x.PromoCode, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="form-label margin-top-10">Description</label>
                        <div>
                            @Html.TextArea("Description", string.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default btn-success" name="NewSponsorAdd"><i class="fa fa-save"></i> Add Sponsor</button>
                    <a class="btn btn-default pull-right" href="@Url.Content("~/league/sponsors")">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>    
<script type="text/javascript">
    $("#NewSponsorAdd").validate({
        rules: {
            Name: "required",
            PromoCode: "required",
            BeginDate: "required",
            EndDate: "required"
        }
    });

    $("#EndDate").datepicker({
        minDate: $("#BeginDate").val(),

        onSelect: function (selected) {
            $("#BeginDate").datepicker();
        }
    });
    $("#BeginDate").datepicker({
        onSelect: function (selected) {
            $("#EndDate").datepicker("option", "minDate", selected);
        }
    });

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "modern",
            plugins: "layer,table,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,template,link",
        });
    });

</script>
