@model RDN.Library.Classes.League.Sponsor
@{
    ViewBag.Title = "Edit Sponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);

}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/sponsors")">Sponsors</a></li>
    <li class="active">Edit Sponsor</li>
</ol>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("EditSponsor", "Sponsor", FormMethod.Post, new { @id = "EditSponsor" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 style="margin-top:5px !important"><i class="fa fa-money"></i> @Model.SponsorName</h3>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a class="btn btn-danger btn-sm" onclick="return confirm('Really Delete?')" title="Delete Sponsor" href="@Url.Content("~/league/Sponsor/delete/" + Model.SponsorId + "/" + Model.SponsorForLeague.ToString().Replace("-", ""))">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </div>
                    </div>
                    <div class="text-muted"> Edit the sponsor for the league.</div>
                </div>
                <div class="panel-body no-padding-top">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label class="form-label margin-top-10">Sponsor Name</label>
                            <div>
                                @Html.TextBoxFor(x => x.SponsorName, new { @type = "text", @class = "form-control",  })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="form-label margin-top-10">Website Address</label>
                            <div>
                                @Html.TextBoxFor(x => x.Website, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="form-label margin-top-10">Begin on</label>
                            <div>
                                @Html.TextBoxFor(models => models.BeginDate, new { @type = "text", @class = "form-control jquery_datepicker", @Value = Model.BeginDate > new DateTime() ? Model.BeginDate.ToString("MM/dd/yyyy") : "" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="form-label margin-top-10">Ends On</label>
                            <div>
                                @Html.TextBoxFor(models => models.EndDate, new { @type = "text", @class = "form-control jquery_datepicker", @Value = Model.EndDate > new DateTime() ? Model.EndDate.ToString("MM/dd/yyyy") : "" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="form-label margin-top-10">Sponsored</label>
                            <div>
                                @Html.TextBoxFor(x => x.Sponsored, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="form-label margin-top-10">Promo Code</label>
                            <div>
                                @Html.TextBoxFor(x => x.PromoCode, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="form-label margin-top-10">Description</label>
                            <div>
                                @Html.TextArea("Description", new { id = "wmd-input", @Value = Model.Description != null ? Model.Description.ToString() : "", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default btn-success" name="EditSponsor"><i class="fa fa-save"></i> Save</button>
                    <a class="btn btn-default pull-right" href="@Url.Content("~/league/sponsors")">Cancel</a>
                </div>
            </div>
            @Html.HiddenFor(models => models.SponsorId)
            @Html.HiddenFor(models => models.SponsorForLeague)
            @Html.HiddenFor(models => models.SponsorAddByMember)
        }
    </div>
</div>
<script type="text/javascript">
    $("#EditSponsor").validate({
        rules: {
            SponsorName: "required",
            PromoCode: "required",
            BeginDate: "required",
            EndDate: "required"
        }
    });

    $("#EndDate").datepicker({
        minDate: $("#BeginDate").val(),

        onSelect: function (selected) {
            $("#BeginDate").datepicker();
        }

    });
    $("#BeginDate").datepicker({
        onSelect: function (selected) {
            $("#EndDate").datepicker("option", "minDate", selected);
        }
    });

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "advanced",
            skin: "o2k7",
            skin_variant: "silver",
            plugins: "safari,style,layer,table,advhr,advimage,advlink,inlinepopups,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,formatselect,fontsizeselect",
            theme_advanced_buttons2: "link,unlink,anchor,image,cleanup,code,|,preview,|,forecolor,backcolor,|tablecontrols,|,hr,removeformat,visualaid,|,iespell,media,|,ltr,rtl",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
        });
    });
</script>