@model RDN.Library.Classes.League.Sponsor
@{
    ViewBag.Title = "View Sponsor Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/sponsors")">Sponsors</a></li>
    <li class="active">Details of Sponsor</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        @using (Html.BeginForm("AddSponsor", "Sponsor", FormMethod.Post, new { @id = "NewSponsorAdd" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h3 style="margin-top:5px !important"><i class="fa fa-money"></i> @Model.SponsorName</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-right">
                            <a title="Use Code" class="btn btn-info btn-sm" href="@Url.Content("~/league/Sponsor/UseCode/" + Model.SponsorId + "/" + Model.SponsorForLeague.ToString().Replace("-", ""))">
                                <i class="fa fa-cogs"></i> Use
                            </a>
                        </div>
                    </div>
                    <div class="text-muted"> Details of the Sponsor.</div>
                </div>
                <div class="panel-body no-padding-top">
                    <div class="col-xs-12 col-sm-6">

                        

                        <label class="form-label margin-top-10">Sponsor Name</label>
                        <div>
                           <b> @Model.SponsorName</b>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Website</label>
                        <div>
                          <b>  @Model.Website</b>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Begin on</label>
                        <div>
                            <b>@Model.BeginDate.ToShortDateString()</b> 
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Ends On</label>
                        <div>
                         <b>   @Model.EndDate.ToShortDateString()</b>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Code Used Count</label>
                        <div>
                           <b>@Model.UsedCount</b>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Promo Code</label>
                        <div>
                            <b>@Model.PromoCode</b>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="form-label margin-top-10">Sponsor Details</label>
                        <div>
                           <b> @Html.Raw(Model.Description)</b>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
