@model RDN.Library.Classes.League.Sponsor
@{
    ViewBag.Title = "View Sponsor Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/sponsors")">Sponsors</a></li>
    <li class="active">Details of Sponsor</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 style="margin-top:5px !important"><i class="fa fa-money"></i> @Model.SponsorName</h3>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a title="Use Code" class="btn btn-info btn-sm" href="@Url.Content("~/league/Sponsor/UseCode/" + Model.SponsorId + "/" + Model.SponsorForLeague.ToString().Replace("-", ""))">
                            <i class="fa fa-cogs"></i> Use
                        </a>
                    </div>
                </div>
                <div class="text-muted"> Details of the Sponsor.</div>
            </div>
            <div class="panel-body no-padding-top">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 margin-top-20">
                        <label class="form-label">Sponsor Name</label><br />
                        <label class="form-label"><b> @Model.SponsorName</b></label>
                    </div>
                    <div class="col-xs-12 col-sm-6 margin-top-20">
                        <label class="form-label">Website</label>    <br />
                        <label class="form-label"><b>  @Model.Website</b></label>
                    </div>
                    <div class="col-xs-12 col-sm-6 margin-top-20">
                        <label class="form-label">Begin on</label><br />
                        <label class="form-label"><b>@Model.BeginDate.ToShortDateString()</b></label>
                    </div>
                    <div class="col-xs-12 col-sm-6 margin-top-20">
                        <label class="form-label">Ends On</label><br />
                        <label class="form-label"><b>   @Model.EndDate.ToShortDateString()</b></label>
                    </div>
                    <div class="col-xs-12 col-sm-6 margin-top-20">
                        <label class="form-label">Code Used Count</label><br />
                        <label class="form-label"><b>@Model.UsedCount</b></label>
                    </div>
                    <div class="col-xs-12 col-sm-6 margin-top-20">
                        <label class="form-label">Promo Code</label><br />
                        <label class="form-label"><b>@Model.PromoCode</b></label>
                    </div>
                </div>
                <label class="form-label  margin-top-20">Sponsor Details</label>
                <br />
                <label class="form-label"><b> @Html.Raw(Model.Description)</b></label>
            </div>
        </div>
    </div>
</div>
