@model RDN.Library.Classes.League.Sponsor
@{
    ViewBag.Title = "View Sponsor Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/sponsors")">Sponsors</a></li>
    <li class="active">Details of Sponsor</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 style="margin-top:5px !important"><i class="fa fa-money"></i> @Model.SponsorName</h3>
                    </div>
                    <div class="col-xs-6 text-right">
						<a title="Use Code" class="btn btn-info btn-sm" data-bind="click: Sponsors.UseCode">
							<i class="fa fa-cogs"></i> I Used (<span data-bind="text: Sponsors.usedCount"></span>)
						</a>
                    </div>
                </div>
                <div class="text-muted"> Details of the Sponsor.</div>
            </div>
            <div class="panel-body no-padding-top">
                <div class="row">
                    <div class="col-xs-12 margin-top-20">
                        <label class="form-label"><b>Sponsor Name</b></label><br />
                        <label class="form-label"> @Model.SponsorName</label>
                    </div>
                    <div class="col-xs-12 margin-top-20">
                        <label class="form-label"><b>Website</b></label>    <br />
                        <label class="form-label">  @Model.Website</label>
                    </div>
                    <div class="col-xs-12 margin-top-20">
                        <label class="form-label"><b>Begin on</b></label><br />
                        <label class="form-label">@Model.BeginDate.ToShortDateString()</label>
                    </div>
                    <div class="col-xs-12  margin-top-20">
                        <label class="form-label"><b>Ends On</b></label><br />
                        <label class="form-label">   @Model.EndDate.ToShortDateString()</label>
                    </div>
                    <div class="col-xs-12 margin-top-20">
                        <label class="form-label"><b>Times Used</b></label><br />
						<label class="form-label" data-bind="text: usedCount"></label>
                    </div>
                    <div class="col-xs-12  margin-top-20">
                        <label class="form-label"><b>Promo Code</b></label><br />
                        <label class="form-label">@Model.PromoCode</label>
                    </div>
                </div>
                <label class="form-label  margin-top-20"><b>Sponsor Details</b></label>
                <br />
                <label class="form-label"> @Html.Raw(Model.Description)</label>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		Sponsors.Initialize('@Model.UsedCount', @Model.SponsorId, '@Model.SponsorForLeague.ToString().Replace("-", "")');
		ko.applyBindings(Sponsors);
	});
</script>
