@model List<RDN.Library.Classes.League.Sponsor>
@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    Guid leagueId = RDN.Library.Cache.MemberCache.GetLeagueIdOfMember(memId);
    bool isSec = RDN.Library.Cache.MemberCache.IsSponsorshipOrBetterOfLeague(memId);

}
@helper Truncate(string input, int length = 15)
{
    if (input != null)
    {
        if (input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
    }
    else
    {
        <text><i>Null</i></text>
    }
}
<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li class="active">Sponsors For The @RDN.Library.Classes.Config.LibraryConfig.TeamName</li>
</ol>
<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3 style="margin-top:5px !important"><i class="fa fa-money"></i> Sponsors For The @RDN.Library.Classes.Config.LibraryConfig.TeamName</h3>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                @if (isSec)
                {
                    <a class="btn btn-success pull-right" href="@Url.Content("~/league/sponsor/add")">
                        <i class="fa fa-plus-circle"></i> Add
                    </a>
                }
            </div>
        </div>
        <div class="text-muted">Add and view sponsors for your league.</div>
    </div>
    <div class="panel-body no-padding padding-top-10">
        <table class="table table-striped table-hover table-condensed no-margin-bottom" id="jobBoard">
            <thead>
                <tr>
                    <th>Sponsor Name</th>
                    <th>Ends On</th>
                    <th>Promo Code</th>
                    <th>Website</th>
                    <th>Times Used</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr class="@(b.SponsorId % 2 == 0 ? "tr1" : "tr0")">

                        <td>
                            <a href="@Url.Content("~/league/sponsor/details/" + b.SponsorId+ "/" + b.SponsorForLeague.ToString().Replace("-", ""))"> @Truncate(b.SponsorName, 18) </a>
                        </td>
                        <td>
                            @b.EndDate.ToShortDateString()
                        </td>
                        <td>
                            @Truncate(b.PromoCode, 10)
                        </td>
                        <td>
                            @Truncate(b.Website, 20)
                        </td>
                        <td>
                            @b.UsedCount
                        </td>
                        <td class="text-right">
                            @if (memId == b.SponsorAddByMember || isSec)
                            {
                                <a class="btn btn-warning btn-xs" href="@Url.Content("~/league/sponsor/details/" + b.SponsorId+ "/" + b.SponsorForLeague.ToString().Replace("-", ""))"><i class="fa fa-eye"></i> View</a> <a class="btn btn-info btn-xs" href="@Url.Content("~/league/sponsor/edit/" + b.SponsorId + "/" + b.SponsorForLeague.ToString().Replace("-", ""))"><i class="fa fa-pencil"></i> Edit</a>
                            }
                            else
                            {
                                <a class="btn btn-warning btn-xs" href="@Url.Content("~/league/sponsor/details/" + b.SponsorId+ "/" + b.SponsorForLeague.ToString().Replace("-", ""))"><i class="fa fa-eye"></i> View</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
