@model RDN.Models.OutModel.GameOutModel
@using RDN.Library.ViewModel;
@using RDN.Library.Classes.Payment.Enums;
@using RDN.Library.Classes.Payment.Enums.Paywall;
@using RDN.Library.Classes.Billing.Enums;
@using System.Text.RegularExpressions;
@{

    ViewBag.Title = Model.Game.GameName + " - " + Model.Game.Team1.TeamName + " vs. " + Model.Game.Team2.TeamName;
    if (Model.Game.GameDate != new DateTime())
    {
        ViewBag.Title += " on " + Model.Game.GameDate.ToLongDateString();
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

    var PensAbbre = from Scoreboard.Library.Static.Enums.PenaltiesEnum d in Enum.GetValues(typeof(Scoreboard.Library.Static.Enums.PenaltiesEnum))
                    select new { ID = (int)d, Name = d.ToString(), Abbre = Scoreboard.Library.ViewModel.PenaltyViewModel.ToAbbreviation(d) };
}
@if ((!string.IsNullOrEmpty(Model.Game.EmbededVideoHtml) && Model.Game.PaywallId == 0) || (!string.IsNullOrEmpty(Model.Game.EmbededVideoHtml) && Model.Game.PaywallId > 0 && Model.Paywall.IsPaid))
{

    <div class="embedIframe">
        @Html.Raw(Model.Game.EmbededVideoHtml)
    </div>

    @Html.HiddenFor(x => x.Paywall.PaywallId)
    @Html.HiddenFor(x => x.Paywall.PasswordForPaywall)
    <script type="text/javascript">
        gameViewModel.wall.set({ time: 120000, autostart: true });
    </script>
}
else if (!Model.Paywall.IsPaid && Model.Game.PaywallId > 0 && Model.Paywall.EndDate > DateTime.UtcNow.AddHours(-6))
{
    <div class="paywallContainer">
        @using (Html.BeginForm("MakePaywallPayment", "Game", FormMethod.Post, new { @id = "PaymentForm" }))
        {
            <div class="liveStreamTitle">This Game Offers Live Streaming</div>
            <div class="PaywallDesc">
                <div class="b c">This is a Pay-Per-Day Stream/Video</div>
                <div class="paywallDesc">@Model.Paywall.DescriptionOfPaywall</div>
                <br />
                @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <div>
                        <span class="b">Login: </span>
                        <a href="@Url.Content("~/login?returnUrl=" + Request.Url.AbsoluteUri)">Please Login</a> - <span class="i">optional</span>
                    </div>
                    <br />
                }
                <div>
                    <span class="b">Price: </span>
                    <ul class="subOptionList center">
                        @if (Model.Paywall.DailyPrice > 0)
                        {
                            <li>
                                <label class="subOptionPaymentProv">
                                    <input type="radio" name="PaymentCost" id="@PaywallPriceTypeEnum.Daily_Payment" value="@PaywallPriceTypeEnum.Daily_Payment" checked="checked" />
                                    <span>$@Model.Paywall.DailyPrice</span>

                                </label>
                                <span class="i sm">24 Hour Price</span>
                            </li>
                        }
                        @if (Model.Paywall.TimespanPrice > 0)
                        {
                            <li>
                                <label class="subOptionPaymentProv">
                                    <input type="radio" name="PaymentCost" id="@PaywallPriceTypeEnum.Full_Payment" value="@PaywallPriceTypeEnum.Full_Payment" />
                                    <span>$@Model.Paywall.TimespanPrice</span>

                                </label>
                                <span class="i sm">Full Tournament</span>
                            </li>
                        }
                    </ul>


                </div>
                <br />
                <div>
                    <span class="b">Pay With:</span>
                    <ul class="subOptionList center">
                        @if (Model.Paywall.AcceptStripe)
                        {
                            <li>
                                <label class="subOptionPaymentProv">
                                    <input type="radio" name="PaymentType" id="@PaymentProvider.Stripe" value="@PaymentProvider.Stripe" checked="checked" onclick="javascript: HideShowCCInfo('show')" />
                                    <span>Credit Card</span>
                                </label>
                            </li>
                        }
                        @if (Model.Paywall.AcceptPaypal)
                        {
                            <li>
                                <label class="subOptionPaymentProv">
                                    <input type="radio" name="PaymentType" id="@PaymentProvider.Paypal" value="@PaymentProvider.Paypal" onclick="javascript: HideShowCCInfo('hide')" />
                                    <span><span class="paypalText">Paypal</span></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="PaywallLogo">
                <table id="CCTable">
                    <tr id="cardNumberTR">
                        <td class="subTableLD">Card Number:</td>
                        <td class="subTableRD largeInput">@Html.TextBoxFor(x => x.Paywall.CCNumber, new { @class = "card-number" })</td>
                    </tr>
                    <tr id="securityCodeTR">
                        <td class="subTableLD">Security Code:</td>
                        <td class="subTableRD smallInput">@Html.TextBoxFor(x => x.Paywall.SecurityCode, new { @class = "card-cvc" })</td>
                    </tr>
                    <tr id="expirationDateTR">
                        <td class="subTableLD">Expiration Date:</td>
                        <td class="subTableRD smallDropDown">@Html.DropDownList("MonthOfExpiration", RDN.Models.Enums.EnumExt.ToSelectListIdAndName(MonthsEnum.Jan), new { @class = "card-expiry-month" }) @Html.DropDownList("YearOfExpiration", RDN.Models.Enums.EnumExt.ToSelectListId(YearsEnum.Fourteen), new { @class = "card-expiry-year" })</td>
                    </tr>
                    <tr>
                        <td class="subTableLD">Email Address:</td>
                        <td class="subTableRD largeInput">@Html.TextBoxFor(x => x.Paywall.EmailAddress)</td>
                    </tr>
                </table>
                <div class="center">
                    <div class="paymentErrors red"></div>
                    <span id="submitButton1">
                        <input type="submit" class="primary" value="Pay For Stream" />
                    </span><img src="@Url.Content("~/Content/indicator.gif")" id="working1" class="displayNone" />
                </div>
            </div>

            @Html.HiddenFor(x => x.Game.GameId)
        }

        <div class="PaywallLogo">
            <span class="b">OR</span>
            @using (Html.BeginForm("Index", "Game", FormMethod.Post, new { @id = "ViewForm" }))
            {
                <div class="paywallPassword">
                    <span class="b">Password:</span> @Html.TextBoxFor(x => x.Paywall.PasswordForPaywall)
                    <input type="submit" class="primary" value="View Stream" />
                </div>
                @Html.HiddenFor(x => x.Game.GameId)
                @Html.HiddenFor(x => x.Paywall.PaywallId)
            }
        </div>
        <div class="clear"></div>
    </div>
}
<div id="gamePage" class="page-header">
    <h2 class="text-center bold">
        <span data-bind="text: gameName">@Model.Game.GameName</span><br />
        <small>
            @if (Model.Game.GameDate != new DateTime())
            {
                <b>@Model.Game.GameDate.ToString("MMM dd, yyyy")</b>
            }
        </small>
        <small data-bind="text: gameLocation">
            @if (!String.IsNullOrEmpty(Model.Game.GameLocation))
            {
                @Model.Game.GameLocation
            }
        </small>
        <small class="gText" data-bind="text: hasGameEnded"></small>
        @if (Model.Game.TournamentId != new Guid())
        {<br />
            <span>apart of the</span> <a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-tournament/" + Model.Game.TournamentId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Game.TournamentName))">
                The @Model.Game.TournamentName Tournament
            </a>
        }
    </h2>

    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                @*<img src="http://www.pachd.com/free-images/abstract-images/abstract-04.jpg" alt="" class="img-responsive img-rounded" />*@
                @if (Model.Game.Team1.Logo.ImageUrl != null)
                {
                    <img src="@Model.Game.Team1.Logo.ImageUrl" alt="@Model.Game.Team1.TeamName" class="img-responsive img-rounded" />
                }

                <div class="row">
                    <span class="text-jumbo " data-bind="text: team1Score"></span>
                </div>
                <div class="row">
                    <span class="text-jumbo" data-bind="text: team1Name">@Model.Game.Team1.TeamName</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                @*<img src="http://www.pachd.com/free-images/abstract-images/abstract-04.jpg" alt="" class="img-responsive img-rounded" />*@
                @if (Model.Game.Team2.Logo.ImageUrl != null)
                {
                    <img src="@Model.Game.Team2.Logo.ImageUrl" alt="@Model.Game.Team2.TeamName" class="img-responsive img-rounded" />
                }

                <div class="row">
                    <span class="text-jumbo" data-bind="text: team2Score">@Model.Game.CurrentTeam2Score</span>
                </div>
                <div class="row">
                    <span class="text-jumbo" data-bind="text: team2Name">@Model.Game.Team2.TeamName</span>
                </div>
            </div>
        </div>
    </div>


    <div class="gpHContent">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="#jamsTab" role="tab" data-toggle="tab">Jams</a></li>
            <li role="presentation"><a href="#playersTab" role="tab" data-toggle="tab">Player Stats</a></li>
            <li role="presentation"><a href="#photosTab" role="tab" data-toggle="tab">Photos</a></li>
            <li role="presentation"><a href="#chatTab" role="tab" data-toggle="tab">Chat</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active well " id="jamsTab">





                @if (Model.Game.CurrentJam != null)
                {
                    <div class="gameTabH">
                        Current Jam
                    </div>
                }
                <div class="gameJamsCon">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                <th class="tht" colspan="6" data-bind="text: team1Name">
                                    @Model.Game.Team1.TeamName
                                </th>
                                <th class="tht" colspan="6" data-bind="text: team2Name">
                                    @Model.Game.Team2.TeamName
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="jthr">
                                <th>
                                    Prd
                                </th>
                                <th>
                                    Jam
                                </th>
                                <th>
                                    Called
                                </th>
                                <th>
                                    Pts
                                </th>
                                <th>
                                    B1
                                </th>
                                <th>
                                    B2
                                </th>
                                <th>
                                    B3
                                </th>
                                <th>
                                    P1
                                </th>
                                <th>
                                    J1
                                </th>
                                <th>
                                    Pts
                                </th>
                                <th>
                                    B1
                                </th>
                                <th>
                                    B2
                                </th>
                                <th>
                                    B3
                                </th>
                                <th>
                                    P1
                                </th>
                                <th>
                                    J1
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: jams">
                            <tr>
                                <td data-bind="text: period"></td>
                                <td data-bind="text: jamNumber"></td>
                                <td data-bind="text: calledTime"></td>
                                <td data-bind="text: t1Points"></td>
                                <td>
                                    <div data-bind="if: b1t1Url">
                                        <a data-bind="attr: { href: b1t1Url }, text: b1t1Name"></a>
                                    </div>
                                    <div data-bind="ifnot: b1t1Url">
                                        <span data-bind="text: b1t1Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: b2t1Url">
                                        <a data-bind="attr: { href: b2t1Url }, text: b2t1Name"></a>
                                    </div>
                                    <div data-bind="ifnot: b2t1Url">
                                        <span data-bind="text: b2t1Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: b3t1Url">
                                        <a data-bind="attr: { href: b3t1Url }, text: b3t1Name"></a>
                                    </div>
                                    <div data-bind="ifnot: b3t1Url">
                                        <span data-bind="text: b3t1Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: p1t1Url">
                                        <a data-bind="attr: { href: p1t1Url }, text: p1t1Name"></a>
                                    </div>
                                    <div data-bind="ifnot: p1t1Url">
                                        <span data-bind="text: p1t1Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: j1t1Url">
                                        <a data-bind="attr: { href: j1t1Url }, text: j1t1Name"></a>
                                    </div>
                                    <div data-bind="ifnot: j1t1Url">
                                        <span data-bind="text: j1t1Name"></span>
                                    </div>
                                </td>
                                <td data-bind="text: t2Points"></td>
                                <td>
                                    <div data-bind="if: b1t2Url">
                                        <a data-bind="attr: { href: b1t2Url }, text: b1t2Name"></a>
                                    </div>
                                    <div data-bind="ifnot: b1t2Url">
                                        <span data-bind="text: b1t2Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: b2t2Url">
                                        <a data-bind="attr: { href: b2t2Url }, text: b2t2Name"></a>
                                    </div>
                                    <div data-bind="ifnot: b2t2Url">
                                        <span data-bind="text: b2t2Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: b3t2Url">
                                        <a data-bind="attr: { href: b3t2Url }, text: b3t2Name"></a>
                                    </div>
                                    <div data-bind="ifnot: b3t2Url">
                                        <span data-bind="text: b3t2Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: p1t2Url">
                                        <a data-bind="attr: { href: p1t2Url }, text: p1t2Name"></a>
                                    </div>
                                    <div data-bind="ifnot: p1t2Url">
                                        <span data-bind="text: p1t2Name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div data-bind="if: j1t2Url">
                                        <a data-bind="attr: { href: j1t2Url }, text: j1t2Name"></a>
                                    </div>
                                    <div data-bind="ifnot: j1t2Url">
                                        <span data-bind="text: j1t2Name"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane  well " id="playersTab">
                <div class="gameJamsCon">

                    <div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="tht" colspan="6">
                                        <h3 data-bind="text: team1Name"></h3>
                                    </th>
                                </tr>
                            </thead>
                            <thead>
                                <tr class="jthr">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Number
                                    </th>
                                    <th class="text-center">
                                        Total Blocks
                                    </th>
                                    <th class="text-center">
                                        Total Assists
                                    </th>
                                    <th class="text-center">
                                        Total Penalties
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Team1Members">
                                <tr>
                                    <td>
                                        <div data-bind="if: skaterUrl">
                                            <a data-bind="attr: { href: skaterUrl }, text: name"></a>
                                        </div>
                                        <div data-bind="ifnot: skaterUrl">
                                            <span data-bind="text: name"></span>
                                        </div>
                                    </td>
                                    <td data-bind="text: skaterNumber"></td>
                                    <td class="text-center">
                                        <div data-bind="text: Blocks().length">
                                            0
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div data-bind="text: Assists().length">
                                            0
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span data-bind="text: Penalties().length"></span>: <span data-bind="foreach: Penalties">
                                            <span data-bind="text: penaltyType"></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="tht" colspan="6">
                                        <h3 data-bind="text: team2Name"></h3>
                                    </th>
                                </tr>
                            </thead>
                            <thead>
                                <tr class="jthr">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Number
                                    </th>
                                    <th>
                                        Total Blocks
                                    </th>
                                    <th>
                                        Total Assists
                                    </th>
                                    <th>
                                        Total Penalties
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Team2Members">
                                <tr>
                                    <td>
                                        <div data-bind="if: skaterUrl">
                                            <a data-bind="attr: { href: skaterUrl }, text: name"></a>
                                        </div>
                                        <div data-bind="ifnot: skaterUrl">
                                            <span data-bind="text: name"></span>
                                        </div>
                                    </td>
                                    <td data-bind="text: skaterNumber"></td>
                                    <td>
                                        <div data-bind="text: Blocks().length">
                                            0
                                        </div>
                                    </td>
                                    <td>
                                        <div data-bind="text: Assists().length">
                                            0
                                        </div>
                                    </td>
                                    <td>
                                        <span data-bind="text: Penalties().length"></span>: <span data-bind="foreach: Penalties">
                                            <span data-bind="text: penaltyType"></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear">
                    </div>
                    <ul class="penList">
                        @foreach (var pen in PensAbbre)
                        {
                            <li><span class="bold">@pen.Abbre</span><span>: @pen.Name</span></li>
                        }
                    </ul>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane  well " id="photosTab">
                <div class="gameJamsCon">

                    <div data-bind="foreach: pictures">
                        <div class="col-xs-4">
                            <img data-bind="attr: {src: url, alt: alt}" class="thumbnail-lg img-responsive img-rounded" />
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane  well " id="chatTab">
                <div class="gameJamsCon">
                    <h3 class="text-center">
                        Live Chat
                    </h3>
                    <div class="row well well-lg bg-white col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="gameChatControl">
                            <textarea id="chat" name="chat" rows="2" class="gameInputChat" style="width:100%;"></textarea>
                            <input name="submit" id="submit" type="submit" value="Send Chat" class="btn btn-primary pull-right"
                                   onclick="javascript: gameViewModel.postConversation()" />
                        </div>
                        <div class="clearfix">
                        </div>
                        <div id="chatMessages" data-bind="foreach: chats">
                            <div class="chatMessage">
                                <div class="chatMessageProfile">
                                    <b><span data-bind="text: name"></span></b>
                                    <br />
                                    <span data-bind="text: Created"></span>
                                </div>
                                <div class="chatMessageContent">
                                    <span data-bind="text: chat"></span>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>


        </div>

        @if (RDN.Library.Classes.Config.LibraryConfig.SiteType == RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
        {
            <div class="text-center">
                <a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/@RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl-scoreboard" class="btn btn-primary">
                    Download Thor's Hammer Roller
                    Derby Scoreboard
                </a>
            </div>
        }
    </div>
</div>
<script type="text/javascript">

    ko.applyBindings(gameViewModel, document.getElementById("gamePage"));

    gameViewModel.initialize("@Model.Game.GameId.ToString().Replace("-", "")");

    @Html.Raw(Model.StripeKey)

    $("#PaymentForm").validate({
        rules: {
            "Paywall.CCNumber": "required",
            "Paywall.SecurityCode": "required",
            MonthOfExpiration: "required",
            YearOfExpiration: "required",
            "Paywall.EmailAddress": "required"
        },
        submitHandler: function (form) {
            // disable the submit button to prevent repeated clicks
            $('#submitButton1').toggleClass("displayNone", true);
            $('#working1').toggleClass("displayNone", false);
            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val(),

            }, stripeResponseHandler);
        }
    });
    $("#ViewForm").validate({
        rules: {
            "Paywall.PasswordForPaywall": "required"
        }
    });

</script>
