@using System.Text
@using RDN.Raspberry.Models.Helpers
@model RDN.Raspberry.Models.OutModel.GenericSingleModel<RDN.Raspberry.Models.Utilities.SimplePager<RDN.Library.Classes.Admin.Admin.Classes.ContactLeague>>

@{    
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<h2>
    League contact information</h2>

<a href="@Url.Action("AddLeagueContact", "Admin")">Add league</a>
<br/><br/>
    
@Html.Raw(MessageHelper.PrintMessages(Model.MessageList))

Number of leagues: @Model.Model.NumberOfRecords
<br />
<br />
@using (Html.BeginForm("LeagueContacts", "Admin"))
{
    <text>
        <input type="hidden" name="NumberOfPages" value="@Model.Model.NumberOfPages.ToString()"/>
        <input type="hidden" name="NumberOfRecords" value="@Model.Model.NumberOfRecords.ToString()"/>
        Showing page: @Html.DropDownList("CurrentPage", Model.Model.Pages)
        <input type="submit" value="Show"/>
    </text>
}
<br/>
<br/>
<table>
@foreach (var item in Model.Model.Items)
{
    
    <tr>
        <td style="font-weight: bold;">Created:</td>
        <td>@item.Created.ToString("MM.dd.yyyy HH:MM:ss")</td>
    </tr>
    <tr>
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Name:</td>
        <td>@item.Name</td>
    </tr>
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Country:</td>
        <td>@item.Country</td>
    </tr>
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">State:</td>
        <td>@item.State</td>
    </tr>
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">City:</td>
        <td>@item.City</td>
    </tr>
    <tr>
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Association:</td>
        <td>@item.Association</td>
    </tr>   
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">League type:</td>
        <td>@item.LeagueType</td>
    </tr>
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Homepage:</td>
        <td>@item.HomePage</td>
    </tr>
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Facebook:</td>
        <td>@item.Facebook</td>
    </tr>
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Emails:</td>
        <td>
            @{
                var emails = new StringBuilder();
            }
            @foreach (var address in item.Addresses)
            {                
                emails.Append(string.Format("Is Main? {1} -- {0}<br />", address.Email, address.IsMain));                
            }                   
            @Html.Raw(emails.ToString())
        </td>
    </tr>
    <tr>        
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Comments:</td>
        <td>@item.Comment</td>
    </tr>
    <tr>
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            @using (Html.BeginForm("LeagueContacts", "Admin"))
            {
                <text>
                    <input type="hidden" name="CurrentPage" value="@Model.Model.CurrentPage.ToString()"/>
                    <input type="hidden" name="NumberOfPages" value="@Model.Model.NumberOfPages.ToString()"/>
                    <input type="hidden" name="NumberOfRecords" value="@Model.Model.NumberOfRecords.ToString()"/>
                    <input type="hidden" name="ItemToDelete" value="@item.LeagueId.ToString()"/>                    
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure that you want to delete this post?');"/>
                </text>
            }
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height: 15px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2"><hr /></td>
    </tr>
}
</table>
<br/>
<br />
@using (Html.BeginForm("LeagueContacts", "Admin"))
{
    <text>
        <input type="hidden" name="NumberOfPages" value="@Model.Model.NumberOfPages.ToString()"/>
        <input type="hidden" name="NumberOfRecords" value="@Model.Model.NumberOfRecords.ToString()"/>
        Showing page: @Html.DropDownList("CurrentPage", Model.Model.Pages)
        <input type="submit" value="Show"/>
    </text>
}
<br/>
<br/>