@model RDN.Portable.Classes.Games.Officiating.RequestDA
@{
    ViewBag.Title = "Add Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}


<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/officiating/requests")">All Requests</a></li>
    <li class="active">Add an Officiating Request</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-bottom-10 margin-top-5"><i class="fa fa-user"></i> Add an Officiating Request</h3>
                <span class="text-muted">
                    Add a new request for officials.
                </span>
            </div>
          
                @using (Html.BeginForm("AddRequest", "Officiating", FormMethod.Post, new { @id = "addNewRequest" }))
                {
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Teams Playing. <span class="i text-muted">DCRG vs Charm City</span></div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.TeamsPlaying, new {@class="form-control" }) 
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Date</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(models => models.Date, new { @class = "jquery_datepicker form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">First Whistle:</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(models => models.FirstWhistle, new { @class = "jquery_timepicker form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Location Name. <span class="i text-muted">Place of Game</span></div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.LocationName, new { @class = "form-control" }) 
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Address</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Address 2</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.Address1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">City</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">State</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Zip</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">How Many Refs needed?</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.NoRefNeded, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">How Many NSOs needed?</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.NonsoNeded, new { @class = "form-control" })
                            </div>
                        </div>
                       
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Travel Stipend for NSOs</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.TravelStipendForNSO, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Travel Stipend for Refs</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.TravelStipendForRefs, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Select Rule Set</div>
                            <div class="margin-bottom-15">
                                @Html.DropDownListFor(x => x.RuleSetId, new SelectList(ViewBag.RuleSets, "Value", "Text"), new { @class = "full-width" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label> Is Regulation? @Html.CheckBoxFor(x => x.IsRegulation)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label>Evaluations For Certification Provided @Html.CheckBoxFor(x => x.EvaluationsProvided)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label>Snacks Provided for officials @Html.CheckBoxFor(x => x.IsSnacksProvided)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label>Stipend Provided For Travel? @Html.CheckBoxFor(x => x.IsReimbursement)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-label margin-bottom-5">Description</div>
                            <div class="margin-bottom-15">
                                @Html.TextArea("Description", string.Empty, new
                                {
                                    id = "wmd-input",
                                    style = "width:700px"
                                })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-sm btn-success" name="addRequest"><i class="fa fa-paper-plane"></i> Submit Request</button>
                </div>
                }
        </div>
    </div>
</div>    
<script type="text/javascript">
    $("#addNewRequest").validate({
        rules: {
            TeamsPlaying: "required",
            LocationName: "required",
            Address: "required",
            RuleSetId: "required"
        }
    });
    $("#TravelStipendForRefs").numeric({ negative: false });
    $("#TravelStipendForNSO").numeric({ negative: false });
    $("#NoRefNeded").numeric({ negative: false, decimal: false });
    $("#NonsoNeded").numeric({ negative: false, decimal: false });
    $('#Date').datepicker();
    $('#FirstWhistle').timepicker();

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "modern",
            plugins: "layer,table,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,template,link",
        });
    });
</script>
