@model RDN.Portable.Classes.Games.Officiating.RequestDA
@{
    ViewBag.Title = "Edit Request Posting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    
}


<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/officiating/requests")">All Requests</a></li>
    <li class="active">Edit the Request</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3 class="margin-bottom-10 margin-top-5"><i class="fa fa-pencil"></i> Edit The Request</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <a class="btn btn-sm btn-danger" onclick="return confirm('Really Delete?')" title="Delete Job" href="@Url.Content("~/officiating/Delete/request/" + Model.RequestId + "/" + Model.RequestCreator.ToString().Replace("-", ""))">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                        <a class="btn btn-sm btn-default" href="@Url.Content("~/officiating/requests")">Cancel</a>
                    </div>
                </div>
                <span class="text-muted">
                    Edit the request you posted.
                </span>
            </div>
             @using (Html.BeginForm("EditRequest", "Officiating", FormMethod.Post, new { @id = "editRequest" }))
            { 
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Teams Playing. <span class="i text-muted">DCRG vs Charm City</span></div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.TeamsPlaying, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Date</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(models => models.Date, new { @class = "jquery_datepicker form-control", @Value = Model.Date > new DateTime() ? Model.Date.Value.ToString("MM/dd/yyyy") : "" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">First Whistle:</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(models => models.FirstWhistle, new { @class = "jquery_timepicker form-control", @Value = Model.FirstWhistle })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Location Name. <span class="i text-muted">Place of Game</span></div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.LocationName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Address</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Address 2</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.Address1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">City</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">State</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Zip</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">How Many Refs needed?</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.NoRefNeded, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">How Many NSOs needed?</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.NonsoNeded, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Travel Stipend for NSOs</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.TravelStipendForNSO, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Travel Stipend for Refs</div>
                            <div class="margin-bottom-15">
                                @Html.TextBoxFor(x => x.TravelStipendForRefs, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-label margin-bottom-5">Select Rule Set</div>
                            <div class="margin-bottom-15">
                                @Html.DropDownListFor(x => x.RuleSetId, new SelectList(ViewBag.RuleSets, "Value", "Text"), new { @class = "full-width" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label> Is Regulation? @Html.CheckBoxFor(x => x.IsRegulation)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label>Evaluations For Certification Provided @Html.CheckBoxFor(x => x.EvaluationsProvided)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label>Snacks Provided for officials @Html.CheckBoxFor(x => x.IsSnacksProvided)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="margin-bottom-15">
                                <label>Stipend Provided For Travel? @Html.CheckBoxFor(x => x.IsReimbursement)</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-label margin-bottom-5">Description</div>
                            <div class="margin-bottom-15">
                                @Html.TextArea("Description", new
                               {
                                   id = "wmd-input",
                                   @Value = Model.Description != null ? Model.Description.ToString() : "",

                               })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-sm btn-success" name="addRequest"><i class="fa fa-paper-plane"></i> Submit Request</button>
                </div>
                  @Html.HiddenFor(models => models.RequestId)
                @Html.HiddenFor(models => models.RequestCreator)
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#editRequest").validate({
        rules: {
            TeamsPlaying: "required",
            LocationName: "required",
            Address: "required",
            RuleSetId: "required"
        }
    });
    $("#TravelStipendForRefs").numeric({ negative: false });
    $("#TravelStipendForNSO").numeric({ negative: false });
    $("#NoRefNeded").numeric({ negative: false, decimal: false });
    $("#NonsoNeded").numeric({ negative: false, decimal: false });
    $('#Date').datepicker();
    $('#FirstWhistle').timepicker();

    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "advanced",
            skin: "o2k7",
            skin_variant: "silver",
            plugins: "safari,style,layer,table,advhr,advimage,advlink,inlinepopups,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,formatselect,fontsizeselect",
            theme_advanced_buttons2: "link,unlink,anchor,image,cleanup,code,|,preview,|,forecolor,backcolor,|tablecontrols,|,hr,removeformat,visualaid,|,iespell,media,|,ltr,rtl",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
        });
    });
</script>