@model List<RDN.Portable.Classes.Games.Officiating.RequestDA>
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var memId = RDN.Library.Classes.Account.User.GetMemberId();
}
@helper Truncate(string input, int length = 30)
{
    if (input != null)
    {
        if (input.Length <= length)
        {
    @input
        }
        else
        {
    @input.Substring(0, length)<text>...</text>
        }
    }
    else
    {
    <text></text>
    }
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li class="active">All Officiating Requests</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h3 class="margin-bottom-10 margin-top-5"><i class="fa fa-user"></i> All Officiating Requests</h3>
            </div>
            <div class="col-xs-6 text-right">
                <a class="btn btn-primary btn-sm margin-top-5" title="New Request" href="@Url.Content("~/officiating/addrequest")">
                    <i class="fa fa-plus-circle"></i> Add
                </a>
            </div>
        </div>
        <span class="text-muted">
            Add and view officiating requests made from all over the world.  If you're an official, this is the place to check out for more games to officiate.  This should also help alleviate the big need for officials.
        </span>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-condensed no-margin-bottom" id="boutRequest">
            <thead>
                <tr>
					<th></th>
                    <th>Teams Playing</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>First Whistle</th>
                    <th>Rule Set</th>
                    <th>Refs / NSOs Needed</th>
                    <th>Reimbursement</th>
                    <th>Regulation</th>
                    <th>Evaluation</th>
                    <th>Snacks</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var b in Model)
                {
                    <tr class="@(b.RequestId % 2 == 0 ? "tr1" : "tr0")">
						<td>

							@if (memId == b.RequestCreator)
							{
								<a class="btn btn-xs btn-success pull-left" href="@Url.Content("~/officiating/editrequest/" + b.RequestId + "/" + b.RequestCreator.ToString().Replace("-", ""))"><i class="fa fa-pencil"></i> Edit</a>
								<a class="btn btn-xs btn-warning pull-left" href="@Url.Content("~/officiating/viewrequest/" + b.RequestId + "/" + b.RequestCreator.ToString().Replace("-", ""))"><i class="fa fa-eye"></i> View</a>
							}
							else
							{
								<a class="btn btn-xs btn-warning" href="@Url.Content("~/officiating/viewrequest/" + b.RequestId + "/" + b.RequestCreator.ToString().Replace("-", ""))"><i class="fa fa-eye"></i> View</a>
							}
						</td>
                        <td>
                            @Truncate(b.TeamsPlaying, 23)
                        </td>
                        <td>
                            @Truncate(b.LocationName, 10) -

                            @if (!String.IsNullOrEmpty(b.City))
                            {
                                @b.City<span>,</span>
                            }
                            @if (!String.IsNullOrEmpty(b.State))
                            {
                                @b.State<span> </span>
                            }


                        </td>
                        <td>
                            @b.Date.Value.ToShortDateString()
                        </td>
                        <td>
                            @Truncate(b.FirstWhistle, 10)
                        </td>
                        <td>
                            @RDN.Utilities.Enums.EnumExt.ToFreindlyName((RDN.Portable.Classes.Federation.Enums.RuleSetsUsedEnum)b.RuleSetId)
                        </td>
                        <td>
                            @b.NoRefNeded / @b.NonsoNeded
                        </td>
                        <td class="text-center">
                            @if (b.IsReimbursement)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (b.IsRegulation)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (b.EvaluationsProvided)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (b.IsSnacksProvided)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>