@model RDN.Portable.Classes.Games.Officiating.RequestDA
@using RDN.Portable.Classes.Controls.Message.Enums
@{
    ViewBag.Title = "Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/officiating/requests")">All Requests</a></li>
    <li class="active">Request</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3 class="margin-bottom-10 margin-top-5"><i class="fa fa-user"></i> Officiating Request Details</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right b">
                        <a class="btn btn-sm btn-default" title="Contact" href="@Url.Content("~/messages/new/" + GroupOwnerTypeEnum.officiating.ToString() + "/" + Model.RequestCreator.ToString().Replace("-", ""))">
                            <i class="fa fa-envelope"></i> Contact
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Teams Playing:</div>
                            <div class="col-xs-12 col-sm-6">@Model.TeamsPlaying</div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Date:</div>
                            <div class="col-xs-12 col-sm-6">@Model.Date.Value.ToShortDateString()</div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">First Whistle:</div>
                            <div class="col-xs-12 col-sm-6">@Model.FirstWhistle</div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Location Name:</div>
                            <div class="col-xs-12 col-sm-6">
                                @Model.LocationName
                                @if (!String.IsNullOrEmpty(Model.Address))
                                {
                                    @Model.Address<span>,</span>
                                }
                                @if (!String.IsNullOrEmpty(Model.Address1))
                                {
                                    @Model.Address1<span>,</span><br />
                                }
                                @if (!String.IsNullOrEmpty(Model.City))
                                {
                                    @Model.City<span>,</span>
                                }
                                @if (!String.IsNullOrEmpty(Model.State))
                                {
                                    @Model.State
                                }
                                @if (!String.IsNullOrEmpty(Model.Zip))
                                {
                                    <span>-</span> @Model.Zip<br />
                                }
                                @if (!String.IsNullOrEmpty(Model.Country))
                                {
                                    @Model.Country
                                }
                                <a class="btn btn-default btn-xs margin-top-5" href="http://www.bing.com/maps/default.aspx?q=@Model.Address+@Model.Address1,+@Model.City,+@Model.State+@Model.Zip+@Model.Country" target="_blank"><i class="fa fa-map-marker"></i> View Map</a>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Is Regulation:</div>
                            <div class="col-xs-12 col-sm-6">
                                @if (Model.IsRegulation)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Evaluations Provided:</div>
                            <div class="col-xs-12 col-sm-6">
                                @if (Model.EvaluationsProvided)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Snacks Provided?:</div>
                            <div class="col-xs-12 col-sm-6">
                                @if (Model.IsSnacksProvided)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Referees needed?:</div>
                            <div class="col-xs-12 col-sm-6">
                                @Model.NoRefNeded
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Non Officials needed?:</div>
                            <div class="col-xs-12 col-sm-6">
                                @Model.NonsoNeded
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Reimbursement?:</div>
                            <div class="col-xs-12 col-sm-6">
                                @if (Model.IsReimbursement)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Stipend for Refs:</div>
                            <div class="col-xs-12 col-sm-6">
                                @Model.TravelStipendForRefs
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b">Stipend for NSOs:</div>
                            <div class="col-xs-12 col-sm-6">
                                @Model.TravelStipendForNSO
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b"> Select Rule Set:</div>
                            <div class="col-xs-12 col-sm-6">
                                    @RDN.Utilities.Enums.EnumExt.ToFreindlyName((RDN.Portable.Classes.Federation.Enums.RuleSetsUsedEnum)Model.RuleSetId)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-right b"> Description:</div>
                            <div class="col-xs-12 col-sm-6">
                                    @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
