<br />
<div class="white container">
    <div class="text-center">
        <ul class="list-inline ">
            <li>
                <a class="footerLink" href="@Url.Content(" ~/about")">about</a>
            </li>
            <li><a class="footerLink" href="@RDN.Library.Classes.Config.LibraryConfig.BlogSite">blog</a></li>
            <li>
                <a class="footerLink" href="@Url.Content(" ~/privacy")">privacy policy</a>
            </li>
            <li>
                <a class="footerLink" href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite">help</a>
            </li>
            <li>
                <a class="footerLink" href="@Url.Content(" ~/about/contact")">contact</a>
            </li>
            <li>
                <a class="footerLink" href="@Url.Content(" ~/about/contact")">feedback always welcome</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="col-xs-4">
            <h3>@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName</h3>
            <address>
                12960A Grays Pointe Rd<br>
                Fairfax, VA 22033 USA
            </address>

            <div>Email: <a href="mailto:'@RDN.Library.Classes.Config.LibraryConfig.WebsiteMainEmail'">@RDN.Library.Classes.Config.LibraryConfig.WebsiteMainEmail</a></div>

        </div>
        <div class="col-xs-4">
            <h4>
                Our Sites
            </h4>

            <div>
                <a href="https://rdnation.com" target="_blank">Roller Derby Nation</a>
            </div>
            <div>
                <a href="https://snation.com" target="_blank">Soccer Nation</a>
            </div>
        </div>
        <div class="col-xs-4">
            <h4>
                Fun and Connect
            </h4>

            <div>
                <a class="facebook-icon" href="@RDN.Library.Classes.Config.LibraryConfig.FacebookUrl"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a class="google-plus-icon" href="https://plus.google.com/b/100003183552108454392/"><i class="fa fa-google-plus fa-3x"></i></a>
            </div>
            <div><a class="footerLink" href="@Url.Content(" ~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-logos")">derby logos</a></div>

            <div><a class="footerLink b" href="http://zebras.@RDN.Library.Classes.Config.LibraryConfig.MainDomain">Zebras Unite!</a></div>

        </div>
        <div class="clearfix"></div>
        <div class="copyRight text-center">
            site design / logo © @DateTime.Now.Year @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName inc;
            <br />
            <div class="tc">All league logos are copywritten per their respective copyright holders.</div>
        </div>

    </div>
    <br /><br />
</div>