@model RDN.Library.Classes.League.JobBoard
@{
    ViewBag.Title = "Edit Job Posting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/jobboard")">Jobs</a></li>
    <li class="active">Edit Job</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        @using (Html.BeginForm("EditJob", "JobBoard", FormMethod.Post, new { @id = "EditJob" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <h3 style="margin-top:5px !important"><i class="fa fa-suitcase"></i> Edit Job</h3>
                        </div>
                        <div class="col-sm-12 col-md-8 text-right">
                            <a class="btn btn-sm btn-warning" onclick="return confirm('Filled the Job?')" title="Fill Job" href="@Url.Content("~/league/job/fill/" + Model.JobId + "/" + Model.LeagueId.ToString().Replace("-", ""))">
                                <i class="fa fa-folder"></i> Fill Job
                            </a>
                            <a class="btn btn-sm btn-info" onclick="return confirm('Close the Job?')" title="Close Job" href="@Url.Content("~/league/job/close/" + Model.JobId + "/" + Model.LeagueId.ToString().Replace("-", ""))">
                                <i class="fa fa-times-circle"></i> Close
                            </a>
                            <a class="btn btn-sm btn-danger" onclick="return confirm('Really Delete?')" title="Delete Job" href="@Url.Content("~/league/job/delete/" + Model.JobId + "/" + Model.LeagueId.ToString().Replace("-", ""))">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </div>
                    </div>
                    <div class="text-muted"> Edit the Job for the league.</div>
                </div>
                <div class="panel-body no-padding-top">
                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Job Title</label>
                        <div>
                            @Html.TextBoxFor(x => x.JobTitle, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <label class="form-label margin-top-10">Report To</label>
                        <div>
                            @Html.TextBoxFor(x => x.ReportsTo, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-6">
                        <label class="form-label margin-top-10">Hours Per Week </label>
                        <div>
                            @Html.TextBoxFor(x => x.HoursPerWeek, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-6">
                        <label class="form-label margin-top-10">Application Dead line </label>
                        <div>
                            @Html.TextBoxFor(x => x.JobEnds, new { @type = "text", @class = "form-control jquery_datepicker", @Value = Model.JobEnds > new DateTime() ? Model.JobEnds.ToString("MM/dd/yyyy") : "" })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label margin-top-10">Job Description </label>
                        <div>
                            @Html.TextArea("jobdesc", Model.JobDesc, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default btn-success" name="addNewJob"><i class="fa fa-save"></i> Submit</button>
                    <a class="btn btn-default pull-right" href="@Url.Content("~/league/jobboard")">Cancel</a>
                </div>
            </div>
            @Html.HiddenFor(models => models.JobId)
            @Html.HiddenFor(models => models.LeagueId)
            @Html.HiddenFor(models => models.JobCreator)
        }
        
    </div>
    
</div>

<script type="text/javascript">
    $("#EditJob").validate({
        rules: {
            JobTitle: "required",
            JobEnds: "required"
        }
    });
    $('#JobEnds').datepicker();
   
</script>