@model RDN.Library.Classes.League.JobBoard
@{
    ViewBag.Title = "Edit Job Posting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    
}

<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
            < <a  href="@Url.Content("~/league/jobboard")">Cancel Edit</a>
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Edit The Job
        </div>
         <div class="tvChanges">
             <div class="navIcons">
                <a onclick="return confirm('Filled the Job?')" title="Fill Job" href="@Url.Content("~/league/job/fill/" + Model.JobId + "/" + Model.LeagueId.ToString().Replace("-", ""))">
                    <img  src="@Url.Content("~/Content/images/icons/jobFilled.png")"  />Fill Job
                </a>
            </div>
            <div class="navIcons">
                <a onclick="return confirm('Close the Job?')" title="Close Job" href="@Url.Content("~/league/job/close/" + Model.JobId + "/" + Model.LeagueId.ToString().Replace("-", ""))">
                    <img  src="@Url.Content("~/Content/images/icons/close.png")"  />Close
                </a>
            </div>
            <div class="navIcons">
                <a onclick="return confirm('Really Delete?')" title="Delete Job" href="@Url.Content("~/league/job/delete/" + Model.JobId + "/" + Model.LeagueId.ToString().Replace("-", ""))">
                    <img  src="@Url.Content("~/Content/images/icons/delete.png")"  />Delete
                </a>
            </div>
        </div>

        <div class="titleDescription">
            Edit the job for the league.
     
        </div>
        <div class="divider"></div>

        <div>
            @using (Html.BeginForm("EditJob", "JobBoard", FormMethod.Post, new { @id = "EditJob" }))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b alRight">Job Title:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.JobTitle)
                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Reports To:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.ReportsTo)
                        </td>
                    </tr>
                      <tr>
                        <td class="b alRight">Hours Per Week:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.HoursPerWeek)
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="b alRight">Application Dead Line:
                        </td>
                            <td class="largeInput">
                                 @Html.TextBoxFor(models => models.JobEnds, new { @class = "jquery_datepicker", @Value = Model.JobEnds > new DateTime() ? Model.JobEnds.ToString("MM/dd/yyyy") : "" })
                            </td>
                    </tr>
                    
                    <tr>
                        <td class="b alRight alignTop">Job Description:
                        </td>
                        <td class="">   @Html.TextAreaFor(models => models.JobDesc)</td>
                    </tr>
                   
                    <tr>
                        <td class="b alRight"></td>
                        <td class="largeInput">
                            <input type="submit" class="primary" value="Submit" name="addNewJob" />

                        </td>
                    </tr>

                </table>
                @Html.HiddenFor(models => models.JobId)
                @Html.HiddenFor(models => models.LeagueId)
                @Html.HiddenFor(models => models.JobCreator)
          
            }
        </div>
    </div>
     @if (!subPaid)
    { 
        <div class="fixedAd">
            <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1376896373478670";
    /* RDNation SideAd */
    google_ad_slot = "9959849457";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
            </script>
            <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    }
</div>
 
<script type="text/javascript">
    $("#EditJob").validate({
        rules: {
            JobTitle: "required",
            JobEnds: "required"
        }
    });
    $('#JobEnds').datepicker();
   
</script>