@model RDN.Library.Classes.League.Classes.LeagueMemberClass
@{
    ViewBag.Title = "Add a Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/members/view/all")">Members</a></li>
    <li class="active">Add Class</li>
</ol>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <div class="panel panel-default margin-top-20">
            <div class="panel-heading">
                <h3 class="margin-top-5"><i class="fa fa-plus-circle"></i> Add @RDN.Library.Classes.Config.LibraryConfig.NameOfMember Class</h3>
                <span class="text-muted">
                    Here you can add a @RDN.Library.Classes.Config.LibraryConfig.NameOfMember Class to the list of @RDN.Library.Classes.Config.LibraryConfig.NameOfMember Classes.  This list of @RDN.Library.Classes.Config.LibraryConfig.NameOfMember classes is shown to all the managers of all the leagues signed up.  Sort of like a group think for better League Management.  So before you create a new one, please review the ones already there.  Please <a href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite/League_Member_Skater_Classes" target="_blank">read the wiki</a> for more information.
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        @using (Html.BeginForm())
                        {
                            <div class="margin-bottom-10">
                                Name of Class
                            </div>
                            <div class="margin-bottom-10">
                                @Html.TextBoxFor(m => m.NameOfClass, new { @class = "form-control" })
                            </div>
                            <div>
                                <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-save"></i> Create Class</button>
                                <button class="btn btn-success btn-sm" name="addAnother" type="submit"><i class="fa fa-plus"></i> Create & Add Another</button>
                            </div>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-default">
                                <table class="table table-condensed no-margin-bottom">
                                    <thead>
                                        <tr>
                                            <th>
                                                List of Classes Already Available
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (var cl in RDN.Library.Cache.SiteCache.GetLeagueMemberClasses())
                                    {
                                        <tr>
                                            <td>
                                                @cl.NameOfClass
                                            </td>
                                        </tr>
                                    }
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>