@model RDN.Library.Classes.Document.Document
@{
    ViewBag.Title = "Document " + Model.DocumentName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool manager = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/documents/" + Model.OwnerId.ToString().Replace("-", ""))">Documents</a></li>
    <li class="active">Document Comments</li>
</ol>
<div class="row">
    <div class=" col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="margin-top:5px !important"><i class="fa fa-comments"></i> Comments</h3>
                <div class="text-muted">
                    <a href="@Url.Content("~/document/download/" + Model.DocumentId.ToString().Replace("-", ""))">@Model.DocumentName</a> - @RDN.Utilities.Strings.StringExt.FormatBytes(Model.SizeOfDocument)
                </div>
            </div>
            <div class="panel-body no-padding-bottom">
                <div class="margin-bottom-5">Tags</div>
                <div class="row ">
                    <div class="col-xs-12 margin-bottom-10">
                        <input type="text" id="Tags" class="form-control" data-role="tagsinput">
                    </div>
                </div>
                <div class="text-right">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success" onclick="AddTagsToDocument('@Model.DocumentId', '@Model.OwnerDocId')"><i class="fa fa-save"></i> Save</button>
                    </span>
                </div>

                <div class="margin-bottom-5">Comment</div>
                <div class="row ">
                    <div class="col-xs-12 margin-bottom-10">
                        <textarea id="comment" name="textarea" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="text-right">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" onclick="AddCommentToDocument('@Model.DocumentId', '@Model.OwnerDocId')"><i class="fa fa-comment"></i> Comment</button>
                    </span>
                </div>
                <div id="folderBody">
                    @foreach (var folder in Model.Comments)
                    {
                        <div class="panel panel-default margin-top-10">
                            <div class="panel-heading">
                                <a target="_blank" href="@Url.Content("~/Member/" + folder.Commentor.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(folder.Commentor.DerbyName))">
                                    <b>@folder.Commentor.DerbyName</b>
                                </a>
                                @if (folder.Commentor.MemberId == memId || manager)
                                {
                                    <button type="button" class="btn btn-xs btn-danger pull-right" title="Delete" onclick="DeleteCommentFromDocument(this,'@Model.OwnerDocId', '@folder.CommentId')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                                <br />
                                <i class="fa fa-quote-left" style="color:silver"></i> <span style="font-size:18px">@folder.Comment</span> <i class="fa fa-quote-right" style="color:silver"></i><br />
                                <span class="text-muted small">@folder.CreatedHuman</span>
                            </div>
                        </div>
                    }
                </div>
                @Html.HiddenFor(x => x.OwnerId)
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#folders').dataTable({
            "aaSorting": [],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "aoColumns": [null, null, { "sType": "natural" }, null]
        });
        $('#Tags').tagsinput({
            tagClass: 'big',
            maxChars: 10,
            maxTags: 5,
            allowDuplicates: false,
            trimValue: true,
            itemValue: 'id',
            itemText: 'label'

        });

        $('#Tags').on('beforeItemAdd', function (event) {
            var items = $('#Tags').tagsinput('items');
            if (items.length > 4) {
                event.cancel = true;
            }
        });
        GetDocumentTags('@Model.OwnerDocId');
    });


</script>
