@using RDN.League.Models.League
@model JoinLeague
@{
    ViewBag.Title = "Join League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SecondNav{

    <div class="container ">
        <ul class="nav nav-pills nav-secondary">
            <li role="presentation"><a href="@Url.Content("~/league/setup")">Setup</a></li>
            <li role="presentation" class="active"><a href="@Url.Content("~/league/join")">Join</a></li>
        </ul>
    </div>

}




<h3>
    Join League
</h3>
<div class="titleDescription">
    Here you can join a league. We allow this option incase you already signed up to
    @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName before your league signed up. You will need the <b>League Join Code</b>
    to join the league, so make sure you have that before starting. The manager of your
    league has the code, which can be found on their "View Members" page.
</div>
<br />
<div class="col-md-8 col-md-offset-2">
    @if (Model.IsSuccess)
    {
        <div class="alert alert-info" role="alert">
            You have just joined your league, and now should be able to view it from the drop
            down above.
        </div>
    }
    else
    {
        using (Html.BeginForm())
        {
            if (!String.IsNullOrEmpty(Model.Message))
            {
                <div class="alert alert-info" role="alert">
                    @Model.Message
                </div>
            }
            <table class="table">
                <tr>
                    <td class="text-right">
                        @Html.LabelFor(m => m.JoinCode)
                    </td>
                    <td class="suRTD">
                        @Html.TextBoxFor(m => m.JoinCode, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td class="suLTD"></td>
                    <td class="suRTD">
                        <input class="btn btn-primary" type="submit" value="Join League" />
                    </td>
                </tr>
            </table>

        }

    }
</div>