@using RDN.League.Models.League
@model JoinLeague
@{
    ViewBag.Title = "Join League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fixedContainer">
    <div class="membersPager">
        <ul class="membersPagerUl">
            <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/setup") ? "membersPagerSel" : "")" href="@Url.Content("~/league/setup")">Setup League</a></li>
            <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/join") ? "membersPagerSel" : "")" href="@Url.Content("~/league/join")">Join League</a></li>
        </ul>
    </div>
    <br />
    <br />
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Join League
        </div>
         <div class="titleDescription">
  Here you can join a league. We allow this option incase you already signed up to
            RDNation before your league signed up. You will need the <b>League Join Code</b>
            to join the league, so make sure you have that before starting. The manager of your
            league has the code, which can be found on their "View Members" page.
            </div>
            <div class="divider"></div>
        
        @if (Model.IsSuccess)
        { 
            <div class="confirmationMessages">
                You have just joined your league, and now should be able to view it from the drop
                down above.
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                if (!String.IsNullOrEmpty(Model.Message))
                {
            <div class="confirmationMessages">
                @Model.Message
            </div>
                }         
            <table class="suTable">
                <tr>
                    <td class="suLTD">
                        @Html.LabelFor(m => m.JoinCode)
                    </td>
                    <td class="suRTD">
                        @Html.TextBoxFor(m => m.JoinCode)
                    </td>
                </tr>
                <tr>
                    <td class="suLTD"></td>
                    <td class="suRTD">
                        <input class="primary" type="submit" value="Join League" />
                    </td>
                </tr>
            </table>
                
            }

        }
    </div>
</div>
