@using RDN.League.Models.League
@model RegisterLeague
@{
    ViewBag.Title = "Setup "+ RDN.Library.Classes.Config.LibraryConfig.TeamName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SecondNav{

    <div class="container ">
        <ul class="nav nav-pills nav-secondary">
            <li role="presentation" class="active"><a href="@Url.Content("~/league/setup")">Setup</a></li>
            <li role="presentation"><a href="@Url.Content("~/league/join")">Join</a></li>
        </ul>
    </div>

}

<h3>
    @RDN.Library.Classes.Config.LibraryConfig.TeamName Setup
</h3>

<div class="titleDescription">
    Here we will set up the @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() you are in charge of.  Once created, you will see a additional information added to your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() menu at the top.
</div>
<br />
<div class="col-md-8 col-md-offset-2">
    @if (Model.Created)
    {
        <div class="alert alert-info" role="alert">
            Your @RDN.Library.Classes.Config.LibraryConfig.TeamName has been Created! <b>Your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() will be approved shortly.</b>
        </div>
    }
    else if (Model.Updated)
    {
        <div class="alert alert-info" role="alert">
            Your @RDN.Library.Classes.Config.LibraryConfig.TeamName has been Updated!  You now have access to manage your league.
        </div>
    }
    else if (Model == null || !Model.Created)
    {
        using (Html.BeginForm())
        {
            <table class="table">
                <tr>
                    <td class="text-right">
                        <img class="displayNone floatLeft" id="loadingLeagueName" src="@Url.Content("~/Content/loading_lg.gif")" />
                        @Html.LabelFor(m => m.Name)
                    </td>
                    <td class="suRTD">
                        @Html.TextBoxFor(m => m.Name, new { onchange = "SearchLeagueNames(this);", @class = "form-control" })
                        <div id="signUpFindLeagueNameHeader">

                        </div>
                        <div id="signUpFindLeagueName">

                        </div>
                    </td>
                    <td class="suValid">
                        @Html.ValidationMessageFor(m => m.Name)
                    </td>
                </tr>
               
                <tr>
                    <td class="text-right">
                        @Html.LabelFor(m => m.Email)
                    </td>
                    <td class="suRTD">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </td>
                    <td class="suValid">
                        @Html.ValidationMessageFor(m => m.Email)
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        @Html.LabelFor(m => m.PhoneNumber)
                    </td>
                    <td class="suRTD">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    </td>
                    <td class="suValid">
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        @Html.LabelFor(m => m.City)
                    </td>
                    <td class="suRTD">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </td>
                    <td class="suValid">
                        @Html.ValidationMessageFor(m => m.City)
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        @Html.LabelFor(m => m.State)
                    </td>
                    <td class="suRTD">
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                    </td>
                    <td class="suValid">
                        @Html.ValidationMessageFor(m => m.State)
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        @Html.LabelFor(m => m.Country)
                    </td>
                    <td class="suRTD">
                        @Html.DropDownList("Country", Model.Countries, new { @class = "form-control" })
                    </td>
                    <td class="suValid">
                        @Html.ValidationMessageFor(m => m.Country)
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        @Html.LabelFor(m => m.TimeZone)
                    </td>
                    <td class="suRTD">
                        @Html.DropDownList("TimeZone", Model.TimeZones, new { @class = "form-control" })
                    </td>
                    <td class="suValid">
                        @Html.ValidationMessageFor(m => m.TimeZone)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <small>We will contact you shortly, unless we can verify your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() online.</small>
                        @Html.HiddenFor(x => x.LeagueId)
                    </td>
                </tr>
                <tr>
                    <td class="suLTD"></td>
                    <td class="suRTD">
                        <input class="btn btn-primary" type="submit" value="Submit @RDN.Library.Classes.Config.LibraryConfig.TeamName" />
                    </td>
                </tr>
            </table>

        }
    }
</div>

