@model RDN.League.Models.OutModel.GenericSingleModel<RDN.League.Models.Utilities.SimpleModPager<RDN.Portable.Classes.Account.Classes.MemberDisplay>>
@{
    ViewBag.Title = "View Members for " + ViewBag.LeagueName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isAdminOfLeague = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
    bool isPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Medical Members</li>
</ol>
<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3 style="margin-top:5px !important"><i class="fa fa-group"></i> Members For @ViewBag.LeagueName</h3>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                @if (isAdminOfLeague)
                {
                    <a class="btn btn-info btn-sm" title="Add Members" href="@Url.Content("~/League/Members/Add")">
                        <i class="fa fa-plus-circle"></i> Add
                    </a>
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/league/ViewMembersDatesExportExcel")" title="Export Excel">
                        <i class="fa fa-file-excel-o"></i> Export
                    </a>
                }
                @if (isPaid)
                {
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/league/members/view/report")">
                        <i class="fa fa-file-text"></i> Report
                    </a>
                }
                else
                {
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Report Builder is only available to subscribed leagues">
                        <i class="fa fa-file-text"></i> Report
                    </a>
                }
            </div>
        </div>
        <div class="text-muted">Here you can view the Member Medical Information for your league. <b>Be Advised:</b> Transmitting this information from @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName can be considered against the law in some countries.  Members only granted these rights to Managers of the league and not to anyone else.  Please stay within the law.</div>
    </div>
    <div class="panel-heading text-center no-padding-bottom margin-bottom-10" style="background-color:#fbfbfb">
        @Html.Partial("Menus/LeagueViewMembers")
    </div>
    <div id="double-scroll" class="panel-body no-padding padding-top-10" style="overflow-x:auto">
        <table class="table table-striped table-hover table-condensedas" id="members">
            <thead>
                <tr>
                    <th>
                        Derby Name
                    </th>
                    <th>
                        Epilepsy
                    </th>
                    <th>
                        Diabetes
                    </th>
                    <th>
                        Heart Problems
                    </th>
                    <th>
                        Heart Murmur
                    </th>
                    <th>
                        Asthma Bronchitis
                    </th>
                    <th>
                        Hernia
                    </th>
                    <th>
                        Concussion
                    </th>
                    <th>
                        Glasses
                    </th>
                    <th>
                        Contacts
                    </th>
                    <th>
                        Hard Soft
                    </th>
                    <th>
                        Fractured
                    </th>
                    <th></th>
                    <th>
                        Dislocation
                    </th>
                    <th></th>
                    <th>Recurring Pain</th>
                    <th></th>
                    <th>Back Pain</th>
                    <th>Injuries</th>
                    <th></th>
                    <th>Meds</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Model.Items.Count; i++)
                {
                    <tr>
                        <td>
                            <a href="@Url.Content("~/Member/" + Model.Model.Items[i].MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].DerbyName))">
                                @Model.Model.Items[i].DerbyName
                            </a>
                        </td>
                        <td>
                            @if (Model.Model.Items[i].Medical.Epilepsy)
                            {
                                <i class="fa fa-check-circle fa-lg"></i>
                            }
                    </td>
                    <td>
                        @if (Model.Model.Items[i].Medical.Diabetes)
                        {
                            <i class="fa fa-check-circle fa-lg"></i>
                        }
                </td>
                <td>
                    @if (Model.Model.Items[i].Medical.HeartProblems)
                    {
                        <i class="fa fa-check-circle fa-lg"></i>
                    }
            </td>
            <td>
                @if (Model.Model.Items[i].Medical.HeartMurmur)
                {
                    <i class="fa fa-check-circle fa-lg"></i>
                }
        </td>
        <td>
            @if (Model.Model.Items[i].Medical.AsthmaBronchitis)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>
            @if (Model.Model.Items[i].Medical.Hernia)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>
            @if (Model.Model.Items[i].Medical.Concussion)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>
            @if (Model.Model.Items[i].Medical.WearGlasses)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>
            @if (Model.Model.Items[i].Medical.ContactLenses)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>
            @if (Model.Model.Items[i].Medical.HardSoftLensesEnum != RDN.Portable.Classes.Account.Enums.ContactLensesEnum.None)
            {
                @Model.Model.Items[i].Medical.HardSoftLensesEnum.ToString()
            }
        </td>
        <td>
            @if (Model.Model.Items[i].Medical.FractureInThreeYears)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>@Model.Model.Items[i].Medical.FractureText</td>
        <td>
            @if (Model.Model.Items[i].Medical.Dislocation)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>@Model.Model.Items[i].Medical.DislocationText</td>
        <td>
            @if (Model.Model.Items[i].Medical.ReoccurringPain)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>@Model.Model.Items[i].Medical.ReoccurringPainText</td>
        <td>
            @if (Model.Model.Items[i].Medical.BackNeckPain)
            {
                <i class="fa fa-check-circle fa-lg"></i>
            }
        </td>
        <td>@Model.Model.Items[i].Medical.SportsInjuriesText</td>

        <td>@Model.Model.Items[i].Medical.DoAnyConditionsAffectPerformanceText</td>
        <td>@Model.Model.Items[i].Medical.RegularMedsText</td>
        <td>@Model.Model.Items[i].Medical.AdditionalDetailsText</td>
        </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Derby Name
                    </th>
                    <th>
                        Epilepsy
                    </th>
                    <th>
                        Diabetes
                    </th>
                    <th>
                        Heart Problems
                    </th>
                    <th>
                        Heart Murmur
                    </th>
                    <th>
                        Asthma Bronchitis
                    </th>
                    <th>
                        Hernia
                    </th>
                    <th>
                        Concussion
                    </th>
                    <th>
                        Glasses
                    </th>
                    <th>
                        Contacts
                    </th>
                    <th>
                        Hard Soft
                    </th>
                    <th>
                        Fractured
                    </th>
                    <th></th>
                    <th>
                        Dislocation
                    </th>
                    <th></th>
                    <th>Recurring Pain</th>
                    <th></th>
                    <th>Back Pain</th>
                    <th>Injuries</th>
                    <th></th>
                    <th>Meds</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#membersTypeButtons").find("li[tag='medical']").addClass('active b');
        $('#members').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "oLanguage": { "sSearch": "" },
            "bAutoWidth": false
        });
        $('#members_filter input').addClass('form-control').attr("placeholder", "Search");
        $("#double-scroll").doubleScroll();
    });

</script>
