@model RDN.League.Models.OutModel.GenericSingleModel<RDN.League.Models.Utilities.SimpleModPager<RDN.Portable.Classes.Account.Classes.MemberDisplay>>
@{
    ViewBag.Title = "View Members for " + ViewBag.LeagueName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isAdminOfLeague = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
    bool isPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Insurance Members</li>
</ol>
<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3 style="margin-top:5px !important"><i class="fa fa-group"></i> Members For @ViewBag.LeagueName</h3>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                @if (isAdminOfLeague)
                {
                    <a class="btn btn-info btn-sm" title="Add Members" href="@Url.Content("~/League/Members/Add")">
                        <i class="fa fa-plus-circle"></i> Add
                    </a>
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/league/ViewMembersDatesExportExcel")" title="Export Excel">
                        <i class="fa fa-file-excel-o"></i> Export
                    </a>
                }
                @if (isPaid)
                {
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/league/members/view/report")">
                        <i class="fa fa-file-text"></i> Report
                    </a>
                }
                else
                {
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Report Builder is only available to subscribed leagues">
                        <i class="fa fa-file-text"></i> Report
                    </a>
                }
            </div>
        </div>
        <div class="text-muted"> Here you can view the Member Insurance Numbers for your league.</div>
    </div>
    <div class="panel-heading text-center no-padding-bottom" style="background-color:#fbfbfb">
        @Html.Partial("Menus/LeagueViewMembers")
    </div>
    <div class="panel-body" style="overflow-x:auto">
        <table class="table table-striped table-hover table-condensedas" id="members">
            <thead>
                <tr>
                    @if (isAdminOfLeague)
                    {
                        <th></th>
                    }
                    <th>
                        Derby Name
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        WFTDA
                    </th>
                    <th>
                        USARS
                    </th>
                    <th>
                        CRDI
                    </th>
                    <th>
                        Other
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Model.Items.Count; i++)
                {
                    <tr>
                        @if (isAdminOfLeague)
                        {
                            <td>
                                <a class="btn btn-success btn-xs" href="@Url.Content("~/League/Member/Edit/" + Model.Model.Items[i].MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].DerbyName))"><i class="fa fa-pencil"></i></a>
                            </td>
                        }
                        <td>
                            <a href="@Url.Content("~/Member/" + Model.Model.Items[i].MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].DerbyName))">
                                @Model.Model.Items[i].DerbyName
                            </a>
                        </td>
                        <td>
                            @Model.Model.Items[i].PlayerNumber
                        </td>
                        <td>
                            @Model.Model.Items[i].Firstname @Model.Model.Items[i].LastName
                        </td>
                        <td>
                            @Model.Model.Items[i].InsuranceNumWftda<br />
                            @if (Model.Model.Items[i].InsuranceNumWftdaExpires.HasValue)
                            {
                                <small class="text-muted">Expires: @Model.Model.Items[i].InsuranceNumWftdaExpires.GetValueOrDefault().ToString("MM/dd/yyyy")</small>
                            }
                        </td>
                        <td>
                            @Model.Model.Items[i].InsuranceNumUsars<br />
                            @if (Model.Model.Items[i].InsuranceNumUsarsExpires.HasValue)
                            {
                                <small class="text-muted">Expires: @Model.Model.Items[i].InsuranceNumUsarsExpires.GetValueOrDefault().ToString("MM/dd/yyyy")</small>
                            }
                        </td>
                        <td>
                            @Model.Model.Items[i].InsuranceNumCRDI<br />
                            @if (Model.Model.Items[i].InsuranceNumCRDIExpires.HasValue)
                            {
                                <small class="text-muted">Expires: @Model.Model.Items[i].InsuranceNumCRDIExpires.GetValueOrDefault().ToString("MM/dd/yyyy")</small>
                            }
                        </td>
                        <td>
                            @Model.Model.Items[i].InsuranceNumOther<br />
                            @if (Model.Model.Items[i].InsuranceNumOtherExpires.HasValue)
                            {
                                <small class="text-muted">Expires: @Model.Model.Items[i].InsuranceNumOtherExpires.GetValueOrDefault().ToString("MM/dd/yyyy")</small>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#membersTypeButtons").find("li[tag='insurancenumbers']").addClass('active b');
        $('#members').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "oLanguage": { "sSearch": "" },
            "bAutoWidth": false
        });
        $('#members_filter input').addClass('form-control').attr("placeholder", "Search");
    });

</script>
