@model RDN.League.Models.League.LeagueReportBuilderModel
@{
    ViewBag.Title = "Report Builder for " + Model.LeagueName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isAdminOfLeague = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="fixTitle">
            Report Builder For @Model.LeagueName
        </div>
        <div class="expandableCenterContainterRight">
            @if (isAdminOfLeague)
            { 
               
                <div class="navIcons">
                    <a title="Add Members" href="@Url.Content("~/League/Members/Add")">
                        <img src="@Url.Content("~/Content/images/icons/adduser.png")"  />Add
                    </a>
                </div>
                 
            }
        </div>

        <div class="titleDescription">
            Build a Customized Report of the League Information. Want another column?  Just email us at <a href="mailto:@RDN.Portable.Config.ServerConfig.DEFAULT_INFO_EMAIL">@RDN.Portable.Config.ServerConfig.DEFAULT_INFO_EMAIL</a>
        </div>
        <div class="divider"></div>
        <div class="center subSectionsTitle">Saved Reports</div>
        <div class="center">Export a Saved Report</div>
        @using (Html.BeginForm("ViewMembersReportBuild", "League", FormMethod.Post, new { @id = "SavedReport" }))
        {
            <table class="center" style="width: 700px;">
                <tr>
                    <td class="alignRight">Select Saved Report:
                    </td>
                    <td class="center">
                        @Html.DropDownListFor(x => x.SelectedReport, Model.SavedReports, "Saved Reports...")
                    </td>
                    <td class="alignLeft">
                        <input type="button" value="Export Report" onclick="document.getElementById('SavedReport').submit();" />
                    </td>
                    <td class="alignLeft"><span class="spanLink" onclick="League.DeleteLeagueReport(this)">Remove Selected</span>
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.LeagueId)
        }
        <div class="divider"></div>
        <div class="center subSectionsTitle">Customized Reports</div>
        <div class="center">Create a Report To Export</div>
        @using (Html.BeginForm("ViewMembersReportBuild", "League", FormMethod.Post, new { @id = "MembersReport" }))
        {
            <div class="center">
                <table style="width: 800px;" class="center">
                    <tr>
                        <td class="center b">Available Columns</td>
                        <td></td>
                        <td class="center b">Selected Columns</td>
                        <td class="center b">Export</td>
                    </tr>
                    <tr>
                        <td class="center">
                            <select id="availableColumns" multiple="multiple" style="height: 250px; width: 250px;">
                                @foreach (var item in Model.ColumnsAvailable)
                                { 
                                    <option id="@item" value="@item">@RDN.Utilities.Enums.EnumExt.ToFreindlyName(item)</option>
                                }
                            </select>

                        </td>
                        <td class="center alignTop">
                            <div>
                                <input type="button" value=">>>" onclick="MoveSelectionRight()" />
                            </div>
                            <div>
                                <input type="button" value="<<<" onclick="MoveSelectionLeft()" />
                            </div>
                        </td>
                        <td class="center">
                            <select id="selectedColumns" name="selectedColumns" multiple="multiple" style="height: 250px; width: 250px;">
                            </select>
                        </td>
                        <td class="alignTop">
                            <br />
                            <div class="b">Report Name:</div>
                            <div class="mediumInput">@Html.TextBoxFor(x => x.SavedReportName)</div>
                            <div class="b">
                                <label>Save Report: @Html.CheckBoxFor(x => x.SaveReport)</label></div>
                            <input type="button" value="Export Report" onclick="LeagueMembersReportBuilder.ExportReport('MembersReport')" />
                            <div><span id="warning" class="red"></span></div>

                        </td>
                    </tr>
                </table>

            </div>
            @Html.HiddenFor(x => x.SelectedColumnsHidden)
            @Html.HiddenFor(x => x.LeagueId)
        }
    </div>
</div>
<script type="text/javascript">
    
</script>
