@model RDN.League.Models.League.LeagueReportBuilderModel
@{
    ViewBag.Title = "Report Builder for " + Model.LeagueName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isAdminOfLeague = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Mebmers Report</li>
</ol>

<div class="row">
    <div class=" col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="margin-top:5px !important"><i class="fa fa-files-o"></i> Saved Reports</h3>
                <div class="text-muted">Export a Saved Report.</div>
            </div>
            <div class="panel-body">
                <div class="margin-bottom-10">Select Saved Report:</div>
                @using (Html.BeginForm("ViewMembersReportBuild", "League", FormMethod.Post, new { @id = "SavedReport" }))
                {
                    @Html.DropDownListFor(x => x.SelectedReport, Model.SavedReports, "Saved Reports...")
                    <button type="button" class="btn btn-success" onclick="document.getElementById('SavedReport').submit();" ><i class="fa fa-download"></i> Export Report</button>
                    <button type="button" class="btn btn-danger" onclick="League.DeleteLeagueReport(this)"><i class="fa fa-trash"></i> Remove Selected</button>
                    @Html.HiddenFor(x => x.LeagueId)
                }
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class=" col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">


        <div class="panel panel-default margin-top-20">
            <div class="panel-heading">
                <h3 style="margin-top:5px !important"><i class="fa fa-cogs"></i> Customized Reports</h3>
                <div class="text-muted">Build a Customized Report of the League Information.</div>
            </div>
            @using (Html.BeginForm("ViewMembersReportBuild", "League", FormMethod.Post, new { @id = "MembersReport" }))
            {
                <div class="panel-body">
                    <div class="alert alert-warning margin-10">
                        Build a Customized Report of the League Information. Want another column?  Just email us at <a href="mailto:@RDN.Portable.Config.ServerConfig.DEFAULT_INFO_EMAIL">@RDN.Portable.Config.ServerConfig.DEFAULT_INFO_EMAIL</a>.
                    </div>
                    <div class="row no-margin">
                        <div class="col-xs-12 col-sm-5">
                            <div class="margin-bottom-10">
                                Available Columns
                                </div>
                                <select id="availableColumns" multiple="multiple" style="height: 250px; width: 100%;">
                                    @foreach (var item in Model.ColumnsAvailable)
                            {
                                        <option id="@item" value="@item">@RDN.Utilities.Enums.EnumExt.ToFreindlyName(item)</option>
                            }
                                </select>
                            </div>
                        <div class="col-xs-12 col-sm-2 margin-top-30">
                            <button type="button" class="btn btn-info" onclick="MoveSelectionLeft()"><i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i></button>
                            <button type="button" class="btn btn-info" onclick="MoveSelectionRight()"><i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i></button>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <div class="margin-bottom-10">
                                Selected Columns
                                </div>
                                <select id="selectedColumns" name="selectedColumns" multiple="multiple" style="height: 250px; width: 100%; "></select>
                            </div>
                    </div>
                  
                </div>
                <div class="panel-footer">
                    <div class="margin-bottom-10">
                        Report Name:
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 margin-bottom-5">
                            @Html.TextBoxFor(x => x.SavedReportName, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 margin-bottom-5">
                            <button type="button" class="btn btn-success btn-sm" onclick="LeagueMembersReportBuilder.ExportReport('MembersReport')"><i class="fa fa-download"></i> Export</button>
                        </div>
                    </div>
                    <label>Save Report: @Html.CheckBoxFor(x => x.SaveReport)</label> 
                    
                </div>
                @Html.HiddenFor(x => x.SelectedColumnsHidden)
                @Html.HiddenFor(x => x.LeagueId)
            }
        </div>
    </div>
</div>
