@model RDN.Library.Classes.Game.Tournament
@{
    ViewBag.Title = "Brackets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/tournament/view/all/")">Tournaments</a></li>
    <li class="active">Brackets</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-bottom-15 margin-top-5"><i class="fa fa-sitemap"></i> Tournament Brackets: @RDN.Utilities.Enums.EnumExt.ToFreindlyName(Model.TournamentType)</h3>
                <span class="text-muted">Here you can add Teams, Assign the games played and watch the brackets get closer to the winner!</span>
            </div>
            <div class="panel-heading text-right">
                <a class="btn btn-info btn-sm" title="Tournament Brackets" href="@Url.Content("~/tournament/view/" + @Model.PrivateKey.ToString().Replace("-", "") + "/" + @Model.Id.ToString().Replace("-", ""))">
                    <i class="fa fa-cogs"></i> Manage
                </a>
                <a class="btn btn-warning btn-sm" href="@Url.Content("~/tournament/owners/" + Model.PrivateKey.ToString().Replace("-", "") + "/" + Model.Id.ToString().Replace("-", ""))" title="Owners">
                    <i class="fa fa-group"></i> Owners
                </a>
                @if (Model.AreBracketsPublished)
                {
                    <a class="btn btn-warning btn-sm" title="Tournament Brackets" href="@Url.Content("http://rdnation.com/roller-derby-tournament/" + Model.Id.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Name))">
                        <i class="fa fa-desktop"></i> Live
                    </a>
                }
                @if (!Model.AreBracketsPublished)
                {
                    <button type="button" class="btn btn-primary btn-sm" onclick="Tournament.PublishBrackets(this)"><i class="fa fa-cloud-upload"></i> Publish Brackets</button>
                }
            </div>
            <div class="panel-body">
                <div class="row">
                    <ul class="nav nav-tabs padding-top-5" id="myTab">
                        <li class="active margin-left-5"><a href="#Teams">Add Teams</a></li>
                        @if ((Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None && Model.HasSeedingFinishForTournament) || Model.TouramentTypeForSeedingEnum == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                        {
                            <li class="margin-left-5"><a href="#TRounds">Tournament Rounds</a></li>
                        }
                        @if ((Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None && Model.HasSeedingFinishForTournament) || Model.TouramentTypeForSeedingEnum == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                        {
                            <li class="margin-left-5"><a href="#TStandings">Tournament Standings</a></li>
                        }
                        @if (Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                        {
                            <li class="margin-left-5"><a href="#PRounds">Performance Rounds</a></li>
                        }
                        @if (Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                        {
                            <li class="margin-left-5"><a href="#PStandings">Performance Standings</a></li>
                        }
                    </ul>
                    <div class="tab-content padding-15 no-padding-bottom">
                        <div class="tab-pane active" id="Teams">
                            <table id="TeamsTable" class="table table-striped table-hover table-condensed no-margin-bottom">
                                <thead>
                                    <tr>
                                        <th class="center largeInput">Team Name</th>
                                        <th class="center smallInput">Seed / Rating</th>
                                        <th class="center smallInput">Pool #</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="largeInput center">
                                            <input placeholder="Team Name" class="form-control input-sm" id="teamName0" />
                                        </td>
                                        <td class="center smallInput">
                                            <input placeholder="Seed Rating" class="form-control input-sm" value="100" id="seedRating0" /><span class="checkboxError" id="seedWarning"></span>
                                        </td>
                                        <td class="center smallInput">
                                            <input placeholder="Pool Number" class="form-control input-sm" value="1" id="pool0" />
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-info" type="button" onclick="Tournament.AddTeamName(this)">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                            <img src="@Url.Content("~/content/loading_lg.gif")" class="displayNone" id="loadingTeams" /><i id="successTeams" class="displayNone fa fa-check-circle"></i>
                                        </td>
                                    </tr>
                                    @foreach (var team in Model.TeamsForTournament)
                                    {
                                        <tr>
                                            <td class='bracketTeamTd center'>
                                                <span id='teamName-@team.TeamId'>@team.TeamName</span>
                                            </td>
                                            <td class="center">@team.SeedRating</td>
                                            <td class="center">@team.PoolNumber</td>
                                            <td>
                                                <button class="btn btn-sm btn-danger" onclick="Tournament.RemoveTeamName(this, '@team.TeamId')"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                                @if ((Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None && Model.HasSeedingFinishForTournament) || Model.TouramentTypeForSeedingEnum == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                                {
                                    <div class="tab-pane scroll-x" id="TRounds">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 font16">
                                                Add / Edit Rounds
                                            </div>
                                            <div class="col-xs-12 col-sm-6 text-right">
                                                @if (!Model.IsTournamentFinished)
                                                {
                                                    <button type="button" class="btn btn-primary" onclick="Tournament.StartNextRound(this)"><i class="fa fa-arrow-circle-right"></i> Start Next Round</button>
                                                }
                                                <img src="@Url.Content("~/content/loading_lg.gif")" class="displayNone" id="loadingRounds" />
                                                @if (Model.TournamentRounds.Any())
                                                {
                                                    <button type="button" class="btn btn-primary" onclick="Tournament.RollBackRound(this)"><i class="fa fa-refresh"></i> Roll Back Round</button>
                                                }
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table class="full-width">
                                                    <tr>
                                                        <td colspan="3">
                                                            @if (Model.TournamentRounds.Any() && (Model.TournamentType == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.Double_Elimination || Model.TournamentType == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.Single_Elimination))
                                                            {
                                                            <div class="EventTournamentRoundsListVisualization">
                                                                <img src="@Url.Action("RenderTournament", new { id = Model.Id })" />
                                                            </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            
                                                                @if (!Model.TournamentRounds.Any())
                                                                {
                                                                    <span>The tournament has not yet started.</span>
                                                                }
                                                                else
                                                                {
                                                                    foreach (var Round in Model.TournamentRounds.OrderByDescending(r => r.RoundNumber))
                                                                    {
                                                                    <div class="b margin-bottom-10 font14">
                                                                        @("Round " + Round.RoundNumber)
                                                                    </div>
                                                                    <div style="overflow-x:auto">
                                                                        <table class="table table-striped table-hover table-condensed no-margin-bottom">
                                                                            @*<thead>
                                                                                    <tr>
                                                                                        <th>Team Name</th>
                                                                                        <th>Track #</th>
                                                                                        <th>Time To Start</th>
                                                                                        <th>Game</th>
                                                                                        <th>Team</th>
                                                                                        <th>Scores</th>
                                                                                        <th></th>
                                                                                    </tr>
                                                                                </thead>*@
                                                                            <tbody>
                                                                                @foreach (var Pairing in Round.Pairings)
                                                                                {
                                                                                    int i = 0;
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table class="full-width">
                                                                                                @foreach (var TeamPairing in Pairing.Teams.OrderByDescending(tp => tp.TeamName))
                                                                                                {

                                                                                                    <tr>
                                                                                                        @if (i == 0)
                                                                                                        {
                                                                                                            <td class="EventTournamentRoundPairingTeamName padding-bottom-5 padding-left-10">
                                                                                                                <label class="label label-primary font14 no-bold"><i class="fa fa-group"></i> @TeamPairing.TeamName</label>
                                                                                                            </td>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td class="EventTournamentRoundPairingTeamName padding-bottom-5 padding-left-10">
                                                                                                                <label class="label label-warning font14 padding-bottom-5 no-bold" ><i class="fa fa-group"></i> @TeamPairing.TeamName</label>
                                                                                                            </td>
                                                                                                        }
                                                                                                        @if (i == 0)
                                                                                                        {

                                                                                                            <td rowspan="2" class="padding-left-10">
                                                                                                                <input class="form-control input-sm w100" placeholder="Track #" id="trackNumber-@Pairing.Id" value="@Pairing.TrackId"/>
                                                                                                            </td>
                                                                                                            <td rowspan="2" class="padding-left-10">
                                                                                                                <input class="form-control input-sm w100" placeholder="2:00 PM" id="trackTime-@Pairing.Id" value="@Pairing.TimeToStartDisplay" />
                                                                                                                <script type="text/ecmascript">
                                                                                                                                    $('#trackTime-@Pairing.Id').timepicker();
                                                                                                                </script>
                                                                                                            </td>
                                                                                                            <td rowspan="2" class="padding-left-10">
                                                                                                                @Html.DropDownList("GameId-" + Pairing.Id, new SelectList(Model.Games, "GameId", "GameName", Pairing.GameId), "Choose Game...", new { @onchange = "Tournament.GetTeamsOfGame(this, '" + Pairing.Id + "')" })
                                                                                                            </td>
                                                                                                        }
                                                                                                        <td class="padding-bottom-5 padding-top-5">
                                                                                                            <select id="TeamId-@i-@Pairing.Id" onchange="Tournament.GetScoreOfTeamForGame(this, '@Pairing.Id', '@i')">
                                                                                                                @if (TeamPairing.TeamLinkId != new Guid())
                                                                                                                                {
                                                                                                                    <option value="@TeamPairing.TeamLinkId">@TeamPairing.TeamName</option>
                                                                                                                                }
                                                                                                            </select>
                                                                                                        </td>
                                                                                                        <td class="smallInput EventTournamentRoundPairingTeamScore padding-bottom-5 padding-top-5">
                                                                                                            <input class="form-control input-sm w100" id="ScoreId-@i-@Pairing.Id" value="@(TeamPairing.Score == 0 ? "" : TeamPairing.Score.ToString())" placeholder="@(Pairing.Teams.Count() == 1 ? "Bye" : (TeamPairing.Score == 0 ? "?" : TeamPairing.Score.ToString()))" />
                                                                                                        </td>

                                                                                                        @if (i == 0)
                                                                                                        {
                                                                                                            <td rowspan="2" class="padding-left-10">
                                                                                                                <button type="button" class="btn btn-success btn-sm" onclick="Tournament.SavePairingOfTournament(this, '@Pairing.Id')"><i class="fa fa-save"></i> Save</button><img src="@Url.Content("~/content/loading_lg.gif")" class="displayNone" id="savePairing-@Pairing.Id" /><img id="savePairingCheck-@Pairing.Id" src="@Url.Content("~/content/images/greenCheck.png")" class="displayNone" />
                                                                                                            </td>
                                                                                                        }
                                                                                                    </tr>
                                                                                                    i += 1;
                                                                                                    }
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    i = 0;
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    }
                                                                }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if ((Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None && Model.HasSeedingFinishForTournament) || Model.TouramentTypeForSeedingEnum == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                                {
                                    <div class="tab-pane scroll-x" id="TStandings">
                                        @if (Model.TournamentRounds.Any())
                                         {
                                            <div>Standings and Rankings</div>
                                            if (Model.Rankings == null || !Model.Rankings.Any())
                                            {
                                                <div>Standings are not currently available.</div>
                                            }
                                             else
                                            {
                                                <table class="table table-striped table-hover table-condensed no-margin-bottom">
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Team</th>
                                                        <th>Total Points</th>
                                                        <th>Point Spread</th>
                                                        <th>Details</th>
                                                    </tr>
                                                    @foreach (var Standing in Model.Rankings)
                                                    {
                                                        <tr>
                                                            <td>@Standing.rank</td>
                                                            <td>@Standing.TeamName</td>
                                                            <td>@Standing.TotalPoints</td>
                                                            <td>@Standing.PointSpread</td>
                                                            <td>@Standing.scoreDescription</td>
                                                        </tr>
                                                    }
                                                </table>
                                            }
                                        }
                                    </div>
                                }
                                @if (Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                                {
                                    <div class="tab-pane scroll-x" id="PRounds" >
                                        <div class="alert alert-info">
                                            <span class="b">NOTE: </span>These are the performance rounds.  Once completed, the actual tournament rounds will appear. These rounds/rankings are used to seed the actual tournament. To turn off performance rounds, go manage the tournament.
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 font16">
                                                Add / Edit Rounds
                                            </div>
                                            <div class="col-xs-12 col-sm-6 text-right">
                                                @if (!Model.HasSeedingFinishForTournament)
                                        {
                                                    <button class="btn btn-primary btn-sm" type="button" onclick="Tournament.StartNextPerformanceRound(this)"><i class="fa fa-arrow-circle-right"></i> Start Next Round</button>
                                        }
                                                <img src="@Url.Content("~/content/loading_lg.gif")" class="displayNone" id="loadingPerformanceRounds" />
                                                @if (Model.TournamentRoundsForSeedingGameplay.Any())
                                        {
                                                    <button class="btn btn-primary btn-sm" type="button" onclick="Tournament.RollBackPerformanceRound(this)"><i class="fa fa-refresh"></i> Roll Back Round</button>
                                        }
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table class="full-width">
                                                    <tr>
                                                        <td colspan="3">
                                                            <div>
                                                                @if (Model.TournamentRoundsForSeedingGameplay.Any() && (Model.TouramentTypeForSeedingEnum == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.Double_Elimination || Model.TouramentTypeForSeedingEnum == RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.Single_Elimination))
                                                                {
                                                                    <div>
                                                                        <img src="@Url.Action("RenderPerformanceTournament", new { id = Model.Id })" />
                                                                    </div>
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div>
                                                                @if (!Model.TournamentRoundsForSeedingGameplay.Any())
                                                                {
                                                                    <br />
                                                                    <div>The tournament performance has not yet started.</div>
                                                                }
                                                                else
                                                                {
                                                                    foreach (var Round in Model.TournamentRoundsForSeedingGameplay.OrderByDescending(r => r.RoundNumber))
                                                                    {
                                                                        <div class="EventTournamentRound">
                                                                            <div class="b margin-bottom-10 font14">@("Round " + Round.RoundNumber)</div>
                                                                            <div class="scroll-x">
                                                                                <table class="table table-striped table-hover table-condensed no-margin-bottom full-width">
                                                                                    @*<thead>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <table class="full-width">
                                                                                                        <tr>
                                                                                                            <td class="text-center">Team Name</td>
                                                                                                            <td class="text-center">Track #</td>
                                                                                                            <td class="text-center">Time To Start</td>
                                                                                                            <td class="text-center">Game</td>
                                                                                                            <td class="text-center">Team</td>
                                                                                                            <td class="text-center">Scores</td>
                                                                                                            <td class="text-center"></td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </thead>*@
                                                                                    <tbody>
                                                                                        @foreach (var Pairing in Round.Pairings)
                                                                                        {
                                                                                            int i = 0;
                                                                                            <tr class="EventTournamentRoundPairingTeam">
                                                                                                <td>
                                                                                                    <table class="full-width">
                                                                                                        @foreach (var TeamPairing in Pairing.Teams.OrderByDescending(tp => tp.TeamName))
                                                                                                        {
                                                                                                            <tr>
                                                                                                                @if (i == 0)
                                                                                                                {
                                                                                                                    <td class="EventTournamentRoundPairingTeamName padding-bottom-5 padding-left-10">
                                                                                                                        <label class="label label-primary font14 no-bold"><i class="fa fa-group"></i> @TeamPairing.TeamName</label>
                                                                                                                    </td>
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    <td class="EventTournamentRoundPairingTeamName padding-bottom-5 padding-left-10">
                                                                                                                        <label class="label label-warning font14 padding-bottom-5 no-bold" ><i class="fa fa-group"></i> @TeamPairing.TeamName</label>
                                                                                                                    </td>
                                                                                                                }
                                                                                                                @if (i == 0)
                                                                                                                {
                                                                                                                    <td rowspan="2" class="padding-left-10">
                                                                                                                        <input class="form-control input-sm w100" placeholder="Track #" id="trackNumber-@Pairing.Id" value="@Pairing.TrackId" />
                                                                                                                    </td>
                                                                                                                    <td rowspan="2" class="padding-left-10">
                                                                                                                        <input class="form-control input-sm w100" placeholder="2:00 PM" id="trackTime-@Pairing.Id" value="@Pairing.TimeToStartDisplay" />
                                                                                                                        <script type="text/ecmascript">
                                                                                                                    $('#trackTime-@Pairing.Id').timepicker();
                                                                                                                        </script>
                                                                                                                    </td>
                                                                                                                    <td rowspan="2" class="padding-left-10">
                                                                                                                        @Html.DropDownList("GameId-" + Pairing.Id, new SelectList(Model.Games, "GameId", "GameName", Pairing.GameId), "Choose Game...", new { @onchange = "Tournament.GetTeamsOfGame(this, '" + Pairing.Id + "')" })
                                                                                                                    </td>
                                                                                                                }
                                                                                                                <td class="padding-bottom-5 padding-top-5">
                                                                                                                    <select id="TeamId-@i-@Pairing.Id" onchange="Tournament.GetScoreOfTeamForGame(this, '@Pairing.Id', '@i')">
                                                                                                                        @if (TeamPairing.TeamLinkId != new Guid())
                                                                                                                        {
                                                                                                                            <option value="@TeamPairing.TeamLinkId">@TeamPairing.TeamName</option>
                                                                                                                        }
                                                                                                                    </select>
                                                                                                                </td>
                                                                                                                <td class="smallInput EventTournamentRoundPairingTeamScore padding-bottom-5 padding-top-5">
                                                                                                                    <input class="form-control input-sm w100" id="ScoreId-@i-@Pairing.Id" value="@(TeamPairing.Score == 0 ? "" : TeamPairing.Score.ToString())" placeholder="@(Pairing.Teams.Count() == 1 ? "Bye" : (TeamPairing.Score == 0 ? "?" : TeamPairing.Score.ToString()))"  />
                                                                                                                </td>

                                                                                                                @if (i == 0)
                                                                                                                {
                                                                                                                    <td rowspan="2" class="padding-left-10">
                                                                                                                        <button type="button" class="btn btn-success btn-sm" onclick="Tournament.SavePairingOfTournament(this, '@Pairing.Id')"><i class="fa fa-save"></i> Save</button><img src="@Url.Content("~/content/loading_lg.gif")" class="displayNone" id="savePairing-@Pairing.Id" /><img id="savePairingCheck-@Pairing.Id" src="@Url.Content("~/content/images/greenCheck.png")" class="displayNone" />
                                                                                                                    </td>
                                                                                                                }
                                                                                                            </tr>
                                                                                                                i += 1;
                                                                                                        }
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                                        i = 0;
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <div class="divider"></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.TouramentTypeForSeedingEnum != RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                                {
                                    <div class="tab-pane scroll-x" id="PStandings" >
                                        @if (Model.TournamentRoundsForSeedingGameplay.Any())
                                        {
                                            <div class="font16 margin-bottom-15">Standings and Rankings</div>
                                    if (Model.RankingsForSeededRounds == null || !Model.RankingsForSeededRounds.Any())
                                    {
                                        <div class="center EventTournamentStandingsNotAvailable">Standings are not currently available.</div>
                                    }
                                    else
                                    {
                                        <table class="table table-striped table-hover table-condensed no-margin-bottom">
                                            <tr>
                                                <th>Rank</th>
                                                <th>Team</th>
                                                <th>Total Points</th>
                                                <th>Point Spread</th>
                                                <th>Details</th>
                                            </tr>
                                            @foreach (var Standing in Model.RankingsForSeededRounds)
                                            {
                                                <tr>
                                                    <td>@Standing.rank</td>
                                                    <td>@Standing.TeamName</td>
                                                    <td>@Standing.TotalPoints</td>
                                                    <td>@Standing.PointSpread</td>
                                                    <td>@Standing.scoreDescription</td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                }
                                    </div>
                                }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { // wait for document to load
        Tournament.SetTournamentId("@Model.Id");
        $("seedRating0").numeric();
        $("pool0").numeric();
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
