@using RDN.League.Models.Game
@model RegisterTournamentModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Setup Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
     Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}


<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/tournament/view/all/")">Tournaments</a></li>
    <li class="active">Add Tournament</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-bottom-5 margin-top-5"><i class="fa fa-cog"></i> Tournament Setup</h3>
                <span class="text-muted">Here you will setup your tournament. Creating tournaments allows you to track all
            the games for time period of the tournament. So you can track all the players, all
            the teams and watch all the stats for the entire tournament event.<br />
<br />
            In Order to add games to this tournament, you can either create your game and add
            it, or when you <a href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite/Saving_-_Storing_-_Showing_Live_Games_Online"
   target="_blank">publish a game</a> online, you will have the option to add the
            game to the tournament as long as you have the passcode created here.</span>
            </div>
@using (Html.BeginForm())
{
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="form-label">
                            @Html.LabelFor(m => m.TournamentName)
                        </label>
                        <div class="margin-bottom-5">
                            @Html.TextBoxFor(m => m.TournamentName, new { @class = "form-control" })
                        </div>
                        <div class="margin-bottom-15">
                            @Html.ValidationMessageFor(m => m.TournamentName)
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="form-label">
                            @Html.LabelFor(m => m.StartDate)
                        </label>
                        <div class="margin-bottom-5">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "jquery_datepicker form-control", @Value = Model.StartDate.ToString("MM/dd/yyyy") })
                        </div>
                        <div class="margin-bottom-15">
                           @Html.ValidationMessageFor(m => m.StartDate)
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="form-label">
                            @Html.LabelFor(m => m.EndDate)
                        </label>
                        <div class="margin-bottom-5">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "jquery_datepicker form-control", @Value = Model.StartDate.ToString("MM/dd/yyyy") })
                        </div>
                        <div class="margin-bottom-15">
                            @Html.ValidationMessageFor(m => m.EndDate)
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="form-label">
                            @Html.LabelFor(m => m.Passcode)
                        </label>
                        <div class="margin-bottom-5">
                           @Html.TextBoxFor(m => m.Passcode, new { @class = "form-control" })
                        </div>
                        <div class="margin-bottom-15">
                            @Html.ValidationMessageFor(m => m.Passcode)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" type="submit" ><i class="fa fa-save"></i> Add Tournament</button>
            </div>
                }
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#StartDate').datepicker();
    $('#EndDate').datepicker(); 
</script>
