@using RDN.Library.Classes.Game
@using RDN.League.Classes.Enums
@model Tournament
@{
    Layout = null;
}
@{
    ViewBag.Title = "View " + Model.Name + " Tournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/tournament/view/all/")">Tournaments</a></li>
    <li class="active">Owners</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <h3 class="margin-bottom-15 margin-top-5"><i class="fa fa-user"></i> @Model.Name</h3>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-right">
                        @if (Model.TournamentType > RDN.Library.Classes.Game.Tournaments.TournamentTypeEnum.None)
                        {
                            <a class="btn btn-success btn-sm" title="Tournament Brackets" href="@Url.Content("~/tournament/brackets/" + Model.PrivateKey.ToString().Replace("-", "") + "/" + Model.Id.ToString().Replace("-", ""))">
                                <i class="fa fa-sitemap"></i> Brackets
                            </a>

                        }
                        <a class="btn btn-warning btn-sm" title="Tournament Brackets" href="@Url.Content("~/tournament/view/" + @Model.PrivateKey.ToString().Replace("-", "") + "/" + @Model.Id.ToString().Replace("-", ""))">
                            <i class="fa fa-cog"></i> Manage
                        </a>
                    </div>
                </div>
                <span class="text-muted">
                    Here you can view the tournament. In order to add games to this tournament, you will need to go to the manage
                    game screen for the game you wish to add. This can be seen under the <a href="@Url.Content("~/game/manage/all")">owned games menu</a>.
                </span>
            </div>
            @using (Html.BeginForm("TournamentOwners", "Tournament", FormMethod.Post, new { @id = "createNewItem" }))
            {
            <div class="panel-body">
                <h4><i class="fa fa-plus-circle"></i> Add More Owners of the Tournament</h4>
                    <div class="row">
                        @for (int i = 0; i < Model.Owners.Count; i++)
                        {
                            <div class="col-xs-12 col-md-6">
                                <div class="well well-sm">
                                    <h4 class="no-margin-top">Owner</h4>
                                    @if (String.IsNullOrEmpty(Model.Owners[i].DerbyName))
                                    {
                                        @Html.TextBox("MemberOwner" + i, Model.Owners[i].DerbyName, new { @id = "MemberOwner" + i,@class="form-control" })
                                        <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#MemberOwner' + @i).autocomplete({
                                                        source: '@Url.Action("SearchNames", "Utilities")',
                                                        width: 140,
                                                        max: 10,
                                                        select: function (event, ui) {
                                                            $('#MemberOwner' + @i +'hidden').val(ui.item.MemberId);
                                                            return false;
                                                        },
                                                        focus: function (event, ui) {
                                                            $('#MemberOwner' + @i)
                                                        .val(ui.item.DerbyName + " " + ui.item.DerbyNumber);
                                                            return false;
                                                        },
                                                    }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                                                return $("<li>")
                                                                    .append("<a>" + item.DerbyName + " " + item.DerbyNumber + "</a>")
                                                                    .appendTo(ul);
                                                            };
                                                    $('#MemberOwner' + @i).blur(function () {
                                                        if ($('#MemberOwner' + @i).val().length < 2)
                                                            $('#MemberOwner' + @i +'hidden').val("");
                                                    });
                                                });
                                        </script>
                                        @Html.Hidden("MemberOwner" + i + "hidden", "", new { @id = "MemberOwner" + i + "hidden" })
                                    }
                                    else
                                    {
                                        <h4><b>@Model.Owners[i].DerbyName</b></h4>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.PrivateKey)
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Update Owners</button>
            </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Tournament.SetTournamentId("@Model.Id");
    });
</script>
