@model RDN.Library.Classes.Store.Display.DisplayCategory
@{
    ViewBag.Title = @RDN.Library.Classes.Config.LibraryConfig.SportName + Model.Name;
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Content("~/")">Home</a></li>
    <li class="active">@Model.Name </li>
</ol>
<div class="shop-grid">
 @foreach (var item in Model.StoreItems)
 {
        <div class="shop-grid-item">
            <div class="thumbnail full-width bg-lighter">
               @if (item.Photos.FirstOrDefault() != null)
               {
                <a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-item/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name) + "/" + item.StoreItemId)">
                    <img src="@item.Photos.FirstOrDefault().ImageUrl" data-holder-rendered="true" style="width: 100%; display: block;" alt="@item.Photos.FirstOrDefault().Alt" />
                </a>
               }
                <div class="caption padding-7">
                    <p class="margin-bottom-5">
                        <a class="font15" href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-item/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name) + "/" + item.StoreItemId)">@item.NameTrimmed</a>
                    </p>
                    <div class="font10 text-light">
                        @{ var total = 0.00;}
                        @foreach (var k in item.Reviews)
                        {
                            if (k.rate == null)
                            { k.rate = "0.00"; }
                            total += Convert.ToDouble(k.rate.ToString());
                        }
                        @{if (item.Reviews.Count > 0) { total = Convert.ToInt32(total / item.Reviews.Count); }}
                        @for (int i = 1; i <= total; i++)
                        {
                            <i class="fa fa-star text-orange"></i>
                        }
                        @for (int i = 1; i <= 5 - total; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                        <span class="text-muted">
                            (@item.Reviews.Count reviews)
                        </span>
                    </div>
                    <div class="shop-item-divider"></div>
                    <p class="margin-bottom-5 b font16">
                        @if (item.Currency == "USD")
                        { <span>$</span>}@item.Price.ToString() <span class="font11">@item.Currency</span>
                    </p>
                    <a class="font12" href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-shop/" + item.Store.MerchantId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Store.Name))">
                        @item.Store.NameTrimmed
                    </a>
                   
                </div>
            </div>
        </div>
    }
</div>
