@model RDN.Library.Classes.Store.Display.DisplayCategory
@{
    ViewBag.Title = @RDN.Library.Classes.Config.LibraryConfig.SportName + Model.Name;
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<div class="backLinks">
    <a href="@Url.Content("~/")">Home</a> > @Model.Name
</div>
@foreach (var item in Model.StoreItems)
{
    <div class="storeItem">
        <div class="storeItemInner">
            <a href="@Url.Content("~/roller-derby-item/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name) + "/" + item.StoreItemId)">
                <div class="storeItemPhoto center">
                    @if (item.Photos.FirstOrDefault() != null)
                    { 
                        <img src="@item.Photos.FirstOrDefault().ImageUrl" style=" width:160px; max-width:160px;max-height:160px; " alt="@item.Photos.FirstOrDefault().Alt" />
                    }
                </div>
            </a>

            <div class="storeItemTitle">
                <a href="@Url.Content("~/roller-derby-item/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name) + "/" + item.StoreItemId)">@item.NameTrimmed</a>
            </div>
            <div class="storeItemN">
                <a href="@Url.Content("~/roller-derby-shop/" + item.Store.MerchantId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Store.Name))">@item.Store.NameTrimmed</a>
            </div>
            <div class="storeItemPrice">
                                @if (item.Currency == "USD") {<span>$</span>}@item.Price.ToString("N2") <span class="usd">@item.Currency</span>
            </div>


            <div class="clear">
            </div>
        </div>
    </div>
}
