@model RDN.Library.Classes.Payment.Paywall.Paywall
@{
    ViewBag.Title = "New Paywall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
            < <a href="@Url.Content("~/paywall/all/")">Paywalls</a>
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Add New Paywall
        </div>
       
         <div class="titleDescription">
  Here you can add a new paywall for locking parts of RDNation down to your customers only.
      
            </div>
            <div class="divider"></div>
        <div>
            @using (Html.BeginForm("AddPaywall", "Paywall", FormMethod.Post, new { @id = "createNewItem" }))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b alRight">Description of Wall:
                        </td>
                        <td class="subject">
                            @Html.TextBoxFor(x => x.DescriptionOfPaywall)
                            - <span class="i">This description will be shown to customers before they pay.</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="b">Start Date:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.StartDate)
                            - <span class="i">optional: Start Date of when the paywall gets put into effect.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="b">End Date:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.EndDate)
                            - <span class="i">optional: End Date of when the paywall is turned off and the item is free.</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="b alRight">Daily Price:
                        </td>
                        <td class="mediumInput">
                            @Html.TextBox("Price", Model.DailyPrice.ToString("N2"))
                            - <span class="i">If paywall is bought for just 1 day. Used for discounted day passes.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Full Price:
                        </td>
                        <td class="mediumInput">
                            @Html.TextBox("FullPrice", Model.TimespanPrice.ToString("N2"))
                            - <span class="i">Price of paywall if a "start date" and "end date" are completed.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Is Enabled?:
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x.IsEnabled) - <span>Enable the paywall. Disabled paywalls will force free content.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Content("~/paywall/all/")">Cancel Paywall</a>
                        </td>
                        <td>
                            <input type="submit" class="primary" value="Add New Paywall" />

                        </td>
                    </tr>
                </table>
                
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var d = new Date();
    var curr_date = d.getDate();

    var curr_month = d.getMonth() + 1; //Months are zero based
    if (curr_month < 10) {
        curr_month = "0" + curr_month;
    }
    var curr_year = d.getFullYear();

    var startDate = d;
    var endDate = d;

    $("#Price").numeric({ negative: false });
    $("#FullPrice").numeric({ negative: false });
    //$('#EndDate').val(curr_month + "/" + curr_date + "/" + curr_year);
    //$('#StartDate').val(curr_month + "/" + curr_date + "/" + curr_year);
    $('#EndDate').datepicker({
        onSelect: function (value, date) {
            endDate = new Date(value);
            if (endDate < startDate) {
                $('#StartDate').val($('#EndDate').val());
                startDate = endDate;
            }
        }
    });
    $('#StartDate').datepicker({
        onSelect: function (value, date) {
            startDate = new Date(value);
            if (endDate < startDate) {
                $('#EndDate').val($('#StartDate').val());
                endDate = startDate;
            }
        }
    });
   

    $("#createNewItem").validate({
        rules: {
            DescriptionOfPaywall: "required",
            FullPrice: "required",
            StartDate: { lessThanEqual: "#EndDate" },
            EndDate: { greaterThanEqual: "#StartDate" },
            DailyPrice: {
                required: true
            }
        }
    });


</script>
