@using RDN.Library.Classes.Payment.Classes.Display;
@model DisplayPaywall
@{
    ViewBag.Title = "Paywalls";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Paywalls</li>
</ol>
@if (Model.MerchantId == new Guid())
{
     <div class="alert alert-warning">
        <h3 class="margin-top-5">Merchant Account Setup And Paywalls</h3>
        <p>
            Paywalls are used to collect money through various things.
            Right now, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName offers paywalls to collect money with online video streaming.  If your game is being displayed on @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and you would like people to pay to view the video, you can create a Paywall below.
            <br />
            <br />
            It looks like don't have a merchant account yet with @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.
            Merchant accounts are used to sell and collect money with @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.
            By creating this merchant account, you can start collecting money with paywalls.
        </p>
        <p>
            @using (Html.BeginForm("CreatePaywall", "Paywall"))
            {
                <div>
                    <input class="btn btn-success btn-sm" type="submit" value="Create Merchant Account" />
                </div>
               @Html.HiddenFor(x => x.InternalReference);
            }
        </p>
    </div>
}
else
{ 
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row margin-bottom-5">
                <div class="col-xs-12 col-sm-2 col-md-1">
                    <h3 class="margin-top-5 margin-bottom-5">Paywalls</h3>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-11 text-right">
                    <a class="btn btn-primary btn-sm margin-top-5" href="@Url.Content("~/paywall/add")"><i class="fa fa-plus-circle"></i> Add Paywall</a>
                    <a class="btn btn-warning btn-sm margin-top-5" href="@Url.Content("~/paywall/payments/" + RDN.Library.Cache.MemberCache.GetStoreManagerKeysForUrlUser(memId))"><i class="fa fa-money"></i> Payments</a>
                    <a class="btn btn-default btn-sm margin-top-5" href="@Url.Content("~/merchant/settings?return=" + Model.ReturnUrl)"><i class="fa fa-cog"></i> Merchant Settings</a>
                    <a class="btn btn-default btn-sm margin-top-5" href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite/Paywalls" target="_blank"><i class="fa fa-question-circle"></i> Help</a>
                </div>
            </div>
            <span class="text-muted">
                Paywalls are used to collect money through various things.
                Right now, @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName offers paywalls to collect money with online video streaming.  If your game is being displayed on @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and you would like people to pay to view the video, you can create a Paywall below.
            </span>
        </div>
        <div class="panel-body" style="overflow-x:auto">
            <table class="table table-striped table-hover table-condensed" id="members">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-right">Daily Price</th>
                        <th class="text-right">Timespan Price</th>
                        <th class="text-center">Is Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pay in Model.Paywalls)
                    {
                        <tr>
                            
                            <td><a href="@Url.Content("~/paywall/view/" + pay.PaywallId)">@pay.DescriptionOfPaywall</a></td>
                            <td class="text-center">@pay.StartDateDisplay</td>
                            <td class="text-center">@pay.EndDateDisplay</td>
                            <td class="text-right">@pay.DailyPrice</td>
                            <td class="text-right">@pay.TimespanPrice</td>
                            <td class="text-center">@pay.IsEnabled</td>
                            <td><a class="btn btn-success btn-xs" href="@Url.Content("~/paywall/edit/" + pay.PaywallId)"><i class="fa fa-pencil"></i> Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.HiddenFor(x => x.MerchantId)
            @Html.HiddenFor(x => x.InternalReference)
            @Html.HiddenFor(x => x.PrivateManagerId)
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#members').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "oLanguage": { "sSearch": "" },
            "bAutoWidth": false
        });
        $('#members_filter input').addClass('form-control').attr("placeholder", "Search");
    });
</script>
