@using RDN.Library.Classes.Store.Display;
@using RDN.Library.Classes.Payment.Enums;
@using RDN.Utilities.Enums;
@using RDN.Portable.Classes.Payment.Enums;
@model RDN.Library.Classes.Payment.Paywall.Paywall
@{
    ViewBag.Title = "View Paywall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
            < <a href="@Url.Content("~/paywall/all/")">Paywalls</a> < <a href="@Url.Content("~/paywall/edit/" + Model.PaywallId)">Edit</a>
        </div>
        <div class="rightBackLink"><a href="http://wiki.rdnation.com/Paywalls" target="_blank">Help</a>    </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            View Paywall
        </div>
      
         <div class="titleDescription">
    Here you can edit a paywall for locking parts of RDNation down to your customers only.
      
            </div>
            <div class="divider"></div>
        <div>

            <table class="addForumPostTbl">
                <tr>
                    <td class="b alRight">Description of Wall:
                    </td>
                    <td class="subject">
                        @Model.DescriptionOfPaywall

                    </td>
                </tr>

                <tr>
                    <td class="b alRight">Start Date:
                    </td>
                    <td class="largeInput">
                        @Model.StartDateDisplay

                    </td>
                </tr>
                <tr>
                    <td class="b alRight">End Date:
                    </td>
                    <td class="largeInput">
                        @Model.EndDateDisplay

                    </td>
                </tr>

                <tr>
                    <td class="b alRight">Daily Price:
                    </td>
                    <td class="mediumInput">$@Model.DailyPrice.ToString("N2")

                    </td>
                </tr>
                <tr>
                    <td class="b alRight">Full Price:
                    </td>
                    <td class="mediumInput">$@Model.TimespanPrice.ToString("N2")

                    </td>
                </tr>
                <tr>
                    <td class="b alRight">Is Enabled?:
                    </td>
                    <td>
                        @if (Model.IsEnabled)
                        { 
                            <img src="@Url.Content("~/Content/images/greenCheck.png")" />
                        }
                    </td>
                </tr>
                <tr>
                    <td class="b alRight">Games Attached To Paywall:
                    </td>
                    <td>
                        <table class="listTable " id="games">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var game in Model.Games)
                                { 
                                    <tr>
                                        <td>

                                            <a href="@Url.Content("~/game/manage/" + game.PrivateKeyForGame.ToString().Replace("-", "") + "/" + game.GameId.ToString().Replace("-", ""))">@game.GameName </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="b alRight">Orders:
                    </td>
                    <td>
                             <table class="listTable" id="orders">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Number</th>
                    <th>Payment Through S(@Model.Invoices.Where(x => x.InvoiceStatus == InvoiceStatus.Payment_Successful && x.PaymentProvider == PaymentProvider.Stripe).Count()) PP(@Model.Invoices.Where(x => x.InvoiceStatus == InvoiceStatus.Payment_Successful && x.PaymentProvider == PaymentProvider.Paypal).Count())</th>
                    <th>Total @Model.Invoices.Where(x => x.InvoiceStatus == InvoiceStatus.Payment_Successful).Sum(x => x.TotalIncludingTax)</th>
                    <th>Invoice Status</th>
                    <th>Email</th>
                    
                    <th>Your Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model.Invoices)
                { 
                    <tr>
                        <td>@invoice.Created.ToString("yyyy/M/d")</td>
                        <td><a href="@Url.Content("~/paywall/order/" + invoice.Merchant.PrivateManagerId.ToString().Replace("-", "") + "/" + invoice.Merchant.MerchantId.ToString().Replace("-", "") + "/" + invoice.InvoiceId.ToString().Replace("-", ""))">@invoice.InvoiceId.ToString().Replace("-", "")</a></td>
                        <td>@invoice.PaymentProvider</td>
                        <td>@invoice.TotalIncludingTax @invoice.Currency</td>
                        @*<td>@invoice.RDNDeductedFee @invoice.Currency</td>*@
                        <td>@EnumExt.ToFreindlyName(invoice.InvoiceStatus)</td>
                        <td>@invoice.InvoiceBilling.Email</td>
                        
                        <td>@invoice.AdminNote</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Created</th>
                    <th>Number</th>
                    <th>Payment Through S(@Model.Invoices.Where(x => x.InvoiceStatus == InvoiceStatus.Payment_Successful && x.PaymentProvider == PaymentProvider.Stripe).Count()) PP(@Model.Invoices.Where(x => x.InvoiceStatus == InvoiceStatus.Payment_Successful && x.PaymentProvider == PaymentProvider.Paypal).Count())</th>
                    <th>Total @Model.Invoices.Where(x => x.InvoiceStatus == InvoiceStatus.Payment_Successful).Sum(x => x.TotalIncludingTax)</th>
                    <th>Invoice Status</th>
                    <th>Email</th>
                    

                    <th>Your Notes</th>
                </tr>
            </tfoot>
        </table>
   
                    </td>
                </tr>

            </table>
            @Html.HiddenFor(x => x.PaywallId)

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#games').dataTable({
            "aaSorting": [[0, "desc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,

        });
        $('#orders').dataTable({
            "aaSorting": [[0, "desc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,

        });
    });


</script>
