@{Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
  bool isPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
  bool isManager = RDN.Library.Cache.MemberCache.IsManagerOrBetterOfLeague(memId);
  bool isSec = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
  bool isMed = RDN.Library.Cache.MemberCache.IsMedicalOrBetterOfLeague(memId);
}
<ul class="membersPagerUl">
    <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/all") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/all")">Roster</a></li>
    
    @if (isSec)
    { 
        <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/dates") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/dates")">Dates</a></li>
    }
    <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/jobs") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/jobs")">Day Jobs</a></li>


    @if (isPaid)
    { 
        <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/groups") ? "membersPagerSel" : "")" href="@Url.Content("~/league/groups")">Groups</a></li>
   
        <li class="membersPagerLi"><a  class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/insurance") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/insurance")">Insurance Numbers</a></li>
  
        if (isMed || isSec)
        {
        <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/medical") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/medical")">Medical</a></li>
        }
    }
    else
    { 
        <li class="membersPagerLi"><a href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Groups are only available to subscribed leagues">Groups</a></li>
    
        <li class="membersPagerLi"><a href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Insurance Numbers are only available to subscribed leagues">Insurance Numbers</a></li>
   
        if (isSec || isMed)
        {
        <li class="membersPagerLi"><a href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Medical Information is only available to subscribed leagues">Medical</a></li>
        }
    }
    @if (isManager)
    { 
        <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/permissions") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/permissions")">Permissions</a></li>
    }
    
    
    <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/class") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/class")">Skating Level</a></li>
    
    <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/map") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/map")">Map</a></li>

    <li class="membersPagerLi"><a class="@(HttpContext.Current.Request.Url.AbsoluteUri.Contains("/league/members/view/removed") ? "membersPagerSel" : "")" href="@Url.Content("~/league/members/view/removed")">Removed</a></li>

</ul>
    