@{Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
  bool isPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
  bool isManager = RDN.Library.Cache.MemberCache.IsManagerOrBetterOfLeague(memId);
  bool isSec = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
  bool isMed = RDN.Library.Cache.MemberCache.IsMedicalOrBetterOfLeague(memId);
}

<ul class="nav nav-tabs no-margin-bottom" id="membersTypeButtons" style="margin-bottom:-1px">
    <li tag="roster" class="margin-left-5">
        <a href="@Url.Content("~/league/members/view/all")">Roster</a>
    </li>
     @if (isSec)
    {
        <li tag="dates" class="margin-left-5">
            <a href="@Url.Content("~/league/members/view/dates")">Dates</a>
        </li>
    }
    <li tag="dayjobs" class="margin-left-5">
        <a  href="@Url.Content("~/league/members/view/jobs")">Day Jobs</a>
    </li>
    @if (isPaid)
    {
        <li tag="groups" class="margin-left-5">
            <a href="@Url.Content("~/league/groups")">Groups</a>
        </li>
        <li tag="insurancenumbers" class="margin-left-5">
            <a href="@Url.Content("~/league/members/view/insurance")">Insurance Numbers</a>
        </li>
        if (isMed || isSec)
        {
            <li tag="medical" class="margin-left-5">
                <a href="@Url.Content("~/league/members/view/medical")">Medical</a>
            </li>
        }
    }
    else
    {
        <li tag="groups" class="margin-left-5">
            <a href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Groups are only available to subscribed leagues">Groups</a>
        </li>
        <li tag="insurancenumbers" class="margin-left-5">
            <a href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Insurance Numbers are only available to subscribed leagues">Insurance Numbers</a>
        </li>
        if (isSec || isMed)
        {
            <li tag="medical" class="margin-left-5">
                <a href="@Url.Content("~/billing/league/" + ViewBag.LeagueId + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)" title="Medical Information is only available to subscribed leagues">Medical</a>
            </li>
        }
    }
    @if (isManager)
    {
        <li tag="permissions" class="margin-left-5">
            <a href="@Url.Content("~/league/members/view/permissions")">Permissions</a>
        </li>
    }
    <li tag="skatinglevel" class="margin-left-5">
        <a  href="@Url.Content("~/league/members/view/class")">Skating Level</a>
    </li>
    <li tag="map" class="margin-left-5">
        <a href="@Url.Content("~/league/members/view/map")">Map</a>
    </li>
    <li tag="removed" class="margin-left-5">
        <a href="@Url.Content("~/league/members/view/removed")">Removed</a>
    </li>
</ul>
       

       