@model RDN.Portable.Classes.League.Classes.League
@{
    ViewBag.Title = "Edit " + Model.Name +" "+@RDN.Library.Classes.Config.LibraryConfig.SportName+" Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        @using (Html.BeginForm("EditLeague", "Federation"))
        {
            <div class="tvLogo">
                <img src="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
            </div>
            <div class="tvChanges">
                <a href="@Url.Content("~/federation/league/" + Model.LeagueId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Name))" target="_blank">View Changes</a>
            </div>
            <div class="tvTitle">
                <span>Team Name:</span>  @Html.TextBoxFor(x => x.Name)
            </div>
            <div>
                <div class="tvDesc">@Html.TextBoxFor(x => x.City),
                    @Html.TextBoxFor(x => x.State) - @Html.TextBoxFor(x => x.Country)
                </div>
            </div>   
            <div>
                <table class="editMemberTable">
                    <tr>
                        <td class="b">Internal @RDN.Library.Classes.Config.LibraryConfig.TeamName Id:</td>
                        <td>@Html.TextBoxFor(x => x.InternalFederationIdForLeague) </td>
                    </tr>
                </table>
            </div>         
            
            <div class="divider"></div>
            <div>
                @if (Model.Teams != null && Model.Teams.Count == 1)
                { 
                    <div>
                        Teams within @ViewBag.League.Name
                    </div>
                }
                else if (Model.Teams != null && Model.Teams.Count > 1)
                {

                }
                @if (Model.LeagueMembers != null && Model.LeagueMembers.Count > 0)
                {
            
                    <table class="listTable" id="members">
                        <thead>
                            <tr>
                                <th>Derby Name
                                </th>
                                <th>Derby Number
                                </th>
                                <th>First Name
                                </th>
                                <th>Last Name
                                </th>
                                <th>Phone Number
                                </th>
                                <th>Email
                                </th>
                                <th>Gender
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.LeagueMembers.Count; i++)
                            {
                                <tr class="@(i % 2 == 0 ? "tr1" : "tr0")">
                                    <td>
                                        <a href="@Url.Content("~/Member/" + Model.LeagueMembers[i].MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.LeagueMembers[i].DerbyName))">
                                            @Model.LeagueMembers[i].DerbyName
                                        </a>
                                    </td>
                                    <td>@Model.LeagueMembers[i].PlayerNumber
                                    </td>
                                    <td>@Model.LeagueMembers[i].Firstname
                                    </td>
                                    <td>@Model.LeagueMembers[i].LastName
                                    </td>
                                    <td>@Model.LeagueMembers[i].PhoneNumber
                                    </td>
                                    <td>@Model.LeagueMembers[i].Email
                                    </td>
                                    <td>@Model.LeagueMembers[i].Gender
                                    </td>
                                </tr>     
                            }
                        </tbody>
                    </table>
            
               
            
                }
@* @if (Model.ContactCard != null && Model.ContactCard.Emails.Count > 0)
            { 
                <div>
                    Email for @Model.ContactCard.Emails.FirstOrDefault().EmailAddress</div>
            }*@
            </div>
            <div class="clear">
            </div>
            <br />
            <br />
            <div class="updateMemberButton">
                @if (ViewBag.Saved)
                { 
                    <span class="addedSuccessfully">Updated Successfully!</span>
                }
                <input type="submit" class="primary" value="Update @RDN.Library.Classes.Config.LibraryConfig.TeamName" />
            </div>
            @Html.HiddenFor(x => x.LeagueId)
            @Html.HiddenFor(x => x.FederationIdForLeague)
        }
        @using (Html.BeginForm("RemoveLeague", "Federation"))
        { 
         
            <div>
                <input type="submit" class="remove" onclick="return confirm('Really Remove @RDN.Library.Classes.Config.LibraryConfig.TeamName?');"
                    value="Remove @RDN.Library.Classes.Config.LibraryConfig.TeamName From Federation" />
            </div>
            @Html.HiddenFor(x => x.LeagueId)
        }
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#members').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });
    });
</script>
