@using RDN.Store.Models.Utilities.Paging
@model RDN.Store.Models.OutModel.GenericSingleModel<RDN.Store.Models.Utilities.SimpleModPager<RDN.Library.Classes.Store.Classes.StoreItemJson>>
@{
    ViewBag.Title = @RDN.Library.Classes.Config.LibraryConfig.SportName + " Online Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="list-group">
            <a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-shops")" class="active list-group-item bg-color-silver">Shops</a>
            <a href="@Url.Content("~/category/shirts/1")" class="list-group-item">Shirts</a>
            <a href="@Url.Content("~/category/item/2")" class="list-group-item">Items</a>
            <a href="@Url.Content("~/category/item/3")" class="list-group-item">Decals</a>
        </div>
        <div id="fb-root">
        </div>
        <script type="text/javascript">
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=159367097423747";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-10">
        <div class="mainList" id="mainList">
            <div class="shop-grid">
                @foreach (var item in Model.Model.Items)
                {
                    <div class="shop-grid-item">
                        <div class="thumbnail full-width bg-lighter">
                            @if (item.PhotoUrl != null)
                            {
                                <a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-item/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name) + "/" + item.StoreItemId)">
                                    <img src="@item.PhotoUrl.ToString()" data-holder-rendered="true" style="width: 100%; display: block;" alt="@item.PhotoAlt" />
                                </a>
                            }
                            <div class="caption padding-7">
                                <p class="margin-bottom-5">
                                    <a class="font15" href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-item/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.Name) + "/" + item.StoreItemId)">@item.NameTrimmed</a>
                                </p>
                                <p class="margin-bottom-5 b font16">
                                    @if (item.Currency == "USD")
                                    { <span>$</span>}@item.Price.ToString() <span class="font11">@item.Currency</span>
                                </p>
                                <a class="font12" href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-shop/" + item.ShopMerchantId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(item.ShopName))">
                                    @item.ShopNameTrimmed
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <ul class="pagination margin-left-10 margin-right-10 pull-right">
                @Html.Raw(Html.Pager(Model.Model.PageSize, Model.Model.CurrentPage, Model.Model.NumberOfRecords, "Index", "Home"))
            </ul>
        </div>
    </div>
</div>
