@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="page-header margin-bottom-10 margin-top-10">
            <h3 class="no-margin pull-left">Add Another Revenue Stream For You or Your League</h3>
            <a class="btn btn-primary pull-right" href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite/store/home">Start A Shop</a>
            <a class="btn btn-primary pull-right margin-right-5" href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite/Pricing_for_Selling_at_RDNation" target="_blank">Pricing Information</a>
            <div class="clearfix"></div>
        </div>
        <div class="margin-bottom-10">
            <img src="@Url.Content("~/Content/sellBanner.png")" class="" />
        </div>
        <h4 class="no-margin">What Can You Sell?</h4>
        <div class="margin-bottom-10 margin-left-10">
            <h3 class="margin-top-10">
                <span class="pull-left margin-right-5 label label-success"><span class="fa fa-check"></span> League Merchandise</span>
                <span class="label label-success pull-left margin-right-5"><span class="fa fa-check"></span> New and Used Gear</span>
                <span class="label label-success pull-left"><span class="fa fa-check"></span> Handmade</span>
            </h3>
            <div class="clearfix"></div>
        </div>
        <h4 class="no-margin margin-top-10">Why Sell on @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName?</h4>
        <div class="margin-left-10">
            <h4><span class="fa fa-star-o text-success"></span> Generate Revenue For Your League</h4>
            <div class="margin-left-15">
                <h5><span class="fa fa-check text-success"></span> Setup a Store without any hassle of trying to create one for your league.</h5>
                <h5><span class="fa fa-check text-success"></span> @RDN.Library.Classes.Config.LibraryConfig.SportName @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers and fans from all over the world will come here to buy from your league.</h5>
                <h5><span class="fa fa-check text-success"></span> Become part of a growing community of leagues who are selling their merchandise online instead of just at a bout.</h5>
            </div>
        </div>
        <div>
            <h4><span class="fa fa-star-o text-success"></span> Create Your Own Business</h4>
            <div class="margin-left-15">
                <h5><span class="fa fa-check text-success"></span> Have a Small @RDN.Library.Classes.Config.LibraryConfig.SportName Business, but no online presence?</h5>
                <h5><span class="fa fa-check text-success"></span> Put money in your pocket, by creating something fans and @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers will enjoy.</h5>
                <h5><span class="fa fa-check text-success"></span> Reach not only other @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers, but reach fans with your business as @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is building fans for @RDN.Library.Classes.Config.LibraryConfig.SportName.</h5>
            </div>
        </div>
        <div>
            <h4><span class="fa fa-star-o text-success"></span> Sell To Fans</h4>
            <div class="margin-left-15">
                <h5><span class="fa fa-check text-success"></span> @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName not only has @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers visiting, but @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName is one of the largest @RDN.Library.Classes.Config.LibraryConfig.SportName Fan websites in the world.</h5>
                <h5><span class="fa fa-check text-success"></span> Its fast, easy and gets the job done.  @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName makes sure you get your money fast and orders are processed quickly.</h5>
                <h5><span class="fa fa-check text-success"></span> Build a customer base that will keep coming back.</h5>
            </div>
        </div>
        <h4 class="no-margin margin-top-10 margin-bottom-15">Any Questions?</h4>
        <div class="margin-left-10">
            <h4>Email us at <a href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail">@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a></h4>
        </div>
        <div class="margin-bottom-10 margin-top-10">
            <a class="btn btn-primary pull-right" href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite/store/home">Start A Shop</a>
            <a class="btn btn-primary pull-right margin-right-5" href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite/Pricing_for_Selling_at_RDNation" target="_blank">Pricing Information</a>
            <span class="clearfix"></span>
        </div>
    </div>
</div>
