@using RDN.Utilities.Paging
@model RDN.Models.OutModel.GenericSingleModel<RDN.Models.Utilities.SimpleModPager<RDN.Portable.Models.Json.Public.LeagueJsonDataTable>>
@{
    ViewBag.Title = "All Roller Derby Leagues";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="fixTitle">
            @Model.Model.NumberOfRecords.ToString("N0") Roller Derby Leagues World Wide
        </div>
        <div class="divider"></div>
      
        <div id="mapdiv" style="height: 250px; width: 100%;"></div>
        <script src="@Url.Content("~/scripts/OpenLayers.js")"   ></script>
        <style >
            .olControlAttribution { bottom:0px;}
        </style>
        <div class="pager">
            @Html.Raw(Html.Pager(Model.Model.PageSize, Model.Model.CurrentPage, Model.Model.NumberOfRecords, "AllLeagues", "PublicLeague"))
        </div>
        <div>
            <table class="listTable" id="leagues">
                <thead>
                    <tr>
                        <th></th>
                        <th>League
                        </th>
                        <th>State
                        </th>
                        <th>Country
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Model.Items.Count; i++)
                    {
                        if (Model.Model.Items[i].LeagueName != null)
                        {
                        <tr class="@(i % 2 == 0 ? "tr1" : "tr0")">
                            <td>
                                @if (!String.IsNullOrEmpty( Model.Model.Items[i].LogoUrlThumb ))
                                {
                                    <img height="40px" alt="@Model.Model.Items[i].LeagueName" src="@Model.Model.Items[i].LogoUrlThumb" />
                                }
                            </td>
                            <td>
                                <span class="vmTeamName"><a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].LeagueName) + "/" + Model.Model.Items[i].LeagueId.ToString().Replace("-", ""))">
                                    @Model.Model.Items[i].LeagueName
                                </a></span>
                            </td>
                            <td>@Model.Model.Items[i].State
                            </td>
                            <td>@Model.Model.Items[i].Country
                            </td>
                        </tr>              
                        }
                    }
                </tbody>
            </table>
            <div class="pager">
                @Html.Raw(Html.Pager(Model.Model.PageSize, Model.Model.CurrentPage, Model.Model.NumberOfRecords, "AllLeagues", "PublicLeague"))
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var PROJECTIONFROM = "EPSG:4326";
    var PROJECTIONTO = "EPSG:900913";
    $(document).ready(function () {
        

        $.getJSON("publicleague/GetLeagesformap", function (data) {
            var leages = data;
            for (var i = 0; i < leages.leageData.length; i++) {
                var lon = leages.leageData[i][0];
                var lat = leages.leageData[i][1];
                createmarkerforleage(lon, lat, leages.leageData[i], i + 1);
            }
        });

        $('#leagues').dataTable({
            "aaSorting": [[0, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "publicleague/AllLeagueSearching",
            "iDeferLoading": true,
            "oLanguage": {
                "sProcessing": "Searching..."
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[5] === "true") {
                    if (aData[2] != null)
                        $('td:eq(0)', nRow).html("<img height='40px' alt='profile picture' src='" + aData[2] + "'/>");
                    else
                        $('td:eq(0)', nRow).html(aData[2]);
                    $('td:eq(1)', nRow).html('<a href="' + aData[1] + '">' + aData[0] + '</a>');
                    $('td:eq(2)', nRow).html(aData[3]);
                    $('td:eq(3)', nRow).html(aData[4]);
                }
                return nRow;
            }
        });
    });
    
</script>
