@using RDN.Utilities.Paging
@model RDN.Models.OutModel.GenericSingleModel<RDN.Models.Utilities.SimpleModPager<RDN.Portable.Models.Json.Public.LeagueJsonDataTable>>
@{
    ViewBag.Title = "All Roller Derby Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="fixTitle">
            @Model.Model.NumberOfRecords.ToString("N0") Roller Derby Leagues World Wide
        </div>
        <div class="divider"></div>

        <div id="mapdiv" style="height: 350px; width: 100%;"></div>
        <script src="@Url.Content("~/scripts/OpenLayers.js")"></script>
        <style>
            .olControlAttribution { bottom: 0px; }
        </style>

        <div>
            <table class="table-striped table table-hover" id="leagues">

                <tbody>
                    @for (int i = 0; i < Model.Model.Items.Count; i++)
                    {
                        if (Model.Model.Items[i].LeagueName != null)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].LeagueName) + "/" + Model.Model.Items[i].LeagueId.ToString().Replace("-", ""))">
                                        @if (!String.IsNullOrEmpty(Model.Model.Items[i].LogoUrlThumb))
                                        {
                                            <img height="160px" class="pull-right" alt="@Model.Model.Items[i].LeagueName" src="@Model.Model.Items[i].LogoUrlThumb" />
                                        }
                                        <img height="160px" class="pull-right" alt="@Model.Model.Items[i].LeagueName" src="@Url.Content("~/content/images/boy.png")" />
                                    </a>
                                </td>
                                <td>
                                    <div class="row">
                                        <h3>
                                            <a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].LeagueName) + "/" + Model.Model.Items[i].LeagueId.ToString().Replace("-", ""))">
                                                @Model.Model.Items[i].LeagueName
                                            </a>
                                            <small>
                                                founded @Model.Model.Items[i].DateFounded.Year
                                            </small>
                                        </h3>

                                    </div>
                                    <div class="row">
                                        @Model.Model.Items[i].State

                                        @Model.Model.Items[i].Country
                                    </div>
                                    <div class="row">
                                        @Model.Model.Items[i].Membercount members
                                    </div>
                                    <div class="row">
                                        plays by @Model.Model.Items[i].RuleSetsPlayed
                                    </div>
                                    <br />
                                    <div class="row">
                                        @if (!String.IsNullOrEmpty(Model.Model.Items[i].Facebook))
                                        {
                                            <a href="@Model.Model.Items[i].Facebook" class="pull-left  "><i class="fa fa-facebook fa-2x"></i></a>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.Model.Items[i].Instagram))
                                        {
                                            <a href="@Model.Model.Items[i].Instagram" class="pull-left col-xs-offset-1 "><i class="fa fa-instagram fa-2x"></i></a>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.Model.Items[i].Twitter))
                                        {
                                            <a href="@Model.Model.Items[i].Twitter" class="pull-left   col-xs-offset-1"><i class="fa fa-twitter-square fa-2x"></i></a>
                                        }

                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script type="text/javascript">
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var PROJECTIONFROM = "EPSG:4326";
    var PROJECTIONTO = "EPSG:900913";
    $(document).ready(function () {

        $(window).resize(function () {
            var w = $("#mapDiv").width();
            $("#mapDiv").css("height", w * 3 / 4);
        });
        $.getJSON("publicleague/GetLeagesformap", function (data) {
            var leages = data;
            for (var i = 0; i < leages.leageData.length; i++) {
                var lon = leages.leageData[i][0];
                var lat = leages.leageData[i][1];
                createmarkerforleage(lon, lat, leages.leageData[i], i + 1);
            }
        });

        $('#leagues').dataTable({
            "aaSorting": [[0, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "publicleague/AllLeagueSearching",
            "iDeferLoading": true,
            "oLanguage": {
                "sProcessing": "Searching...",
                "sSearch": ""
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[5] === "true") {
                    if (aData[2] != null)
                        $('td:eq(0)', nRow).html("<img height='40px' alt='profile picture' src='" + aData[2] + "'/>");
                    else
                        $('td:eq(0)', nRow).html(aData[2]);
                    $('td:eq(1)', nRow).html('<a href="' + aData[1] + '">' + aData[0] + '</a>');

                }
                return nRow;
            }
        });
        
        $('#leagues_filter input').addClass('form-control').addClass("col-xs-12").attr("placeholder", "Search");
    });

</script>
