@model RDN.Portable.Classes.League.Classes.League
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="tvTitle">
            @Model.Name
            <br />
        </div>
        <div class="leagueTempSign">
            <span class="SignUpTemp greenLink"><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/SignUp">Claim This @RDN.Library.Classes.Config.LibraryConfig.TeamName!</a>
            </span>
            <br />
            <br />
            @Model.Name has yet to be claimed by the actual owners.
        </div>
        <hr />
        <div>
            @if (Model.LeagueMembers != null && Model.LeagueMembers.Count > 0)
            {
            
                <table class="listTable" id="members">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                @RDN.Library.Classes.Config.LibraryConfig.MemberName
                            </th>
                            <th>
                               Number
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.LeagueMembers.Count; i++)
                        {
                            <tr class="@(i % 2 == 0 ? "tr1" : "tr0")">
                                <td>
                                    <img height="40px" src="@Url.Content("~/content/" + RDN.Library.Classes.Config.LibraryConfig.DefaultPictureName)" alt="default picture" />
                                </td>
                                <td>
                                    <a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNamePlusMemberNameForUrl + "/1/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.LeagueMembers[i].DerbyName) + "/" + Model.LeagueMembers[i].MemberId.ToString().Replace("-", ""))">
                                        @Model.LeagueMembers[i].DerbyName
                                    </a>
                                </td>
                                <td>@Model.LeagueMembers[i].PlayerNumber
                                </td>
                            </tr>     
                        }
                    </tbody>
                </table>
            
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#members').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });
    });
</script>
