@using RDN.Library.Classes.Calendar.Enums;
@model RDN.Portable.Classes.League.Classes.League
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<link href="@Url.Content("~/Content/FullCalendar/fullcalendar.css")" rel="stylesheet" />

<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <div class="tvTitle">
            <div class="tvName">@Model.Name</div>


            <div class="tvDesc">@Model.City,
                @Model.State @if (!String.IsNullOrEmpty(Model.Country))
                             {<span> - @Model.Country</span>}
            </div>

            <div class="tvWebsite">
                @if (!String.IsNullOrEmpty(Model.Website))
                { 
                    <a href="@Model.Website" target="_blank">@Model.Website</a>
                }   

            </div>
            <div class="navIcons">
                <a href="https://league.rdnation.com/messages/new/league/@Model.LeagueId.ToString().Replace("-", "")" >
                    <img src="@Url.Content("~/Content/images/icons/contact.png")"  />Contact
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="tvLogo">
            @if (Model.Logo != null && !String.IsNullOrEmpty(Model.Logo.ImageUrl))
            {
                <img src="@Model.Logo.ImageUrl" class="tvImage" />
            }

        </div>
        <div class="divider2"></div>


        <div>
            <div id="tabMain" class="gameTabs">
                <ul class="mainTabs usual">
                    <li><a class="selected" href="#membersTab">Members</a></li>
                    <li><a href="#calendarTab" id="calTabTab">Calendar</a></li>

                </ul>
            </div>
            <div id="membersTab">
                <br />
                @if (Model.LeagueMembers != null && Model.LeagueMembers.Count > 0)
                {
            
                    <table class="listTable" id="members">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Derby Name
                                </th>
                                <th>Derby Number
                                </th>
                                <th>Gender
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.LeagueMembers.Count; i++)
                            {
                                <tr class="@(i % 2 == 0 ? "tr1" : "tr0")">
                                    <td>
                                        @if (Model.LeagueMembers[i].Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault() != null)
                                        { 
                                            <img height="40px" alt="@Model.LeagueMembers[i].Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault().Alt" src="@Model.LeagueMembers[i].Photos.Where(x => x.IsPrimaryPhoto == true).LastOrDefault().ImageUrl" />
                                        }
                                        else if (Model.LeagueMembers[i].Gender == RDN.Portable.Classes.Account.Enums.GenderEnum.Female)
                                        { 
                                            <img height="40px" src="@Url.Content("~/content/roller-girl.jpg")" alt="roller derby girl" />
                                        }
                                        else
                                        {
                                            <img height="40px" src="@Url.Content("~/content/roller-person.gif")" alt="roller derby boy" />
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Content("~/roller-derby-skater/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.LeagueMembers[i].DerbyName) + "/" + Model.LeagueMembers[i].MemberId.ToString().Replace("-", ""))">
                                            @Model.LeagueMembers[i].DerbyName
                                        </a>
                                    </td>
                                    <td>@Model.LeagueMembers[i].PlayerNumber
                                    </td>
                                    <td>@Model.LeagueMembers[i].Gender
                                    </td>
                                </tr>     
                            }
                        </tbody>
                    </table>
                         
            
                }
            </div>
            <div id="calendarTab">
                <br />
                <div id="calendar" class="calendarDisplay">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/FullCalendar/fullcalendar.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FullCalendar/gcal.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#members').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventBackgroundColor: "#872f95",
            eventBorderColor: "#c5c5c5",
            selectable: true,
            events: function (start, end, callback) {
                start = start.getTime() / 1000;
                end = end.getTime() / 1000;
                $.getJSON("/utilities/LoadCalendarView", { lid: '@Model.LeagueId.ToString().Replace("-", "")', startDt: start, endDt: end }, function (result) {
                    var events = [];
                    $.each(result.events, function (i, field) {
                        events.push({
                            title: $(field).attr('title'),
                            start: $(field).attr('start'),
                            id: $(field).attr('id'),
                            end: $(field).attr('end'),
                            url: $(field).attr('url'),
                            allDay: $(field).attr('allDay'),
                            backgroundColor: $(field).attr('backColor')
                        });
                    });
                    callback(events);

                });
            }
        });
        $("#tabMain ul").idTabs({
            click: function (id, all, container, settings) {
                if (id === "#calendarTab") {
                    setTimeout(function () {
                        $('#calendar').fullCalendar('render');
                    }, 300);
                }
                return true;
            }
        });
    });
</script>
