@model RDN.Library.Classes.League.Links.LinkManager

@{
    ViewBag.Title = "View Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/links/all")">Links</a></li>
    <li class="active">Details of Link</li>
</ol>


<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 style="margin-top:5px !important"><i class="fa fa-cube"></i> @Model.Link</h3>
                    </div>
                </div>
                <div class="text-muted">Link </div>
            </div>
            <div class="panel-body no-padding-top">
                <div class="col-xs-12 col-sm-6 text-right" style="width:175px;">
                    <label class="form-label margin-top-10">Link URL</label>
                </div>
                <div class="col-xs-12 col-sm-6" style="width:345px;">
                    <label class="form-label margin-top-10"><b> <a target="_blank" href="@Url.Content("http://"+Model.Link)">
                                                    <i class="fa fa-external-link"></i>  @Model.Link
                                                </a></b></label>
                </div>
                
                <div class="col-xs-12 col-sm-6 text-right" style="width:175px;">
                    <label class="form-label margin-top-10">Notes</label>
                </div>
                <div class="col-xs-12 col-sm-6" style="width:345px;">
                    <textarea class="form-label"> @Model.Notes</textarea>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "modern",
            plugins: "layer,table,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,template",
        });
    });

</script>
