@model RDN.Library.Classes.League.Links.LinkManager

@{
    ViewBag.Title = "View Link";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var linkURL = string.Empty;
    if (Model.Link.IndexOf("http") > -1 || Model.Link.IndexOf("https") > -1)
    {
        linkURL = Model.Link;
    }else{
        linkURL = "http://"+Model.Link;
    }
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/league/links/all")">Links</a></li>
    <li class="active">Details of Link</li>
</ol>


<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 style="margin-top:5px !important"><i class="fa fa-cube"></i>View Link </h3>
                    </div>
                </div>
            </div>
            <div class="panel-body no-padding-top">             
                <div class="row">
                  
                    <div class="col-xs-12 col-sm-6 text-left nowrap">
                    
                        <label class="form-label margin-top-25">
                            
                                <a target="_blank" href="@Url.Content(linkURL)">
                                    <i class="fa fa-external-link"></i> @Model.Link
                                </a>
                            
                        </label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-left ">
                        <b>Notes</b>
                        <br />
                        <label class="form-label" style="word-wrap: break-word;"> @Html.Raw(Model.Notes)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   
</script>