@using RDN.Library.Classes.Controls.Dues
@using RDN.League.Models.Utilities
@model RDN.Portable.Classes.Controls.Dues.Classify.FeeClassified
@{
    ViewBag.Title = "Modify Dues Collection Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
            <div class="navIcons">
                <a title="Dues Management" href="@Url.Content("~/dues/league/" + @Model.LeagueOwnerId.ToString().Replace("-", ""))">
                    <img src="@Url.Content("~/Content/images/icons/wallet.png")"  />Dues</a>
            </div>
        </div>
        <div class="backLink">
            <div class="navIcons">
                <a title="Dues Management" href="@Url.Content("~/dues/classification/league/" + @Model.LeagueOwnerId.ToString().Replace("-", "") + "/" + @Model.DuesId.ToString().Replace("-", ""))">
                    <img src="@Url.Content("~/Content/images/icons/group.png")"  />Classify</a>
            </div>
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Add New Classification
        </div>
     
           <div class="titleDescription">
                Here you can add a new classification for the skaters who you want to put into a group that pay dues at a group price rather than the leagues default price.
     
        </div>
        <div class="divider"></div>
       
        <div>
            @using (Html.BeginForm("DuesClassificationNew", "Dues", FormMethod.Post, new { @id = "form", @name = "form" }))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b vLTD">Name of Class:
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Name) <span class="i">Name of the dues group.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="b vLTD">Does Not Pay Dues:
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x.DoesNotPayDues, new { @onchange="classificationDoesNotPayDues(this)" }) <span class="i">Set if group does NOT pay dues.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="b vLTD">Amount For Dues:
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.FeeRequiredInput) <span class="i">Amount required for each dues collection. </span>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>

                            <input type="submit" class="primary" value="Create New Class" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.DuesId)
                @Html.HiddenFor(x => x.LeagueOwnerId)
                @Html.HiddenFor(x => x.OwnerEntity)
         
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#FeeRequiredInput").numeric({ negative: false });
    $("#form").validate({
        rules: {
            Name: "required",
            FeeRequiredInput: "required"
        }
    });
</script>

