@using RDN.Library.Classes.Dues
@model RDN.Portable.Classes.Controls.Dues.DuesPortableModel
@{
    ViewBag.Title = "Classify Dues Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool isManager = RDN.Library.Cache.MemberCache.IsManagerOrBetterOfLeague(memId);
    bool isAdminOfLeague = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
    bool isOwner = RDN.Library.Cache.MemberCache.IsOwnerOfLeague(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/dues/league/" + @Model.LeagueOwnerId.ToString().Replace("-", ""))">Dues</a></li>
    <li class="active">Classifications for Dues</li>
</ol>

<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3 style="margin-top:5px !important"><i class="fa fa-folder"></i> Classifications for Dues</h3>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                <a title="New Group To Classify" class="btn btn-primary btn-sm" href="@Url.Content("~/dues/classification/new/" + @Model.OwnerEntity + "/" + @Model.LeagueOwnerId.ToString().Replace("-", "") + "/" + @Model.DuesId.ToString().Replace("-", ""))">
                    <i class="fa fa-plus-circle"></i> New
                </a>
            </div>
        </div>
        <div class="text-muted">
            Group members of your league by how much they pay for dues.  Therefore, moving a member between groups, will ask them to pay different amounts for dues.
        </div>
    </div>
    <div class="panel-heading text-right" style="background-color:#fafafa">
        <a class="btn btn-default btn-sm" title="Dues Settings" href="@Url.Content("~/dues/settings/" + @Model.OwnerEntity + "/" + @Model.LeagueOwnerId.ToString().Replace("-", "") + "/" + @Model.DuesId.ToString().Replace("-", ""))">
            <i class="fa fa-cog"></i> Settings
        </a>
        <button type="button" class="btn btn-default btn-sm" onclick="document.getElementById('DuesReport').submit();" title="Export Report">
            <i class="fa fa-download"></i> Export
        </button>
        <a class="btn btn-default btn-sm" title="Withstanding By Member" href="@Url.Content("~/dues/members/" + @Model.OwnerEntity + "/" + @Model.LeagueOwnerId.ToString().Replace("-", ""))">
            <i class="fa fa-group"></i> Members
        </a>
    </div>
    <div class="panel-body" style="overflow-x:auto">
        <table class="table table-striped table-hover table-condensed no-margin-bottom" id="notPaid">
            <thead>
                <tr>
                    <th></th>
                    
                    <th>#</th>
                    <th>Last</th>
                    <th>Name</th>
                    <th class="alignCenter">Default</th>
                    @foreach (var classy in Model.Classifications)
                    {
                        <th class="alignCenter">
                            <a title="Edit @classy.Name" href="@Url.Content("~/dues/classification/edit/" + @Model.OwnerEntity + "/" + @Model.LeagueOwnerId.ToString().Replace("-", "") + "/" + @Model.DuesId.ToString().Replace("-", "") + "/" + classy.FeeClassificationId)">
                                @classy.Name
                            </a>

                        </th>
                    }
                    @if (isAdminOfLeague)
                    {
                        <th>Edit</th>
                    }
                </tr>
                <tr>
                    <th></th>
                    @if (isAdminOfLeague)
                    {
                        <th></th>
                    }
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="alignCenter">@Model.DuesCost.ToString("N2")</th>
                    @foreach (var classy in Model.Classifications)
                    {
                        <th class="alignCenter">
                            @classy.FeeRequired.ToString("N2")
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Members.Count; i++)
                {
                    <tr>
                        <th style="width: 20px;">
                            @i
                        </th>
                      
                        <td>
                            @Model.Members[i].PlayerNumber
                    </td>
                    <td>@Model.Members[i].LastName</td>
                    <td>
                        <a href="@Url.Content("~/member/" + Model.Members[i].MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Members[i].DerbyName))">
                            @Model.Members[i].DerbyName
                        </a>
                    </td>
                    <td class="alignCenter">
                        @if (Model.Members[i].ClassificationId == 0)
                        {
                            <input type="radio" name="@Model.Members[i].MemberId-radio" checked="checked" onchange="changeDuesClassification(this, '@Model.Members[i].MemberId', '0')" />
                        }
                        else
                        {
                            <input type="radio" name="@Model.Members[i].MemberId-radio" onchange="changeDuesClassification(this, '@Model.Members[i].MemberId', '0')" />
                        }
                    </td>
                    @foreach (var classy in Model.Classifications)
                    {
                        <td class="alignCenter">
                            @if (classy.FeeClassificationId == Model.Members[i].ClassificationId)
                            {
                                <input type="radio" name="@Model.Members[i].MemberId-radio" checked="checked" onchange="changeDuesClassification(this, '@Model.Members[i].MemberId', '@classy.FeeClassificationId')" />
                            }
                            else
                            {
                                <input type="radio" name="@Model.Members[i].MemberId-radio" onchange="changeDuesClassification(this, '@Model.Members[i].MemberId', '@classy.FeeClassificationId')" />
                            }

                        </td>
                    }
                    @if (isAdminOfLeague)
                    {
                        <td>
                            <a class="btn btn-success btn-xs" href="@Url.Content("~/league/member/edit/" + Model.Members[i].MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Members[i].DerbyName))"><i class="fa fa-pencil"></i></a>
                        </td>
                    }
                </tr>
                }
            </tbody>

        </table>

        @using (Html.BeginForm("DuesManagementReport", "Dues", FormMethod.Post, new { @id = "DuesReport" }))
        {
            @Html.HiddenFor(x => x.DuesId)
            @Html.HiddenFor(x => x.LeagueOwnerId)

        }
    </div>
    <div class="panel-footer">
        @if (!Model.AcceptPaymentsOnline)
        {
            <div class="alert alert-warning">
                <b>Collect Dues Online:</b> Your league can collect dues through RDNation just by enabling the feature within the dues management settings page.
            </div>
        }
        New dues collection dates automatically get generated prior to the date of the month
        defined in the settings. So there is no need to generate a new dues payment unless
        you have a payment not on the same schedule as defined in the settings.
    </div>
</div>

<div class="expandableContainer">
    
        <div class="titleDescription">
        </div>
        <div class="divider"></div>

        <div>
            <table class="classTable" id="members">
               
            </table>
        </div>
        <br />
    </div>
    @Html.HiddenFor(x => x.DuesId)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#members').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });

    });

</script>
