@using RDN.Library.Classes.Dues
@using RDN.Utilities.Enums;
@model RDN.Portable.Classes.Controls.Dues.DuesReceipt
@{
    ViewBag.Title = "Dues Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/dues/league/" + Model.LeagueId.ToString().Replace("-", ""))">Dues</a></li>
    <li class="active">Dues Receipt</li>
</ol>


<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <h3 style="margin-top:5px !important"><i class="fa fa-folder"></i> Receipt for @Model.MemberPaid</h3>
        <div class="text-muted">
            Your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() appreciates you paying them in a timely manner!
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label class="form-label">Invoice ID</label>
                <div style="font-weight:bold">
                    @Model.InvoiceId.ToString().Replace("-", "")
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="form-label">Dues Date</label>
                <div style="font-weight:bold">
                    @if (Model.PaidDuesForMonth.ToShortDateString() != "1/1/0001")
                    {
                        @Model.PaidDuesForMonth.ToShortDateString()
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="form-label">Dues Paid</label>
                <div style="font-weight:bold">
                    $@Model.BasePrice.ToString("N2")
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="form-label">Fees Paid</label>
                <div style="font-weight:bold">
                    $@Model.Fees.ToString("N2")
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="form-label">Total Paid</label>
                <div style="font-weight:bold">
                    $@Model.PriceAfterFees.ToString("N2")
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="form-label">Receipt Emailed To</label>
                <div style="font-weight:bold">
                    @Model.EmailForReceipt
                </div>
            </div>
        </div>
    </div>
</div>
