@model RDN.League.Models.OutModel.GenericSingleModel<RDN.League.Models.Utilities.SimpleModPager<RDN.Library.Classes.Game.Game>>
@{
    ViewBag.Title = "Manage Your Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li class="active">Owned Games</li>
</ol>

<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <h3 class="margin-bottom-10 margin-top-5"><i class="fa fa-gamepad"></i> Manage Your Owned @RDN.Library.Classes.Config.LibraryConfig.GamesName</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-condensed" id="games">
            <thead>
                <tr>
                    <th class="text-center">
                        Manage Game
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Team 1
                    </th>
                    <th>
                        Final Team 1
                    </th>
                    <th>
                        Team 2
                    </th>
                    <th>
                        Final Team 2
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Model.Items.Count; i++)
                {
                    <tr>
                        <td class="text-center">
                            <a class="btn btn-warning btn-xs" href="@Url.Content("~/game/manage/" + Model.Model.Items[i].PrivateKeyForGame.ToString().Replace("-", "") + "/" + Model.Model.Items[i].GameId.ToString().Replace("-", ""))"><i class="fa fa-cog"></i> Manage</a>
                        </td>
                        <td>
                            <a href="@Url.Content(@RDN.Library.Classes.Config.LibraryConfig.PublicSite + RDN.Portable.Classes.Url.UrlManager.GAME_URL + Model.Model.Items[i].GameId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].GameName) + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].Team1Name) + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].Team2Name))">
                                @Model.Model.Items[i].GameName
                            </a>
                        </td>
                        <td>
                            @Model.Model.Items[i].GameDate.ToString("MM/dd/yyyy")
                        </td>
                        <td>
                            @if (Model.Model.Items[i].Team1LinkId == new Guid())
                            {@Model.Model.Items[i].Team1Name}
                            else
                            {
                                <a href="@Url.Content("~/federation/league/" + Model.Model.Items[i].Team1LinkId.ToString().Replace("-", "") + "/" +RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly( Model.Model.Items[i].Team1Name))">
                                    @Model.Model.Items[i].Team1Name
                                </a>
                            }
                        </td>
                        <td>
                            @Model.Model.Items[i].Team1ScoreTotal
                        </td>
                        <td>
                            @if (Model.Model.Items[i].Team2LinkId == new Guid())
                            {@Model.Model.Items[i].Team2Name}
                            else
                            {
                                <a href="@Url.Content("~/federation/league/" + Model.Model.Items[i].Team2LinkId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].Team2Name))">
                                    @Model.Model.Items[i].Team2Name
                                </a>
                            }
                        </td>
                        <td>
                            @Model.Model.Items[i].Team2ScoreTotal
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @using (Html.BeginForm("ViewMembers", "Federation"))
        {
            <text>
                <input type="hidden" name="NumberOfPages" value="@Model.Model.NumberOfPages.ToString()" />
                <input type="hidden" name="NumberOfRecords" value="@Model.Model.NumberOfRecords.ToString()" />
                Showing page: @Html.DropDownList("CurrentPage", Model.Model.Pages)
                <input type="submit" value="Show" />
            </text>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#games').dataTable({
            "aaSorting": [[1, "desc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "oLanguage": { "sSearch": "" },
            "bAutoWidth": false,
        });
        $('#games_filter input').addClass('form-control').attr("placeholder", "Search");
    });
</script>
