<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@using StackExchange.Profiling;
@using RDN.Library.Cache
@{
    var memId = RDN.Library.Classes.Account.User.GetMemberId();
    var leaguethemecolor = MemberCache.GetLeagueThemeColor(MemberCache.GetLeagueIdOfMember(memId));
}
<head runat="server">
    <title>
        @if (ViewBag.Title == null)
        {
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteTitleDefaultStore;
        }
        else
        {    @ViewBag.Title
            @Html.Raw(" - ")
            @RDN.Library.Classes.Config.LibraryConfig.WebsiteTitleDefaultStore
        }
    </title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
    <link rel="apple-touch-icon" sizes="72x72" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
    <link rel="apple-touch-icon" sizes="114x114" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
    <link rel="apple-touch-icon" sizes="144x144" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
    <link rel="apple-touch-icon-precomposed" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
</head>
<body id="navbar-theme" class="@(leaguethemecolor == "" ? RDN.Library.Classes.Config.LibraryConfig.DefaultThemeColor : leaguethemecolor)">
    <script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/masonry/imagesloaded.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/masonry/masonry.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.numeric.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.highlight-4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.rateit.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29843570-1']);
        _gaq.push(['_setDomainName', '@RDN.Library.Classes.Config.LibraryConfig.MainDomain']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        $(document).ready(function () {
            AddSiteMapNode(location.href, true);
            $('.shop-grid').masonry({
                itemSelector: '.shop-grid-item',
                percentPosition: true,
            });
            $('.shop-grid').imagesLoaded().progress(function () {
                $('.shop-grid').masonry();
            });
        });

    </script>
    <div class="navbar  navbar-inverse navbar-fixed-top yamm" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <a id="btn-side-menu-toggle" class="visible-xs" onclick="ToggleSideMenu()"><i class="fa fa-bars"></i></a>
                <a class="navbar-brand no-padding" href="@Url.Content("~/")">
                    <img alt="Brand" style="height:50px" src="@RDN.Library.Classes.Config.LibraryConfig.LogoUrl" />
                </a>
            </div>
            <div class="navbar-collapse animated" id="mainNavbar">
                <ul class="nav navbar-nav">
                    @Html.Partial("_PartialUpperLinks")
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_PartialLoginLinks")
                    <a class="btn btn-sm btn-cart pull-right margin-top-10 margin-left-15 @(leaguethemecolor == "" ? RDN.Library.Classes.Config.LibraryConfig.DefaultThemeColor : leaguethemecolor)" href="@Url.Content("~/cart")"><i class="fa fa-shopping-cart"></i> <span class="hidden-sm">Cart</span> <span class="cart-count">@HttpContext.Current.Session["cartCount"].ToString()</span></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav-spacer"></div>
    <div class="container padding-top-20">
        @RenderBody()
    </div>
    <a href="#" class="scrollup" style="display: none;">Scroll</a>
    <div id="feedback_tab" style="" class="@RDN.Library.Classes.Config.LibraryConfig.DefaultThemeColor">
        <a href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail">
            <i class="fa fa-envelope-o"></i> Contact
        </a>
        <a href="@RDN.Library.Classes.Config.LibraryConfig.SupportSite" target="_blank">
            <i class="fa fa-question-circle"></i> Support
        </a>
    </div>
    @MiniProfiler.RenderIncludes()


    <div class="footer">
        @Html.Partial("_PartialFooter")
    </div>


    
</body>
</html>

