<div class="row padding-top-20 margin-top-30">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-lg-offset-1">
        <ul>
            <li>
                <a class="footerLink" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/about")"><i class="fa fa-group"></i> About</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="footerLink" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/privacy")"><i class="fa fa-shield"></i> Privacy policy</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="footerLink" href="@RDN.Library.Classes.Config.LibraryConfig.BlogSite"><i class="fa fa-pencil-square-o"></i> Blog</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="footerLink" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/about/contact")"><i class="fa fa-envelope-o"></i> Contact</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="footerLink" href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite">@RDN.Library.Classes.Config.LibraryConfig.WebsiteName</a>
            </li>
        </ul>
    </div>   
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a class="footerSocialLink fs20" href="https://plus.google.com/b/100003183552108454392/">
            <i class="fa fa-google-plus-square"></i>
        </a>
        <a class="footerSocialLink fs20" href="@RDN.Library.Classes.Config.LibraryConfig.FacebookUrl">
            <i class="fa fa-facebook-square"></i>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="hFBLike">
            <div class="fb-like-box" data-href="@RDN.Library.Classes.Config.LibraryConfig.FacebookUrl" data-width="292"
                    data-colorscheme="dark" data-show-faces="false" data-stream="false" data-header="false">
            </div>
        </div>
    </div>
        

</div>
<div class="copyRight">
    @Html.Partial("_PartialFooterLink")
    <div class="text-center"><p>
        Site design / logo © @DateTime.Now.Year @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName inc;
    </p>
    All league logos are copywritten per their respective copyright holders.
        </div>
</div>
