<div class="innerFooter">
    <p class="footerLinks">
        <a class="footerLink" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/about")">about</a>
        <a class="footerLink" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/privacy")">privacy policy</a>
        <a class="footerLink" href="http://blog.rdnation.com/">blog</a>
        <a class="footerLink b" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/about/contact")">contact</a>
        <a class="footerLink b" href="http://zebras.rdnation.com">Zebras Unite!</a>
        <a class="footerLink b" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/about/contact")">feedback always welcome</a>
        <a class="footerLink" href="https://handiteam.com/">HandiTeam</a>
        <a class="google-plus-icon" href="https://plus.google.com/b/100003183552108454392/">
            <img src="@Url.Content("~/Content/googlePlus.jpg")"  width="20px" /></a>
        <a class="facebook-icon" href="http://www.facebook.com/rdnation">
            <img src="@Url.Content("~/Content/fbIcon.jpg")" width="20px"/></a>

    </p>
    <div class="copyRight">
        site design / logo © @DateTime.Now.Year @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName inc;
        <br />
        <div class="tc">All league logos are copywritten per their respective copyright holders.</div>
    </div>

</div>
