@if (HttpContext.Current.User.Identity.IsAuthenticated)
{ 
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Manage</a></li> 
}
<li><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite">@RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName</a></li>
<li><a href="@Url.Content("~/")">Shops</a></li>
<li><a href="@Url.Content("~/sell")">Sell</a></li>
<li><a href="@RDN.Library.Classes.Config.LibraryConfig.WikiSite">Help</a></li>
