@model RDN.Library.Classes.Calendar.Models.EventsOutModel
@{
    ViewBag.Title = "Roller Derby Events for " + Model.StartDate.ToShortDateString() + "-" + Model.EndDate.ToShortDateString();
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="expandableContainer">
    <div class="fixedCenterContainter">
        <div class="evTitle">
            Public Roller Derby Events for @Model.StartDate.ToShortDateString() <span>-</span> @Model.EndDate.ToShortDateString()
        </div>
        <div class="clear">
        </div>
        <br />
        <div>
            <div class="calPager">
                <ul class="calPagerUl">
                    @for (int i = -3; i < 4; i++)
                    {
                        
                        <li class="calPagerLi"><a class="@(i == 0 ? "calPagerSel" : "")" href="@Url.Content("~/roller-derby-events/" + @Model.StartDate.AddMonths(i).Year + "/" + @Model.StartDate.AddMonths(i).Month)">
                            @Model.StartDate.AddMonths(i).Month/@Model.StartDate.AddMonths(i).Year.ToString().Remove(0, 2)
                        </a></li>
                    }
                </ul>
            </div>
            <table class="gridTable" id="evens">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Location</th>
                        <th>Presented By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var even in Model.Events)
                    { 
                        <tr>
                            <td><a href="@Url.Content("~/roller-derby-event/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(even.Name) + "/" + even.CalendarItemId.ToString().Replace("-", ""))">@even.Name</a></td>
                            <td>@even.StartDate.ToShortDateString()</td>
                            <td>@even.EndDate.ToShortDateString()</td>
                            <td>@if (even.Location != null)
                                {

                                    if (even.Location.Contact != null && even.Location.Contact.Addresses.FirstOrDefault() != null)
                                    {
                                        if (!String.IsNullOrEmpty(even.Location.Contact.Addresses.FirstOrDefault().CityRaw))
                                        { 
                                <span>@even.Location.Contact.Addresses.FirstOrDefault().CityRaw,</span>
                                        }
                                        if (!String.IsNullOrEmpty(even.Location.Contact.Addresses.FirstOrDefault().StateRaw))
                                        { 
                                <span>@even.Location.Contact.Addresses.FirstOrDefault().StateRaw,</span>
                                        }
                                        if (!String.IsNullOrEmpty(even.Location.Contact.Addresses.FirstOrDefault().Country))
                                        { 
                                @even.Location.Contact.Addresses.FirstOrDefault().Country
                                        }
                                        if (!String.IsNullOrEmpty(even.Location.Contact.Addresses.FirstOrDefault().CityRaw))
                                        { 
                                <div class="evMap"><a href="http://www.bing.com/maps/default.aspx?q=@even.Location.Contact.Addresses.FirstOrDefault().Address1+@even.Location.Contact.Addresses.FirstOrDefault().Address2,+@even.Location.Contact.Addresses.FirstOrDefault().CityRaw,+@even.Location.Contact.Addresses.FirstOrDefault().StateRaw+@even.Location.Contact.Addresses.FirstOrDefault().Zip+@even.Location.Contact.Addresses.FirstOrDefault().Country" target="_blank">View Map</a></div>    
                                        }
                                    }


                                }

                            </td>
                            <td><a href="@Url.Content("~/roller-derby-league/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(even.OrganizersName) + "/" + even.OrganizersId.ToString().Replace("-", ""))">@even.OrganizersName</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div class="center">Want your events posted here? <a href="http://league.rdnation.com/league/setup">Sign your league up to RDNation.com.</a></div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#evens').dataTable({
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@RDN.Portable.Config.ServerConfig.WEBSITE_DEFAULT_LOCATION/calendar/CalendarEventsSearching",
            "iDeferLoading": true,
            "oLanguage": {
                "sProcessing": "Searching..."
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[8] === "true") {
                    $('td:eq(0)', nRow).html('<a href="' + aData[1] + '">' + aData[0] + '</a>');
                    $('td:eq(1)', nRow).html(aData[2]);
                    $('td:eq(2)', nRow).html(aData[3]);
                    if (aData[4] != null)
                        $('td:eq(3)', nRow).html(aData[4] + '<div class="evMap">' + '<a target="_blank" href="' + aData[5] + '">View Map</a></div>');
                    else
                        $('td:eq(3)', nRow).html('');
                    $('td:eq(4)', nRow).html('<a href="' + aData[6] + '">' + aData[7] + '</a>');

                }
                return nRow;
            }
        });
    });

</script>
