@using RDN.League.Models.Helpers
@using RDN.League.Models.OutModel
@model GenericSingleModel<RDN.League.Models.League.CreateLeague>
@{        
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div id="page-heading">
    <h1>
        Create a new league</h1>
</div>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized">
            <img src="../../Content/theme1/images/shared/side_shadowleft.jpg" width="20" height="300"
                alt="" />
        </th>
        <th class="topleft">
        </th>
        <td id="tbl-border-top">
            &nbsp;
        </td>
        <th class="topright">
        </th>
        <th rowspan="3" class="sized">
            <img src="../../Content/theme1/images/shared/side_shadowright.jpg" width="20" height="300"
                alt="" />
        </th>
    </tr>
    <tr>
        <td id="tbl-border-left">
        </td>
        <td>
            <!--  start content-table-inner -->
            <div id="content-table-inner">
                @Html.Raw(MessageHelper.PrintMessages(Model.MessageList))
                @using (Html.BeginForm())
                {                    
                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr valign="top">
                            <td>
                                <!-- start id-form -->
                                <table border="0" cellpadding="0" cellspacing="0" id="id-form">
                                    <tr>
                                        <th valign="top">
                                            ContactLeague name:
                                        </th>
                                        <td>
                                            <input type="text" class="inp-form" name="ContactLeagueName" value="@Model.Model.LeagueName" />
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            Federation:
                                        </th>
                                        <td>
                                            @Html.DropDownList("Federation", Model.Model.Federations, new { Class = "styledselect_form_1" })
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            Contact telephone:
                                            (Full number including all prefixes)
                                        </th>
                                        <td>
                                            <input type="text" class="inp-form" name="ContactTelephone" value="@Model.Model.ContactTelephone" />
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            Contact email:
                                        </th>
                                        <td>
                                            <input type="text" class="inp-form" name="ContactEmail" value="@Model.Model.ContactEmail" />
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            Country:
                                        </th>
                                        <td>
                                            @Html.DropDownList("Country", Model.Model.Countries, new { Class = "styledselect_form_1" })
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            State:
                                            (Full name, ex: Alabama or Mississippi )
                                        </th>
                                        <td>
                                            <input type="text" class="inp-form" name="State" value="@Model.Model.State" />
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            City:
                                        </th>
                                        <td>
                                            <input type="text" class="inp-form" name="City" value="@Model.Model.City" />
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            Additional information:
                                        </th>
                                        <td>
                                            <textarea name="AdditionalInformation" cols="5" rows="5" class="form-textarea">@Model.Model.AdditionalInformation</textarea>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">                                            
                                        </th>
                                        <td>
                                            (The league will be manually approved as soon as possible)
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            &nbsp;
                                        </th>
                                        <td valign="top">                                            
                                            <input type="submit" value="" class="form-submit" />
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                                <!-- end id-form  -->
                            </td>
                            <td>
                                <!--  start related-activities -->
                                <!-- end related-activities -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../../Content/theme1/images/shared/blank.gif" width="695" height="1" alt="blank" />
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                }
                <div class="clear">
                </div>
            </div>
            <!--  end content-table-inner  -->
        </td>
        <td id="tbl-border-right">
        </td>
    </tr>
    <tr>
        <th class="sized bottomleft">
        </th>
        <td id="tbl-border-bottom">
            &nbsp;
        </td>
        <th class="sized bottomright">
        </th>
    </tr>
</table>
