@using RDN.League.Models.Helpers
@model RDN.League.Models.OutModel.GenericEnumerableModel<RDN.Library.Classes.Account.Classes.Member>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!--  start page-heading -->
<div id="page-heading">
    <h1>
        Pending member list</h1>
    <br />
    <h2>
        Records found: @Model.Model.Count().ToString()</h2>
</div>
<!-- end page-heading -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized">
            <img src="../../Content/theme1/images/shared/side_shadowleft.jpg" width="20" height="300"
                alt="" />
        </th>
        <th class="topleft">
        </th>
        <td id="tbl-border-top">
            &nbsp;
        </td>
        <th class="topright">
        </th>
        <th rowspan="3" class="sized">
            <img src="../../Content/theme1/images/shared/side_shadowright.jpg" width="20" height="300"
                alt="" />
        </th>
    </tr>
    <tr>
        <td id="tbl-border-left">
        </td>
        <td>
            <!--  start content-table-inner ...................................................................... START -->
            <div id="content-table-inner">
                @Html.Raw(MessageHelper.PrintMessages(Model.MessageList))
                <!--  start table-content  -->
                <div id="table-content">
                    <!--  start product-table ..................................................................................... -->
                    <form id="mainform" action="">
                    <table border="0" width="100%" cellpadding="0" cellspacing="0" class="product-table">
                        <tr>
                            <th class="table-header-repeat line-left minwidth-1">
                                <a href="" onclick="alert('Not implemented'); return false;">Last Name</a>
                            </th>
                            <th class="table-header-repeat line-left minwidth-1">
                                <a href="" onclick="alert('Not implemented'); return false;">First Name</a>
                            </th>
                            <th class="table-header-repeat line-left minwidth-1">
                                <a href="" onclick="alert('Not implemented'); return false;">Nick</a>
                            </th>
                            <th class="table-header-repeat line-left">
                                <a href="" onclick="alert('Not implemented'); return false;">Email</a>
                            </th>
                            <th class="table-header-options line-left">
                                <a href="" onclick="alert('Not implemented'); return false;">Options</a>
                            </th>
                        </tr>
                        @{                                                             
                            foreach (var item in Model.Model)
                            {
                            <tr>
                                <td>
                                    @item.Firstname
                                </td>
                                <td>
                                    @item.Surname
                                </td>
                                <td>
                                    #@item.PlayerNumber @item.PlayerName
                                </td>
                                <td>
                                    <a href="mailto:@item.Email">@item.Email</a>
                                </td>
                                <td class="options-width">
                                    <a href="@(Url.Action("RemovePendingMember", "Manager", new { id = item.MemberId.ToString() }))" title="Remove" class="icon-2 info-tooltip" onclick="return confirm('Are you sure that you want to REMOVE @item.Firstname @item.Surname ?');">
                                    </a><a href="@(Url.Action("ApprovePendingMember", "Manager", new { id = item.MemberId.ToString() }))" title="Accept" class="icon-5 info-tooltip" onclick="return confirm('Are you sure that you want to APPROVE @item.Firstname @item.Surname ?');">
                                    </a>
                                </td>
                            </tr>                                    
                            }      
                        }
                    </table>
                    <!--  end product-table................................... -->
                    </form>
                </div>
                <!--  end content-table  -->
                <div class="clear">
                </div>
            </div>
            <!--  end content-table-inner ............................................END  -->
        </td>
        <td id="tbl-border-right">
        </td>
    </tr>
    <tr>
        <th class="sized bottomleft">
        </th>
        <td id="tbl-border-bottom">
            &nbsp;
        </td>
        <th class="sized bottomright">
        </th>
    </tr>
</table>
