@{
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
    ViewBag.Title = "About - " + RDN.Library.Classes.Config.LibraryConfig.WebsiteTitleDefault;
}
<h2>
    What is @RDN.Library.Classes.Config.LibraryConfig.WebsiteName?</h2>
<p>
    @RDN.Library.Classes.Config.LibraryConfig.WebsiteName is a growing network of individual communities, each dedicated
    to serving @RDN.Library.Classes.Config.LibraryConfig.SportName fans and their skaters in a specific region of the world.
    We build a community around the teams, skaters and fans to better to connect them
    all within the very tight nit community.
</p>
<br />
<p>
    From teams looking to book their next bouts, to fans finding their favorite skater,
    to organizing statistics for the entire @RDN.Library.Classes.Config.LibraryConfig.SportName community, we bring both expert
    skaters and fans alike to build and prosper the entire sport of @RDN.Library.Classes.Config.LibraryConfig.SportName.
</p>
<br />
<h2>
    How does it work?</h2>
<p>
    @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName and its software is free and open to everyone – you can use any piece of
    software we offer for free. We empower our communities and fans to help curate and
    offer advice to anyone that needs it. We provided the tools to help @RDN.Library.Classes.Config.LibraryConfig.SportName
    get to the next level where we believe it belongs. We built software to both make
    @RDN.Library.Classes.Config.LibraryConfig.SportName teams easier to manage, courdinate and cooperate with each other.
</p>
<br />
<p>
    Our hope is to remove the paper process from @RDN.Library.Classes.Config.LibraryConfig.SportName entirely. Everything is
    easy to access and always available 24/7. So that teams no longer have to file paperwork
    or save documents to a single computer. We maintain all your stats, your games and
    any other document that you might think shouldn't be saved on a single computer.
</p>
<br />
<h2>
    What's special about @RDN.Library.Classes.Config.LibraryConfig.WebsiteName?
</h2>
<p>
    Whats special about @RDN.Library.Classes.Config.LibraryConfig.WebsiteName? You wouldn't find this type of in depth
    @RDN.Library.Classes.Config.LibraryConfig.SportName action anywhere else, would you? You wouldn't be able to manage your
    stats for you team online so all can see, would you? We are a place for both fans
    and teams. For fans to view their favorite teams, skaters and even participate and
    engage with their teams.
</p><br />
<h2>
    Where did @RDN.Library.Classes.Config.LibraryConfig.WebsiteName come from?</h2>
<p>
    In 2012, Scott Pio and Patrick Fomin created the site and brought together a few
    @RDN.Library.Classes.Config.LibraryConfig.SportName teams to start participating in what they liked to call the experimental
    months. The site was a success, so they went on the road to secure an investor to
    help them devote their lives to what @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName has become. They are now off the road
    as of April, 2012 and back at developing the best @RDN.Library.Classes.Config.LibraryConfig.SportName website there is.
</p>
