@model RDN.Library.Classes.League.BoutList
@{
    ViewBag.Title = "Event Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/challenge/view/all")">Requests</a></li>
    <li class="active">Event Information</li>
</ol>


<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="margin-bottom-5 margin-top-5"><i class="fa fa-clock-o"></i> Event Information For @Model.LeagueName</h3>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a class="btn btn-sm btn-primary" title="Contact" href="@Url.Content("~/messages/new/league/"+ Model.LeagueId.ToString().Replace("-", ""))">
                            <i class="fa fa-mobile-phone"></i> Contact
                        </a>
                    </div>
                </div>
                <span class="text-muted">Details of the @RDN.Library.Classes.Config.LibraryConfig.GameName Challenge Request</span>
            </div>
            <div class="panel-body">
                <table class="table table-bordered no-margin-bottom">
                    <tr>
                        <td class="b text-right column-nowrap">
                            Location:
                        </td>
                        <td >
                            @Model.Location
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">
                            Start Date of Game:
                        </td>
                        <td >
                            @Model.StartDateOfEvent.ToShortDateString()
                        </td>
                    </tr>
                    @if (Model.EndDateOfEvent > new DateTime())
                    {
                        <tr>
                            <td class="b text-right column-nowrap">
                                End Date of Game:
                            </td>
                            <td >
                                @Model.EndDateOfEvent.ToShortDateString()
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="b text-right column-nowrap">
                            Crowd Size:
                        </td>
                        <td >
                            @Model.CrowdSize
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">Current Ranking:</td>
                        <td >
                            @Model.CurrentRanking
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">
                            Can Offer Travel Stipend:
                        </td>
                        <td >
                            @if (Model.IsOfferTravelStipend)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                               <i class="fa fa-times"></i>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">
                            Travel Stipend Amount:
                        </td>
                        <td >
                            @Model.TravelStipendAmount
                        </td>
                    </tr>

                    <tr>
                        <td class="b text-right column-nowrap">
                            Live Online:
                        </td>
                        <td >
                            @if (Model.IsStreamLive)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                               <i class="fa fa-times"></i>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">
                            Offer Housing:
                        </td>
                        <td >
                            @if (Model.IsSkaterHousingOffered)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                               <i class="fa fa-times"></i>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">
                            Hang Over Bout Offered:
                        </td>
                        <td >
                            @if (Model.IsHangOverBoutOffered)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                               <i class="fa fa-times"></i>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">
                            Is Away Game:
                        </td>
                        <td >
                            @if (Model.IsAwayGame)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                               <i class="fa fa-times"></i>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td class="b text-right column-nowrap">
                            Rule Set:
                        </td>
                        <td >
                            @RDN.Utilities.Enums.EnumExt.ToFreindlyName((RDN.Portable.Classes.Federation.Enums.RuleSetsUsedEnum)Model.RuleSetId)
                        </td>
                    </tr>
                    <tr>
                        <td class="b text-right column-nowrap">
                            Event Note:
                        </td>
                        <td>
                            @Html.Raw(Model.EventInformation)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
