@using RDN.Library.Classes.Messages;
@using RDN.Library.Cache
@model RDN.Portable.Classes.Controls.Message.MessageModel
@{
    ViewBag.Title = "Messages For " + Model.NameOfEntity;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Messages</li>
</ol>
 <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="margin-bottom-10 margin-top-5"><i class="fa fa-comments"></i> Private Conversations</h3>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a class="btn btn-sm btn-primary margin-top-5" title="New Message" href="@Url.Content("~/messages/new/" + @Model.OwnerType.ToString() + "/" + @Model.IdOfEntity.ToString().Replace("-", ""))">
                            <i class="fa fa-comment-o"></i> New
                        </a>
                        @if (subPaid)
                        {
                            <a class="btn btn-sm btn-info margin-top-5" title="New Text" href="@Url.Content("~/textmessages/new/" + RDN.Portable.Classes.Controls.Message.Enums.GroupOwnerTypeEnum.member.ToString() + "/" + memId.ToString().Replace("-", ""))">
                                <i class="fa fa-mobile"></i> New Text
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-info margin-top-5" title="New Message" href="@Url.Content("~/billing/league/" + MemberCache.GetLeagueIdOfMember(memId).ToString().Replace("-", "") + "?u=" + RDN.Library.Util.Enum.SiteMessagesEnum.pp)">
                                <i class="fa fa-mobile"></i> New
                            </a>
                        }
                    </div>
                </div>
                
            </div>
            <div class="panel-body no-padding">
                <table class="table table-hover no-margin-bottom">
                    @foreach (var topic in Model.Conversations.OrderByDescending(x => x.LastPostDate))
                        {
                            <tr class="@(topic.IsConversationRead ? "" : "unread-message")">
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            @topic.LastPostBy
                                        </div>
                                        <div class="col-xs-12 col-md-7">
                                            <span @(topic.IsConversationRead ? "" : "class=b")>@topic.Title</span> - <span class="text-muted">@topic.Messages.LastOrDefault().MessageText</span>
                                            <span class="text-muted pull-right"><small>@RDN.Utilities.Dates.DateTimeExt.RelativeDateTime(topic.LastPostDate)</small></span>
                                        </div>
                                        <div class="col-xs-12 col-md-2 text-right">
                                            <a class="btn btn-xs btn-info" href="@Url.Content("~/messages/view/" + topic.GroupMessageId.ToString())"><i class="fa fa-eye"></i> View</a>
                                            <button type="button" class="btn btn-xs btn-danger" data-group="@topic.GroupMessageId"  ><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div> 
<script type="text/javascript">
    $(function () {
        $("button[data-group]").each(function () {
            var button = $(this);
            var groupId = $(button).attr("data-group");
            $(button).btsConfirmButton({ msg: "Confirm Delete" }, function (e) {
                deleteChatMessage(button, groupId, "@memId");
            });
        });
    });
</script>