@using RDN.Library.Classes.Messages.Classes
@using RDN.League.Models.Helpers
@using RDN.Portable.Classes.Controls.Message
@model ConversationModel
@{
    ViewBag.Title = "View Messages With " + Model.FromName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lastIdShown = String.Empty;
    var lastDateShown = String.Empty;
    long lastMessageId = 0;
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/messages/" + RDN.Portable.Classes.Controls.Message.Enums.GroupOwnerTypeEnum.member + "/" + @Model.OwnerUserId.ToString().Replace("-", ""))">Messages</a></li>
    <li class="active">View Message</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h3 class="margin-bottom-5 margin-top-5">
                    @if (String.IsNullOrEmpty(Model.Title))
                    {
                        <span>Private: @Model.FromName</span>
                    }
                    else
                    {
                        <span>Private: @Model.Title</span>
                    }
                </h3>
            </div>
            <div id="messagesAdd" class="panel-body  scroll-y">
                @foreach (var message in Model.Messages.OrderBy(x => x.MessageCreated))
                {

                    if (lastDateShown != @message.MessageCreated.ToShortDateString())
                    {
                        <div class=" margin-top-10 margin-bottom-10">
                            <span class="label label-default">@message.MessageCreated.ToShortDateString() </span>
                        </div>
                    }
                    if (lastIdShown != message.FromId.ToString())
                    {
                        <div class="b margin-top-10 margin-bottom-5">@message.FromName</div>
                    }

                    if (lastIdShown != message.FromId.ToString())
                    {
                        <div style="border-top:1px solid #eee; height:5px;"></div>
                    }
                    <div class="text-muted">
                        @Html.Nl2Br(message.MessageTextHtml)
                    </div>

                    lastIdShown = message.FromId.ToString();
                    lastDateShown = message.MessageCreated.ToShortDateString();
                    lastMessageId = message.MessageId;
                }

            </div>
            <div class="panel-footer">
                @Html.TextArea("inputNewMessage", new { @placeholder = "Write a reply...", @class = "form-control" })
                <div class="padding-top-5 text-right">
                    <button name="submit" id="submit" type="submit" class="btn btn-success"
                            onclick="javascript: PostInternalMessage()">
                        <i class="fa fa-paper-plane-o"></i> Send Reply
                    </button>
                </div>
            </div>
            @Html.HiddenFor(x => x.FromName)
            @Html.HiddenFor(x => x.OwnerUserId)
            @Html.HiddenFor(x => x.GroupMessageId)
            @Html.Hidden("lastMessageId", lastMessageId)
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div id="panel-members" class="panel panel-default" >
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h4 class="margin-bottom-5 margin-top-5"><i class="fa fa-group"></i> Members of Chat</h4>
                    </div>
                    <div class="col-xs-4 text-right">
                        <span id="btn_add_member" data-container="body" data-toggle="popover" data-placement="left">
                            <button class="btn btn-info btn-xs margin-top-5" onclick="Messages.ShowAddMemberPopup(@Model.GroupMessageId,'@Url.Action("SearchNamesToAdd", "Utilities")')">
                                <i class="fa fa-plus-circle"></i> Add
                            </button>
                        </span>
                    </div>
                </div>

            </div>
            <div id="message-member-list" class="panel-body no-padding-bottom">
                @if (Model.Recipients.Count > 0)
                {
                    foreach (var mem in Model.Recipients.OrderBy(x => x.DerbyName))
                    {
                        <div class="margin-bottom-10">
                            @if (mem.HasNotReadConversation)
                            {
                                <i class="fa fa-envelope"></i>
                            }
                            else
                            {
                                <i class="fa fa-envelope-o"></i>
                            }
                            &nbsp;&nbsp;<a href="@Url.Content("~/Member/" + mem.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(mem.DerbyName))">
                                @mem.DerbyName
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var height = isNaN(window.innerHeight) ? window.clientHeight : window.innerHeight;
        $("#messagesAdd").height(height - 330);
        $("#messagesAdd").scrollTop($("#messagesAdd")[0].scrollHeight);
    });
  
</script>

