@using RDN.Library.Classes.Billing.Classes
@using RDN.Utilities.Enums;
@model LeagueReceipt
@{
    ViewBag.Title = "League Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/billing/league/" + Model.LeagueId.ToString().Replace("-", ""))">Subscriptions</a></li>
    <li class="active">Receipt</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default margin-bottom-15">
            <div class="panel-heading">
                <h3 class="margin-bottom-5 margin-top-5">Receipt for @Model.LeagueName</h3>
                <span class="text-muted">
                    Your receipt for subscribing to RDNation.com!  We greatly appreciate your business.  If there is anything we can do for your league, please feel free to contact us at <a href="mailto:info@rdnation.com">info@rdnation.com</a>.  We are here to make the entire Derby community a better place.
                </span>
            </div>
            <div class="panel-body">
                <div class="row margin-bottom-10">
                    <div class="b col-xs-12 col-sm-6 col-md-5 col-lg-4">
                        Invoice Id
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                        @Model.InvoiceId.ToString().Replace("-", "")
                        <a href="@Url.Content("~/billing/league/history/" + Model.LeagueId.ToString().Replace("-", ""))" class="btn btn-xs btn-info">
                            <i class="fa fa-history"></i> Billing History
                        </a>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="b col-xs-12 col-sm-6 col-md-5 col-lg-4">
                        Current Status
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                        @EnumExt.ToFreindlyName(Model.MembershipStatus)
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="b col-xs-12 col-sm-6 col-md-5 col-lg-4">
                        Amount Paid
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                        $@Model.AmountPaid.ToString("N2")
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="b col-xs-12 col-sm-6 col-md-5 col-lg-4">
                        Expires
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                        $@Model.AmountPaid.ToString("N2")
                    </div>
                    <div>
                        @if (Model.Expires.ToShortDateString() != "1/1/0001")
                        {
                        @Model.Expires.ToShortDateString()
                        }
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="b col-xs-12 col-sm-6 col-md-5 col-lg-4">
                        Receipt Emailed To
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                        @Model.EmailForReceipt
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>