@using RDN.Library.Classes.Billing.Classes
@using RDN.Utilities.Enums;
@using RDN.Library.Classes.Payment.Classes.Invoice
@model LeagueBilling
@{
    ViewBag.Title = "League Billing Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Subscriptions</li>
</ol>
<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <h3 style="margin-top:5px !important"><i class="fa fa-user"></i> Billing for @Model.LeagueName</h3>
        <span class="text-muted">Here you can start subscribing to our services as a league.  Each league gets a @InvoiceSubscription.NUMBER_OF_DAYS_FOR_TRIAL_SUBSCRIPTION day free trial of all our features to learn everything about @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.</span>
    </div>
    <div class="panel-heading no-padding-bottom" style="background-color:#fff">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        Current Status
                    </div>
                    <div class="panel-body font20">
                       <b>@EnumExt.ToFreindlyName(Model.MembershipStatus)</b>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary btn-sm" href="@Url.Content("~/billing/league/addsubscription/" + Model.LeagueId.ToString().Replace("-", ""))">Add To Your Subscription</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        Expires
                    </div>
                    <div class="panel-body font20">
                        <b>
                            @if (Model.Expires.ToShortDateString() != "1/1/0001")
                            {
                                @Model.Expires.ToShortDateString()
                            }
                        </b>
                    </div>
                    <div class="panel-footer">

                        @if (Model.Expires > DateTime.UtcNow)
                        {
                            <a class="btn btn-primary btn-sm" href="@Url.Content("~/billing/league/update/" + Model.LeagueId.ToString().Replace("-", ""))">Update Subscription Information</a>
                        }
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        Last Billed On
                    </div>
                    <div class="panel-body font20">
                        <b>
                            @if (Model.LastBilledOn.ToShortDateString() != "1/1/0001")
                            {
                                @Model.LastBilledOn.ToShortDateString()
                            }
                        </b>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary btn-sm" href="@Url.Content("~/billing/league/history/" + Model.LeagueId.ToString().Replace("-", ""))">View Billing History</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3" >
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        Auto Renewal
                    </div>
                    <div class="panel-body font20">
                        @if (Model.LastBilledOn.ToShortDateString() != "1/1/0001")
                        {
                            @Model.LastBilledOn.ToShortDateString()
                        }
                    </div>
                    <div class="panel-footer padding-15">
                        @EnumExt.ToFreindlyName(Model.AutoRenewal)
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="panel-body no-padding-bottom">   
        <h3 class="margin-bottom-15">What You Are Getting? </h3>
        <table id="tbl_subscribtions" class="table table-striped table-hover table-condensedas">
            <tr>
                <th class="subHead text-center">Features</th>
                <th class="subHead text-center">Free/Ad Supported</th>
                <th class="subHead text-center">
                    <div style="margin-bottom: 10px;"><span style="vertical-align: text-top;">$</span><span style="font-size: 1.5em;">131</span>/year</div>
                    <div>$10.99/month</div>
                </th>
                <th class="subHead text-center">Descriptions</th>
            </tr>
            <tr>
                <td class="subF">League Calendar</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Each league gets a calendar.  The calendar is used to schedule events, set RSVP availability, track attendance and show the locations of those such events.</td>
            </tr>
            <tr>
                <td class="subF">Attendance Tracking</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's state of the art attendance tracking software uses the popular points based system.  It tracks attendace at all the events within the league calendar.  It uses the popular points based system for tracking leagues attendace within @RDN.Library.Classes.Config.LibraryConfig.SportName.
                </td>
            </tr>
            <tr>
                <td class="subF">Dues Collection</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Track every dollar received from your members and verify that your league is getting paid by everyone required to pay. Each payment and the entire history can be export via excel.
                </td>
            </tr>
            <tr>
                <td class="subF">Track & Export Insurance Numbers</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Track all the insurance numbers of your skaters.  No longer fiddle with excel spreadsheets. We also offer exporting the list of numbers into a easily managed CSV document.
                </td>
            </tr>
            <tr>
                <td class="subF">Jobs Board</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Ever wanted a jobs board for your league?  @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName provides each league with their own jobs board.  Anyone can add a job and anyone can also apply.  Free up your management from asking if someone can take a job.  Just post it and wait for your members to apply.
                </td>
            </tr>
            <tr>
                <td class="subF">Sponsors</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Track your sponsors, their promo codes, and what they gave to the league to be a sponsor.
                </td>
            </tr>
            <tr>
                <td class="subF">Groups, Teams and Commitees</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    You can dynamically organize your league into groups of people that can communicate with each other.  We give each group their own messaging, forums and much more.
                </td>
            </tr>
            <tr>
                <td class="subF">Skills Completed Dates</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Track when your @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers complete their annual assessments.
                </td>
            </tr>
            <tr>
                <td class="subF">Medical Records</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Track the most important information for your skaters. If EMTs need to know about your @RDN.Library.Classes.Config.LibraryConfig.NameOfMember quickly, <a href="@RDN.Library.Classes.Config.LibraryConfig.BlogSite/post/42033277962/track-medical-records" target="_blank">you can now access such information online</a>.
                </td>
            </tr>
            <tr>
                <td class="subF">Member Contacts</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Need to get in touch with a members parents, emergency contact or even someones doctor? Store <a href="@RDN.Library.Classes.Config.LibraryConfig.BlogSite/post/42296998505/introducing-contacts" target="_blank">all the contacts of each member within the league</a>.
                </td>
            </tr>
            <tr>
                <td class="subF">Document Repository</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Maintain all your league documents online organized within folders.  Give access to the documents only to certain people of particular groups.  Each document can also be commented on with the comments being saved directly in @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.
                </td>
            </tr>
            <tr>
                <td class="subF">Voting Polls</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Ask questions to your league with polls members can vote on.  Ask anything and get answers from everyone.
                </td>
            </tr>
            <tr>
                <td class="subF">Contacts Management</td>
                <td></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Maintain all your contacts within your league.  Sponsors, businesses, traveling officials, parents of junior @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers etc..  We allow you to take notes and track their information to keep in all in one place.
                </td>
            </tr>
            <tr>
                <td class="subF">Text Messaging</td>
                <td class="text-center vertical-middle"></td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Send a Text Message to anyone or everyone within your league.  Instantly just by the press of a button.</td>
            </tr>
            <tr>
                <td class="subF">Bout Challenges</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Add and View bout challenges posted by other leagues.  Have an open bout date?  Well add a Bout Challenge and receive requests by other leagues to play!</td>
            </tr>
            <tr>
                <td class="subF">League & Roster Management</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Your own League site with all your members, their information, profile pictures and more.</td>
            </tr>
            <tr>
                <td class="subF">League Messaging</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>You can message and chat with anyone in your league.  Send a message to your entire league or just a select few people.</td>
            </tr>
            <tr>
                <td class="subF">League Forums</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Forums are an integral part of any team.  They help communication and keep people in touch with everyone else in the group.</td>
            </tr>
            <tr>
                <td class="subF">Games Online</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>All your games when using <a target="_blank" href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/roller-derby-scoreboard">Thor's Hammer</a> are posted online.  Your scoreboard operator attaches the players of the league with the game they played.</td>
            </tr>
            <tr>
                <td class="subF">Member Site</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Each member gets their own site.  With their own profile picture and a public resume for all the fans to see.</td>
            </tr>
            <tr>
                <td class="subF">Member Messaging</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Any member of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName can message and chat with any other member of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.  We hope this communication will help keep leagues communicating which will grow the sport.</td>
            </tr>
            <tr>
                <td class="subF">Your Personal or League Store</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>Each league can sell their personal items and goods on the public @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName store.</td>
            </tr>
            <tr>
                <td class="subF">Maintain Your Insurance Numbers</td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td class="text-center vertical-middle">
                    <i class="fa fa-check-circle fa-lg"></i>
                </td>
                <td>
                    Track your personal @RDN.Library.Classes.Config.LibraryConfig.NameOfMember insurance numbers.  No longer needing to find it or request it from any source.
                </td>
            </tr>
        </table>
    </div>
</div>
