@using RDN.Library.Classes.Billing.Classes
@using RDN.Utilities.Enums;
@model LeagueBillingHistory
@{
    ViewBag.Title = "League Billing History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/billing/league/" + Model.LeagueId.ToString().Replace("-", ""))">Subscriptions</a></li>
    <li class="active">Billing History</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="margin-bottom-5 margin-top-5"> Biling History for @Model.LeagueName</h3>
        <span class="text-muted">Billing history for your league.  Please let us know if there is anything we can do for you by contacting us at <a href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail">@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a>.  We are here for you.</span>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-striped table-hover" id="receipts">
            <thead>
                <tr>
                    <th>Invoice Id</th>
                    <th>Status</th>
                    <th class="text-right">Amount</th>
                    <th class="text-center">Expires</th>
                </tr>
            </thead>
            @foreach (var receipt in Model.Receipts)
            {
                <tr>
                    <td>@receipt.InvoiceId.ToString().Replace("-", "")</td>
                    <td>@RDN.Utilities.Enums.EnumExt.ToFreindlyName(receipt.Status)</td>
                    <td class="text-right">$@receipt.AmountPaid.ToString("N2")</td>
                    <td class="text-center">@receipt.Expires.ToShortDateString()</td>
                </tr>
            }
        </table>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#receipts').dataTable({
            "aaSorting": [[2, "desc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "oLanguage": { "sSearch": "" },
            "bAutoWidth": false
        });
        $('#receipts_filter input').addClass('form-control').attr("placeholder", "Search");
    });
</script>
