@using RDN.Library.Classes.Billing.Classes
@using RDN.Utilities.Enums;
@using RDN.League.Models.Billing;
@using RDN.Library.Classes.Payment.Enums;
@model AddSubscriptionModel
@{
    ViewBag.Title = "Add Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li class="active">Add to your Subscription</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="margin-bottom-5 margin-top-5">
            Choose a Subscription for @Model.AddSubscriptionOwnerName
        </h3>
    </div>
    @using (Html.BeginForm("LeagueAddSubscription", "Billing", FormMethod.Post, new { @id = "PaymentForm" }))
    {
        <div class="panel-heading no-padding-bottom text-center" style="background-color:#fff">
            <h3 class="margin-bottom-20">Choose a plan that best fits your @RDN.Library.Classes.Config.LibraryConfig.TeamsName.ToLower() needs.</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <label class="panel panel-primary text-center full-width subscribtion-type curor-pointer" onclick="selectSubOption(this,'$131.99')">
                        <div class="panel-heading">
                            <input type="radio" name="SubscriptionType" id="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.Twelve_Months.ToString()" checked="checked" value="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.Twelve_Months.ToString()" style="visibility:hidden" />
                            12 Months
                        </div>
                        <div class="panel-body font20">
                            <b>
                                $10.99/mo
                            </b>
                            <div class="billing-choose-action-div margin-top-10">
                                <i class="fa fa-check-circle text-warning font32"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            one payment of $131.99
                        </div>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <label class="panel panel-default text-center full-width subscribtion-type curor-pointer" onclick="selectSubOption(this,'$71.99')">
                        <div class="panel-heading">
                            <input type="radio" name="SubscriptionType" id="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.Six_Months.ToString()" value="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.Six_Months.ToString()" style="visibility:hidden" />
                            6 Months
                        </div>
                        <div class="panel-body font20">
                            <b>
                                $11.99/mo
                            </b>
                            <div class="billing-choose-action-div margin-top-10">
                                <button type="button" class="btn btn-default">Choose</button>
                            </div>
                        </div>
                        <div class="panel-footer">
                            one payment of $71.99
                        </div>
                    </label>

                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <label class="panel panel-default text-center full-width subscribtion-type curor-pointer" onclick="selectSubOption(this,'$41.99')">
                        <div class="panel-heading">
                            3 Months
                            <input type="radio" name="SubscriptionType" id="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.Three_Months.ToString()" value="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.Three_Months.ToString()" style="visibility:hidden" />
                        </div>
                        <div class="panel-body font20">
                            <b>
                                $13.99/mo
                            </b>
                            <div class="billing-choose-action-div margin-top-10">
                                <button type="button" class="btn btn-default">Choose</button>
                            </div>
                        </div>
                        <div class="panel-footer">
                            one payment of $41.99
                        </div>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <label class="panel panel-default text-center full-width subscribtion-type curor-pointer" onclick="selectSubOption(this,'$15.99')">
                        <div class="panel-heading">
                            1 Month
                            <input type="radio" name="SubscriptionType" id="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.One_Month.ToString()" value="@RDN.Library.Classes.Billing.Enums.LeaguePlanTypesEnum.One_Month.ToString()" style="visibility:hidden" />
                        </div>
                        <div class="panel-body font20">
                            <b>
                                $15.99/mo
                            </b>
                            <div class="billing-choose-action-div margin-top-10">
                                <button type="button" class="btn btn-default">Choose</button>
                            </div>
                        </div>
                        <div class="panel-footer">
                            one payment of $15.99
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="panel-heading no-padding-bottom text-center" style="background-color:#fff">
            <h3 class="margin-bottom-20">Payment Information</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-offset-3">
                    <label class="panel panel-primary text-center full-width subscribtion-payment-type curor-pointer" onclick="javascript:HideShowCCInfo(this,'show')">
                        <div class="panel-heading">
                            <i class="fa fa-credit-card fa-2x"></i>
                            <br />
                            <input type="radio" name="PaymentType" id="@PaymentProvider.Stripe" value="@PaymentProvider.Stripe" checked="checked" style="visibility:hidden" />
                            <span>Pay with Credit/Debit Card</span>
                            &nbsp;&nbsp;&nbsp;
                        </div>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <label class="panel panel-default text-center full-width subscribtion-payment-type curor-pointer" onclick="javascript:HideShowCCInfo(this,'hide')">
                        <div class="panel-heading">
                            <i class="fa fa-paypal fa-2x"></i>
                            <br />
                            <input type="radio" name="PaymentType" id="@PaymentProvider.Paypal" value="@PaymentProvider.Paypal" style="visibility:hidden" />
                            <span>Pay with <span class="paypalText">Paypal</span></span>
                            &nbsp;&nbsp;&nbsp;
                        </div>
                    </label>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-lg-8 col-lg-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding-bottom" style="background-color:#fbfbfb">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <label class="form-label">
                                        First Name
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6  col-md-6">
                                    <label class="form-label">
                                        Last Name
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-6 col-md-6">
                                    <label class="form-label">
                                        Address
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-6 col-md-6">
                                    <label class="form-label">
                                        City
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-6 col-md-6">
                                    <label class="form-label">
                                        State
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6  col-md-6">
                                    <label class="form-label">
                                        Zip Code
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-6 col-md-6">
                                    <label class="form-label">
                                        Country
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.DropDownList("Country", Model.Countries, new { @class = "full-width select-sm" })
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-6 col-md-6">
                                    <label class="form-label">
                                        Email Address
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-6 col-md-6">
                                    <label class="form-label">
                                        Phone Number
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="CCTable">
                <div class="col-md-12 col-lg-8 col-lg-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding-bottom" style="background-color:#fbfbfb">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="form-label">
                                        Card Number
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.CCNumber, new { @class = "card-number form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6  col-md-6">
                                    <label class="form-label">
                                        Security Code
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.TextBoxFor(x => x.SecurityCode, new { @class = "card-cvc form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-6 col-md-6">
                                    <label class="form-label">
                                        Expiration Date
                                    </label>
                                    <div class="margin-bottom-20">
                                        @Html.DropDownList("MonthOfExpiration", Model.Months, new { @class = "card-expiry-month" }) @Html.DropDownList("YearOfExpiration", Model.Years, new { @class = "card-expiry-year" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer text-center">
            <div class="paymentErrors red"></div>
            <div id="submitButton1">
                <button type="submit" class="btn btn-success"><i class="fa fa-check-circle-o"></i> Subscribe Now</button>
            </div>
            <span id="working1" class="displayNone"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
            <div class="margin-top-10 ">Amount Due: <span class="b dueAmount">$131.99</span></div>
        </div>
        @Html.HiddenFor(x => x.AddSubscriptionOwnerId)
        @Html.HiddenFor(x => x.AddSubscriptionOwnerName)
        <div class="panel-body">
            <h3 class="margin-bottom-20">What You Are Getting?</h3>
            <table class="table table-condensed table-striped table-responsive">
                <tr>
                    <th class="text-center" style="font-size: 1.5em;">Features</th>
                    <th class="text-center">Free/Ad Supported</th>
                    <th class="text-center">
                        <div style="margin-bottom: 10px;"><span style="vertical-align: text-top;">$</span><span style="font-size: 1.5em;">131</span>/year</div>
                        <div>$10.99/month</div>
                    </th>
                    <th class="text-center">Descriptions</th>
                </tr>
                <tr>
                    <td class="subF">Attendance Tracking</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName's state of the art attendance tracking software uses the popular points based system.  It tracks attendace at all the events within the @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() calendar.  It uses the popular points based system for tracking @RDN.Library.Classes.Config.LibraryConfig.TeamsName.ToLower() attendace within @RDN.Library.Classes.Config.LibraryConfig.SportName  .
                    </td>
                </tr>
                <tr>
                    <td class="bold">Links Tracking</td>
                    <td></td>
                    <td class="text-center">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Each @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() has the chance to save links within their system.  Links are shared with the entire league, so instead of saving several bookmarks in a web browser somewhere, @RDN.Library.Classes.Config.LibraryConfig.TeamsName.ToLower() now have the chance to save them once and share with everyone.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Dues Collection</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Track every dollar received from your members and verify that your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() is getting paid by everyone required to pay. Each payment and the entire history can be export via excel.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Track & Export Insurance Numbers</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Track all the insurance numbers of your @RDN.Library.Classes.Config.LibraryConfig.NameOfMember.  No longer fiddle with excel spreadsheets. We also offer exporting the list of numbers into a easily managed CSV document.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Jobs Board</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Ever wanted a jobs board for your league?  @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName provides each @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() with their own jobs board.  Anyone can add a job and anyone can also apply.  Free up your management from asking if someone can take a job.  Just post it and wait for your members to apply.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Sponsors</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Track your sponsors, their promo codes, and what they gave to the @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() to be a sponsor.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Groups, Teams and Commitees</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        You can dynamically organize your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() into groups of people that can communicate with each other.  We give each group their own messaging, forums and much more.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Skills Completed Dates</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Track when your @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers complete their annual assessments.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Medical Records</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Track the most important information for your @RDN.Library.Classes.Config.LibraryConfig.NameOfMember. If EMTs need to know about your skater quickly, <a href="@RDN.Library.Classes.Config.LibraryConfig.BlogSite/post/42033277962/track-medical-records" target="_blank">you can now access such information online</a>.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Member Contacts</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Need to get in touch with a members parents, emergency contact or even someones doctor? Store <a href="@RDN.Library.Classes.Config.LibraryConfig.BlogSite/post/42296998505/introducing-contacts" target="_blank">all the contacts of each member within the league</a>.
                    </td>
                </tr>
                <tr>
                    <td class="subF">League Calendar</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Each @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() gets a calendar.  The calendar is used to schedule events, set RSVP availability, track attendance and show the locations of those such events.</td>
                </tr>
                <tr>
                    <td class="subF">Document Repository</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Maintain all your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() documents online organized within folders.  Give access to the documents only to certain people of particular groups.  Each document can also be commented on with the comments being saved directly in @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Voting Polls</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Ask questions to your @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() with polls members can vote on.  Ask anything and get answers from everyone.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Contacts Management</td>
                    <td></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Maintain all your contacts within your league.  Sponsors, businesses, traveling officials, parents of junior @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers etc..  We allow you to take notes and track their information to keep in all in one place.
                    </td>
                </tr>
                <tr>
                    <td class="subF">Text Messaging</td>
                    <td class="text-center vertical-middle"></td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Send a Text Message to anyone or everyone within your league.  Instantly just by the press of a button.</td>
                </tr>
                <tr>
                    <td class="subF">@RDN.Library.Classes.Config.LibraryConfig.GameName Challenges</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Add and View @RDN.Library.Classes.Config.LibraryConfig.GameName Challenges posted by other teams.  Have an open bout date?  Well add a @RDN.Library.Classes.Config.LibraryConfig.GameName Challenge and receive requests by other teams to play!</td>
                </tr>
                <tr>
                    <td class="subF">League & Roster Management</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Your own @RDN.Library.Classes.Config.LibraryConfig.TeamName site with all your members, their information, profile pictures and more.</td>
                </tr>
                <tr>
                    <td class="bold">@RDN.Library.Classes.Config.LibraryConfig.GameName and Tournament Roster Generation</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Generate Rosters for your @RDN.Library.Classes.Config.LibraryConfig.GamesName and tournaments.  Automatically load insurance numbers and easily export them to Excel.</td>
                </tr>
                <tr>
                    <td class="subF">League Messaging</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>You can message and chat with anyone in your league.  Send a message to your entire @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() or just a select few people.</td>
                </tr>
                <tr>
                    <td class="subF">League Forums</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Forums are an integral part of any team.  They help communication and keep people in touch with everyone else in the group.</td>
                </tr>
              @if (RDN.Library.Classes.Config.LibraryConfig.SiteType == RDN.Library.Classes.Site.Enums.SiteType.RollerDerby)
              {
                  <tr>
                    <td class="subF">@RDN.Library.Classes.Config.LibraryConfig.GamesName Online</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>All your @RDN.Library.Classes.Config.LibraryConfig.GamesName.ToLower() when using <a target="_blank" href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/@RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl-scoreboard">Thor's Hammer</a> are posted online.  Your scoreboard operator attaches the players of the @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() with the game they played.</td>
                </tr>
              }
                <tr>
                    <td class="subF">Member Site</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Each member gets their own site.  With their own profile picture and a public resume for all the fans to see.</td>
                </tr>
                <tr>
                    <td class="subF">Member Messaging</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Any member of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName can message and chat with any other member of @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName.  We hope this communication will help keep @RDN.Library.Classes.Config.LibraryConfig.TeamsName.ToLower() communicating which will grow the sport.</td>
                </tr>
                <tr>
                    <td class="subF">Your Personal or @RDN.Library.Classes.Config.LibraryConfig.TeamName Store</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>Each @RDN.Library.Classes.Config.LibraryConfig.TeamName.ToLower() can sell their personal items and goods on the public @RDN.Library.Classes.Config.LibraryConfig.WebsiteShortName store.</td>
                </tr>
                <tr>
                    <td class="subF">Maintain Your Insurance Numbers</td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td class="text-center vertical-middle">
                        <i class="fa fa-check-circle fa-lg"></i>
                    </td>
                    <td>
                        Track your personal @RDN.Library.Classes.Config.LibraryConfig.NameOfMember insurance numbers.  No longer needing to find it or request it from any source.
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer text-center">
            <div class="paymentErrors red"></div>
            <div id="submitButton">
                <button type="submit" class="btn btn-success"><i class="fa fa-check-circle-o"></i> Subscribe Now</button>
            </div>
            <span id="working" class="displayNone"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
            <div class="margin-top-10">Amount Due: <span class="b dueAmount">$131.99</span></div>
        </div>
    }
</div>

<script type="text/javascript">
    @Html.Raw(Model.StripeKey)

    $("#PaymentForm").validate({
        rules: {
            FirstName: "required",
            LastName: "required",
            Address: "required",
            City: "required",
            State: "required",
            ZipCode: "required",
            Country: "required",
            CCNumber: "required",
            SecurityCode: "required",
            MonthOfExpiration: "required",
            YearOfExpiration: "required",
            EmailAddress: "required",
            PhoneNumber: "required"
        },
        submitHandler: function (form) {
            // disable the submit button to prevent repeated clicks
            $('#submitButton1').toggleClass("displayNone", true);
            $('#submitButton').toggleClass("displayNone", true);
            $('#working').toggleClass("displayNone", false);
            $('#working1').toggleClass("displayNone", false);
            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val(),
                name: $('#FirstName').val() + " " + $('#LastName').val(),
                address_line1: $('#Address').val(),
                address_city: $('#City').val(),
                address_state: $('#State').val(),
                address_zip: $('#ZipCode').val(),
                address_country: $("#Country option:selected").text(),
                metadata: { CSN: "@RDN.Library.Classes.Config.LibraryConfig.ConnectionStringName" }
            }, stripeResponseHandler);
        }
    });

</script>
