@model List<RDN.Library.Classes.League.BoutList>
@{
    ViewBag.Title = "All Challenges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="page-header">
            <h3 class="no-margin-bottom pull-left margin-top-10">
                @RDN.Library.Classes.Config.LibraryConfig.GameName Challenges
            </h3>
            <div class="pull-right">
                <a href="@(RDN.Library.Classes.Config.LibraryConfig.InternalSite+"/challenge/view/all")" class="btn btn-success">Add A Challenge</a>
            </div>
            <span class="clearfix"></span>
        </div>
        <div class="page-header no-margin-top margin-bottom-10">
            <p>
                @RDN.Library.Classes.Config.LibraryConfig.GameName Challenges are a way for teams to connect with other teams around the world.
                By adding a @RDN.Library.Classes.Config.LibraryConfig.GameName Challenge request, team ask other teamss to play on a certain weekend.
                Requests are shown to all @RDN.Library.Classes.Config.LibraryConfig.TeamsName.ToLower() around the world.
            </p>
        </div>
        <div class="divChallengeGrid">
            @foreach (var b in Model)
            {
                <div class="col-sm-4 col-md-3 col-lg-2 event-grid-item">
                    <div class="thumbnail bg-lighter no-border-radius no-box-shadow">
                        @if (!String.IsNullOrEmpty(b.LeagueLogoUrl))
                        {
                            <a href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.MainDomain + "/" + RDN.Library.Classes.Config.LibraryConfig.LeagueUrl + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(b.LeagueName) + "/" + b.LeagueId.ToString().Replace("-", ""))">
                                @*<img alt="@b.LeagueName" src="@b.LeagueLogoUrl">*@
                                <img alt="@b.LeagueName" src="http://images.rdnation.com/leagues/2015/1/12/Oklahoma-Derby-Regime-logo-130655028825849452_thumb.jpg">
                            </a>
                        }
                        <div class="caption">
                            <h4 class="text-left">
                                <a href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.MainDomain + "/" + RDN.Library.Classes.Config.LibraryConfig.LeagueUrl + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(b.LeagueName) + "/" + b.LeagueId.ToString().Replace("-", ""))">
                                    <span>@b.LeagueName</span>
                                </a>
                            </h4>
                            <div class="text-left">
                                <small class="text-muted">
                                    <i class="fa fa-calendar"></i> <span class="">@b.StartDateOfEvent.ToShortDateString()-@b.EndDateOfEvent.ToShortDateString()</span>
                                </small>
                            </div>
                            <div class="text-left">
                                <small class="text-muted">
                                    <i class="fa fa-map-marker"></i><span>@b.Location</span>
                                </small>
                            </div>
                            <div class="text-left text-muted">
                                <span class="b">Rule Set:</span><span> @RDN.Utilities.Enums.EnumExt.ToFreindlyName((RDN.Portable.Classes.Federation.Enums.RuleSetsUsedEnum)b.RuleSetId)</span>
                            </div>
                            <span class="clearfix"></span>
                            <div class="text-left">
                                <a class="btn btn-primary btn-xs" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.InternalSite + "/messages/new/league/" + b.LeagueId.ToString().Replace("-", ""))" title="Contact">
                                    <i class="fa fa-envelope"></i> Contact
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>