@model List<RDN.Portable.Models.Json.Games.CurrentGameJson>
@{
    ViewBag.Title = "The Last Seven Days of "+@RDN.Library.Classes.Config.LibraryConfig.SportName+" Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>
        This Past Weeks @RDN.Library.Classes.Config.LibraryConfig.SportName Games
    </h2>
</div>
@foreach (RDN.Portable.Models.Json.Games.CurrentGameJson game in Model)
{
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">

            <div class="caption">
                <h4>
                    <a href="@Url.Content("~/roller-derby-game/" + game.GameId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(game.GameName) + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(game.Team1Name) + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(game.Team2Name))">
                        @game.GameName
                    </a>
                </h4>
                <small>
                    @game.StartTime.ToShortDateString()
                </small>
            </div>
            <div class="col-xs-12">
                @if (!String.IsNullOrEmpty(game.Team1LogoUrl))
                {
                    <img src="@game.Team1LogoUrl" alt="@game.Team1Name" class="thumbnail-sm img-rounded padding-5" />
                }
                <span class="gsPTeamName">@game.Team1Name </span>
                @if (game.Team1Score > game.Team2Score)
                {
                    <span class="gsPTeamScore bold u">@game.Team1Score</span>
                }
                else
                { <span class="gsPTeamScore">@game.Team1Score</span>
                }
            </div>
            <div class="col-xs-12">

                @if (!String.IsNullOrEmpty(game.Team2LogoUrl))
                {
                    <img src="@game.Team2LogoUrl" alt="@game.Team2Name" class="thumbnail-sm img-rounded padding-5" />

                }
                            <span class="gsPTeamName">@game.Team2Name</span>
                @if (game.Team2Score > game.Team1Score)
                {
                    <span class="gsPTeamScore bold u">@game.Team2Score</span>
                }
                else
                { <span class="gsPTeamScore">@game.Team2Score</span>
                }

            </div>
            <div class="text-center">
                @if (game.RuleSet == "MADE")
                {
                    <a href="http://www.skatemade.org/" target="_blank">
                        @game.RuleSet
                    </a>
                }
                else if (game.RuleSet == "WFTDA")
                {
                    <a href="http://wftda.com/" target="_blank">
                        @game.RuleSet
                    </a>
                }
                else
                {
                    @game.RuleSet
                }
            </div>


        </div>
    </div>

}
<div class="clearfix">
</div>


<div class="text-center">

    @if (RDN.Library.Classes.Config.LibraryConfig.SiteType == "RollerDerby")
    {
        <div>
            <a href="http://rdnation.com/roller-derby-scoreboard" class="btn btn-primary">
                Download Thor's Hammer Roller
                Derby Scoreboard
            </a>
        </div>
    }
</div><br /><br />