@model RDN.Portable.Classes.Games.Officiating.RequestsModel
@{
    ViewBag.Title = "Officials in "+@RDN.Library.Classes.Config.LibraryConfig.SportName+" Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper Truncate(string input, int length = 30)
{
    if (input != null)
    {
        if (input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
    }
    else
    {
        <text><i>Null</i></text>
    }
}
<div id="carousel-example-generic" class="carousel slide " data-ride="carousel" data-interval="6000">
    <div class="carousel-inner  " role="listbox">
        <div class="item active">
            <img src="~/Content/ImageSlides/officials/1.jpg" class="officialPictures " />
            <div class="carousel-caption">
                brought to you by <a href="https://www.flickr.com/photos/24oranges/" target="_blank" class="white ">https://www.flickr.com/photos/24oranges/</a>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/ImageSlides/officials/2.jpg" class="officialPictures " />
            <div class="carousel-caption">
                brought to you by <a href="https://www.flickr.com/photos/dan4th/" target="_blank" class="white ">https://www.flickr.com/photos/dan4th/</a>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/ImageSlides/officials/3.jpg" class="officialPictures " />
            <div class="carousel-caption">
                brought to you by <a href="https://www.flickr.com/photos/sk8geek/" target="_blank" class="white ">https://www.flickr.com/photos/sk8geek/</a>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/ImageSlides/officials/4.jpg" class="officialPictures " />
            <div class="carousel-caption">
                brought to you by <a href="https://www.flickr.com/photos/sk8geek/" target="_blank" class="white ">https://www.flickr.com/photos/sk8geek/</a></div>
        </div>
    </div>
</div>
<div class="page-header text-center">
    <h2>
        Officiating Requests
    </h2>
</div>

<div class="text-center">
    <a href="@Model.UrlToRequest" class="btn btn-success">Add New Request</a>
</div>
<div class="col-xs-10 col-xs-offset-1">
    <table class="table" id="itemList">
        <thead>
            <tr>
                <th></th>
                <th>Teams Playing</th>
                <th>Location</th>
                <th>Date</th>
                <th>First Whistle</th>
                <th>Rule Set</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Requests)
            {
                <tr class="@(b.RequestId % 2 == 0 ? "tr1" : "tr0") vertical-middle">
                    <td>
                        <a href="@Url.Content("~/officiating-requests/view/" + b.RequestId)" class="btn btn-primary">View</a>
                    </td>
                    <td class="vertical-middle">
                        <a href="@Url.Content("~/officiating-requests/view/" + b.RequestId)">@Truncate(b.TeamsPlaying, 23)</a>
                    </td>
                    <td class="vertical-middle">
                        @Truncate(b.LocationName, 10) -

                        @if (!String.IsNullOrEmpty(b.City))
                        {
                            @b.City<span>,</span>
                        }
                        @if (!String.IsNullOrEmpty(b.State))
                        {
                            @b.State<span> </span>
                        }
                    </td>
                    <td class="vertical-middle">
                        @b.Date.Value.ToShortDateString()
                    </td>
                    <td class="vertical-middle">
                        @Truncate(b.FirstWhistle, 10)
                    </td>
                    <td class="vertical-middle">
                        @RDN.Utilities.Enums.EnumExt.ToFreindlyName((RDN.Portable.Classes.Federation.Enums.RuleSetsUsedEnum)b.RuleSetId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />

</div>
