@using RDN.Utilities.Paging
@using RDN.Library.Classes.Forum;
@model Forum
@{
    ViewBag.Title = "Forum Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    bool isManager = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
}
@if (Model.ForumId == new Guid())
{
    <div class="fixedContainer">
        <div class="fixedCenterContainter">
            <div class="fixTitle">
                Forum Setup
            </div>
            It looks like your forum has not yet been created. Go ahead and create one so your
                members can start talking! This forum will be open to all your members!
        
            <div class="divider"></div>

            @using (Html.BeginForm("CreateForum", "Forum"))
            { 
                <div>
                    <input type="submit" class="primary" value="Create Forum" />
                </div>
                @Html.HiddenFor(x => x.Type);
            }
        </div>
    </div>
}
else
{
    if (!subPaid)
    { 
    <div class="expandableAd">
        <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1376896373478670";
    /* RDNation SideAd */
    google_ad_slot = "9959849457";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
        </script>
        <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    }
  
    <div class="@(subPaid ? "expandableContainer" : "expandableContainerAd")">
        <div class="expandableCenterContainter">
            <div class="usual" id="postsTabs">
                <ul class="idTabs">
                    @for (int i = 0; i < Model.GroupTopics.Count; i++)
                    {
                        if (subPaid || Model.GroupTopics[i].GroupId == 0)
                        {
                        <li><span class="cursor @(Model.GroupTopics[i].GroupId == Model.CurrentGroup.GroupId ? "selected" : "")" onclick="Forum.changeForumGroup(this, '@Model.GroupTopics[i].GroupId', '@Model.ForumId')">
                            @Model.GroupTopics[i].GroupName (@Model.GroupTopics[i].UnreadTopics)
                        </span></li>                         
                        }
                    }
                </ul>


                <div id="forumContainer" class="usualInner">
                    <div class="largeInput forumSearch">

                        <input type="text" id="groupSearch" placeholder="Search For Messages" />
                        <img src="@Url.Content("~/Content/loading_lg.gif")" id="loading" class="displayNone" />
                    </div>
                  

                    <div class="forumContainterRight">
                       
                      
                        <div class="navIcons @(isManager ? "" : "displayNone")" id="postSettings" >
                            <a title="Settings" id="postSettingLink" href="@Url.Content("~/forum/settings/" + @Model.ForumId.ToString().Replace("-", "") + "/" + Model.CurrentGroup.GroupId)">
                                <img src="@Url.Content("~/Content/images/icons/settings.png")"  />Settings
                            </a>
                        </div>
                         <div class="navSpanIcons">
                            <span id="archivedBtn" onclick="Forum.getArchivedForumGroup(this, '@Model.CurrentGroup.GroupId')">
                                <img id="archiveIcon" src="@Url.Content("~/Content/images/icons/archive.png")"  />
                                Archived
                            </span>
                        </div>
                          <div class="navIcons">
                            <a title="New Post" id="newPost" href="@Url.Content("~/forum/new/" + @Model.Type + "/" + @Model.ForumId.ToString().Replace("-", "") + "/" + Model.CurrentGroup.GroupId)">
                                <img src="@Url.Content("~/Content/images/icons/unread.png")"  />New
                            </a>
                        </div>
                    </div>
                    <div>

                        <ul class="forumCatPagerUl" id="forumCategories">
                            @foreach (var cat in Model.Categories)
                            {
                                <li class="forumCatPagerLi @( cat.CategoryId == 0 ? "forumCatPagerSel" : "")" onclick="Forum.changeForumCategories(this, '@cat.GroupId', '@cat.CategoryId')">@cat.CategoryName@(cat.UnreadTopics > 0 ? " (" + cat.UnreadTopics + ")" : "")</li>
                            }
                        </ul>
                    </div>

                    <div class="divider"></div>

                    <div class="forumContentWrapper">

                        <table class="forumTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Topic
                                    </th>
                                    <th>Category
                                    </th>
                                    <th>Started By
                                    </th>
                                    <th>Posts
                                    </th>
                                    <th>Views
                                    </th>
                                    <th>Last Post
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="forumbody">
                                @foreach (var topic in Model.CurrentGroup.Topics)
                                {
                                    <tr class="forumTopicRow  @(topic.IsRead ? "forumIsRead" : "")">
                                        <td>@if (topic.IsLocked)
                                            { 
                                            <img height="20px" alt="Topic is Locked" title="Topic is Locked"  src="@Url.Content("~/Content/images/lock.png")" />
                                            }
                                            @if (topic.IsPinned)
                                            { 
                                                <img height="20px" alt="Topic is Pinned" title="Topic is Pinned"  src="@Url.Content("~/Content/images/pin.png")" />
                                            }
                                            @if (!topic.IsRead)
                                            { 
                                                <img height="20px" alt="Mark As Read" class="cursor" title="Mark As Read" onclick="javascript:MarkForumTopicAsRead(this, '@topic.TopicId')"  src="@Url.Content("~/Content/images/icons/unread.png")" />
                                            }

                                        </td>
                                        <td>
                                            <a class="@(topic.IsRead ? "" : "b")" href="@Url.Content("~/forum/post/view/" + Model.ForumId.ToString().Replace("-", "") + "/" + topic.TopicId + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.TopicTitle))">@topic.TopicTitle</a>
                                        </td>
                                        <td>
                                            @if (topic.Category != null)
                                            { 
                                                <span class="spanLink" onclick="Forum.changeForumCategoryLink('@topic.GroupId',  '@topic.Category.CategoryId')">@topic.Category.CategoryName</span>
                                            }
                                        </td>
                                        <td>
                                            <a target="_blank" href="@Url.Content("~/member/" + topic.CreatedByMember.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.CreatedByMember.DerbyName))">
                                                @topic.CreatedByMember.DerbyName
                                            </a>
                                            <br />@topic.CreatedHuman
                                        </td>
                                        <td>
                                            @topic.Replies
                                        </td>
                                        <td>
                                            @topic.ViewCount
                                        </td>
                                        <td>
                                            <a target="_blank" href="@Url.Content("~/Member/" + topic.LastPostByMember.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.LastPostByMember.DerbyName))">
                                                @topic.LastPostByMember.DerbyName
                                            </a>
                                            <br />@topic.LastPostHuman
                                        </td>
                                        <td>
                                            @if (topic.IsManagerOfTopic)
                                            { 
                                                <a title="Move Topic" href="@Url.Content("~/forum/post/move/" + @Model.ForumId.ToString().Replace("-", "") + "/" + @topic.TopicId)">Move
                                                </a>
                                                if (topic.IsPinned)
                                                { 
                                                <span>|</span> <span class="spanLink" onclick="javascript:PinForumTopic(this, '@topic.TopicId', 'false')">UnPin</span>
                                                }
                                                else
                                                { 
                                                <span>|</span> <span class="spanLink" onclick="javascript:PinForumTopic(this, '@topic.TopicId', 'true')">Pin</span>
                                                }
                                                if (topic.IsLocked)
                                                { 
                                                <span>|</span> <span class="spanLink" onclick="javascript:LockForumTopic(this, '@topic.TopicId', 'false')">UnLock</span>
                                                }
                                                else
                                                { 
                                                <span>|</span> <span class="spanLink" onclick="javascript:LockForumTopic(this, '@topic.TopicId', 'true')">Lock</span>
                                                }
                                                if (topic.IsArchived)
                                                { 
                                                <span>|</span> <span class="spanLink" onclick="javascript:Forum.ArchiveForumTopic(this, '@topic.TopicId', 'false')">UnArchive</span>
                                                }
                                                else
                                                { 
                                                <span>|</span> <span class="spanLink" onclick="javascript:Forum.ArchiveForumTopic(this, '@topic.TopicId', 'true')">Archive</span>
                                                }
                                                <span>|</span> <span class="spanLink" onclick="javascript:Forum.RemoveForumTopic(this, '@topic.TopicId')">Delete</span>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>This forum and messages can only be seen by members of the group.</div>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    Forum.Initialize('@Model.ForumId', '@Model.Type');
                    var inp = $('#groupSearch')[0];
                    inp.addEventListener("input", function () {
                      Forum.searchForumPosts($('#groupSearch'));
                    }, false);
                });
            </script>

        </div>
        @Html.Hidden("type", Model.Type)
        @Html.Hidden("currentGroupId", Model.CurrentGroup.GroupId)
        @Html.Hidden("ForumId", Model.ForumId.ToString().Replace("-", ""))
    </div>

    
  
}
<script type="text/javascript">


</script>
