@using RDN.League.Models.Forum
@model NewPost
@{
    ViewBag.Title = "Reply To " + Model.TopicTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/forum/posts/" + Model.ForumType + "/" + Model.ForumId.ToString().Replace("-", ""))">Forum</a></li>
    <li class="active">Edit Forum Post</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-bottom-5 margin-top-5"><i class="fa fa-pencil"></i> Edit Forum Post</h3>
            </div>
            @using (Html.BeginForm("EditPost", "Forum", FormMethod.Post, new { @id = "editMessage" }))
            {
                 <div class="panel-body">
                    <table class="addForumPostTbl">
                        <tr>
                            <td colspan="2">
                                @Html.LabelFor(x => x.Message)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.TextArea("Message", Model.MessageMarkDown, new
                               {
                                   id = "wmd-input",
                                   style = "width:700px"
                               })
                            </td>
                        </tr>
                    </table>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save Post</button>
                        <a class="btn btn-default" href="@Url.Content("~/forum/post/view/" + Model.ForumId.ToString().Replace("-", "") + "/" + Model.TopicId)">Cancel Message</a>
                    </div>
                     @Html.HiddenFor(x => x.ForumId)
                    @Html.HiddenFor(x => x.ForumType)
                    @Html.HiddenFor(x => x.TopicId)
                    @Html.HiddenFor(x => x.MessageId)
                }
        </div>
    </div>

    <div id="form_target" name="form_target" style="display:none"></div>

    <form id="img_form" action="/forum/postimageupload" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
        <input id="img_file" name="File" type="file">
        @Html.HiddenFor(x => x.ForumId, new { data_val = "false" })
        @Html.HiddenFor(x => x.ForumType, new { data_val = "false" })
        <input id="img_submit" type="submit" />
    </form> 
</div>

<div class="fixedContainer">
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            
        </div>
            <div class="divider"></div>
        <div>
           
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#editMessage").validate({
        rules: {
            Message: "required"
        }
    });
    $(function () {
        
        tinymce.init({
            mode: "textareas",
            elements: "elm2",
            theme: "modern",
            plugins: "layer,table,preview,media,contextmenu,directionality,fullscreen,noneditable,visualchars,nonbreaking,template,link,image,textcolor colorpicker",
            toolbar: "undo redo | styleselect | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            language: "en",
            relative_urls: false,
            uploadType: "Forum",
            ForumId: '@Model.ForumId',
            ForumType: '@Model.ForumType',
            TopicId: '@Model.TopicId',
            UploadFileUrl: "/forum/postimageupload",

            file_browser_callback_types: 'file image media',
            file_browser_callback: function (field_name, url, type, win) {
                $('#img_form #img_file').click();
            }
        });
        
    });

    $('#img_file').change(function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData($('#img_form')[0]);
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/forum/postimageupload',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.success) {
                            $('#form_target').html(decodeURIComponent(result.data));
                        }
                        else {
                            //close the modal window
                            var ed = parent.tinymce.editors[0];
                            ed.windowManager.windows[0].close();
                            //show error message
                            $('.bottom-right').notify({
                                message: { text: result.message },
                                fadeOut: { enabled: true, delay: 4000 },
                                type: "danger"
                            }).show();
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });
</script>
