@using RDN.Library.Classes.Forum;
@model ForumTopic
@{
    ViewBag.Title = Model.TopicTitle + " Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li><a href="@Url.Content("~/forum/posts/" + Model.ForumType + "/" + Model.ForumId.ToString().Replace("-", ""))">Forum</a></li>
    <li class="active">Forum Post</li>
</ol>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-right margin-bottom-15">
        @if (!Model.IsLocked)
        {
            <a class="btn btn-success btn-sm" href="@Url.Content("~/forum/post/reply/" + @Model.ForumId.ToString().Replace("-", "") + "/" + @Model.TopicId.ToString().Replace("-", ""))">
                <i class="fa fa-reply"></i> Reply To Post
            </a>
        }
        else
        {
            <i class="fa fa-lock" title="Topic is locked"></i>
        }
        @if (!Model.IsWatching)
        {
            <button type="button" onclick="ForumPostToggleWatch(this)" class="btn btn-success btn-sm" title="Sends email notifications when someone replies">
                <i class="fa fa-binoculars"></i> Watch
            </button>
        }
        else
        {
            <button onclick="ForumPostToggleWatch(this)" class="btn btn-success btn-sm" title="Sends email notifications when someone replies">
                <i class="fa fa-binoculars"></i> Stop Watching
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="panel panel-default margin-bottom-15">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <h3 id="topicTitle" class="margin-top-5"><b>"@Model.TopicTitle"</b></h3>
                        <span id="topicEditTitle" class="display-none ">
                            <input class="form-control margin-bottom-10" type="text" id="topicTitleEdit" placeholder="@Model.TopicTitle" />
                        </span>
                        <p><span class="text-muted">@Model.Created.ToLongDateString() @Model.Created.ToShortTimeString() (@Model.ViewCount views)</span></p>
                    </div>
                    @if (Model.IsManagerOfTopic)
                    {
                        <div class="col-xs-12 col-sm-4 col-lg-3 text-right">
                            <button class="btn btn-primary btn-sm" type="button" id="editTitle" onclick="EnableForumTopicEdit(this,'true')">
                                <i class="fa fa-pencil"></i> Edit
                            </button>
                            <button id="updateEditTitle" class="btn btn-success btn-sm display-none" type="button" onclick="ForumTopicEditSub(this)"><i class="fa fa-save"></i> Save</button>
                            <button id="cancelEditTitle" class="btn btn-default btn-sm display-none" type="button" onclick="EnableForumTopicEdit(this,'false')">Cancel</button>
                        </div>
                    }
                </div>
            </div>
           
            <div class="panel-body">

                @foreach (var message in Model.Messages)
                {
                    <div id="msg-@message.MessageId" class="panel panel-default" style="background-color:#fafafa">
                        <div class="panel-body padding-bottom-10 padding-top-10">
                            <div class="row">
                                <div class="col-xs-12 padding-bottom-10" style="border-bottom:#ddd dashed 1px">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <table>
                                                <tr>
                                                    <td>
                                                        @if (message.Member.Photos.Where(x => x.IsPrimaryPhoto == true).FirstOrDefault() != null)
                                                        {
                                                            <img height="65px" alt="@message.Member.Photos.Where(x => x.IsPrimaryPhoto == true).FirstOrDefault().Alt" src="@message.Member.Photos.Where(x => x.IsPrimaryPhoto == true).FirstOrDefault().ImageUrl" />
                                                        }
                                                        else if (message.Member.Gender == RDN.Portable.Classes.Account.Enums.GenderEnum.Female)
                                                        {
                                                            <img height="65px" src="@Url.Content("~/content/roller-girl.jpg")" alt="roller derby girl" />
                                                        }
                                                        else
                                                        {
                                                            <img height="65px" src="@Url.Content("~/content/roller-person.gif")" alt="roller derby boy" />
                                                        }
                                                    </td>
                                                    <td class="padding-left-10">
                                                        @if (Model.ForumType == RDN.Portable.Classes.Forum.Enums.ForumOwnerTypeEnum.league)
                                                        {
                                                            <a target="_blank" href="@Url.Content("~/member/" + message.Member.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(message.Member.DerbyName))">
                                                                <h4 class="no-margin-top">@message.Member.DerbyName</h4>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a target="_blank" href="@Url.Content(RDN.Portable.Config.ServerConfig.WEBSITE_DEFAULT_LOCATION + "/roller-derby-skater/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(message.Member.DerbyName) + "/" + message.Member.MemberId.ToString().Replace("-", ""))">
                                                                <h4>@message.Member.DerbyName</h4>
                                                            </a>
                                                        }
                                                        <span class="label label-danger">@message.Member.TotalForumPostsCount Posts</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-md-6  text-right">
                                            @if (message.Member.MemberId == Model.CurrentMemberId)
                                            {
                                                <a class="btn btn-sm btn-default" href="@Url.Content("~/forum/post/edit/" + Model.ForumId.ToString().Replace("-", "") + "/" + message.MessageId)"><i class="fa fa-pencil"></i> Edit</a>
                                            }
                                            @if (Model.IsManagerOfTopic || message.Member.MemberId == Model.CurrentMemberId)
                                            {
                                                <button class="btn btn-sm btn-default" onclick="javascript:RemovePostOfForumTopic(this, '@message.MessageId')" type="button"><i class="fa fa-trash"></i> Delete</button>
                                            }
                                            <a class="btn btn-sm btn-default" href="@Url.Content("~/forum/post/quote/" + Model.ForumId.ToString().Replace("-", "") + "/" + Model.TopicId + "/" + message.MessageId)"><i class="fa fa-exclamation-circle"></i> Quote</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 padding-top-10" style="background-color:white">
                                    @Html.Raw(message.MessageHTML)
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6 padding-top-10">
                                    <a href="@Url.Content("~/forum/post/view/" + Model.ForumId.ToString().Replace("-", "") + "/" + Model.TopicId + "#msg-" + message.MessageId)"><i class="fa fa-clock-o"></i> @message.Created.ToLongDateString() @message.Created.ToShortTimeString()</a>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-6 padding-top-10 text-right">
                                    <a class="btn btn-xs btn-warning" onclick="MsgLike('@message.MessageId','@message.Member.MemberId','@message.ForumId','@message.TopicId')">
                                        <span id="L-@message.MessageId"><i class="fa fa-thumbs-up"></i> @message.MessageLike</span>
                                    </a>
                                    <a class="btn btn-xs btn-warning" onclick="MsgIAgree('@message.MessageId','@message.Member.MemberId','@message.ForumId','@message.TopicId')">
                                        <span id="A-@message.MessageId"><i class="fa fa-check"></i> @message.MessageIAgree</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div>Members Unread</div>
                @foreach (var user in Model.TopicInbox)
                {
                    <span>
                        <a target="_blank" href="@Url.Content("~/member/" + user.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(user.DerbyName))">
                            @user.DerbyName
                        </a>,
                    </span>
                }
                @Html.HiddenFor(x => x.TopicId)
                @Html.HiddenFor(x => x.ForumId)
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-right margin-bottom-15">
        @if (!Model.IsLocked)
        {
            <a class="btn btn-success btn-sm" href="@Url.Content("~/forum/post/reply/" + @Model.ForumId.ToString().Replace("-", "") + "/" + @Model.TopicId.ToString().Replace("-", ""))">
                <i class="fa fa-reply"></i> Reply To Post
            </a>
        }
        else
        {
            <i class="fa fa-lock" title="Topic is locked"></i>
        }
        @if (!Model.IsWatching)
        {
            <button type="button" onclick="ForumPostToggleWatch(this)" class="btn btn-success btn-sm" title="Sends email notifications when someone replies">
                <i class="fa fa-binoculars"></i> Watch
            </button>
        }
        else
        {
            <button onclick="ForumPostToggleWatch(this)" class="btn btn-success btn-sm" title="Sends email notifications when someone replies">
                <i class="fa fa-binoculars"></i> Stop Watching
            </button>
        }
    </div>
</div>
<script type="text/JavaScript">
    AddPageViewToCount('@Model.ForumId', '@Model.TopicId');
</script>
