    @using RDN.Utilities.Paging
@using RDN.Library.Classes.Forum;
@model Forum
@{
    ViewBag.Title = "Forum Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    bool isManager = RDN.Library.Cache.MemberCache.IsSecretaryOrBetterOfLeague(memId);
}


<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
    <li class="active">Forum</li>
</ol>



@if (Model.ForumId == new Guid())
{
    <div class="alert alert-warning">
        <h3 class="margin-top-5">Forum Setup</h3>
        <p>
            It looks like your forum has not yet been created. Go ahead and create one so your
            members can start talking! This forum will be open to all your members!
        </p>
        <p>
            @using (Html.BeginForm("CreateForum", "Forum"))
            {
                <div>
                    <input class="btn btn-success btn-sm" type="submit" value="Create Forum" />
                </div>
                @Html.HiddenFor(x => x.Type);
            }
        </p>
    </div>
}
else
{    
    <div class="panel panel-default margin-top-20">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4">
                    <h3 class="margin-top-5 pull-left"><i class="fa fa-files-o"></i> Forum</h3>
                    <span id="header-loading" class="margin-left-15 margin-top-10 pull-left display-none" > <i class="fa fa-spinner fa-spin fa-lg"></i></span>
                </div>
                <div class="col-xs-8 text-right">
                    <a class="btn btn-default btn-sm  margin-top-5" title="Settings" id="postSettingLink" href="@Url.Content("~/forum/settings/" + @Model.ForumId.ToString().Replace("-", "") + "/" + Model.CurrentGroup.GroupId)">
                        <i class="fa fa-cogs"></i> Settings
                    </a>
                    <a class="btn btn-default btn-sm margin-top-5" id="archivedBtn" onclick="Forum.getArchivedForumGroup(this, '@Model.CurrentGroup.GroupId')">
                        <i class="fa fa-archive"></i> Archived
                    </a>
                    <a class="btn btn-primary btn-sm margin-top-5" title="New Post" id="newPost" href="@Url.Content("~/forum/new/" + @Model.Type + "/" + @Model.ForumId.ToString().Replace("-", "") + "/" + Model.CurrentGroup.GroupId)">
                        <i class="fa fa-plus-circle"></i> New
                    </a>
                   
                </div>
            </div>
        </div>
        <div class="panel-heading no-padding-bottom">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" id="GroupTopicsTabs" style="margin-bottom:-1px;">
                        @for (int i = 0; i < Model.GroupTopics.Count; i++)
                        {
                            if (subPaid || Model.GroupTopics[i].GroupId == 0)
                            {
                                <li class="margin-left-5 @(Model.GroupTopics[i].GroupId == Model.CurrentGroup.GroupId ? "active" : "")">
                                    <a href="javascript:void(0)" onclick="Forum.changeForumGroup(this, '@Model.GroupTopics[i].GroupId', '@Model.ForumId')">
                                        @Model.GroupTopics[i].GroupName 
                                        @if(Model.GroupTopics[i].UnreadTopics > 0)
                                        { 
                                            <span class="label label-primary">@Model.GroupTopics[i].UnreadTopics</span>
                                        }
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="background-color:white">
            <div class="row">
                <div class="col-xs-12">
                    

                    <input class="form-control pull-right" type="text" id="groupSearch" placeholder="Search.." style="width:200px" />
                  
                    <select id="forumCategories" onchange="Forum.changeForumCategories(this)" class="pull-right margin-right-10">
                        <option value="0" selected="selected">Select Category</option>
                        @foreach (var cat in Model.Categories)
                        {
                            <option onclick="" value="@cat.CategoryId">
                                @cat.CategoryName@(cat.UnreadTopics > 0 ? " (" + cat.UnreadTopics + ")" : "")
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-body scroll-x">
            <table class="table table-hover no-margin-bottom">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Topic
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Started By
                        </th>
                        <th>
                            Posts
                        </th>
                        <th>
                            Views
                        </th>
                        <th>
                            Last Post
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="forumbody">
                    @foreach (var topic in Model.CurrentGroup.Topics)
                    {
                        <tr class="@(topic.IsRead ? "" : "forum-read")">
                            <td class="text-center vertical-middle" >
                                @if (!topic.IsRead)
                                {
                                    <button class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Mark As Read" onclick="javascript:MarkForumTopicAsRead(this, '@topic.TopicId')"><i class="fa fa-envelope"></i></button>
                                }
                                else
                                {
                                    <i class="fa fa-check-circle" data-toggle="tooltip" title="You've Read This"></i>
                                }
                            </td>
                            <td id="forum-title-@topic.TopicId">
                                <a class="@(topic.IsRead ? "" : "b")" href="@Url.Content("~/forum/post/view/" + Model.ForumId.ToString().Replace("-", "") + "/" + topic.TopicId + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.TopicTitle))">@topic.TopicTitle</a>
                                <br />
                                @if (topic.IsLocked)
                                {
                                    <i class="fa fa-lock text-muted" data-toggle="tooltip" data-placement="top" title="Topic is Locked"></i>
                                }
                                @if (topic.IsPinned)
                                {
                                    <i id="pinned-icon-@topic.TopicId" class="fa fa-thumb-tack text-muted" data-toggle="tooltip" data-placement="top" title="Topic is Pinned"></i>
                                }

                            </td>
                            <td>
                                @if (topic.Category != null)
                                {
                                    <span class="hyperlink" onclick="Forum.changeForumCategoryLink('@topic.GroupId', '@topic.Category.CategoryId')">@topic.Category.CategoryName</span>
                                }
                            </td>
                            <td>
                                @if (Model.Type == RDN.Portable.Classes.Forum.Enums.ForumOwnerTypeEnum.league)
                                {
                                    <a target="_blank" href="@Url.Content("~/member/" + topic.CreatedByMember.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.CreatedByMember.DerbyName))">
                                        @topic.CreatedByMember.DerbyName
                                    </a>
                                }
                                else
                                {
                                    <a target="_blank" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/" + RDN.Library.Classes.Config.LibraryConfig.SportNamePlusMemberNameForUrl + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.CreatedByMember.DerbyName) + "/" + topic.CreatedByMember.MemberId.ToString().Replace("-", ""))">
                                        @topic.CreatedByMember.DerbyName
                                    </a>
                                }
                                <br />
                                <span class="text-muted font12">@topic.CreatedHuman</span>
                            </td>
                            <td>
                                @topic.Replies
                            </td>
                            <td>
                                @topic.ViewCount
                            </td>
                            <td>
                                @if (Model.Type == RDN.Portable.Classes.Forum.Enums.ForumOwnerTypeEnum.league)
                                {
                                    <a target="_blank" href="@Url.Content("~/member/" + topic.LastPostByMember.MemberId.ToString().Replace("-", "") + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.LastPostByMember.DerbyName))">
                                        @topic.LastPostByMember.DerbyName
                                    </a>
                                }
                                else
                                {
                                    <a target="_blank" href="@Url.Content(RDN.Library.Classes.Config.LibraryConfig.PublicSite + "/" + RDN.Library.Classes.Config.LibraryConfig.SportNamePlusMemberNameForUrl + "/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(topic.LastPostByMember.DerbyName) + "/" + topic.LastPostByMember.MemberId.ToString().Replace("-", ""))">
                                        @topic.CreatedByMember.DerbyName
                                    </a>
                                }
                                <br />
                                <span class="text-muted font12">@topic.LastPostHuman</span>
                            </td>
                            <td class="vertical-middle">
                                @if (topic.IsManagerOfTopic)
                                {

                                    <a class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Move" href="@Url.Content("~/forum/post/move/" + @Model.ForumId.ToString().Replace("-", "") + "/" + @topic.TopicId)"><i class="fa fa-arrows"></i></a>
                                   
                                    if (topic.IsPinned)
                                    {
                                        <button class="btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="UnPin" onclick="javascript:PinForumTopic(this, '@topic.TopicId', 'false')"><i class="fa fa-thumb-tack fa-rotate-90"></i></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Pin" onclick="javascript:PinForumTopic(this, '@topic.TopicId', 'true')"><i class="fa fa-thumb-tack"></i></button>
                                    }
                                    if (topic.IsLocked)
                                    {
                                        <button class="btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Unlock" onclick="javascript:LockForumTopic(this, '@topic.TopicId', 'false')"><i class="fa fa-unlock"></i></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Lock" onclick="javascript:LockForumTopic(this, '@topic.TopicId', 'true')"><i class="fa fa-lock"></i></button>
                                    }
                                    if (topic.IsArchived)
                                    {
                                        <button class="btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="UnArchive" onclick="javascript:Forum.ArchiveForumTopic(this, '@topic.TopicId', 'false')"><i class="fa fa-folder-o"></i></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Archive" onclick="javascript:Forum.ArchiveForumTopic(this, '@topic.TopicId', 'true')"><i class="fa fa-archive"></i></button>
                                    }
                                    <button class="btn btn-default btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete" onclick="javascript:Forum.RemoveForumTopic(this, '@topic.TopicId')"><i class="fa fa-trash"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="loadingMoreTopics" class="loadingMoreTopics displayNone text-center b">
                <div class="alert alert-info inline-block no-margin-bottom margin-top-10">
                    <i id="loading" class="fa fa-spin fa-spinner"></i>
                    Loading More Topics
                </div>
            </div>
            <div id="noMoreTopics" class="text-center displayNone alert alert-info b margin-top-10 no-margin-bottom">
                No More Topics Found
            </div>
        </div>
        <div class="panel-footer">
            This forum and messages can only be seen by members of the group.
        </div>
        @Html.Hidden("type", Model.Type)
        @Html.Hidden("currentGroupId", Model.CurrentGroup.GroupId)
        @Html.Hidden("ForumId", Model.ForumId.ToString().Replace("-", ""))
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#GroupTopicsTabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            Forum.Initialize('@Model.ForumId', '@Model.Type.ToString()');
            var inp = $('#groupSearch')[0];
            inp.addEventListener("input", function () {
                Forum.searchForumPosts($('#groupSearch'));
            }, false);
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 700) {
                Forum.ScrolledToBottomOfPosts();
            }
        });
    </script>
  
}
