@using RDN.Utilities.Paging
@model RDN.Models.OutModel.GenericSingleModel<RDN.Models.Utilities.SimpleModPager<RDN.Portable.Classes.Federation.FederationDisplay>>
@{
    ViewBag.Title = "All "+@RDN.Library.Classes.Config.LibraryConfig.SportName+" Federations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="expandableContainer">
    <div class="expandableCenterContainter">
        <h2 class="page-header text-center">
            @Model.Model.NumberOfRecords.ToString("N0") @RDN.Library.Classes.Config.LibraryConfig.SportName Federations World Wide
        </h2>
        <div class="divider"></div>
        
            <table class="table table-striped table-hover" id="leagues">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Federation
                        </th>
                        <th class="text-center">
                            Leagues
                        </th>
                        <th class="text-center">
                            Members
                        </th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Model.Items.Count; i++)
                    {
                        if (Model.Model.Items[i].FederationName != null)
                        {
                            <tr>
                                <td>
                                    @if (Model.Model.Items[i].Logo != null)
                                    {
                                        <img height="40px" alt="@Model.Model.Items[i].Logo.Alt" src="@Model.Model.Items[i].Logo.ImageUrl" />
                                    }
                                </td>
                                <td>
                                        <a href="@Url.Content("~/" + RDN.Library.Classes.Config.LibraryConfig.SportNameForUrl + "-federation/" + RDN.Utilities.Strings.StringExt.ToSearchEngineFriendly(Model.Model.Items[i].FederationName.Replace(" ", "-")) + "/" + Model.Model.Items[i].FederationId.ToString().Replace("-", ""))">
                                            @Model.Model.Items[i].FederationName
                                        </a>
                                </td>
                                <td class="text-center">
                                    @Model.Model.Items[i].LeaguesCount
                                </td>
                                <td class="text-center">
                                    @Model.Model.Items[i].MembersCount
                                </td>
                                <td>@Model.Model.Items[i].Website</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            
        <br /><br />
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#leagues').dataTable({
            "aaSorting": [[0, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sSearch": "" }
        });
        $('#leagues_filter input').addClass('form-control').attr("placeholder", "Search");
    });
</script>
